<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index,follow">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %} - {% trans "International Plant Protection Convention" %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
<link rel="stylesheet" type="text/css" href="/static/grappelli/css/widgets.css">
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
<link rel="stylesheet" href="{% static "css/ippc20140309.css" %}">
<link rel="stylesheet" href="{% static "css/chosen.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
 <script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>

<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>

<!--script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script-->
 <script type="tepxt/javascript" src="/static/admin/js/jquery.min.js"></script> 
 <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
 <script type="text/javascript" src="/static/admin/js/actions.min.js"></script> 
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>

<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

{% include 'autocomplete_light/static.html' %}
{# 'add another' form field functionality #}
<script src="{% static "js/jquery.formset.js" %}"></script>

{# {% block extra_js %}{% endblock %} #} {# MOVED TO BOTTOM #}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->


 {% if u_form.prefix %}
     <script type="text/javascript">
        
       $(function() {
            $(".inline.{{ u_form.prefix }}").formset({
                prefix: "{{ u_form.prefix }}",
            })
        })
    </script>
 {% endif %} 
 {% if c_form.prefix %}
 <script type="text/javascript">
        $(function() {
            $(".inline.{{ c_form.prefix }}").formset({
                prefix: "{{ c_form.prefix }}",
            })
        })
       
    </script>
 {% endif %}  
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">

<div class="container-fluid">

    {% load localeurl_tags %}
        <ul class="nav nav-pills small pull-left languagebar">
    {% for lang in LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            <li class="active"><a href="#">{{ lang.1 }}</a></li>
        {% else %}
            <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
        {% endifequal %}
    {% endfor %}
        </ul>

    <div class="nav-collapse collapse">
        {# toolbar, user panel, login/logout #}
        <div class="pull-right text-right">
            {% nevercache %}
            {% include "includes/user_panel.html" %}
            {% endnevercache %}
           
            {% search_form "all" %}
            {# {% search_form %} #}
        </div>
    </div>
        
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    
    <div class="pull-left" style="clear:left;">
      <a class="brand" href="https://www.ippc.int">
        <img src="/static/img/ippc-logo-glyph-web-80x42.png" class="printlogo">
        <strong>
            {% trans "International Plant Protection Convention" %}
        </strong>
        <br>
            <em class="small quiet">{% blocktrans %}Protecting the world's plant resources from pests{% endblocktrans %}</em>
      </a>
    </div>
    
    <div class="nav-collapse collapse">
        <ul class="nav nav-collapse pull-left" style="clear:both;">
            <li class="dropdown" id="dropdown-menu--who-we-are-"><a href="https://www.ippc.int/who-we-are/">
                    About
                    <span class="caret"></span></a><ul class="dropdown-menu"><li
                        id="dropdown-menu-who-we-are"><a href="https://www.ippc.int/who-we-are/">Who we are</a></li><li
                        id="dropdown-menu-what-we-do"><a href="https://www.ippc.int/what-we-do/">What we do</a></li><li
                        id="dropdown-menu-how-we-do-it"><a href="https://www.ippc.int/how-we-do-it/">How we do it</a></li><li
                        id="dropdown-menu-who-we-work-with"><a href="https://www.ippc.int/who-we-work-with/">Who we work with</a></li><li
                        id="dropdown-menu-why-it-matters"><a href="https://www.ippc.int/why-it-matters/">Why it Matters</a></li><li
                        id="dropdown-menu-where-we-work"><a href="https://www.ippc.int/where-we-work/">Where we work</a></li><li
                        id="dropdown-menu-history-of-the-ippc"><a href="https://www.ippc.int/history-of-the-ippc/">History of the IPPC</a></li><li
                        id="dropdown-menu--core-activities-governance-convention-text"><a href="/core-activities/governance/convention-text">Convention, model instruments and related information</a></li><li
                        id="dropdown-menu-media-kit"><a href="https://www.ippc.int/media-kit/">Media Kit</a></li></ul></li><li class="dropdown"
                                                                                                  id="dropdown-menu-core-activities"><a href="https://www.ippc.int/core-activities/">
                    Core Activities
                    <span class="caret"></span></a><ul class="dropdown-menu"><li
                        id="dropdown-menu-core-activities-governance"><a href="https://www.ippc.int/core-activities/governance/">Governance</a></li><li
                        id="dropdown-menu-core-activities-standards-setting"><a href="https://www.ippc.int/core-activities/standards-setting/">Standard setting</a></li><li
                        id="dropdown-menu-core-activities-information-exchange"><a href="https://www.ippc.int/core-activities/information-exchange/">Information Exchange</a></li><li
                        id="dropdown-menu-core-activities-dispute-settlement"><a href="https://www.ippc.int/core-activities/dispute-settlement/">Dispute Avoidance &amp; Dispute Settlement</a></li><li
                        id="dropdown-menu-core-activities-capacity-development"><a href="https://www.ippc.int/core-activities/capacity-development/">Capacity development</a></li><li
                        id="dropdown-menu-core-activities-implementation-review-and-support-system"><a href="https://www.ippc.int/core-activities/implementation-review-and-support-system/">Implementation Review and Support System</a></li><li
                        id="dropdown-menu-core-activities-review-global-plant-protection"><a href="https://www.ippc.int/core-activities/review-global-plant-protection/">Plant protection review</a></li><li
                        id="dropdown-menu-core-activities-ephyto"><a href="https://www.ippc.int/core-activities/ephyto/">ePhyto</a></li></ul></li><li class="dropdown"
                                                                                                                         id="dropdown-menu-countries"><a href="https://www.ippc.int/countries/">
                    Countries

                </a></li><li class="dropdown"
                         id="dropdown-menu-partners"><a href="https://www.ippc.int/partners/">
                    Partners
                    <span class="caret"></span></a><ul class="dropdown-menu"><li
                        id="dropdown-menu-partners-international-organizations"><a href="https://www.ippc.int/partners/international-organizations/">International Organizations</a></li><li
                        id="dropdown-menu-partners-regional-plant-protection-organizations"><a href="https://www.ippc.int/partners/regional-plant-protection-organizations/">Regional Plant Protection Organizations</a></li></ul></li><li class="dropdown"
                                                                                                                                                                                                        id="dropdown-menu-liaison"><a href="https://www.ippc.int/liaison/">
                    Liaison
                    <span class="caret"></span></a><ul class="dropdown-menu"><li
                        id="dropdown-menu-liason-organizations"><a href="https://www.ippc.int/liason/organizations/">Organizations</a></li></ul></li><li class="dropdown"
                                                                                                                            id="dropdown-menu-year-calendar"><a href="https://www.ippc.int/year/calendar/">
                    Calendar

                </a></li><li class="dropdown"
                         id="dropdown-menu-news"><a href="https://www.ippc.int/news/">
                    News

                </a></li><li class="dropdown"
                         id="dropdown-menu-calls"><a href="https://www.ippc.int/calls/">
                    Calls

                </a></li><li class="dropdown"
                         id="dropdown-menu-http:--irss.ippc.int"><a href="http://irss.ippc.int">
                    IRSS

                </a></li><li class="dropdown"
                         id="dropdown-menu-http:--www.phytosanitary.info"><a href="http://www.phytosanitary.info">
                    Phyto Resources

                </a></li></ul>





    </div>
      
</div> {# /.navbar navbar-fixed-top #}    
</div> {# /.navbar-inner #}

<div class="container-fluid">{% page_menu "pages/menus/dropdown.html" %}  
</div> {# /.container-fluid #}

<div class="container-fluid">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}
 	      		

{% block breadcrumb_menu %}
 
{% endblock breadcrumb_menu %}

<h1>{% block title %}{% endblock %}</h1>

</div>

<div class="container-fluid">
<div class="row-fluid">

<div class="span12 middle">
    {% block main %}
    
    {% endblock %}



    {% block local_nav %}
    {% block trans %}
   
    {% endblock trans %}
    {% endblock local_nav %}
    
   </div>

</div>

<footer>
<div class="container-fluid">

    
<div class="span12 text-right muted small">
    {% trans "The IPPC Secretariat is hosted &amp; provided by" %} <a href="http://www.fao.org">FAO</a>. <a style="vertical-align:middle;" class="imglink" href="http://www.fao.org"><img class="faologo" src="{% static "img/fao-logo.gif" %}" alt="{% trans "Food and Agriculture Organization Logo" %}" height="58" width="58"></a>
</div>

</footer>

{% include "includes/footer_scripts.html" %}
{% compress js %}

{# better country selector using chosen - http://harvesthq.github.io/chosen/ #}
<script type="text/javascript" charset="utf-8">
  $(".chosen-select").chosen()  
</script>

{% block extra_js %}{% endblock %}
{% endcompress %}
</body>
</html>
