{% load mezzanine_tags i18n future %}
<form class="form-inline mt-3 mb-0" action="{% url "search" %}">
<i class="fas fa-search" aria-hidden="true"></i>
<input placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}" class="form-control form-control-sm ml-2 w-25" aria-label="Search" >
    {% if search_model_choices %}
        {% if search_model_choices|length == 1 %}
        <input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
        {% else %}
        <select name="type" class="form-control form-control-sm ml-2 w-25">
            <option value="">{% trans "All" %}</option>
            {% for verbose_name, model in search_model_choices %}
            <option value="{{ model }}"
                {% if model == request.REQUEST.type  %}selected{% endif %}>
                {{ verbose_name }}
            </option>
            {% endfor %}
        </select>
    {% endif %}
{% endif %}

&#160;<input type="submit" class="btn-small btn-info" value="{% trans "Go" %}">

</form>

