{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "New email utility message" %} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/home">{% trans "Home" %}</a><span class="divider">/</span></li>
  <li><a href="/work-area/">Workarea</a><span class="divider">/</span></li>
 <li><a href="/emailutility/all/">Emails</a>
  <span class="divider">/</span>
</li>

<li class="active">{% trans "Create New Email Message" %}</li>

{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<h1><span class="normal">{% trans "Create New Email message" %}</span> </h1>
<p class="alert alert-warning"> The email utility has some problem sending emails to big groups of users such as NPPOs all at the same time. <br>
    For smaller groups it is working fine.
    If you need to send emails to more than 30 users at the same time it is better to send more than one email.<br>
    The NPPOs group has been divided in smaller groups.</p>
<p class="alert alert-warning"> Be careful when you edit the text:
    <br/>- don't copy the text from Word documents, but write the text directly in the text box or paste the content from Word first to a simple text editor as Notepad
    <br/>- when you write a link in the text change the link from <b>https</b> to  <b>http</b>, otherwise link won't work</p>
<p>Emails can be sent to any number of recipients, either selecting specific members, groups of members, or entering the email addresses of individuals that are not in the system.</p>
<form class="customform" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {% include "emailutility/emailutility_sendform.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large" tabindex="7">{% trans "Send" %}</button> or <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>

{% endblock %}