{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Email sent list" %}: 
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/work-area/">Workarea</a>
  <span class="divider">/</span>
</li>

<li class="active">{% trans "Mass Emails" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

{% if request.user.is_authenticated and perms.ippc.add_massemailutilitymessage %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a><br>
      {% if perms.ippc.add_massemailutilitymessage or user.is_superuser%}
        <a class="btn btn-small btn-info" href="/massemailutility/send"><i class="icon-edit icon-white"></i> Create New Mass Email Message</a>
    {% endif %}
  
 </p>

<h1>
  <small class="normal">{% trans "Mass Email list" %}</small>
</h1> 
 <p class="alert alert-warning">Please remember:<br>
- before sending a new mass email message check that all the previous messages, not in draft status, where sent (done by you or other users on the same or previous day)<br>
- any new message will be stored by default in 'Draft' status<br>
- after receiving a copy of the message check that it is correct (check text, mistakes, links working, ect.)<br>
- if the message is ok open it and in the detail page click on the button 'click to set as TO BE SENT'<br>
- if the message is not ok, leave it in 'Draft' status  and create a new one<br>
- all the message in 'TO BE SENT' status message will be sent automatically in the background to recipients in the next hours, sending a message to several recipients (e.g. Contact Points, RPPOs) in real time will take a few hours<br>
- when the message has been sent to all recipients you will get a notification<br>
- you can check the status of the message at any moment 
- if you note an error in the email and you want to stop the messages to be sent out go to the messages detail page  andclick on the button 'click to set as DRAFT'<br>
</ul></p>
{% if latest %}
<table class="table table-condensed table-striped" id="publications">
  <thead>
    <tr>
      <th>{% trans "Subject" %}</th>
      <th>{% trans "Sent date" %}</th>
      <th><i class="icon-envelope"></i>  {% trans "Sent" %}</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for object in latest %}
    <tr>
      <td><a href="{% url 'mass-email-detail'  object.id %}">{{ object.subject }}</a></td>
      <td>{{ object.date|date:"d M Y" }} at {{object.date|date:"H:m:s"}} CET</td>
      <td>      
            {% if object.sent %}
            <i class="icon-ok"></i> 
            {% else %}
            <i class="icon-exclamation-sign"> </i> not sent - waiting to be sent
            {% endif %}
      </td>
      <td>{% if object.sent %}
          &#160;
          {% else %}  
            {% if object.status == 1 %}
                <span class="alert-success"><i class="icon-share"> </i> To be sent</span>
            {% elif object.status == 0 %}
            <span class="alert-danger"><i class="icon-edit"> </i> DRAFT</span>
            {% endif %}
           {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% else %}
<p>No mass emails available.</p>
{% endif %}



{% else %}
<div class="alert alert-warning">
  <p>You must be logged in and a staff member to access this page.</p>
 </div> {% endif %}
{% endblock %}

