{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Reminder system messeges" %}: 
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/work-area/">Workarea</a>
  <span class="divider">/</span>
</li>

<li class="active">{% trans "Reminder system messeges" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

{% if user.is_superuser %} 
<p class="pull-right"><a href="javascript:history.go(-1)">{% trans "« Go back" %}</a><br></p>

<h1>
  <small class="normal">{% trans "Reminder system list of email messeges sent:" %}</small>
</h1> 
    {% if latest %}
    <table class="table table-condensed table-striped" id="publications">
      <thead>
        <tr>
          <th>{% trans "Subject" %}</th>
          <th>{% trans "Sent date" %}</th>
          <th><i class="icon-envelope"></i>  {% trans "Sent" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for object in latest %}
        <tr>
          <td><a href="{% url 'remindermessages-detail'  object.id %}">{{ object.subject }}</a></td>
          <td>{{ object.date|date:"d M Y" }} at {{object.date|date:"H:m:s"}} CET</td>
          <td>      
                {% if object.sent %}
                <i class="icon-ok"></i> 
                {% else %}
                <i class="icon-exclamation-sign"> </i> not sent
                {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No emails available.</p>
    {% endif %}


  {%else%}
        <p>No permissions to see this page.</p>
      {% endif %} 
      
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}