{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Reminder system message" %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li><a href="/work-area/">Workarea</a><span class="divider">/</span></li>
<li><a href="/remindermessages/all/">{% trans "Reminder system messages" %}</a><span class="divider">/</span></li>
<li class="active">{{ remindermessage.subject }}</li>
{% endblock %}

{% block local_nav %}
<div class="well localnav">
  <p><a href="/remindermessages/all/">« {% trans "Back to" %} {% trans "Reminder system messages" %}</a></p>
</div>
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}
  {% if user.is_superuser %} 
<h1>{{ remindermessage.subject }}</h1> 
<dl class="dl-horizontal">
<dt>{% trans "Sent date" %}</dt>
<dd>{{ sometime }}  {{remindermessage.date|date:"d-m-Y"}} at {{remindermessage.date|date:"H:m:s"}} CET</dd>

<dt>{% trans "Sent satus" %}</dt>
<dd>{% if remindermessage.sent %}
<i class="icon-envelope"></i> <i class="icon-ok"></i> 
{% else %}
<i class="icon-envelope"></i> <i class="icon-exclamation-sign"> </i> not sent
{% endif %}

</dd>
   
<dt>{% trans "From" %}</dt>
<dd>{{ remindermessage.emailfrom }}</dd>

<dt>{% trans "To" %}</dt>
<dd>
    {{ remindermessage.emailto }}<br>
    
  

</dd>

<dt>{% trans "Subject" %}</dt>
<dd>{{ remindermessage.subject }}</dd>

<dt>{% trans "Message" %}</dt>
<dd>    {{ remindermessage.messagebody|richtext_filter|safe }}
  </dd>


    
</dl>
   {%else%}
        <p>No permissions to see this page.</p>
      {% endif %} 
{% endblock %}

