{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Reminder system messages" %}: 
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/work-area/">Workarea</a>
  <span class="divider">/</span>
</li>

<li class="active">{% trans "Reminder system messages" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

{% if user.is_superuser %} 
<p class="pull-right"><a href="javascript:history.go(-1)">{% trans "« Go back" %}</a><br></p>

<h1>
  <small class="normal">{% trans "Reminder system list of email messages sent:" %}</small>
</h1> 
<p>Automatic reminders will be send out to the email accounts of all Official Contact Points with the following frequency:
   <table border="1"> 
     <thead>
        <tr>
          <th>{% trans "NRO category" %}</th>
          <th>{% trans "Frequency" %}</th>
          <th>{% trans "Month" %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Contact Point (contact details)</td><td>Every 3 months</td><td>January,April,July,October</td>
        </tr>  
        <tr>
        <td>Pest reporting  &  Emergency action</td><td>Every 6 months</td><td>February, August</td>
        </tr>  
        <tr>
        <td>Description of the NPPO<br>
Entry Points<br>
List of Regulated Pests<br>
Legislation: Phytosanitary Requirements/Restrictions/Prohibitions</td><td>Every 12 months</td><td>November</td>
        </tr> 
            <tr>
        <td>Information about FILEs or URLs</td><td>Every 3 months</td><td>March,June,September,December</td>
        </tr> 
              <tr>
        <td>Information about IPP Country Editors</td><td>Every 12 months</td><td>May</td>
        </tr> 
      </tbody>
      
</table> 


	

	



</p>



  

{% if latest %}
    <table class="table table-condensed table-striped" id="publications">
      <thead>
        <tr>
          <th>{% trans "Subject" %}</th>
          <th>{% trans "Sent date" %}</th>
          <th><i class="icon-envelope"></i>  {% trans "Sent" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for object in latest %}
        <tr>
          <td><a href="{% url 'remindermessages-detail'  object.id %}">{{ object.subject }}</a></td>
          <td>{{ object.date|date:"d M Y - H:m" }}</td>
          <td>      
                {% if object.sent %}
                     <i class="icon-ok"></i> 
                {% else %}
                     <i class="icon-exclamation-sign"> </i> not sent
                {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No emails available.</p>
    {% endif %}


{%else%}
    <p>No permissions to see this page.</p>
{% endif %} 
      
{% endblock %}

{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}