{% load iyph_tags keyword_tags i18n future %}
<div class="panel">
  <h3>{% trans "IYPH Toolbox" %}</h3>
  <ul class="unstyled recent-posts">
<b>{% trans "Advocacy:" %}</b><ul class="unstyled recent-posts">
        <li><a href="https://www.ippc.int/static/media/uploads/iyph_2020_-_advocacy_document_2016-02-05.docx ">IYPH 2020 – ADVOCACY DOCUMENT</a></li>
  
  </ul>
<b>{% trans "Presentations:" %}</b>
<ul class="unstyled recent-posts">
    <li><a href="https://www.ippc.int/static/media/uploads/iyph/iyph_presentation_rev_newoutline_20150626.ppt">Introduction to IYPH</a></li>
   <li><a href="https://www.ippc.int/static/media/uploads/iyph_and_other_challenges_to_the_ippc.ppt">IYPH and other future challenges for the IPPC</a></li>
   <li><a href="https://www.ippc.int/static/media/uploads/iyph_2020_giorin.ppt">ROK 2020 MIĘDZYNARODOWYM  ROKIEM  ZDROWIA  ROŚLIN</a></li>
   <li><a href="https://www.ippc.int/static/media/uploads/general_iyph_presentation.ppt">General presentation to IYPH</a></li>
 
  
  </ul>

<b>{% trans "Videos:" %}</b>
    <ul class="unstyled recent-posts">
        <li><a href="https://youtu.be/hvaVaJVmIXU">IYPH seminar video</a></li>
  
  </ul>

  
  
</div>
{% if user.is_superuser  or perms.iyph.add_iyphpost  %} 
    <div class="pull-right">
        <a class="btn btn-small btn-info" href="/admin/iyph/iyphpost/add/">{% trans "Add new item" %}</a><br>
    </div>
{% endif %}
{% block iyph_recent_posts %}
{% iyph_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<div class="panel">
  <h3>{% trans "Latest" %}</h3>
  <ul class="unstyled recent-posts">
  {% for recent_post in recent_posts %}
  <li><a href="{{ recent_post.get_absolute_url }}"
      >{{ recent_post.title }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block iyph_months %}
{% iyph_months as months %}
{% if months %}
<div class="panel">
  <h3>{% trans "Archive" %}</h3>
  {% for month in months %}
      {% ifchanged month.date.year %}
          {% if not forloop.first %}</ul>{% endif %}
          <h6>{{ month.date.year }}</h6><ul class="unstyled">
      {% endifchanged %}
      <li><a href="{% url "iyph_post_list_month" year=month.date.year month=month.date.month %}"
          >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block iyph_categories %}
{% iyph_categories as categories %}
{% if categories %}
<div class="panel">
  <h3>{% trans "Categories" %}</h3>
  <ul class="unstyled">
  {% for category in categories %}
  <li><a href="{% url "iyph_post_list_category" category.slug %}"
      >{{ category }}</a> ({{ category.post_count }})</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{% block iyph_keywords %}
{% keywords_for iyph.iyphpost as tags %}
{% if tags %}
<div class="panel">
  <h3>{% trans "Tags" %}</h3>
  <ul class="unstyled tags">
  {% for tag in tags %}
  <li>
      <a href="{% url "iyph_post_list_tag" tag.slug %}"
          class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
      ({{ tag.item_count }})
  </li>
  {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}

{# {% block iyph_authors %} #}
{# {% iyph_authors as authors %} #}
{# {% if authors %} #}
{# <h3>{% trans "Authors" %}</h3> #}
{# <ul class="unstyled"> #}
{# {% for author in authors %} #}
{#     <li><a href="{% url "iyph_post_list_author" author.username %}" #}
{#         >{{ author.get_full_name|default:author.username }}</a> #}
{#         ({{ author.post_count }})</li> #}
{# {% endfor %} #}
{# </ul> #}
{# {% endif %} #}
{# {% endblock %} #}

{% block iyph_feeds %}
<div class="panel">
  <h3>{% trans "Feeds" %}</h3>
  {% if tag %}
      <a href="{% url "iyph_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
      <a href="{% url "iyph_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
  {% if category %}
      <a href="{% url "iyph_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
      <a href="{% url "iyph_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
  {% if author %}
      <a href="{% url "iyph_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
      <a href="{% url "iyph_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
  {% if not tag and not category and not author %}
      <a href="{% url "iyph_post_feed" "rss" %}">{% trans "RSS" %}</a> /
      <a href="{% url "iyph_post_feed" "atom" %}">{% trans "Atom" %}</a>
  {% endif %}
</div>
{% endblock %}
