<textarea rows="3"></textarea>
<br>
<select name="comment_type">
<option>-- type of comment --</option>
<option>Too many choices</option>
<option>Make users</option>
<option>Go nuts</option>
<option>But here</option>
<option>We are</option>
</select>
<br>
<button type="submit" class="btn btn-large btn-info">Submit</button>  or <input type="button" class="btn btn-small" id="clear" value="Cancel and clear changes" /> <span class="quiet">(nothing will happen because this is only a mockup so far)</span>