{% extends "ocs/base_ocs.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Test Document" %}
{% endblock %}

{% block extra_head %}

{# HTML5 ContentEditable demo: http://html5demos.com/contenteditable #}
<script type="text/javascript">
// For discussion and comments, see: http://remysharp.com/2009/01/07/html5-enabling-script/
/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark menu meter nav output progress section summary time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/

var addEvent = (function () {
  if (document.addEventListener) {
    return function (el, type, fn) {
      if (el && el.nodeName || el === window) {
        el.addEventListener(type, fn, false);
      } else if (el && el.length) {
        for (var i = 0; i < el.length; i++) {
          addEvent(el[i], type, fn);
        }
      }
    };
  } else {
    return function (el, type, fn) {
      if (el && el.nodeName || el === window) {
        el.attachEvent('on' + type, function () { return fn.call(el, window.event); });
      } else if (el && el.length) {
        for (var i = 0; i < el.length; i++) {
          addEvent(el[i], type, fn);
        }
      }
    };
  }
})();

(function () {

var pre = document.createElement('pre');
pre.id = "view-source"

// private scope to avoid conflicts with demos
addEvent(window, 'click', function (event) {
  if (event.target.hash == '#view-source') {
    // event.preventDefault();
    if (!document.getElementById('view-source')) {
      // pre.innerHTML = ('<!DOCTYPE html>\n<html>\n' + document.documentElement.innerHTML + '\n</html>').replace(/[<>]/g, function (m) { return {'<':'&lt;','>':'&gt;'}[m]});
      var xhr = new XMLHttpRequest();

      // original source - rather than rendered source
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          pre.innerHTML = this.responseText.replace(/[<>]/g, function (m) { return {'<':'&lt;','>':'&gt;'}[m]});
          prettyPrint();
        }
      };

      document.body.appendChild(pre);
      // really need to be sync? - I like to think so
      xhr.open("GET", window.location, true);
      xhr.send();
    }
    document.body.className = 'view-source';
    
    var sourceTimer = setInterval(function () {
      if (window.location.hash != '#view-source') {
        clearInterval(sourceTimer);
        document.body.className = '';
      }
    }, 200);
  }
});
  
})();
</script>

{# Automatic section numbering http://stackoverflow.com/a/10345407 #}
<style type="text/css" media="screen">
body {counter-reset:section;}
h1 {counter-reset:subsection;}
section h1:before, 
section h2:before, 
section h3:before, 
section h4:before, 
section h5:before, 
section h6:before, 
section ul:before, 
section ol:before, 
section table:before, 
section img:before {
counter-increment:section;
content:"" counter(section) ".";
    font-weight:bold;
    font-size:0.9em;
    display:block;
    clear:both;
    margin:0 !important;
    padding:0 !important;
    border-bottom:1px dotted #0cf;
    color:#00f;
}
/*h2:before 
{
counter-increment:subsection;
content:counter(section) "." counter(subsection) " ";
}
*/</style>
{% endblock extra_head %}

{% block breadcrumb_menu %}
<li>
  <a href="/ocs/">{% trans "Home" %}</a>
  <span class="divider">/</span>
</li>
<li class="active">Test Document</li>
{% endblock %}

{% block main %}

{# {% if latest %} #}

<section id="editable" contenteditable="true">
  <h2>Document Title. Go ahead, edit away!</h2>
  <p>The changes will be saved to your (modern) browser's local storage, so your edits will remain here even if you refresh the page. To clear them click on 'Clear Changes' below. Obviously, in the real application, the changes would be saved to the database eventually or maybe there would be an ability to export them as a diff file to save and send by email for users without internet connection, but I'm getting far ahead of myself here.</p>
  <ol>
    <li>And now a list</li>
    <li>With only</li>
    <li>Three items</li>
  </ol>
  <table class="table table-bordered">
    <tr>
      <th>Table Header</th>
      <th>Header Again</th>
      <th>Another One</th>
    </tr>
    <tr>
      <td>Table cell</td>
      <td>Another one</td>
      <td>One more time</td>
    </tr>
  </table>
</section>

<div class="panel">
  <p class="text-info">Click on the text above and begin typing to revise it, then explain your chnage below and click the Submit button</p>
    <form class="customform" method="POST" action="">
    {% csrf_token %}
    
    
    <textarea rows="3"></textarea>
    <br>
    <select name="comment_type">
    <option>-- type of comment --</option>
    <option>Too many choices</option>
    <option>Make users</option>
    <option>Go nuts</option>
    <option>But here</option>
    <option>We are</option>
    </select>
    <br>
    <button type="submit" class="btn btn-large btn-info">Submit</button>  or <input type="button" class="btn btn-small btn-danger" id="clear" value="cancel and clear changes" /> <span class="quiet">(nothing will happen because this is only a mockup so far)</span>
  </form>
</div>

{# HTML5 ContentEditable demo: http://html5demos.com/contenteditable #}
<script>
var editable = document.getElementById('editable');

addEvent(editable, 'blur', function () {
  // lame that we're hooking the blur event
  localStorage.setItem('contenteditable', this.innerHTML);
  document.designMode = 'off';
});

addEvent(editable, 'focus', function () {
  document.designMode = 'on';
});

addEvent(document.getElementById('clear'), 'click', function () {
  localStorage.clear();
  window.location = window.location; // refresh
});

if (localStorage.getItem('contenteditable')) {
  editable.innerHTML = localStorage.getItem('contenteditable');
}

</script>


{% endblock main %}

{% block pageinfo %}
{% endblock pageinfo %}