<label for="comment_open"><strong>Open Date</strong></label>
<input type="text" placeholder="YYYY/MM/DD">

<label for="comment_close"><strong>Close Date</strong></label>
<input type="text" placeholder="YYYY/MM/DD">

<label for="doc_number"><strong>Document Number</strong></label>
<input type="text" placeholder="">

<label for="doc_number"><strong>Agenda Number</strong></label>
<input type="text" placeholder="">

<label for="comment_type"><strong>Stage</strong></label>
<select name="comment_type">
<option>-- stage --</option>
<option>Choices</option>
<option>Go in</option>
<option>Here</option>
</select>

<button style="line-height:34px;" type="submit" class="btn btn-large">Upload</button>
