{% extends "news/news_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags news_tags %}

{% block meta_title %}{{ news_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for news_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ news_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{# {% editable news_post.title %} #}
{% with news_post|get_object_translation as translated_page %}
             {{ translated_page.title|safe}}
      
    {% endwith %}
{# {% endeditable %} #}
{% endblock %}
{% set_short_url_for news_post %}
{% block breadcrumb_menu %}
{{ block.super }}
    <li class="breadcrumb-item" aria-current="page"> 
        <a href="/{{ LANGUAGE_CODE }}/news/category/{{news_post.categories.all.0.slug}}">
         {{news_post.categories.all.0}}</a>
    </li>  
    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{# =note: the sidebar is in the filter_panel.html include #}

{% block main %}
    {% if user.is_superuser or perms.news.add_newspost %} 
        <div class="pull-right">
            <a class="btn btn-info btn-small" href="/admin/news/newspost/{{ news_post.id }}">{% trans "Edit as Admin" %}</a><br>
        </div>
    {% endif %}
    {% block news_post_detail_postedby %}
        <p>{% trans "Posted " %}  {% blocktrans with sometime=news_post.publish_date|date:"D, d M Y, H:i" %}on {{ sometime }}{% endblocktrans %}</p>
    {% endblock %}

    {% block news_post_detail_featured_image %}
        {% if news_post.featured_image %}{#settings.news_USE_FEATURED_IMAGE and #}
         <!--div style="position: relative; max-width: 800px; margin: 0 auto;">
          <img src="{{ MEDIA_URL }}{% thumbnail news_post.featured_image 800 400 %}">
          {%if news_post.caption_image != None and news_post.caption_image != ''%}
          <div style="position: absolute;  bottom: 0;  background: #000;   background: rgba(0, 0, 0, 0.3);   color: #f1f1f1;  font-size:10pt;  width: 770px;  padding: 10px;">
        <i>{{news_post.caption_image}}</i>
          </div>{% endif %}
        </div-->
            <img src="{{ MEDIA_URL }}{% thumbnail news_post.featured_image 800 400 %}" class="img-fluid mb-1" alt="Responsive image">
            {%if news_post.caption_image != None and news_post.caption_image != ''%}
               <figcaption class="figure-caption text-right">
                   {% with news_post|get_object_translation as translated_page %}
                    {{ translated_page.caption_image|richtext_filter|safe }}
                {% endwith %} 
               </figcaption>
            {% endif %}
        {% endif %}
    {% endblock %}


    {% block news_post_detail_content %}
        {% with news_post|get_object_translation as translated_page %}
            {{ translated_page.content|richtext_filter|safe }}
        {% endwith %}
    {% endblock %}

    {% block news_post_detail_keywords %}
    {% keywords_for news_post as tags %}
    {% if tags %}
    {% spaceless %}
    <ul class="unstyled tags">
        <li>{% trans "Tags" %}:</li>
        {% for tag in tags %}
        <li><a href="{% url "news_post_list_tag" tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endspaceless %}
    {% endif %}
    {% endblock %}





{% block news_post_previous_next %}
<!--ul class="pager">
{% with news_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with news_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul-->
{% endblock %}

{% block news_post_detail_related_posts %}
{% if news_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in news_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}


{% endblock %}
