{% extends "forum/forum_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags i18n future disqus_tags %}

{% block meta_title %}{{ forum_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
  {% keywords_for forum_post as tags %}
  {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
  {{ forum_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
  {% editable forum_post.title %}{{ forum_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
  {{ block.super }}
  <li>
    {% with forum_post.categories.all as categories %}
    {% if categories %}
    {% for category in categories %}
      <a href="{% url "forum_post_list_category" category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
    {% endwith %}
        <span class="divider">/</span>
  </li>
  <li class="active">{{ forum_post.title }}
{% endblock %}

{% block main %}





{# forums may be restricted, so test if login is required before doing permissions tests #}
{% if forum_post.login_required %}

  {% for group in request.user.groups.all %}
    {% if group in forum_post.groups.all %}
      {{ block.super }}

<p>
{% if user.is_superuser or perms.forum.add_forumpost  %} {#and request.user.get_profile.user_id  == forum_post.user_id#}
    <a class="btn btn-small btn-info" href="/admin/forum/forumpost/{{ forum_post.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
{% endif %}
</p>






  {% block forum_post_detail_postedby %}
    {% editable forum_post.publish_date %}
    <h6 class="pull-left" style="margin-right:0.75em;">
        {% trans "Posted by" %}:
        {% with forum_post.user as author %}
        <a href="{% url "forum_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
        {% blocktrans with sometime=forum_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    </h6>
    {% endeditable %}
  {% endblock %}
  {% block forum_post_detail_commentlink %}
    <p class="quiet">
        {% if forum_post.allow_comments %}
          (<a href="#comments">{% spaceless %}
                {% blocktrans count comments_count=forum_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                {% endspaceless %}</a>)
        {% endif %}
    </p>
  {% endblock %}

  {% block forum_post_detail_featured_image %}
    {% if settings.FORUM_USE_FEATURED_IMAGE and forum_post.featured_image %}
      <p><img src="{{ MEDIA_URL }}{% thumbnail forum_post.featured_image 600 0 %}"></p>
    {% endif %}
  {% endblock %}

  {% block forum_post_detail_content %}
    {% editable forum_post.content %}
      {{ forum_post.content|richtext_filter|safe }}
        {% if files %}
        <p><strong>{% trans "Files" %}</strong></p>
            {% for f in files %} 
            <i class="icon-file"></i>
            <a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.filename }}</a><br>
{% endfor %}

     {% endif %}
     
    {% endeditable %}
    
    
   
    
   
    

  {% endblock %}

  {% block forum_post_detail_keywords %}
    {% keywords_for forum_post as tags %}
    {% if tags %}
    {% spaceless %}
    <ul class="unstyled tags">
        <li>{% trans "Tags" %}:</li>
        {% for tag in tags %}
        <li><a href="{% url "forum_post_list_tag" tag.slug %}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endspaceless %}
    {% endif %}
  {% endblock %}

  {% block forum_post_detail_related_posts %}
    {% if forum_post.related_posts.all %}
    <div id="related-posts">
    <h3>{% trans 'Related posts' %}</h3>
    <ul class="unstyled">
    {% for post in forum_post.related_posts.all %}
         <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}
  {% endblock %}

  {% block forum_post_detail_comments %}
    {#% if forum_post.allow_comments %#}
        {% comments_for forum_post %}
    {#% endif %#}
  {% endblock %}


    {% endif %} 
    {# group in request.user.groups.all #}
    {% empty %}
      <p>You don't have permission to view this post.</p>
  {% endfor %} 
  {# group in page.get_content_model.groups.all #}  
    {% else %}
    
  {% endif %} 
  {# forum_post.login_required #}
  
  
  
  
{% endblock %}





