{% extends 'pce/basepcepdf.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block content %}
<div id="content">

    <h5> {% trans "Logical Framework - Module" %} {{module}}</h5>

    {% include "pce/userdetails_panel.html" %} </th>  

<br><br>
{% if latest %} 
<table class="table">
    <tr>
        <td style="background:#BDBDBD;" >{% trans "Overall Objective" %}</td>
        <td style="background:#BDBDBD;">{% trans "Key Indicator" %}</td>
        <td style="background:#BDBDBD;">{% trans "Means of Verification" %}</td>
        <td style="background:#BDBDBD;">{% trans "Assumptions" %}</td>
    </tr>  
    {% for object in latest %} 
    <tr> 
        <td>{{object.overobjective}}<br><br><br></td>
        <td>{{object.keyindicator0}}<br><br><br></td>
        <td>{{object.verification0}}<br><br><br></td>
        <td>{{object.assumptions0}}<br><br><br></td>
    </tr>  
    {% endfor%}  
    <tr>
        <td style="background:#BDBDBD;">{% trans "Objective" %}</td>
        <td style="background:#BDBDBD;">{% trans "Key Indicator" %}</td>
        <td style="background:#BDBDBD;">{% trans "Means of Verification" %}</td>
        <td style="background:#BDBDBD;">{% trans "Assumptions" %}</td>
    </tr>
    {% for object in latest %} 
    <tr> 
        <td>{{object.objective}}<br><br><br></td>
        <td>{{object.keyindicator}}<br><br><br></td>
        <td>{{object.verification}}<br><br><br></td>
        <td>{{object.assumptions}}<br><br><br></td>

    </tr>
    {% endfor%}  
    <tr>
        <td colspan="4" style="background:#ffc;"><b>{% trans "Weakness 1" %}</b>: {{weakeness.w1}}</td>
    </tr>      
    {% for object in latest %} 
    <tr>
        <td style="background:#eee; ">{% trans "Output 1" %}</td>
        <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
        <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
        <td style="background:#eee; ">{% trans "Assumptions" %}</td>
    </tr>
    <tr> 
        <td><b>1)</b> {{object.output1}}<br><br><br></td>
        <td>{{object.keyindicator1}}<br><br><br></td>
        <td>{{object.verification1}}<br><br><br></td>
        <td>{{object.assumptions1}}<br><br><br></td>
    </tr>    
    <tr>
        <td style="background:#eee; ">{% trans "Activity" %}</td>
        <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
        <td style="background:#eee; ">{% trans "Responsable person" %}</td>
        <td style="background:#eee; ">{% trans "Deadline" %}</td>
    </tr>
    {% endfor %} 

    {% if latest1 %} 
        {% for object in latest1 %} 
        <tr> 
            <td><b>1.{{forloop.counter}})</b>{{object.activity1}}<br><br><br></td>
            <td>{{object.cost}}<br><br><br></td>
            <td>{{object.responsible}}<br><br><br></td>
            <td>{{object.deadline}}<br><br><br></td>
        </tr>  
        {% endfor%}  
    {% else %}
        <tr> 
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
        </tr> 
    {% endif %}  

 <tr>
        <td colspan="4" style="background:#ffc;"><b>{% trans "Weakness 2" %}</b>: {{weakeness.w2}}</td>
    </tr>      
    {% for object in latest %} 
    <tr>
        <td style="background:#eee; ">{% trans "Output 2" %}</td>
        <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
        <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
        <td style="background:#eee; ">{% trans "Assumptions" %}</td>
    </tr>
    <tr> 
        <td><b>2)</b> {{object.output2}}<br><br><br></td>
        <td>{{object.keyindicator2}}<br><br><br></td>
        <td>{{object.verification2}}<br><br><br></td>
        <td>{{object.assumptions2}}<br><br><br></td>
    </tr>    
    <tr>
        <td style="background:#eee; ">{% trans "Activity" %}</td>
        <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
        <td style="background:#eee; ">{% trans "Responsable person" %}</td>
        <td style="background:#eee; ">{% trans "Deadline" %}</td>
    </tr>
    {% endfor %} 

    {% if latest2 %} 
        {% for object in latest2 %} 
        <tr> 
            <td><b>2.{{forloop.counter}})</b>{{object.activity2}}<br><br><br></td>
            <td>{{object.cost}}<br><br><br></td>
            <td>{{object.responsible}}<br><br><br></td>
            <td>{{object.deadline}}<br><br><br></td>
        </tr>  
        {% endfor%}  
    {% else %}
        <tr> 
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
        </tr> 
    {% endif %} 
 <tr>
        <td colspan="4" style="background:#ffc;"><b>{% trans "Weakness 3" %}</b>: {{weakeness.w3}}</td>
    </tr>      
    {% for object in latest %} 
    <tr>
        <td style="background:#eee; ">{% trans "Output 3" %}</td>
        <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
        <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
        <td style="background:#eee; ">{% trans "Assumptions" %}</td>
    </tr>
    <tr> 
        <td><b>3)</b> {{object.output3}}<br><br><br></td>
        <td>{{object.keyindicator3}}<br><br><br></td>
        <td>{{object.verification3}}<br><br><br></td>
        <td>{{object.assumptions3}}<br><br><br></td>
    </tr>    
    <tr>
        <td style="background:#eee; ">{% trans "Activity" %}</td>
        <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
        <td style="background:#eee; ">{% trans "Responsable person" %}</td>
        <td style="background:#eee; ">{% trans "Deadline" %}</td>
    </tr>
    {% endfor %} 

    {% if latest3 %} 
        {% for object in latest3 %} 
        <tr> 
            <td><b>3.{{forloop.counter}})</b>{{object.activity3}}<br><br><br></td>
            <td>{{object.cost}}<br><br><br></td>
            <td>{{object.responsible}}<br><br><br></td>
            <td>{{object.deadline}}<br><br><br></td>
        </tr>  
        {% endfor%}  
    {% else %}
        <tr> 
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
        </tr> 
    {% endif %} 
    
     <tr>
        <td colspan="4" style="background:#ffc;"><b>{% trans "Weakness 4" %}</b>: {{weakeness.w4}}</td>
    </tr>      
    {% for object in latest %} 
    <tr>
        <td style="background:#eee; ">{% trans "Output 4" %}</td>
        <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
        <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
        <td style="background:#eee; ">{% trans "Assumptions" %}</td>
    </tr>
    <tr> 
        <td><b>4)</b> {{object.output4}}<br><br><br></td>
        <td>{{object.keyindicator4}}<br><br><br></td>
        <td>{{object.verification4}}<br><br><br></td>
        <td>{{object.assumptions4}}<br><br><br></td>
    </tr>    
    <tr>
        <td style="background:#eee; ">{% trans "Activity" %}</td>
        <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
        <td style="background:#eee; ">{% trans "Responsable person" %}</td>
        <td style="background:#eee; ">{% trans "Deadline" %}</td>
    </tr>
    {% endfor %} 

    {% if latest4 %} 
        {% for object in latest4 %} 
        <tr> 
            <td><b>4.{{forloop.counter}})</b>{{object.activity4}}<br><br><br></td>
            <td>{{object.cost}}<br><br><br></td>
            <td>{{object.responsible}}<br><br><br></td>
            <td>{{object.deadline}}<br><br><br></td>
        </tr>  
        {% endfor%}  
    {% else %}
        <tr> 
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
        </tr> 
    {% endif %} 
    
     <tr>
        <td colspan="4" style="background:#ffc;"><b>{% trans "Weakness 5" %}</b>: {{weakeness.w5}}</td>
    </tr>      
    {% for object in latest %} 
    <tr>
        <td style="background:#eee; ">{% trans "Output 5" %}</td>
        <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
        <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
        <td style="background:#eee; ">{% trans "Assumptions" %}</td>
    </tr>
    <tr> 
        <td><b>5)</b> {{object.output5}}<br><br><br></td>
        <td>{{object.keyindicator5}}<br><br><br></td>
        <td>{{object.verification5}}<br><br><br></td>
        <td>{{object.assumptions5}}<br><br><br></td>
    </tr>    
    <tr>
        <td style="background:#eee; ">{% trans "Activity" %}</td>
        <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
        <td style="background:#eee; ">{% trans "Responsable person" %}</td>
        <td style="background:#eee; ">{% trans "Deadline" %}</td>
    </tr>
    {% endfor %} 

    {% if latest5 %} 
        {% for object in latest5 %} 
        <tr> 
            <td><b>5.{{forloop.counter}})</b>{{object.activity5}}<br><br><br></td>
            <td>{{object.cost}}<br><br><br></td>
            <td>{{object.responsible}}<br><br><br></td>
            <td>{{object.deadline}}<br><br><br></td>
        </tr>  
        {% endfor%}  
   {% else %}
        <tr> 
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
            <td> <br><br><br></td>
        </tr> 
    {% endif %} 

</table> 
{% endif%} 




</div> 









{% endblock %}
