{% load i18n future pages_tags translate_tags %}


{% if on_home %}
  <!--li class="breadcrumb-item">{% trans "Home" %}</li-->
{% else %}
{% for page in page_branch %}
 {% if not has_home and page.is_primary and forloop.first %}
    <!--li class="breadcrumb-item">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
    </li-->
    {% endif %}

    {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
  
        {% if page.is_current and page.content_model == 'link'%}
    <li class="breadcrumb-item" aria-current="page"> <a href="{{ page.get_absolute_url }}">
            {# {{ page.title }} #}
            {% with page.richtextpage|get_object_translation as translated_page %}
            {% if translated_page.title %}
                {{ translated_page.title|safe }}
                {% else %}
                {{ page.title }}
            {% endif %}
            {% endwith %}
        </a></li>
    {% else %}
    <!--li class="breadcrumb-item active">
        {% with page.richtextpage|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
        </li--> <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
    {% endif %}
    {% else %}
    <li class="breadcrumb-item">
        <a href="{{ page.get_absolute_url }}">
            {# {{ page.title }} #}
            {% with page.richtextpage|get_object_translation as translated_page %}
            {% if translated_page.title %}
                {{ translated_page.title|safe }}
                {% else %}
                {{ page.title }}
            {% endif %}
            {% endwith %}
        </a>
   
    </li>
    {% endif %}
    {% if page.has_children %}{% page_menu page %}{% endif %}
    {% endif %}

{% endfor %}
{% endif %}


      
