{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
 <ul class="navbar-nav mr-auto">
    <li class="nav-item {% if page.id == None %}active{% endif %}"><a href="/" class="nav-link">{% trans "Home" %} <span class="sr-only">(current)</span></a></li>

    {% for page in page_branch %}
   
    {% if page.in_menu %}
    
    {% if  page.title == 'Forum' %}
       <li class="nav-item-restricted {% if page.has_children_in_menu %}dropdown{% endif %}{% if page.is_current_or_ascendant %} active-restricted{% endif %}"
        id="dropdown-menu-{{ page.html_id }}"> 
     {%else%}
        {%if page.id == 530%}
          <li class="nav-item-restricted {% if page.has_children_in_menu %}dropdown{% endif %}{% if page.is_current_or_ascendant %} active-restricted{% endif %}"
            id="dropdown-menu-{{ page.html_id }}"> 
        {%else%}
          <li class="nav-item {% if page.has_children_in_menu %}dropdown{% endif %}{% if page.is_current_or_ascendant %} active{% endif %}"
            id="dropdown-menu-{{ page.html_id }}"> 
        {%endif%}
  {%endif%}
        {%if page.id == 1%}
        <a  class="nav-link" href="/{{ LANGUAGE_CODE }}/news/category/ippcnews/" >
        {%else%}
            <a  class="nav-link" href="{{ page.get_absolute_url }}" ><!--{% if page.has_children_in_menu  and page.id != 3 %}{% endif %}-->
        {% endif %}
        
        
              {% load translate_tags %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                    {{ translated_page.title|safe }}
                {% endwith %}

                {# =todo: get Link pages to display text. #}
                {% if not page.richtextpage %}
                    {% with page.link|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% with page.publicationlibrary|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% endif %}
        </a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
    
</ul>
{% endif %}

{% if branch_level == 1 %}
<ul class="dropdown-menu">
    {% for page in page_branch %}
    {% if page.in_menu %} {%if page.content_model == 'countrypage' %}{%else%}
    <li class="{% if page.has_children_in_menu %}nav-item dropdown{% endif %}{% if page.is_current_or_ascendant %} active{% endif %}">
            <a class="dropdown-item" href="{{ page.get_absolute_url }}">
     {% if page.has_children_in_menu %}<em class="fas fa-angle-down mr-1 mt-1 float-right"></em> {% endif %}
            {% load translate_tags %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                    {{ translated_page.title|safe }} 
                {% endwith %}

                {# =todo: get Link pages to display text. #}
                {% if not page.richtextpage %}
                       
                  {% with page.link|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% with page.publicationlibrary|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                        {% endif %}</a>
         {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>{% endif %}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if branch_level == 2 %}
<ul class="dropdown-menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
     <li class="{% if page.has_children_in_menu %}nav-item dropdown{% endif %}{% if page.is_current_or_ascendant %} active{% endif %}">
   
            <a  class="dropdown-item" href="{{ page.get_absolute_url }}">
    {% if page.has_children_in_menu %}<em class="fas fa-angle-down mr-1 mt-1 float-right"></em> {% endif %}
            {% load translate_tags %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                    {{ translated_page.title|safe }} 
                {% endwith %}

                {# =todo: get Link pages to display text. #}
                {% if not page.richtextpage %}
                       
                  {% with page.link|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% with page.publicationlibrary|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% endif %}</a>
         {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if branch_level == 3 %}
<ul class="dropdown-menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
    <li class="{% if page.has_children_in_menu %}nav-item dropdown{% endif %}{% if page.is_current_or_ascendant %} active{% endif %}">
   
            <a  class="dropdown-item" href="{{ page.get_absolute_url }}">
   
            {% load translate_tags %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                    {{ translated_page.title|safe }} 
                {% endwith %}

                {# =todo: get Link pages to display text. #}
                {% if not page.richtextpage %}
                       
                  {% with page.link|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% with page.publicationlibrary|get_object_translation as translated_page %}
                        {{ translated_page.title|safe }} 
                        {% endwith %}
                {% endif %}</a>
         {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endif %}
{% endspaceless %}

