{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<ul class="nav nav-collapse pull-left" style="clear:both;">
    {% for page in page_branch %}
    {# {% if not has_home and page.is_primary and forloop.first %} #}
    {# <li class="{% if on_home %} active{% endif %}" id="dropdown-menu-home"> #}
    {#     <a href="{% url "home" %}">{% trans "Home" %}</a> #}
    {# </li> #}
    {# {% endif %} #}
    {% if page.in_menu %}
    <li class="dropdown{% if page.is_current_or_ascendant %} active{% endif %}"
        id="dropdown-menu-{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">
            {{ page.title }}
            {% if page.has_children_in_menu %}<span class="caret"></span>{% endif %}
        </a>
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
    {# <li class="divider-vertical"></li> #}
</ul>
{% endif %}

{% if branch_level == 1 %}
<ul class="dropdown-menu">
    {% for page in page_branch %}
    {% if page.in_menu %}
    <li{% if page.is_current_or_ascendant %} class="active"{% endif %}
        id="dropdown-menu-{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% endif %}
{% endspaceless %}


{# https://groups.google.com/d/msg/mezzanine-users/h1nc86hPTWQ/hqx2nsSlrdMJ #}


{% comment %}
{% load i18n pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

{% if branch_level == 0 %}
<ul class="nav nav-collapse pull-left" style="clear:both;">
    {% for page in page_branch %}
    {% if page.is_primary and forloop.first %}
    <li class="{% if on_home %} active{% endif %}" id="dropdown-menu-{{ page.html_id }}">
        <a href="{% url "home" %}">{% trans "Home" %}</a>
    </li>
    {# <li class="divider-vertical"></li> #}
    {% endif %}
    {% if page.in_menu %}
    {% if page.login_required and request.user.is_authenticated or not page.login_required %}
    <li class="dropdown{% if page.is_current_or_ascendant %} active{% endif %}"
        id="dropdown-menu-{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}"{% if page.has_children %}data-hover="dropdown" class="dropdown-toggle active"{% endif %}>


                {% load translate_tags %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                    {{ translated_page.title|safe }}
                {% endwith %}

                {# =todo: get Link pages to display text. #}
                {% if not page.richtextpage %}
                  {% trans page.title %} {# &#8599; <i class="icon-share-alt"></i>   #}
                {% endif %}
                
            {% if page.has_children %}<span class="caret"></span>{% endif %}
        </a>
        {% if page.has_children %}{% page_menu page %}{% endif %}
    </li>
    {# <li class="divider-vertical"></li> #}
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% if branch_level > 0 %}
  {# {% if not page.title == "Countries" %} #} {# don't show all countries in dropdown #}
  <ul class="dropdown-menu"{% if branch_level == 1 %} role="menu"{% endif %}>
      {% for page in page_branch %}
      {% if page.in_menu %}
      {% if page.login_required and request.user.is_authenticated or not page.login_required %}
      <li{% if page.is_current_or_ascendant %} class="active {% if page.has_children %} dropdown-submenu{% endif %}"{% else %}
              {% if page.has_children %}class="dropdown-submenu"{% endif %}
              {% endif %}
          id="dropdown-menu-{{ page.html_id }}">
          <a href="{{ page.get_absolute_url }}">
              {% with page.richtextpage|get_object_translation as translated_page %}
              {% if translated_page.title %}
                  {{ translated_page.title|safe }}
                  {% else %}
                  {{ page.title }}
              {% endif %}
              {% endwith %}
          </a>
          {% if page.has_children %}{% page_menu page %}{% endif %}
      </li>
      {% endif %}
      {% endif %}
      {% endfor %}
  </ul>
  {# {% endif %} #}
{% endif %}

{% endif %}
{% endspaceless %}
{% endcomment %}