{% load i18n future pages_tags %}

<div class="card" style="width: 100%">
    <div class="card-header">
         <h5>{% trans "Resources and Tools" %}</h5>
    </div>
	
      <ul class="list-group list-group-flush">
	
    <li class="list-group-item"><a href="/publications/1036/">IPPC criteria for receiving travel assistance</a></li>
  <li class="list-group-item"><a href="/core-activities/governance/convention-text/">IPPC text & related information</a></li>
  <li class="list-group-item"><a href="/calls/">Calls & Deadlines</a></li>
  <li class="list-group-item"><a href="/online-comment-system/">Online Comment System (OCS)</a></li>
  <li class="list-group-item"><a href="/publications/1015/">Strategic Framework</a></li>
  <li class="list-group-item"><a href="/core-activities/standards-setting/development-standards/searchable-pdf-database/">Searchable PDF Database</a></li>
  <li class="list-group-item"><a href="/core-activities/standards-setting/technical-panels/technical-panel-phytosanitary-treatments/phytosanitary-treatments-tool/">Phytosanitary Treatments search tool</a></li>
  <li class="list-group-item"><a href="/core-activities/ippc-standard-setting-procedure-manual/">Standard Setting Procedure Manual</a></li>
  <li class="list-group-item"><a href="/publications/81329/">Style Guide</a></li>
  <li class="list-group-item"><a href="/publications/82094/">Formatting guide</a></li>
  <li class="list-group-item"><a href="/publications/84364/">Translation Resources</a></li>
  <li class="list-group-item"><a href="/core-activities/standards-setting/development-standards/virtual-tools/">Virtual Tools</a></li>
  <li class="list-group-item"><a href="/core-activities/standards-setting/development-standards/outreach-materials/">Outreach Materials</a>
     <ul>
          <li><a href="/publications/626/">ISPMs list</a></li>
          <li><a href="/publications/83835/">Standard Setting Process</a></li>
          <li><a href="/publications/84258/">Glossary Brochure</a></li>
          <li><a href="/publications/84043/">Brochure: An Introduction for Authors </a></li>
       </ul>
</li>
</ul>
</div>
