{% load i18n future pages_tags %}
 {% block pageinfo %}
 
 <div class="panel">
<div class="alert alert-warning" role="alert">
 
 <i class="icon-warning-sign"></i> The Partners area of the IPPC website contains unofficial information only.</div>
 
  
     
     
   



    <h4>Key documents</h4>
    <ul>
        <li><a href="/publications/national-pest-reporting-through-regional-plant-protection-organizations">Reporting through RPPOs</a></li>
        <li>Nomination Form of the Official Contact Point of the RPPO:
          
  <ul>
                    <li><a href="static/media/files/Arabic _ IPPC Official Contact Point notification form RPPOs ArabicEnglish 1.doc">Arabic</a></li>
                    <li><a href="static/media/files/IPPC Official Contact Point notification form ENG RPPOs.doc">English</a></li>
                    <li><a href="static/media/files/IPPC Official Contact Point notification form FR RPPOs.doc">French</a></li>
                    <li><a href="static/media/files/IPPC Official Contact Point notification form RUS RPPOs.doc">Russian</a></li>
                    <li><a href="static/media/files/IPPC Official Contact Point notification form SPANISH RPPOs.doc">Spanish</a></li>
             </ul>
         </li>
    </ul>
    <h4>Major Meetings</h4>
    <ul>
        <li><a href="/partners/regional-plant-protection-organizations/technical-consultation-among-rppos">Technical Consultation among RPPOs</a></li>
        <li><a href="/partners/international-organizations/world-trade-organization">World Trade Organization</a></li>
        <li><a href="/partners/international-organizations/standard-trade-and-development-facility">Standard Trade and Development Facility</a></li>
    </ul>


 </div>     {% endblock pageinfo %}
