  {% load i18n future pages_tags %}
  {% block pageinfo %}<div class="panel">
        <h4>{% trans "Key Links &amp; Documents" %}</h4>
        {#% get_page "key-documents" "content" %#}
     

    <ul>
            <li><a href="/about/convention-text">Convention text &amp; related information</a></li>
            <li><a href="/publications/ippc-strategic-framework-2012-2019">IPPC Strategic Framework</a></li>
            <li><a href="/core-activities/governance/ippc-procedure-manual">IPPC Procedure Manual</a></li>
     <li><a href="/node/21079">IPPC Standard Setting Procedure Manual</a></li>
            <li><a href="/core-activities/standards-setting/ispms">Adopted Standards (ISPMs)</a></li>
            <li><a href="/core-activities/standards-setting/list-topics-ippc-standards">List of topics for IPPC standards</a></li>
            <li><a href="/core-activities/standards-setting/searchable-pdf-database">Searchable PDF database</a></li>
            <li><a href="/core-activities/standards-setting/member-consultation-draft-ispms">Member consultation on draft ISPMs</a></li>
            <li><a href="/publications/local-information-meeting-participants-rome-italy">Local information for meeting participants</a></li>
            <li><a href="/publications/preferred-hotel-programme-php">Preferred Hotel Programme</a></li>
            <li><a href="/publications/criteria-used-prioritizing-participants-receive-travel-assistance-attend-meetings">IPPC criteria for receiving travel assistance</a></li>
            <li><a href="/publications/ippc-style-guide">IPPC Style Guide</a></li>
            <li><a href="/core-activities/governance/cpm/cpm-rules-of-procedure">CPM Rules of Procedure</a></li>
    </ul>

    <h4>Major Meetings</h4>

    <ul>
            <li><a href="/core-activities/governance/cpm">Commission on Phytosanitary Measures</a></li>
            <li><a href="/core-activities/governance/bureau">CPM Bureau</a></li>
            <li><a href="/core-activities/governance/strategic-planning-group">Strategic Planning Group</a></li>
            <li><a href="/core-activities/standards-setting/standards-committee">Standards Committee (SC)</a></li>
            <li><a href="/core-activities/standards-setting/expert-drafting-groups/technical-panels">Technical panels (TPs)</a></li>
            <li><a href="/core-activities/standards-setting/expert-drafting-groups/expert-working-groups">Expert working groups (EWGs)</a></li>
            <li><a href="/core-activities/dispute-avoidance-dispute-settlement/subsidiary-body-dispute-settlement">Subsidiary Body on Dispute Settlement</a></li>
    </ul>


</div>


        
        
        
        
        
        
        
        
    </div>    {% endblock pageinfo %}