{% load i18n future pages_tags %}

{% spaceless %}
{# <div class="treemenu"> #}
{% if page_branch_in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
    {# treemenu class enables tree dropdown with CSS3 http://stackoverflow.com/a/16664260 #}
  {% for page in page_branch %}
  {# {% if not has_home and page.is_primary and forloop.first %} #}
  {# <li class="first{% if on_home %} active{% endif %}" #}
  {#     id="tree-menu-home"> #}
  {#     <a href="{% url "home" %}">{% trans "Home" %}</a> #}
  {# </li> #}
  {# {% endif %} #}
  {% if page.in_menu %}
  
  
  
  
  {# =todo: #}
  {# In workarea sidebar list pages accessible to each user [according to his permissions](http://stackoverflow.com/a/16016717) #}
  {# and only display page content if he is in the page's permission group. #}
    {# {% if page.login_required %}  #}
  {#  #}
    {#   {% for group in request.user.groups.all %}  #}
    {#     {% if group in page.get_content_model.groups.all %}  #}
  {#  #}
  {#       list of pages accessible to user #}
  {#        #}
  {#     {% endif %}  #}
  {#   {% endfor %}  #}
  {#  #}
  {#   {% else %} #}
  {#  #}
  {#     nothing #}
  {#  #}
  {# {% endif %} #} 
  
  
  
  
  {# only show pages in current section #}
  {% if page.is_current_or_ascendant or not page.is_primary %}
  <li class="
             {% if page.is_current %} active{% endif %}
             {% if not page.is_primary and forloop.first %} first{% endif %}
             {% if forloop.last %} last{% endif %}"
      id="tree-menu-{{ page.html_id }}">
      
      {% load translate_tags %}
      
      {% if page.login_required %} 
        {% if user.is_superuser or perms.ippc.change_publication  %}
            <a href="{{ page.get_absolute_url }}">
                {% if page.has_children_in_menu %}<i class="icon-plus"> </i> {% endif %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                {% if translated_page.title %}
                    {{ translated_page.title|safe }}
                    {% else %}
                    {{ page.title }}
                {% endif %}
                {% endwith %} 
                </a> 
        {% else %}
         {% for group in request.user.groups.all %} 
            {% if group in page.get_content_model.groups.all %} 
                <a href="{{ page.get_absolute_url }}">  
                  {% if page.has_children_in_menu %}<i class="icon-plus"> </i> {% endif %}
                {% with page.richtextpage|get_object_translation as translated_page %}
                {% if translated_page.title %}
                    {{ translated_page.title|safe }}
                    {% else %}
                    {{ page.title }}
                {% endif %}
                {% endwith %} 
                </a> 
            {% endif %}
         {% endfor %}
         
              {% endif %}
         
         
     {% else %}    
     <a href="{{ page.get_absolute_url }}"> 
      {% if page.has_children_in_menu %}<i class="icon-plus"> </i> {% endif %}
         {% if page.content_model == 'publicationlibrary'%}
            {% with page.publicationlibrary|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
         {% elif page.content_model == 'richtextpage'%}
            {% with page.richtextpage|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
         {% elif page.content_model == 'link'%}
            {% with page.link|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
         {% else %}
         {{ page.title }}
        {% endif %}
        
        
        
        
      
    </a>{% endif %}
    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {% if page.is_current_or_ascendant %}
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    {% endif %}
  </li>
  {% endif %} {# page.is_current_or_ascendant or not page.is_primary #}
  
  
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{# </div> #}
{% endspaceless %}
