{% load i18n future pages_tags %}

{% spaceless %}

{% if page_branch_in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
  {% for page in page_branch %}

  {% if page.in_menu %}

  {% if page.is_current_or_ascendant or not page.is_primary %}
  
 <li class="{% if page.is_current %} active{% endif %}
             {% if not page.is_primary and forloop.first %} first{% endif %}
             {% if forloop.last %} last{% endif %}"
      id="tree-menu-{{ page.html_id }}">
      
      {% load translate_tags %}
      
      {% if page.login_required %}
       {% if user.is_superuser or perms.ippc.change_news  %}
            <a href="{{ page.get_absolute_url }}">
              {% if page.has_children_in_menu %}
            {% if page.is_current %}
                <i id="caret" style="font-size: 1.2em;  color: #ffffff" class="fas fa-chevron-down"></i>
            {%else%}
                <i id="caret" style="font-size: 1.2em;  color: #00000" class="fas fa-chevron-right"></i>
            {% endif %}
        {% endif %} 
                {% with page.richtextpage|get_object_translation as translated_page %}
                {% if translated_page.title %}
                    {{ translated_page.title|safe }}
                    {% else %}
                    {{ page.title }}
                {% endif %}
                {% endwith %} 
                </a> 
        {% else %}
            {% if request.user.groups.all.0 in page.get_content_model.groups.all or request.user.groups.all.1 in page.get_content_model.groups.all or request.user.groups.all.2 in page.get_content_model.groups.all  or request.user.groups.all.3 in page.get_content_model.groups.all or request.user.groups.all.4 in page.get_content_model.groups.all or request.user.groups.all.5 in page.get_content_model.groups.all  or request.user.groups.all.6 in page.get_content_model.groups.all or request.user.groups.all.7 in page.get_content_model.groups.all  %}
      
                <a href="{{ page.get_absolute_url }}">  
               {% if page.has_children_in_menu %}
            {% if page.is_current %}
                <i id="caret" style="font-size: 1.2em;  color: #ffffff" class="fas fa-chevron-down"></i>
            {%else%}
                <i id="caret" style="font-size: 1.2em;  color: #00000" class="fas fa-chevron-right"></i>
            {% endif %}
        {% endif %} 
                {% with page.richtextpage|get_object_translation as translated_page %}
                {% if translated_page.title %}
                    {{ translated_page.title|safe }}
                    {% else %}
                    {{ page.title }}
                {% endif %}
                {% endwith %} 
                </a> 
            {% endif %}
         {#% endfor %#}
         
              {% endif %}
         
     {% else %}     
     <a href="{{ page.get_absolute_url }}"> 
         {% if page.has_children_in_menu %}
            {% if page.is_current %}
                <i id="caret" style="font-size: 1.2em;  color: #ffffff" class="fas fa-chevron-down"></i>
            {%else%}
                <i id="caret" style="font-size: 1.2em;  color: #00000" class="fas fa-chevron-right"></i>
            {% endif %}
        {% endif %} 
         
         {% if page.content_model == 'publicationlibrary'%}
            {% with page.publicationlibrary|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
         {% elif page.content_model == 'richtextpage'%}
            {% with page.richtextpage|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
         {% elif page.content_model == 'link'%}
            {% with page.link|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
         {% else %}
         {{ page.title }}
        {% endif %}
        
        
        
        
      
    </a>{% endif %}
    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {% if page.is_current_or_ascendant %}
        {% if page.has_children_in_menu %} {% page_menu page %}{% endif %}
    {% endif %}
  </li>
  {% endif %} {# page.is_current_or_ascendant or not page.is_primary #}
  

  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{# </div> #}
{% endspaceless %}
