{% load i18n future pages_tags %}
 {% block pageinfo %}
<div class="card" style="width: 100%">
  <div class="card-header">
    <h5 class="my-0">{% trans "IPPC Policy for the use of the IPPC Logo" %}</h5>
    <p>
        The following policy on the use of the IPPC logo applies:
    </p>
  </div>
  

	
    
 <ul class="list-group list-group-flush">
          <li class="list-group-item">The IPPC logo can be used in/on all materials related to activities endorsed by the CPM or undertaken by the IPPC Secretariat.</li>
          <li class="list-group-item">The IPPC logo can only be used in/on training materials, seminar presentations, etc where these are endorsed or supported by CPM or the IPPC Secretariat. This includes training activities within FAO.</li>
          <li class="list-group-item">The IPPC logo could be used in/on NPPO materials related to activities endorsed by the CPM or undertaken by the IPPC Secretariat provided it is authorized by the IPPC Secretariat before publication/use. It should be made clear that the logo does not imply endorsement by the IPPC (e.g. with a footnote in the document).</li>
          <li class="list-group-item">The IPPC logo could be used in/on materials generated through joint activities with relevant international organizations endorsed by the CPM or undertaken by the IPPC Secretariat provided it is authorized by the IPPC Secretariat before publication/use. It may be necessary to made it clear that the logo does not imply endorsement by the IPPC (e.g. with a footnote in the document).</li>
          <li class="list-group-item">RPPOs should be allowed to use the IPPC logo on/in materials that have a direct relevance to IPPC. Where these materials produced by the RPPOs are not specifically endorsed by CPM or the IPPC Secretariat it should be made clear that the logo does not imply endorsement by the IPPC, (for example with a footnote in the document).</li>
          <li class="list-group-item">The IPPC logo is not authorized for use on any commercial products. Private consultants are not authorized to use the logo unless undertaking an activity directly endorsed or supported by CPM or the IPPC Secretariat.</li>
          <li class="list-group-item">Speakers at seminars, conferences and training courses should not use the logo in a way that implies they are speaking on behalf of the IPPC unless they have been specifically authorized to do so.</li>
          <li class="list-group-item">All other uses of the IPPC logo should be considered by the Secretariat as whole before usage and if appropriate refer this to the CPM Bureau for advice.</li>
    </ul>
    
    <!-- <p>See Appendix 5 of the <a href="https://www.ippc.int/publications/???">Report of the CPM Bureau Meeting, 7-8 October 2010</a> <strong>(PDF 176kb)</strong> for a table with specific examples and guidance regarding the use of the IPPC logo.</p> -->
    
      </div>
     {% endblock pageinfo %}