{% load i18n future pages_tags %}
<div class="panel">
    <h4>{% trans "Resources and Tools" %}</h4>


   
<ul>
<li><a href="/core-activities/governance/convention-text/">IPPC text & related information</a></li>
<li><a href="/calls/">Calls & Deadlines</a></li>
<li><a href="https://ocs-new.ippc.int/public/standard.aspx?content=https%3A//ocs-new.ippc.int/Public/LoginPage.aspx%3FReturnUrl%3D%252f">Online Comment System (OCS)</a></li>
<li><a href="/publications/1015/">Strategic Framework</a></li>
<li><a href="/core-activities/standards-setting/development-standards/searchable-pdf-database/">Searchable PDF Database</a></li>
<li><a href="/core-activities/standards-setting/technical-panels/technical-panel-phytosanitary-treatments/phytosanitary-treatments-tool/">Phytosanitary Treatments search tool</a></li>
<li><a href="/core-activities/ippc-standard-setting-procedure-manual/">Standard Setting Procedure Manual</a></li>
<li><a href="/publications/81329/">Style Guide</a></li>
<li><a href="/publications/84364/">Translation Resources</a></li>
<li><a href="/core-activities/standards-setting/development-standards/virtual-tools/">Virtual Tools</a></li>
<li><a href="/core-activities/standards-setting/development-standards/outreach-materials/">Outreach Materials</a>
     <ul>
        <li><a href="/publications/626/">ISPMs list</a></li>
        <li><a href="/publications/83835/">Standard Setting Process</a></li>
        <li><a href="/publications/84258/">Glossary Brochure</a></li>
        <li><a href="/publications/84043/">DP Brochure</a></li>
        <li><a href="/publications/84547/">SSU year at a glance</a></li>
       </ul>
</li>
</ul>
</div>
