{% load i18n future pages_tags %}

{% spaceless %}
{# <div class="treemenu"> #}
{% if page_branch_in_menu %}
<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
    {# treemenu class enables tree dropdown with CSS3 http://stackoverflow.com/a/16664260 #}
  {% for page in page_branch %}
  {# {% if not has_home and page.is_primary and forloop.first %} #}
  {# <li class="first{% if on_home %} active{% endif %}" #}
  {#     id="tree-menu-home"> #}
  {#     <a href="{% url "home" %}">{% trans "Home" %}</a> #}
  {# </li> #}
  {# {% endif %} #}
  {% if page.in_menu %}
  
  
  
  {% if page.is_current_or_ascendant or not page.is_primary %}
  
  
  
  <li class="
             {% if page.is_current %} active{% endif %}
             {% if not page.is_primary and forloop.first %} first{% endif %}
             {% if forloop.last %} last{% endif %}"
      id="tree-menu-{{ page.html_id }}">
      
      {% load translate_tags %}
    <a href="{{ page.get_absolute_url }}">
        {# {% with page.richtextpage|get_object_translation as translated_page %}{{ translated_page.title|safe }}{% endwith %} #}
        
        {% with page.richtextpage|get_object_translation as translated_page %}
        {% if translated_page.title %}
            {{ translated_page.title|safe }}
            {% else %}
            {{ page.title }}
        {% endif %}
        {% endwith %}
    </a>
    {# wrap the next line with 'if page.is_current_or_ascendant' #}
    {# to only show child pages in the menu for the current page #}
    {% if page.is_current_or_ascendant %}
        {% if page.has_children_in_menu %}{% page_menu page %}{% endif %}
    {% endif %}
  </li>
  
  
  {% endif %} {# page.is_current_or_ascendant or not page.is_primary #}
  
  
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
{# </div> #}
{% endspaceless %}
