{% extends "pce/basepce.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}
{% if context == 'View' or context == 'Edit'%}
{% block meta_title %}{% trans "Logical Framework" %} - {{ user.get_profile.country.name}} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
<li class="active">{% trans "Logical Framework for Module " %}{{module}}</li>
{% endblock %}


{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{%endif%}

{% block main %}
{% block content %}
<div id="content">

    {% if can_edit and context == 'Edit' or can_see and context == 'View' or can_see and context == 'Pdf' %}

<div class="row-fluid">
    <div class="span8">
   
   <h4>{% trans "Logical Framework" %}</h4>
      {% if  context == 'Edit' or   context == 'View'  %}
            {% include "pce/tools_panel.html" %} 
            {%endif%}
        </div>
    {% include "pce/userdetails_panel.html" %} 

    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h3 class="panel-title"> {% trans "Logical Framework - Module" %} {{module}}
                    
                         {% if context == 'View' and can_edit  and id != ''%}  
                    <span  class="pull-right">  
                   <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/logicalframework/edit/{{lf_id}}">{% trans "Edit table" %}</a>
                   </span>
                   {% endif%}
                    </h3>
                  
                </div>
                <div class="panel-body">
       {% if context == 'Edit' %}

                    <form class="customform" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {% if form.non_field_errors or form.errors %}
                            <div class="alert alert-error">{% trans "Please correct the errors below." %}
                                <ul>
                                    {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <table class="table">
                               
                                  
                                    <tr class="success">
                                        <td>{% trans "Overall Objective" %}</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                    </tr>
                                     <tr>
                                        {% for f in form %}
                                        {% if f.name == 'overobjective' or f.name == 'keyindicator0' or f.name == 'verification0' or f.name == 'assumptions0' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                    </tr>
                                    
                               <tr class="success">
                                        <td>{% trans "Objective" %}</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                    </tr>
                                    <tr>
                                        {% for f in form %}
                                        {% if f.name == 'objective' or f.name == 'keyindicator' or f.name == 'verification' or f.name == 'assumptions' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                    </tr>
                                    {{ form1.management_form }}
                                    {{ form1.non_form_errors }}
                                    {{ form2.management_form }}
                                    {{ form2.non_form_errors }}
                                    {{ form3.management_form }}
                                    {{ form3.non_form_errors }}
                                    {{ form4.management_form }}
                                    {{ form4.non_form_errors }}
                                    {{ form5.management_form }}
                                    {{ form5.non_form_errors }}
                        
                                    <tr>
                                        <td colspan="4"  style="background:#ffc; ">{% trans "Weakness" %} 1: {{weakeness.w1}}</td>
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Output" %}  1</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                    </tr>
                                     <tr> 
                                        {% for f in form %}
                                        {% if f.name == 'output1' or f.name == 'keyindicator1' or f.name == 'verification1' or f.name == 'assumptions1' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                          
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Activity 1" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Estimated cost" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Identify a Responsible person" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Specify a deadline" %}</td>
                                      </tr>
		

                                    {% for form in form1 %}   
                                    <tr class="inline {{ form1.prefix }}"> 
                                        {% for f in form %}
                                        {% if not f.name == 'logicalframework' and not f.label == 'Id'%}
                                             <td> {{f }}</td> 
                                        {% else %}
                                             {{f.as_hidden}}
                                        {% endif %}    
                                        {% endfor %}
                                        {% if form1.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                  
                                    
                                     <tr>
                                        <td colspan="4"  style="background:#ffc; ">{% trans "Weakness" %} 2: {{weakeness.w2}}</td>
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Output" %}  2</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                          
                                    </tr>
                                     <tr> 
                                        {% for f in form %}
                                        {% if f.name == 'output2' or f.name == 'keyindicator2' or f.name == 'verification2' or f.name == 'assumptions2' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                          
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Activity 2" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Estimated cost" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Identify a Responsible person" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Specify a deadline" %}</td>
                                      </tr>
		

                                    {% for form in form2 %}   
                                    <tr class="inline {{ form2.prefix }}"> 
                                        {% for f in form %}
                                        {% if not f.name == 'logicalframework' and not f.label == 'Id'%}
                                             <td> {{f }}</td> 
                                        {% else %}
                                             {{f.as_hidden}}
                                        {% endif %}    
                                        {% endfor %}
                                        {% if form2.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    
                                    
                                     <tr>
                                        <td colspan="4"  style="background:#ffc; ">{% trans "Weakness" %} 3: {{weakeness.w3}}</td>
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Output" %}  3</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                          
                                    </tr>
                                     <tr> 
                                        {% for f in form %}
                                        {% if f.name == 'output3' or f.name == 'keyindicator3' or f.name == 'verification3' or f.name == 'assumptions3' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                          
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Activity 3" %}</td>
                                        <!--td style="background:#A4A4A4; ">{% trans "Target" %}</td>
                                        <td style="background:#A4A4A4; ">{% trans "Source of verification" %}</td>
                                        <td style="background:#A4A4A4; ">{% trans "External factors and conditions to be addressed" %}</td-->
                                        <td style="background:#BDBDBD; ">{% trans "Estimated cost" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Identify a Responsible person" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Specify a deadline" %}</td>
                                      </tr>
		

                                    {% for form in form3 %}   
                                    <tr class="inline {{ form3.prefix }}"> 
                                        {% for f in form %}
                                        {% if not f.name == 'logicalframework' and not f.label == 'Id'%}
                                             <td> {{f }}</td> 
                                        {% else %}
                                             {{f.as_hidden}}
                                        {% endif %}    
                                        {% endfor %}
                                        {% if form4.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    
                                    
                                     <tr>
                                        <td colspan="4"  style="background:#ffc; ">{% trans "Weakness" %} 4: {{weakeness.w4}}</td>
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Output" %}  4</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                          
                                    </tr>
                                     <tr> 
                                        {% for f in form %}
                                        {% if f.name == 'output4' or f.name == 'keyindicator4' or f.name == 'verification4' or f.name == 'assumptions4' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                          
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Activity 4" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Estimated cost" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Identify a Responsible person" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Specify a deadline" %}</td>
                                      </tr>
		

                                    {% for form in form4 %}   
                                    <tr class="inline {{ form4.prefix }}"> 
                                        {% for f in form %}
                                        {% if not f.name == 'logicalframework' and not f.label == 'Id'%}
                                             <td> {{f }}</td> 
                                        {% else %}
                                             {{f.as_hidden}}
                                        {% endif %}    
                                        {% endfor %}
                                        {% if form4.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    
                                <tr>
                                        <td colspan="4"  style="background:#ffc; ">{% trans "Weakness" %} 5: {{weakeness.w5}}</td>
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Output" %}  5</td>
                                        <td>{% trans "Key Indicator" %}</td>
                                        <td>{% trans "Means of Verification" %}</td>
                                        <td>{% trans "Assumptions" %}</td>
                                          
                                    </tr>
                                     <tr> 
                                        {% for f in form %}
                                        {% if f.name == 'output5' or f.name == 'keyindicator5' or f.name == 'verification5' or f.name == 'assumptions5' %}
                                        <td>{{f}}</td>
                                        {% endif %}         
                                        {% endfor %} 
                                          
                                    </tr>
                                    <tr class="success">
                                        <td>{% trans "Activity 5" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Estimated cost" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Identify a Responsible person" %}</td>
                                        <td style="background:#BDBDBD; ">{% trans "Specify a deadline" %}</td>
                                      </tr>
		

                                    {% for form in form5 %}   
                                    <tr class="inline {{ form5.prefix }}"> 
                                        {% for f in form %}
                                        {% if not f.name == 'logicalframework' and not f.label == 'Id'%}
                                             <td> {{f }}</td> 
                                        {% else %}
                                             {{f.as_hidden}}
                                        {% endif %}    
                                        {% endfor %}
                                        {% if form5.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    
                            </table>





                            <div class="form-actions">
                                <a class="btn btn-small btn-info" href="javascript:history.go(-1)">{% trans "Close" %}</a>
                                <button type="submit" class="btn btn-info btn-large" tabindex="7" value="save">{% trans "Save" %}</button>
                            </div>
                        </fieldset>
                    </form>
       
       {%else%}
            {% if latest %} 
                      <table class="table">
                            <tr class="success">
                                <td style="background:#BDBDBD; ">{% trans "Overall Objective" %}</td>
                                <td style="background:#BDBDBD; ">{% trans "Key Indicator" %}</td>
                                <td style="background:#BDBDBD; ">{% trans "Means of Verification" %}</td>
                                <td style="background:#BDBDBD; ">{% trans "Assumptions" %}</td>
                            </tr>  
                            {% for object in latest %} 
                             <tr> 
                                 <td>{{object.overobjective}}</td>
                                 <td>{{object.keyindicator0}}</td>
                                 <td>{{object.verification0}}</td>
                                 <td>{{object.assumptions0}}</td>

                             </tr>  
                             {% endfor%}  
                            <tr class="success">
                                <td style="background:#BDBDBD; ">{% trans "Objective" %}</td>
                                <td style="background:#BDBDBD; ">{% trans "Key Indicator" %}</td>
                                <td style="background:#BDBDBD; ">{% trans "Means of Verification" %}</td>
                                <td style="background:#BDBDBD; ">{% trans "Assumptions" %}</td>
                            </tr>
                            {% for object in latest %} 
                                <tr> 
                                    <td>{{object.objective}}</td>
                                    <td>{{object.keyindicator}}</td>
                                    <td>{{object.verification}}</td>
                                    <td>{{object.assumptions}}</td>

                                </tr>
                            {% endfor%}  
                          <tr>
                            <td colspan="4" style="background:#ffc; "><b>{% trans "Weakness 1" %}</b>: {{weakeness.w1}}</td>
                         </tr>      
                         {% for object in latest %} 
                            <tr class="success">
                               <td style="background:#eee; ">{% trans "Output 1" %}</td>
                               <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
                               <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
                               <td style="background:#eee; ">{% trans "Assumptions" %}</td>
                           </tr>
                            <tr> 
                                <td><b>1)</b> {{object.output1}}</td>
                                <td>{{object.keyindicator1}}</td>
                                <td>{{object.verification1}}</td>
                                <td>{{object.assumptions1}}</td>

                            </tr>    
                               <tr class="success">
                                <td style="background:#eee; ">Activity</td>
                                <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
                                <td style="background:#eee; ">{% trans "Responsable person" %}</td>
                                <td style="background:#eee; ">{% trans "Deadline" %}</td>
                            </tr>        
                        {% endfor %} 
                  
                               {% if latest1 %} 
                                    {% for object in latest1 %} 
                                        <tr> 
                                            <td><b>1.{{forloop.counter}})</b>{{object.activity1}}</td>
                                            <td>{{object.cost}}</td>
                                            <td>{{object.responsible}}</td>
                                            <td>{{object.deadline}}</td>
                                        </tr>  
                                    {% endfor%}  
                               {% endif %}  
                           <tr>
                            <td colspan="4" style="background:#ffc; "><b>{% trans "Weakness 2" %}</b>: {{weakeness.w2}}</td>
                         </tr>      
                         {% for object in latest %} 
                            <tr class="success">
                               <td style="background:#eee; ">{% trans "Output 2" %}</td>
                               <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
                               <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
                               <td style="background:#eee; ">{% trans "Assumptions" %}</td>
                           </tr>
                            <tr> 
                                <td><b>1)</b> {{object.output2}}</td>
                                <td>{{object.keyindicator2}}</td>
                                <td>{{object.verification2}}</td>
                                <td>{{object.assumptions2}}</td>

                            </tr>    
                               <tr class="success">
                                <td style="background:#eee; ">Activity</td>
                                <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
                                <td style="background:#eee; ">{% trans "Responsable person" %}</td>
                                <td style="background:#eee; ">{% trans "Deadline" %}</td>
                            </tr>        
                        {% endfor %} 
                  
                               {% if latest2 %} 
                                    {% for object in latest2 %} 
                                        <tr> 
                                            <td><b>2.{{forloop.counter}})</b>{{object.activity2}}</td>
                                            <td>{{object.cost}}</td>
                                            <td>{{object.responsible}}</td>
                                            <td>{{object.deadline}}</td>
                                        </tr>  
                                    {% endfor%}  
                               {% endif %}  
                              
                               
                                 <tr>
                            <td colspan="4" style="background:#ffc; "><b>{% trans "Weakness 3" %}</b>: {{weakeness.w3}}</td>
                         </tr>      
                         {% for object in latest %} 
                            <tr class="success">
                               <td style="background:#eee; ">{% trans "Output 3" %}</td>
                               <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
                               <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
                               <td style="background:#eee; ">{% trans "Assumptions" %}</td>
                           </tr>
                            <tr> 
                                <td><b>3)</b> {{object.output3}}</td>
                                <td>{{object.keyindicator3}}</td>
                                <td>{{object.verification3}}</td>
                                <td>{{object.assumptions3}}</td>

                            </tr>    
                               <tr class="success">
                                <td style="background:#eee; ">Activity</td>
                                <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
                                <td style="background:#eee; ">{% trans "Responsable person" %}</td>
                                <td style="background:#eee; ">{% trans "Deadline" %}</td>
                            </tr>        
                        {% endfor %} 
                  
                               {% if latest3 %} 
                                    {% for object in latest3 %} 
                                        <tr> 
                                            <td><b>3.{{forloop.counter}})</b>{{object.activity3}}</td>
                                            <td>{{object.cost}}</td>
                                            <td>{{object.responsible}}</td>
                                            <td>{{object.deadline}}</td>
                                        </tr>  
                                    {% endfor%}  
                               {% endif %}  
                              
                               
                               
                                 <tr>
                            <td colspan="4" style="background:#ffc; "><b>{% trans "Weakness 4" %}</b>: {{weakeness.w4}}</td>
                         </tr>      
                         {% for object in latest %} 
                            <tr class="success">
                               <td style="background:#eee; ">{% trans "Output 4" %}</td>
                               <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
                               <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
                               <td style="background:#eee; ">{% trans "Assumptions" %}</td>
                           </tr>
                            <tr> 
                                <td><b>4)</b> {{object.output4}}</td>
                                <td>{{object.keyindicator4}}</td>
                                <td>{{object.verification4}}</td>
                                <td>{{object.assumptions4}}</td>

                            </tr>    
                               <tr class="success">
                                <td style="background:#eee; ">Activity</td>
                                <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
                                <td style="background:#eee; ">{% trans "Responsable person" %}</td>
                                <td style="background:#eee; ">{% trans "Deadline" %}</td>
                            </tr>        
                        {% endfor %} 
                  
                               {% if latest4 %} 
                                    {% for object in latest4 %} 
                                        <tr> 
                                            <td><b>4.{{forloop.counter}})</b>{{object.activity4}}</td>
                                            <td>{{object.cost}}</td>
                                            <td>{{object.responsible}}</td>
                                            <td>{{object.deadline}}</td>
                                        </tr>  
                                    {% endfor%}  
                               {% endif %}  
                              
                               
                               
                                 <tr>
                            <td colspan="4" style="background:#ffc; "><b>{% trans "Weakness 5" %}</b>: {{weakeness.w5}}</td>
                         </tr>      
                         {% for object in latest %} 
                            <tr class="success">
                               <td style="background:#eee; ">{% trans "Output 5" %}</td>
                               <td style="background:#eee; ">{% trans "Key Indicator" %}</td>
                               <td style="background:#eee; ">{% trans "Means of Verification" %}</td>
                               <td style="background:#eee; ">{% trans "Assumptions" %}</td>
                           </tr>
                            <tr> 
                                <td><b>5)</b> {{object.output5}}</td>
                                <td>{{object.keyindicator5}}</td>
                                <td>{{object.verification5}}</td>
                                <td>{{object.assumptions5}}</td>

                            </tr>    
                               <tr class="success">
                                <td style="background:#eee; ">Activity</td>
                                <td style="background:#eee; ">{% trans "Estimated cost" %}</td>
                                <td style="background:#eee; ">{% trans "Responsable person" %}</td>
                                <td style="background:#eee; ">{% trans "Deadline" %}</td>
                            </tr>        
                        {% endfor %} 
                  
                               {% if latest5 %} 
                                    {% for object in latest5 %} 
                                        <tr> 
                                            <td><b>5.{{forloop.counter}})</b>{{object.activity5}}</td>
                                            <td>{{object.cost}}</td>
                                            <td>{{object.responsible}}</td>
                                            <td>{{object.deadline}}</td>
                                        </tr>  
                                    {% endfor%}  
                               {% endif %}  
                              
                               
                               
                    </table> 
        {% endif%} 
              {% if context == 'View' %} 
                 
           <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/view/{{moduleid}}"><- {% trans "back to Module" %} {{module}}</a></span></h3>
        &#160;&#160;&#160;<a class="btn  btn-info" href="javascript:window.print();">{% trans "PRINT" %}</a>
            &#160;&#160;&#160;    <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/logicalframework/pdf/{{lf_id}}">{% trans "Export as PDF" %}</a>
              {% endif %} 
       {% endif %}
         
         
                </div>

            </div>      
        </div>

    </div>
    {% else %}{% nevercache %}
        {% include "pce/permission_block.html" %}
        {% endnevercache %}
        {% endif %}

    </div> 
    {% endblock %}
    {% endblock %}



    {% block extra_js %}
    <script src="{% static "js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/DT_bootstrap.js" %}"></script>
    {% endblock %}
