{% extends 'pce/basepce.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "PCE Module List" %} - {{ user.get_profile.country.name}} {% endblock %}



{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}

<li>
    <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{session_id}}">  {% trans "Dashboard" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
    {% trans "Modules List" %}
</li>

{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}



{% block main %}
{% if can_see %}
<div class="row-fluid">
    <div class="span8">
        <h4>{% trans "Q & A Modules" %}</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>{% trans "Please click on 'Edit' under the module titles to work on one module, once a module is complete links to some planning tools will become active beneath the completed module title. Other tools are always available." %}</p>
                <p><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{session_id}}"><< {% trans "Back to" %} {{ user.get_profile.country.name }} {% trans " Dashboard" %}</a></p>
            </div>
        </div>
    </div> 
    {% include "pce/userdetails_panel.html" %}
</div>
</div> 

<div class="row-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"> {% trans "Module List"%}</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                {% for i in range1 %}
                    {% if i == 1 or i == 4 or i == 7 %}
                    <tr class="success">
                        <td colspan="4">
                            {% if i == 1%}
                                {% trans "SYSTEM LEVEL"%}
                            {% elif i == 4%}
                               {% trans "ORGANIZATION LEVEL"%}
                            {% elif i == 7%}
                                {% trans "CORE ACTIVITIES"%}
                            {% endif %}  
                        </td>
                    </tr>
                    <tr class="warning">
                        <td>{% trans "No."%}</th>			
                        <td>{% trans "Module Title"%}</td>
                        <td>{% trans "Planning Tools"%}</td>
                        <td>{% trans "Progress & Last Update"%}</td>
                    </tr>
                {% endif%}    
                {% if i in  chosen_modules %}	
                    <tr>
                        <th scope="row">{{i}}</th>
                        <td>
                            {% for key,value in m_ids.items %}
                                {% if key == i %}
                                    {% if key in filled_stakeh_array %}
                                        {% for key1,value1 in m_names.items %}
                                           {% if key1 == i %}
                                                   <b>{{value1}}</b>
                                              {% endif %}
                                        {% endfor %}
                                        {%if key == 2 %}
                                           {%  if m2_ids.0 != '' or m2_ids.1 != '' %}
                                            <br><b>Part 1:</b>
                                                {%  if m2_ids.0 != '' %}
                                                     <br> <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_1/edit/{{m2_ids.0}}">{% trans "EDIT" %}</a>
                                                      <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_1/view/{{m2_ids.0}}">{% trans "VIEW" %}</a>
                                                    <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_1/empty">{% trans "VIEW empty" %}</a>
                                                {% else %}
                                                    <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_1/edit">{% trans "EDIT" %}</a>
                                                    <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_1/empty">{% trans "VIEW empty" %}</a>
                                                {% endif %}
                                             
                                            <br> <b>Part 2:</b>
                                             {%  if m2_ids.1 != '' %}
                                                      <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_2/edit/{{m2_ids.1}}">{% trans "EDIT" %}</a>
                                                      <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_2/view/{{m2_ids.1}}">{% trans "VIEW "%}</a>
                                                    <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_2/empty">{% trans "VIEW empty" %}</a>
                                                {% else %}
                                                  <br> <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_2/edit">{% trans "EDIT" %}</a>
                                                    <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module2_2/empty">{% trans "VIEW empty" %}</a>
                                                {% endif %}
                                                
                                            {% endif %}
                                        {% else %}
                                            {% if value != '' %}
                                                <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/edit/{{value}}">{% trans "EDIT" %}</a>
                                                <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/view/{{value}}">{% trans "VIEW" %}</a>
                                                <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/empty">{% trans "VIEW empty" %}</a>
                                            {% else %}
                                                <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/edit">{% trans "EDIT" %}</a>
                                                <br><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/empty">{% trans "VIEW empty" %}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% for key1,value1 in m_names.items %}
                                            {% if key1 == i %}
                                            <b>{{value1}}</b>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}      
                                {% endif %} 
                            {% endfor %}    
                               
                        </td>
                        <td>
                            <ol>
                                <li>
                                    {% for key,value in stake_ids.items %}
                                    {% if key in chosen_modules and key == i%}
                                        {% if value != '' %}
                                         <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/stakeholders/view/{{value}}">{% trans "Stakeholders" %}</a>
                                        {% else %}
                                          <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/stakeholders/view">{% trans "Stakeholders" %}</a>
                                        {% endif %}      
                                    {% endif %}      

                                    {% endfor %}
                                </li>
                                   {% for key,value in pa_ids.items %}
                                     {%if key == i and key != 1%}
                                <li>                          

                                 
                                        {% if key in filled_stakeh_array and key in filled_m_array and key != 1 and key in chosen_modules %} 
                                             
                                            {% if value != '' %}
                                                <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/problemanalysis/{{value}}">{% trans "Problem Analysis" %}</a>
                                            {% else %}
                                                <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/problemanalysis/view">{% trans "Problem Analysis" %}</a>
                                            {% endif %}
                                         {% else %}        
                                             {% trans "Problem Analysis" %}
                                         {% endif %}      
                                      
                                </li>
  {% endif %}      
                                    {% endfor %}
                                {% for key,value in sa_ids.items %}
                                    {% if key == i and key != 1%}
                                    <li>


                                        {% if key in filled_stakeh_array  and key != 1 and key in chosen_modules and key in filled_pa_array and key in filled_m_array %}
                                           {% if value != '' %}
                                                <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/swotanalysis/{{value}}">{% trans "Swot Analysis" %}</a>
                                            {% else %}
                                                <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/swotanalysis/view">{% trans "Swot Analysis" %}</a>
                                            {% endif %}
                                        {% else %}
                                            {% trans "Swot Analysis" %}
                                        {% endif %}      
                                   



                                </li> {% endif %}      

                                    {% endfor %}
                                 {% for key,value in lf_ids.items %}
                                    {% if key == i and key != 1%}
                                    <li>
                                                 {% if key in filled_stakeh_array and key in chosen_modules  and key != 1 and key in filled_pa_array and key in filled_sa_array and key in filled_m_array %}

                                            {% if value != '' %}
                                            <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/logicalframework/{{value}}">{% trans "Logical Framework" %}</a>
                                            {% else %}
                                            <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{key}}/logicalframework/view">{% trans "Logical Framework" %}</a>
                                        {% endif %}      
                                         {% else %}
                                            {% trans "Logical Framework" %}
                                  
                                    {% endif %}      
                                  

                                </li>   {% endif %}      

                                    {% endfor %}
                            </ol>
                        </td>
                        <td>
                            {% for key,value in full_pce.items %}
                            {% if key == i %}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="{{value}}" style="min-width: 2em; width: {{value}}%;">{{value}}%</div>
                            </div>
                            {% endif %}
                            {% endfor %} 
                            {% for key,value in modifydate_ids.items %}
                            {% if key == i %}
                           
                            <p><small>{% trans "Last updated:" %}{{value|date:"d M Y" }}</small></p>
                              {% endif %}
                            {% endfor %}
                             {% for key,value in full_pce.items %}
                             {% if key == i and value == 100 and sessionstatus == 1%}
                                     {% for key1,value1 in m_status.items %}
                                      {% if key1 == i %}
                                      {% if key == 2 %}
                                       
                                      
                                      
                                      {% if m2_status.0 == 4 %}
                                             <span class="label label-warning">VALIDATED</span>
                                                   {% for key2,value2 in m_ids.items %}
                                                  {% if key2 == key %}
                                                            <a class="btn btn-small btn-warning" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/unvalidate/{{m2_ids.1}}">{% trans "Unvalidate" %}</a>
                                                        {% endif %}  
                                                    {% endfor %}     
                                             
                                                  
                                         {% else %}
                                             {% if can_validate %}
                                                    {% if  m2_status.0 == 3 %}
                                                        <span class="label label-warning">SENT to validator</span><br>
                                                     {%else%}
                                                       {% endif %} 
                                                     {% for key2,value2 in m_ids.items %}
                                                        {% if key2 == key %}
                                                            <a class="btn btn-small btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/validate/{{m2_ids.1}}">{% trans "Validate" %}</a>
                                                        {% endif %}  
                                                    {% endfor %} 
                                                   
                                                {% elif can_sendtovalidator %}
                                                    {% if  m2_status.0 == 3 %}
                                                       <span class="label label-warning">SENT to validator</span>
                                                    {%else%}   
                                                     {% for key2,value2 in m_ids.items %}
                                                        {% if key2 == key %}
                                                            <a class="btn btn-small btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/send/{{m2_ids.1}}">{% trans "Send to Validator" %}</a>
                                                        {% endif %}  
                                                    {% endfor %} 
                                                     
                                                    {% endif %} 
                                                {% endif %}
                                          {% endif %}   
           
                                       
                                       
                                       
                                      
                                      
                                      
                                      
                                      
                                       
                                      
                                      {%else%}
                                      
                                         {% if value1 == 4 %}
                                             <span class="label label-warning">VALIDATED</span>
                                                   {% for key2,value2 in m_ids.items %}
                                                  {% if key2 == key %}
                                                            <a class="btn btn-small btn-warning" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/unvalidate/{{value2}}">{% trans "Unvalidate" %}</a>
                                                        {% endif %}  
                                                    {% endfor %}     
                                             
                                                  
                                         {% else %}
                                             {% if can_validate %}
                                                    {% if value1 == 3 %}
                                                        <span class="label label-warning">SENT to validator</span><br>
                                                     {%else%}
                                                       {% endif %} 
                                                     {% for key2,value2 in m_ids.items %}
                                                        {% if key2 == key %}
                                                            <a class="btn btn-small btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/validate/{{value2}}">{% trans "Validate" %}</a>
                                                        {% endif %}  
                                                    {% endfor %} 
                                                   
                                                {% elif can_sendtovalidator %}
                                                    {% if value1 == 3 %}
                                                       <span class="label label-warning">SENT to validator</span>
                                                    {%else%}   
                                                     {% for key2,value2 in m_ids.items %}
                                                        {% if key2 == key %}
                                                            <a class="btn btn-small btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{key}}/send/{{value2}}">{% trans "Send to Validator" %}</a>
                                                        {% endif %}  
                                                    {% endfor %} 
                                                     
                                                    {% endif %} 
                                                {% endif %}
                                          {% endif %}   
                                       {% endif %}   
                                       
                                       
                                      {% endif %}  
                                          {% endfor %} 
                            
                            
                            
                            
                            
                            
                            
                            
                              {% endif %}
                            {% endfor %}  
                           
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}  



                </tbody>
            </table>
        </div>
    </div>
</div> </div>

{% else %}
<p class="alert alert-warning">No permissions to see this page.</p>
{% endif %}

{% endblock %}
