{% extends "pce/basepce.html" %}

{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% if context == 'View' or context == 'Edit'%}
    {% block meta_title %}{% trans "Module 1  - Country Profile" %} - {{ user.get_profile.country.name}} {% endblock %}

    {% block body_class %}wide{% endblock %}

    {% block breadcrumb_menu %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
            <span class="divider">/</span>
        <li>
        <li class="active">{% trans "Module 1  - Country Profile" %}</li>
    {% endblock %}

    {% block local_nav %}
    {% endblock local_nav %}

    {% block pageinfo %}
    {% endblock pageinfo %}
{%endif%}
    
   
{% block main %}  
    {% block content %}
    <div id="content">
     
    <h1><span class="normal">{% trans "Module 1  - Country Profile" %}</span></h1>

     {% if can_edit and context == 'Edit' or can_see and context == 'View' or can_see and context == 'Pdf' %}
  
        {% if context == 'View' or context == 'Edit'%}
            <p><a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/session/{{sessionid}}/modules"><< {% trans "Back to Module List" %}</a></p>
 
            <div class="row-fluid">
               <div class="span8">
                 {% include "pce/tools_panel.html" %} 
                </div>    
        {%endif%}
        
        {% include "pce/userdetails_panel.html" %} 
     
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h6 class="panel-title"> {% trans "COUNTRY PROFILE" %}</h6>
                    {% if context == 'View' and can_edit  and id != ''%}  
                        <span  class="pull-right">
                          <a  class="btn btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module1/edit/{{id}}">Edit Module</a>
                        </span>
                    {%endif%} 
                </div>
                <div class="panel-body">
                    <p class="alert alert-warning" {%if context == 'Pdf' %}style="background:#faf2cc;"{%endif%}>{% trans "Develop a profile of the country's economic and phytosanitary activity and to establish its relative importance in the nation's economy." %}</p>
                     {% if context == 'Edit' %}  
                        <form class="customform" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                     {%endif%}    
                        <fieldset>
                         {% if context == 'Edit' %} 
                                {% if form.non_field_errors or form.errors %}
                                   <div class="alert alert-error">{% trans "Please correct the errors below." %}
                                       <ul>
                                           {% for error in form.non_field_errors %}
                                           <li>{{ error }}</li>
                                           {% endfor %}
                                           {% for error in form.errors %}
                                           <li>{{ error }}</li>
                                           {% endfor %}
                                       </ul>
                                   </div>
                                 {%endif%}  
                           {% endif %}
                           <table class="table">
                                    <tr class="success">
                                        <td {%if context == 'Pdf' %}width="70%" style="background:#BDBDBD;"{%endif%}><b>{% trans "No. Question" %}</b></td>
                                        <td {%if context == 'Pdf' %}width="30%" style="background:#BDBDBD;"{%endif%}><b>{% trans "Tip" %}</b></td>
                                    </tr>
                                     <tbody>
                                    {% for f in form %}
                                    {% if not f.is_hidden and not f.name == 'm_comment' and not f.name == 'c_country' and not f.name == 'c_region' and not f.name == 'c_m_3' and not f.name == 'c_m_4' and not f.name == 'c_m_5' and not f.name == 'c_m_6' and not f.name == 'c_m_7' and not f.name == 'c_m_8' and not f.name == 'c_m_9' and not f.name == 'c_m_10' and not f.name == 'c_m_11' and not f.name == 'c_m_12' and not f.name == 'c_m_13' and not f.name == 'c_m_14' and not f.name == 'c_m_15' and not f.name == 'c_m_16' and not f.name == 'c_m_17' and not f.name == 'c_m_18' and not f.name == 'c_m_19' and not f.name == 'c_m_20' and not f.name == 'c_m_21' and not f.name == 'c_m_21' and not f.name == 'c_m_22' and not f.name == 'c_m_23' and not f.name == 'c_m_24' and not f.name == 'c_m_25'  and not f.name == 'c_m_26' %}
                                    <tr>
                                        <td>
                                            <div class="control-group">
                                                <label>{% if f.name == 'country'%}1. {% endif %}{{f.label|safe}}</label>
                                                <div class="controls">
                                                   {%if f.name == 'm_10' %}
                                                    <ul>
                                                            <li>
                                                                <label for="id_{{f.name}}_1" class="control-label">
                                                                <input {% if context == 'View' %}readonly="true"{%endif%} id="id_{{f.name}}_1" name ="{{f.name}}" type="radio" value="True" {% if f.value == True %}checked{%endif%} {%if context == 'Edit' %}onclick="checkRules();"{%endif%} > {%if context == 'Pdf' %}{% if f.value == True %}<b><u>{%endif%}{% trans "Yes" %} {% if f.value == True %} </u> &#10003; </b>{%endif%}{%else%}{% trans "Yes" %}{%endif%}</label>

                                                            </li>
                                                            <li> 
                                                               <label for="id_{{f.name}}_2" class="control-label">
                                                               <input {% if context == 'View' %}readonly="true"{%endif%} id="id_{{f.name}}_2" name ="{{f.name}}" type="radio" value="False" {% if f.value == False %}checked{%endif%} {%if context == 'Edit' %}onclick="checkRules();"{%endif%} > {%if context == 'Pdf' %}{% if f.value == False %}<b><u>{%endif%}{% trans "No" %} {% if f.value == False %} </u> &#10003; </b>{%endif%}{%else%}{% trans "No" %}{%endif%}</label>

                                                            </li>
                                                        </ul>                                             
                                                                                             
                                                    {%else%}
                                                    {% if context == 'View' or  context == 'Edit' %}
                                                    {{f}}
                                                    {%else%}
                                                      {% if f.name == 'country'%}
                                   {{country}}
                                  {%elif f.name == 'region'%}
                                      {% for key, val in regions %}
                                      {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}} 
                                      {% endifequal %}<br>
                                      {% endfor %}  
                                {%elif f.name == 'm_9'%}
                                      {% for key, val in VAL_IMP %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}  
                                  {%elif f.name == 'm_12'%}
                                      {% for key, val in VAL_EXP %}
                                       {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}  
                                    {%elif f.name == 'm_13' or f.name == 'm_16' or f.name == 'm_17' or f.name == 'm_18' or f.name == 'm_19'%}
                                      {% for key, val in VAL_PERCENT %}
                                        {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}  
                                       {%elif f.name == 'm_24' or f.name == 'm_25'%}
                                       {% for key, val in NUM_BILATERAL %}
                                        {% ifequal key f.value %}
                                             <b><u>{{val}}</u>  &#10003;</b>    
                                        {%else%}
                                          {{val}}    
                                        {% endifequal %}<br>
                                      {% endfor %}  
                                      {%elif f.name == 'm_22' %}
                                          {% for o in membership1 %}
                                               {% if o.id in f.value %}
                                                   <b><u> {{o}}</u> &#10003;</b>
                                                 {% else %}
                                                  {{o}}
                                               {% endif %}
                                    <br>

                                      {% endfor %} 
                                       {%elif f.name == 'm_23' %}
                                          {% for o in membership2 %}
                                               {% if o.id in f.value %}
                                                   <b><u> {{o}}</u> &#10003;</b>
                                                 {% else %}
                                                  {{o}}
                                               {% endif %}
                                    <br>

                                      {% endfor %} 
                                 {%else%}
                                  {{f}}
                                    {% endif %}
                                                     {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                          {% if context == 'Edit' %}  
                                          <a href="#{{f.name}}" onclick="javascript:toggle_visibility('c_{{f.name}}');">{% trans "add comment" %}</a>
                                          {% endif %}
                                            <div id="c_{{f.name}}" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                 <b>{% trans "Comment:" %}</b><br> 
                                                {%if f.name == 'country' %}{% for fff in form %}{%if fff.name == 'c_country'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'region' %}{% for fff in form %}{%if fff.name == 'c_region'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_3' %}{% for fff in form %}{%if fff.name == 'c_m_3'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_4' %}{% for fff in form %}{%if fff.name == 'c_m_4'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_5' %}{% for fff in form %}{%if fff.name == 'c_m_5'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_6' %}{% for fff in form %}{%if fff.name == 'c_m_6'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_9' %}{% for fff in form %}{%if fff.name == 'c_m_9'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_10' %}{% for fff in form %}{%if fff.name == 'c_m_10'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_12' %}{% for fff in form %}{%if fff.name == 'c_m_12'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_13' %}{% for fff in form %}{%if fff.name == 'c_m_13'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_14' %}{% for fff in form %}{%if fff.name == 'c_m_14'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_15' %}{% for fff in form %}{%if fff.name == 'c_m_15'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_16' %}{% for fff in form %}{%if fff.name == 'c_m_16'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_17' %}{% for fff in form %}{%if fff.name == 'c_m_17'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_18' %}{% for fff in form %}{%if fff.name == 'c_m_18'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_19' %}{% for fff in form %}{%if fff.name == 'c_m_19'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_22' %}{% for fff in form %}{%if fff.name == 'c_m_22'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_23' %}{% for fff in form %}{%if fff.name == 'c_m_23'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_24' %}{% for fff in form %}{%if fff.name == 'c_m_24'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}
                                                {%if f.name == 'm_25' %}{% for fff in form %}{%if fff.name == 'c_m_25'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_{{f.name}}" name="c_{{f.name}}">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}{%endif%}

                                                </div>
                                            
                                        </td>
                                        <td>{{f.help_text|safe}}</td>
                                    </tr>
                                    
                                   {% if f.name == 'm_6' %}
                                    <tr>
                                        <td>
                                           <div class="control-group">
                                           <label id="id_m_7">{% trans "7. List 10 major crops grown in the country" %}</label>
                                           <div class="controls">
                                           {% if context == 'Edit' %}
                                                {{ form7.management_form }}
                                               {{ form7.non_form_errors }}
                                            {% endif %}
                                            <div class="panel panel-default">
                                            <div class="panel-body">
                                                <table>
                                                    <thead>
                                                        <th>{% trans "CROPS" %}</th>					
                                                        <th>{% trans "Propagation" %}</th>
                                                        <th>{% trans "Germplasm" %}</th>
                                                        <th>{% trans "Consumption" %}</th>
                                                        <th>{% trans "Wooden and Cane Products" %}</th>
                                                        <th>{% trans "Industrial Products" %}</th>
                                                        <th>{% trans "Other Uses" %}</th>
                                                    </thead>
                                                    <tbody>
                                                    {% for form in form7 %}
                                                       <tr> 
                                                        {% for ff in form %}
                                                            {%if not ff.label == 'Module1' and not  ff.label == 'Delete' and not ff.label == 'Supprimer' and not ff.label == 'Удалить' and not ff.label == 'Id'%}
                                                                <td> 
                                                                   {% if context == 'Edit' %}
                                                                       {{ff}}
                                                                   {% else %}
                                                                       {%if ff.label == 'Crops' %}
                                                                           {% if ff.value == None %}
                                                                              <input type="text" disabled="true" value="">
                                                                           {% else %}
                                                                               {{ff.value}}      <!--input type="text" disabled="true" value="{% for x in crops %}{% if ff.value ==  x.id|slugify %}{{x.crop}} {% endif %}{% endfor %}"-->
                                                                           {% endif %}
                                                                       {% else %}
                                                                           {% if ff.value == True or  ff.value == False %}
                                                                             <input readonly="true" type="checkbox" {% if ff.value == True%}checked{%endif%}> {%if context == 'Pdf'%}{% if ff.value == True%}<b>&#10003;</b>{%endif%}{%endif%}
                                                                           {% endif %}
                                                                       {% endif %}

                                                                   {% endif %}
                                                                </td>
                                                             {% else %}
                                                                {{ff.as_hidden}}
                                                            {% endif %}  
                                                        {% endfor %}
                                                       </tr> 
                                                    </tbody> 
                                                    {% endfor %} 
                                                </table>  
                                            </div>  
                                            </div>
                                          </div>  
                                           </div>
                                            
                                            
                                          {% if context == 'Edit' %} 
                                          <a href="#id_m_7" onclick="javascript:toggle_visibility('c_m_7');">{% trans "add comment" %}</a>  
                                          {% endif %}
                                             <div id="c_m_7" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                     <b>{% trans "Comment:" %}</b><br> 
                                                    {% for fff in form %}{%if fff.name == 'c_m_7'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_m_7" name="c_m_7">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}
                                                </div>
                                               
                                        </td>
                                        <td>{% trans "Enter the scientific names followed by the local name." %}</td>
                                    </tr>
                                        <tr>
                                        <td>
                                           <div class="control-group">
                                           <label id="id_m_8">{% trans "8. List 10 major Imports of plant and plant products." %}</label>
                                           <div class="controls">
                                            {{ form8.management_form }}
                                            {{ form8.non_form_errors }}
                                            <div class="panel panel-default">
                                            <div class="panel-body">
                                                <table>
                                                    <thead>
                                                         <th>{% trans "CROPS" %}</th>					
                                                        <th>{% trans "Propagation" %}</th>
                                                        <th>{% trans "Germplasm" %}</th>
                                                        <th>{% trans "Consumption" %}</th>
                                                        <th>{% trans "Wooden and Cane Products" %}</th>
                                                        <th>{% trans "Industrial Products" %}</th>
                                                        <th>{% trans "Other Uses" %}</th>
                                                    </thead>
                                                    <tbody>
                                                    {% for form in form8 %}
                                                       <tr> 
                                                        {% for ff in form %}
                                                            {%if not ff.label == 'Module1' and not  ff.label == 'Delete'  and not ff.label == 'Supprimer' and not ff.label == 'Удалить' and not ff.label == 'Id'%}
                                                                <td> 
                                                                   {% if context == 'Edit' %}
                                                                       {{ff}}
                                                                   {% else %}
                                                                       {%if ff.label == 'Crops' %}
                                                                           {% if ff.value == None %}
                                                                              <input type="text" disabled="true" value="">
                                                                           {% else %}
                                                                               {{ff.value}}      <!--input type="text" disabled="true" value="{% for x in crops %}{% if ff.value ==  x.id|slugify %}{{x.crop}} {% endif %}{% endfor %}"-->
                                                                           {% endif %}
                                                                       {% else %}
                                                                           {% if ff.value == True or  ff.value == False %}
                                                                           <input readonly="true" type="checkbox" {% if ff.value == True%}checked{%endif%}> {%if context == 'Pdf'%}{% if ff.value == True%}<b>&#10003;</b>{%endif%}{%endif%}
                                                                             {% endif %}
                                                                       {% endif %}

                                                                   {% endif %}
                                                                </td>
                                                             {% else %}
                                                                {{ff.as_hidden}}
                                                            {% endif %}  
                                                        {% endfor %}
                                                       </tr> 
                                                    </tbody> 
                                                       {% endfor %} 
                                                </table>  
                                            </div>  
                                            </div>
                                          </div>  </div>
                                           {% if context == 'Edit' %} 
                                          <a href="#id_m_8" onclick="javascript:toggle_visibility('c_m_8');">{% trans "add comment" %}</a>  
                                          {% endif %}
                                             <div id="c_m_8" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                     <b>{% trans "Comment:" %}</b><br> 
                                                    {% for fff in form %}{%if fff.name == 'c_m_8'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_m_8" name="c_m_8">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}
                                                </div>
                                        </td>
                                        <td>{% trans "Enter the scientific names followed by the local name." %}</td>
                                    </tr>
                                    {% elif f.name == 'm_10' %}
                                    <tr>
                                        <td>
                                           <div class="control-group">
                                           <label id="id_m_11">{% trans "11. List 10 major exports of plant and plant products." %}</label>
                                           <div class="controls">
                                            {{ form11.management_form }}
                                            {{ form11.non_form_errors }}
                                            <div class="panel panel-default">
                                            <div class="panel-body">
                                                <table>
                                                    <thead>
                                                        <th>{% trans "CROPS" %}</th>					
                                                        <th>{% trans "Propagation" %}</th>
                                                        <th>{% trans "Germplasm" %}</th>
                                                        <th>{% trans "Consumption" %}</th>
                                                        <th>{% trans "Wooden and Cane Products" %}</th>
                                                        <th>{% trans "Industrial Products" %}</th>
                                                        <th>{% trans "Other Uses" %}</th>
                                                    </thead>
                                                    <tbody>
                                                    {% for form in form11 %}
                                                       <tr> 
                                                        {% for ff in form %}
                                                            {%if not ff.label == 'Module1' and not  ff.label == 'Delete'   and not ff.label == 'Supprimer' and not ff.label == 'Удалить' and not ff.label == 'Id'%}
                                                                <td> 
                                                                   {% if context == 'Edit' %}
                                                                       {{ff}}
                                                                   {% else %}
                                                                       {%if ff.label == 'Crops' %}
                                                                           {% if ff.value == None %}
                                                                              <input type="text" disabled="true" value="">
                                                                           {% else %}
                                                                               {{ff.value}}      <!--input type="text" disabled="true" value="{% for x in crops %}{% if ff.value ==  x.id|slugify %}{{x.crop}} {% endif %}{% endfor %}"-->
                                                                           {% endif %}
                                                                       {% else %}
                                                                           {% if ff.value == True or  ff.value == False %}
                                                                               <input readonly="true" type="checkbox" {% if ff.value == True%}checked{%endif%}> {%if context == 'Pdf'%}{% if ff.value == True%}<b>&#10003;</b>{%endif%}{%endif%}
                                                                         {% endif %}
                                                                       {% endif %}

                                                                   {% endif %}
                                                                </td>
                                                             {% else %}
                                                                {{ff.as_hidden}}
                                                            {% endif %}  
                                                        {% endfor %}
                                                       </tr> 
                                                    </tbody> 
                                                       {% endfor %} 
                                                </table>  
                                            </div>  
                                            </div>
                                          </div>  </div>  
                                              {% if context == 'Edit' %} 
                                          <a href="#id_m_11" onclick="javascript:toggle_visibility('c_m_11');">{% trans "add comment" %}</a>  
                                          {% endif %}
                                             <div id="c_m_11" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                     <b>{% trans "Comment:" %}</b><br> 
                                                    {% for fff in form %}{%if fff.name == 'c_m_11'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_m_11" name="c_m_11">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}
                                                </div>
                                        </td>
                                        <td>{% trans "Enter the scientific names followed by the local name." %}</td>
                                    </tr>
                                  {% elif f.name == 'm_19' %}
                                    <tr>
                                        <td>
                                           <div class="control-group">
                                           <label id="id_m_20">{% trans "20. List up to 10 major trading partners in Plants and Plant Products : Imports" %}</label>
                                               <div class="controls">
                                            {{ form20.management_form }}
                                            {{ form20.non_form_errors }}
                                            <div class="panel panel-default">
                                            <div class="panel-body">
                                                {% trans "Countries" %}<br>					
                                                    {% for form in form20 %}
                                                        {% for ff in form %}
                                                         {%if not ff.label == 'Module1' and not ff.label == 'Delete'   and not ff.label == 'Supprimer' and not ff.label == 'Удалить' and not ff.label == 'Id'%}
                                                                {% if context == 'Edit' %} 
                                                                    {{ff}}
                                                                {% else %}     
                                                                    {% if ff.value == None %}
                                                                        <input type="text" disabled="true" value="">
                                                                    {% else %}
                                                                      <input type="text" disabled="true" value="{{ff.value}}">{% if context == 'Pdf' %}{{ff.value}}{% endif %}
                                                                    {% endif %}
                                                                
                                                            {% endif %}     
                                                          
                                                          <br>   {% else %}{{ff.as_hidden}}
                                                        {% endif %}    {% endfor %}
                                                      
                                                       {% endfor %} 
                                              
                                            </div>  
                                            </div>
                                          </div>  </div>
                                            {% if context == 'Edit' %} 
                                          <a href="#id_m_20" onclick="javascript:toggle_visibility('c_m_20');">{% trans "add comment" %}</a>  
                                          {% endif %}
                                             <div id="c_m_20" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                     <b>{% trans "Comment:" %}</b><br> 
                                                    {% for fff in form %}{%if fff.name == 'c_m_20'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_m_20" name="c_m_20">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}
                                                </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                     <tr>
                                        <td>
                                           <div class="control-group">
                                           <label id="id_m_21">{% trans "21. List up to 10 major trading partners in Plants and Plant Products : Exports" %}</label>
                                           <div class="controls">
                                            {{ form21.management_form }}
                                            {{ form21.non_form_errors }}
                                            <div class="panel panel-default">
                                            <div class="panel-body">
                                                {% trans "Countries" %}<br>					
                                                    {% for form in form21 %}
                                                        {% for ff in form %}
                                                         {%if not ff.label == 'Module1' and not  ff.label == 'Delete'  and not ff.label == 'Supprimer' and not ff.label == 'Удалить' and not ff.label == 'Id'%}
                                            
                                                          {% if context == 'Edit' %} 
                                                          {{ff}}
                                                      {% else %}     
                                                             {% if ff.value == None %}
                                                                <input type="text" disabled="true" value="">
                                                                {% else %}
                                                                    <input type="text" disabled="true" value="{{ff.value}}">{% if context == 'Pdf' %}{{ff.value}}{% endif %}
                                                         
                                                                {% endif %}
                                                                
                                                            {% endif %}     
                                                          
                                                          <br>    {% else %}{{ff.as_hidden}}
                                                        {% endif %}    {% endfor %}
                                                      
                                                       {% endfor %} 
                                              
                                            </div>  
                                            </div>
                                          </div>  </div>
                                           {% if context == 'Edit' %} 
                                          <a href="#id_m_21" onclick="javascript:toggle_visibility('c_m_21');">{% trans "add comment" %}</a>  
                                          {% endif %}
                                             <div id="c_m_21" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                     <b>{% trans "Comment:" %}</b><br> 
                                                    {% for fff in form %}{%if fff.name == 'c_m_21'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_m_21" name="c_m_21">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}
                                                </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    {% endif %}
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                
                                    {% endif %}
                                    {% endfor%} 

                                    <tr>
                                        <td>
                                            <div class="control-group">
                                                <label id="id_m_26">{% trans "26. List up to 5 major aid programs that have significantly contributed to phytosanitary capacity development or strengthening in the country." %}</label>
                                           <div class="controls"> {{ form26.management_form }}
                                            {{ form26.non_form_errors }}
                                            {% for form in form26 %}
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {% for ff in form %}
                                                    {%if not ff.label == 'Module1' and not  ff.label == 'Delete' and not ff.label == 'Supprimer' and not ff.label == 'Удалить' and not ff.label == 'Id'%}
                                                    <b>{{ff.label}}:<b>&#160;
                                                        {% if context == 'Edit' %}
                                                            {{ff}} 
                                                        {% else %} 
                                                            {% if ff.value == None %}
                                                                <input type="text" disabled="true" value="">
                                                            {% else %}
                                                                <input type="text" disabled="true" value="{{ff.value}}"> {% if context == 'Pdf' %}{{ff.value}} {% endif %}
                                                            {% endif %}
                                                        {% endif %}    <br> 
                                                        {% else %}{{ff.as_hidden}}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div></div>
                                            {% endfor %}   </div>
                                            </div>
                                          {% if context == 'Edit' %} 
                                          <a href="#id_m_26" onclick="javascript:toggle_visibility('c_m_26');">{% trans "add comment" %}</a>  
                                          {% endif %}
                                             <div id="c_m_26" {% if context == 'Edit' %}style="display:none;"{% endif %} class="pcecomment">
                                                     <b>{% trans "Comment:" %}</b><br> 
                                                    {% for fff in form %}{%if fff.name == 'c_m_26'%}{% if context == 'Edit' %}<textarea class="zzz"  id="id_c_m_26" name="c_m_26">{{fff.value}}</textarea>{% else %}{{fff.value}}{% endif %}{%endif%}{%endfor%}
                                                </div>
                                        </td>
                                        <td>{% trans "Enter the most recent information dating as far back as 5 years ago." %}</td>
                                    </tr>
                     
                                  
                                    
                                    
                                </tbody>        
                            </table>
                            {% nevercache %}
                                 {% include "pce/submitform_block.html" %}
                            {% endnevercache %}
                            </fieldset>
                            {% if context == 'Edit' %}  
                              </form>
                           {%endif%}  
                    </div>
                </div>      
            </div>
        </div> 
{% else %} 
    {% nevercache %}
        {% include "pce/permission_block.html" %}
    {% endnevercache %}
{% endif %}
 </div> 
{% endblock %}

{% endblock %}


