{% extends "pce/basepce.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Configuration" %} - {{ user.get_profile.country.name}} {% endblock %}



{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li class="active">
    {{ user.get_profile.country.name }} - {% trans " PCE Re-Configuration: Basic Information" %}
</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}
{% if can_edit %}

<h1><span class="normal">{% trans "RE-Configuration Step 1 of 3" %}</span></h1>
<div class="row-fluid">
    <div class="span8">
        <div class="panel panel-info">
            <div  class="alert alert-success" role="alert">
                <h3 class="panel-title"> {% trans "Basic Information" %}</h3>
            </div>
            <div class="panel-body">


                <p>{% trans "Thank you for using the Phytosanitary Capacity Evalutation tool. Please complete provide the following basic information to begin." %}</p>

                <form class="customform" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {% include "pce/pceversion_form.html" %}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-info btn-large" tabindex="7">{% trans "Save and Go to next step" %}</button> or <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
                        </div>
                    </fieldset>
                </form>
                
                
              

                
            </div>

        </div>      
    </div>



    {% include "pce/userdetails_panel.html" %}

    <div class="span4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"> {% trans "Configuration Progress" %}</h4>
            </div>
            <div class="panel-body">
                <b>1. </b><span class="label label-success">{% trans "Basic Information" %}</span><br>
                <b>2. </b>{% trans "Q & A Modules" %}<br>
                <b>3.</b>{% trans "User Groups" %}<br>
            </div>
        </div>
    </div>

</div>

{% else %}
      <p class="alert alert-warning">{% trans "No permissions to see this page." %}</p>
 
{% endif %}

{% endblock %}




    