{% extends 'pce/basepce.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}
{% if context == 'View' or context == 'Edit'%}
    {% block meta_title %}{% trans "Problem Analysis" %} - {{ user.get_profile.country.name}} {% endblock %}

    {% block body_class %}wide{% endblock %}

    {% block breadcrumb_menu %}
    <li>
        <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
        <span class="divider">/</span>
    </li>
    <li>
        <a href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
        <span class="divider">/</span>
    <li>
    <li class="active">{% trans "Problem Analysis for Module " %}{{module}}</li>
    {% endblock %}


    {% block local_nav %}
    {% endblock local_nav %}

    {% block pageinfo %}
    {% endblock pageinfo %}

{%endif%}

{% block main %}
{% block content %}
<div id="content">

{% if can_edit and context == 'Edit' or can_see and context == 'View' or can_see and context == 'Pdf' %}

<div class="row-fluid">
    <div class="span8">
        <h4>{% trans "Problem Analysis" %}</h4>
         {% if  context == 'Edit' or   context == 'View'  %}
            {% include "pce/tools_panel.html" %} 
        {%endif%}
    </div>
    {% include "pce/userdetails_panel.html" %} 
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h3 class="panel-title"> {% trans "Problem Analysis - Module" %} {{module}}
                    {% if context == 'View' and can_edit  and id != ''%}  
                        <span  class="pull-right">  
                            <a  class="btn btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/problemanalysis/edit/{{pa_id}}">Edit table</a>
                        </span>
                    {% endif %}    
                   </h3>
                </div>
                <div class="panel-body">
                {% if context == 'Edit' %}
                
                         <form class="customform" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {% if form.non_field_errors or form.errors %}
                            <div class="alert alert-error">{% trans "Please correct the errors below." %}
                                <ul>
                                    {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% for f in form %}
                            {% if  f.name == 'session' or f.name == 'module' %}
                            {{f}} {% endif %}
                            {% endfor %} 
                            <table class="table">
                                <thead>
                                    <tr class="success" valign="top" style="vertical-align:top;">
                                        <th valign="bottom" style="background:#D7F0DA;" align="center" colspan="2">{% trans "Causes of the weaknesses identified" %}</th>
                                        <th rowspan="2" style="background:#ffc; ">{% trans "Major weaknesses needing to be addressed" %}</th>
                                        <th valign="bottom" style="background:#D7F0DA; "align="center" colspan="2">{% trans "Consequences as a result of the causes and weaknesses identified" %}</th>
                                    </tr>
                                    <tr class="success">
                                        <th valign="bottom">{% trans "Primary" %}</th>
                                        <th valign="bottom">{% trans "Secondary" %}</th>
                                        <th valign="bottom">{% trans "Primary" %}</th>
                                        <th valign="bottom">{% trans "Secondary" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in form %}
                                    {% if not f.name == 'session' and not f.name == 'module' %}
                                    {% if 'cause_a_1' in f.name %}     
                                    <tr>
                                               {% endif %}
                                        <td>
                                         {%if 'cause_b_1' in f.name%}
                                             {{f}}</td>
                                        <td> 
                                           <b>{% trans "Weakness 1:" %}</b>   {{weakeness.w1}}</td>
                                        {% elif 'cause_b_2' in f.name%}
                                             {{f}}</td>
                                        <td> 
                                          <b>{% trans "Weakness 2:" %}</b>    {{weakeness.w2}}</td>
                                         {% elif 'cause_b_3' in f.name%}
                                             {{f}}</td>
                                        <td> 
                                          <b>{% trans "Weakness 3:" %}</b>    {{weakeness.w3}}</td>
                                         {% elif 'cause_b_4' in f.name%}
                                             {{f}}</td>
                                        <td> 
                                           <b>{% trans "Weakness 4:" %}</b>   {{weakeness.w4}}</td>
                                         {% elif 'cause_b_5' in f.name%}
                                             {{f}}</td>
                                        <td> 
                                          <b>{% trans "Weakness 5:" %}</b>    {{weakeness.w5}}</td>
                                        {% else %}
                                           
                                        
                                            {{f}}
                                       
                                            {%endif%}
                                        
                                            
                                            
                                        
                                            
                                            
                                        </td>
                                        {% if 'consequence_b_' in f.name %} 
                                    </tr>
                                    {% endif %} 
                                    {% endif %} 

                                    {% endfor %} 
                                </tbody> 
                            </table>  

                            <div class="form-actions">
                                <a class="btn btn-small btn-info" href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
                                <button type="submit" class="btn btn-info btn-large" tabindex="7" value="save">{% trans "Save" %}</button>

                            </div>
                        </fieldset>
                    </form>
                
                
                {% else %} 
                       
                    
                    
                    {% if latest %} 
                    {% for object in latest %}
                    <table class="table">
                        <thead>
                            <tr class="success" valign="top" style="vertical-align:top;">
                                <th valign="bottom" style="background:#D7F0DA;" align="center" colspan="2">{% trans "Causes of the weaknesses identified" %}</th>
                                <th rowspan="2" style="background:#ffc;vertical-align:top;" >{% trans "Major weaknesses needing to be addressed" %}</th>
                                <th valign="bottom" style="background:#D7F0DA; "align="center" colspan="2">{% trans "Consequences as a result of the causes and weaknesses identified" %}</th>
                            </tr>
                            <tr class="success">
                                <th valign="bottom">{% trans "Primary" %}</th>
                                <th valign="bottom">{% trans "Secondary" %}</th>
                                <th valign="bottom">{% trans "Primary" %}</th>
                                <th valign="bottom">{% trans "Secondary" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr> 
                                <td>{{object.cause_a_1}}</td>
                                <td>{{object.cause_b_1}}</td>
                                <td><b>{% trans "Weakness 1:" %}</b> {{weakeness.w1}}</td>
                                <td>{{object.consequence_a_1}}</td>
                                <td>{{object.consequence_b_1}}</td>

                            </tr>  

                            <tr> 
                                <td>{{object.cause_a_2}}</td>
                                <td>{{object.cause_b_2}}</td>
                                <td><b>{% trans "Weakness 2:" %}</b> {{weakeness.w2}}</td>
                                <td>{{object.consequence_a_2}}</td>
                                <td>{{object.consequence_b_2}}</td>

                            </tr>  
                            <tr> 
                                <td>{{object.cause_a_3}}</td>
                                <td>{{object.cause_b_3}}</td>
                                <td><b>{% trans "Weakness 3:" %}</b> {{weakeness.w3}}</td>
                                <td>{{object.consequence_a_3}}</td>
                                <td>{{object.consequence_b_3}}</td>

                            </tr>  
                            <tr> 
                                <td>{{object.cause_a_4}}</td>
                                <td>{{object.cause_b_4}}</td>
                                <td><b>{% trans "Weakness 4:" %}</b> {{weakeness.w4}}</td>
                                <td>{{object.consequence_a_4}}</td>
                                <td>{{object.consequence_b_4}}</td>

                            </tr>  
                            <tr> 
                                <td>{{object.cause_a_5}}</td>
                                <td>{{object.cause_b_5}}</td>
                                <td><b>{% trans "Weakness 5:" %}</b> {{weakeness.w5}}</td>
                                <td>{{object.consequence_a_5}}</td>
                                <td>{{object.consequence_b_5}}</td>

                            </tr>  
                        </tbody>
                    </table> 
                    {% endfor%}  
                    {% endif %}  
                          {% if context == 'View' %}
                   <span  class="pull-left"><a  class="btn btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/view/{{moduleid}}"><- {% trans "back to Module" %} {{module}}</a></span>
                &#160;&#160;&#160;<a class="btn  btn-info" href="javascript:window.print();">{% trans "PRINT" %}</a>
                &#160;&#160;&#160;
                         <a class="btn  btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/problemanalysis/pdf/{{pa_id}}"  target="_blank">{% trans "Export as PDF" %}</a>
     {% if sa_id != ''%}  
                    <span  class="pull-right"><a class="btn btn-info" href="/{{ LANGUAGE_CODE }}/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/swotanalysis/{{sa_id}}">{% trans "Go to Swot Analysis for Module" %} {{module}} -></a></span>
                    {% endif %}
                    {% endif %}
                 {% endif %}  
                </div>

            </div>      
        </div>

    </div>


</div> 

{% else %}{% nevercache %}
        {% include "pce/permission_block.html" %}
        {% endnevercache %}
        {% endif %}

   </div> 
    {% endblock %}
    {% endblock %}



{% block extra_js %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}
