{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {{ page.title }}
{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/">{% trans "Home" %}</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/partners/">{% trans "Partners" %}</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/partners/{{titleparentslug}}/">{{titleparent}}</a>
  <span class="divider">/</span>
</li>

<li class="active">
      {{ page.title }}
</li>

{% endblock %}

{% block main %}
  {% if user.is_superuser %} 
  <div class="pull-right">
      <a class="btn btn-mini btn-info" href="/admin/ippc/partnerspage/{{ page.id }}">Edit page as Admin <small>(also contact point &amp; editors relation)</a><br>
  </div>
  {% endif %}

  <h1>
      {{ page.title }} </h1> 
  <div>   {{ content|richtext_filter|safe }}</div>
  <div class="panel contact-info">
  <h2>{% trans "RPPO Contact Point: " %} 
    <small>
     {% for entry in page.get_content_model.contact_point.get_profile.contact_type.all %}
      {{entry}}{% if forloop.last %} {% else %},{% endif %}
    {% endfor %}
    </small>
  </h2>
    {% include "accounts/account_contactpoint_details.html" %}
  </div>
 
  
 

  {# if there are any editors defined for this country page, only admins can see them here #}
  {% if page.get_content_model.editors.all and user.is_superuser %} 
  <h3>Editors</h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for editor in page.get_content_model.editors.all %}
        <tr>
          <td>{{ editor.get_profile.first_name }} {{ editor.get_profile.last_name }} <a class="btn btn-mini  pull-right" href="/admin/auth/user/{{ editor.get_profile.id }}">Edit User as Admin</a><br></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  
 {# LINKs to add #}
 
    
      
 
      
  {% if perms.ippc.add_partnerspublication and request.user.get_profile.partner.name == page.title or user.is_superuser %}
  <small><a class="btn btn-small btn-info" href="{% url 'partner-publication-create' page.title|slugify %}">+ {% trans "Add new publication" %}</a></small>
{% endif %}
 {% if perms.ippc.add_partnersnews and request.user.get_profile.partner.name == page.title or user.is_superuser %}
   <small>  <a class="btn btn-small btn-info" href="{% url 'partner-news-create' page.title|slugify %}">+ {% trans "Add new news" %}</a>
   </small>
 {% endif %}

 {% if perms.ippc.add_partnerswebsite and request.user.get_profile.partner.name == page.title or user.is_superuser %}
   <small><a class="btn btn-small btn-info" href="{% url 'partner-websites-create' page.title|slugify %}">+ {% trans "Add new website" %}</a></small>
 {% endif %}

      
 {# PUBLICATIONS TABLE #} 
 {% if publications or news or websites %}   
  
  <table class="table table-condensed table-striped" id="publications">
 <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Files/URLs" %}</th>
      <th>{% trans "Date Published" %}</th>
      <th>{% trans "Type" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in publications %}
    <tr>
      <td><a href="{% url 'partner-publication-detail' object.partners.partner_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.title }}</a></td>
      <td> {% for f in object.partnerspublicationfile_set.all %} 
    
  <a href="{{MEDIA_URL}}{{f.file.name}}"><i class="icon-file"></i>{{ f.description }}</a><br>
{% endfor %}

</td>
      <td>{{ object.publish_date|date:"d M Y" }}</td>
      <td>{% trans "Publication" %}
      {% if user.is_superuser %} 
            <a class="small pull-right" href="/admin/ippc/partnerspublication/{{ object.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
        {% endif %}

        {% if perms.ippc.change_partnerspublication and request.user.get_profile.partner.name == page.title %}
            <a class="small pull-right" href="{% url 'partner-publication-edit' object.partners.partner_slug object.id %}"><i class="icon-edit"></i> Edit</a>
         
        {% else %}
        {% endif %}
      </td>
    </tr>

    {% endfor %}
    
    
    
    {% for object in news %}
    <tr>
      <td><a href="{% url 'partner-news-detail' object.partners.partner_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.title }}</a></td>
      <td></td>
        <td>{{ object.publish_date|date:"d M Y" }}</td>
        <td>{% trans "News" %}
        {% if user.is_superuser %} 
            <a class="small pull-right" href="/admin/ippc/partnersnews/{{ object.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
        {% endif %}

        {% if perms.ippc.change_partnersnews and request.user.get_profile.partner.name == page.title %}
            <a class="small pull-right" href="{% url 'partner-news-edit' object.partners.partner_slug object.id %}"><i class="icon-edit"></i> Edit</a>
         
        {% else %}
        {% endif %}
        </td>
    </tr>

    {% endfor %}
     
    {% for object in websites %}
    <tr>
      <td><a href="{% url 'partner-websites-detail' object.partners.partner_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.title }}</a></td>
      <td>
            {% for f in object.partnerswebsiteurl_set.all %} 
<a href="{{MEDIA_URL}}{{f.url_for_more_information}}">{{ f.url_for_more_information }}</a><br>
{% endfor %}
          
      </td>
      <td>{{ object.publish_date|date:"d M Y" }}</td>
      <td>{% trans "Website" %}
        {% if user.is_superuser %} 
            <a class="small pull-right" href="/admin/ippc/partnerswebsite/{{ object.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
        {% endif %}

        {% if perms.ippc.change_partnerswebsite and request.user.get_profile.partner.name == page.title %}
            <a class="small pull-right" href="{% url 'partner-websites-edit' object.partners.partner_slug object.id %}"><i class="icon-edit"></i> Edit</a>
         
        {% else %}
        {% endif %}
        </td>
    </tr>

    {% endfor %}
    
    
  </tbody>
</table>
  {% endif %}

 {% endblock %}

{% block pageinfo %}
{% endblock pageinfo %}