<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index,follow">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %} - {% trans "International Year Plant Health" %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
<link rel="stylesheet" type="text/css" href="/static/grappelli/css/widgets.css">
{% ifinstalled iyph %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "iyph_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "iyph_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
<link rel="stylesheet" href="{% static "css/iyph2017_7.css" %}">

<link rel="stylesheet" href="{% static "css/chosen.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
 <script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>

<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>

<!--script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script-->
 <script type="tepxt/javascript" src="/static/admin/js/jquery.min.js"></script> 
 <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
 <script type="text/javascript" src="/static/admin/js/actions.min.js"></script> 
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>

<script type="text/javascript" src="https://www.ippc.int/static/admin/js/admin/DateTimeShortcuts.js"></script>
<!--script src="http://api.simile-widgets.org/timeline/2.3.1/timeline-api.js?bundle=true" type="text/javascript"></script>
<script src="https://www.ippc.int/static/js/timeline_2.3.0/timeline_js/timeline-api.js?bundle=true" type="text/javascript"></script-->
 


{% include 'autocomplete_light/static.html' %}
{# 'add another' form field functionality #}
<script src="{% static "js/jquery.formset.js" %}"></script>

{# {% block extra_js %}{% endblock %} #} {# MOVED TO BOTTOM #}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

 
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}" >

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">

<div class="container-fluid">

    {% load localeurl_tags %}
        <ul class="nav nav-pills small pull-left languagebar">
    {% for lang in LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            <li class="active"><a href="#">{{ lang.1 }}</a></li>
        {% else %}
            <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
        {% endifequal %}
    {% endfor %}
        </ul>

    <div class="nav-collapse collapse">
        {# toolbar, user panel, login/logout #}
        <div class="pull-right text-right">
           {% nevercache %}
           {% ifinstalled mezzanine.accounts %}
            <div class="muted small">

                {% include "accounts/includes/user_panel.html" %}
            </div>
            {% endifinstalled %}
            {% endnevercache %}
            {% search_form "iyph.IyphPost" %}
            {# {% search_form %} #}
        </div>
    </div>
        
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    
    <div class="pull-left" style="clear:left;">
      <a class="brand" href="/{{ LANGUAGE_CODE }}/iyph">
        <img src="/static/img/iyph-stc/IYPH_logo1.png" class="logo"><!--class="printlogo"-->
        <strong>{% trans "  The path towards an International Year of Plant Health (IYPH) " %}</strong><br>
        <em class="small quiet">{% blocktrans %}Protecting the world's plant resources from pests{% endblocktrans %}</em>
      </a>
    </div>
</div> {# /.navbar navbar-fixed-top #}
</div> {# /.navbar-inner #}
</div> {# /.container-fluid #}

<div class="container-fluid">
    {% block bread %}
   <span class="pull-right">
   {% if request.user.is_authenticated %}
      {% if user.is_authenticated  %}
        <a href="/forum/category/iyph-forum/" >{% trans "IYPH Forum" %}</a>&#160;&#160;
        {% endif %}
    {% endif %}
  
    
    <a href="/"  >{% trans "IPPC Home" %}</a>
    </span>
    <ul class="breadcrumb">
    {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "iyphpages/breadcrumb.html" %}{% endblock %}
    {% endspaceless %}
   
  </ul>
    {% endblock bread %}

    {% nevercache %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" data-alert="alert">
        <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>
                    {% if message.message == "Successfully signed up" %}
                      {{ "You have successfully activated your account! <b style='color:#060;'>Please set a new password below &darr;</b>" }}
                    {# {% elif message.message == "Item removed from wishlist" %} #}
                      {# {{ "Item removed from your Favorites" }} #}
                    {% else %}
                            {{ message }}
                    {% endif %}
    </div>
    {% endfor %}
    {% endnevercache %}

    <h2>{% block title %}{% endblock %}</h2>

</div> {# /.container-fluid #}

<div class="container-fluid">
	
<div class="row-fluid">
    {% block main %}
{% endblock %}
</div> {# /.container-fluid #}
</div> {# /.row-fluid #}

<footer>
	<div class="container-fluid">
		{% page_menu "pages/menus/footer.html" %}
			<div class="span6 muted left">
			    <p class="text-left">{% trans "IPPC on Social Media:" %} <a href="http://www.facebook.com/pages/IPPC-Protecting-the-worlds-plant-resources-from-pests/113230338690380" class="icn-facebook">Facebook</a> | <a href="https://twitter.com/ippcnews" class="icn-twitter">Twitter</a></p>
			</div> {# /.span6 muted left #}
    
			<div class="span5 right muted small">
                   	    <p class="text-right">
        		    {% trans "The IPPC Secretariat is hosted &amp; provided by" %} 
                            	<a style="vertical-align:bottom;" class="imglink" href="http://www.fao.org"><img class="faologo" src="{% static "img/FAO-logo.png" %}" alt="{% trans "Food and Agriculture Organization Logo" %}" height="50" width="306"></a>
					<br>
										<a style="margin-right:66px;" href="{% url 'page' 'legal' %}">{% trans "Copyright & Disclaimer" %}</a>
				</p>
			</div> {# /.span5 right muted small #}
	</div>
</footer> {# /.container-fluid #}

{# {% include "includes/footer_scripts.html" %} #}
{% compress js %}

{# better country selector using chosen - http://harvesthq.github.io/chosen/ #}
<script type="text/javascript" charset="utf-8">
  $(".chosen-select").chosen()  
</script>

{% block extra_js %}{% endblock %}
{% endcompress %}
{% comment %} Google Analytics {% endcomment %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26969258-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
