{% extends "baseiyph.html" %}
{% load i18n future mezzanine_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Iyph" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{{ page.title }}
{% else %}
{% trans " " %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block main %}
<ul style=" display:inline; ">
  <li style=" list-style-type: none;  display:inline; ">
        <a href="/">{% trans "IPPC Home" %}</a>
    </li>
   
</ul>


<script type="text/javascript">
   //<![CDATA[ 
   $(window).load(function() {
       $('#myCarousel, #myCarousel1').carousel({                         
        interval: 5000
       })
        $('#myCarousel2, #myCarousel2').carousel({                         
        interval: 6000
       })
   });//]]>  
</script>





<div class="row">
    
    <div class="col-12" style=" margin-top:0;margin-bottom: 0"> 
        <div id="myCarousel" class="carousel slide vertical" data-ride="carousel">
           
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                           <img src="/static/img/iyph-stc/elements/slide1_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/NG Quang Toan">
                        </div>
                    <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide2_{{ LANGUAGE_CODE }}.jpg" title="&#169;Krzysztof Niewolny">
                        </div>
                 
                 <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide3_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/Marco Longari">
                        </div>
                 <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide4_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/Frank Nyakairu ">
                        </div>
                  <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide5_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/Ch. Errath">
                        </div>

                </div>   
            </div>
    </div>
</div>    
<div class="row">
    <div class="col-12 gray_bg" style="margin-top:0;"> 
        <div style="padding:20px">
            <h1>{% trans "IPPC and the International Year of Plant Health" %}</h1>
           <p> {% trans 'At the 10th Session of the Commission on Phytosanitary Measures (CPM-10) in 2015, Finland proposed to establish an International Year of Plant Health (IYPH) in the year 2020. The proposal received strong support from the CPM-10, which decided to pursue the proclamation of the IYPH in 2020 under the leadership of Finland. ' %}
<br><br> {% trans 'CPM-11 (2016) adopted the scope of plant health in the context of IYPH, "usually considered the discipline that uses a range of measures to control and prevent pests, weeds and disease causing organisms to spread into new areas, especially through human interaction such as international trade", and the IYPH overall objective "to raise awareness of the importance and impacts of plant health in addressing issues of global importance, including hunger, poverty, threats to the environment and economic development". CPM-11 also established an IYPH Steering Committee (IPPC IYPH StC) to secure the IYPH proclamation and start developing programme, roles and responsibilities.' %}
<br><br> {% trans 'CPM-12 (2017) encouraged IPPC contracting parties to provide extra-budgetary contributions to enable promotional activities to support the IYPH proclamation process and to propose potential IYPH events and activities. ' %}
<br><br> {% trans 'In July 2017, the 40th Session of the FAO Conference adopted the proposal by Finland and the FAO Director-General submitted the relevant resolution to the Secretary-General of the United Nations with a view to have a resolution on the matter adopted by the United Nations General Assembly (UNGA). ' %}
<br><br> {% trans 'CPM-13 (2018) agreed to a skeleton of IYPH programme events and their associated estimated costs as developed by the IPPC IYPH StC. It also urged contracting parties to provide extra-budgetary contributions to enable promotional activities to support the IYPH proclamation process and to propose potential IYPH events and activities.' %}
<br><br> {% trans 'In December 2018, the United Nations General Assembly adopted the resolution ' %}<b><a href="https://www.un.org/en/ga/search/view_doc.asp?symbol=A/RES/73/252">A/RES/73/252</a></b> declaring  <b>2020</b>{% trans ' as the ' %}<b>{% trans 'International Year of Plant Health (IYPH)' %}</b>.{% trans 'The year is a once in a lifetime opportunity to raise global awareness on how protecting plant health can help end hunger, reduce poverty, protect the environment, and boost economic development.' %}
<br><br> {% trans 'In 2019, FAO and the IPPC Secretariat established the ' %}<b><a href="/{{ LANGUAGE_CODE }}/iyph/iyph-international-steering-committee/">{% trans 'IYPH International Steering Committee (ISC)' %}</a></b>.
<br><br>{% trans 'After the official proclamation of the International Year of Plant Health and the establishment of the IYPH ISC, the IPPC IYPH Steering Committee became the ' %} <b><a href="/{{ LANGUAGE_CODE }}/iyph/iyph-technical-advisory-board/">{% trans 'IYPH Technical Advisory Board (IYPH TAB) ' %}</a></b>
<br><br> {% trans 'The IYPH website is available at the following link' %}: <b><a href="http://www.fao.org/plant-health-2020/">www.fao.org/plant-health-2020/</a></b></p>
        </div>
    </div>
</div>

</div>

{% endblock %}
