{% extends "baseiyph.html" %}
{% load i18n future mezzanine_tags iyph_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Iyph" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{{ page.title }}
{% else %}
{% trans " " %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block main %}
<ul style=" display:inline; ">
  <li style=" list-style-type: none;  display:inline; ">
        <a href="/">{% trans "IPPC Home" %}</a>
    </li>
   
</ul>
{% iyph_recent_resources_general as recent_resources %}
{% iyph_recent_chronology 2 as recent_chronology1 %}

<script type="text/javascript">
   //<![CDATA[ 
   $(window).load(function() {
       $('#myCarousel, #myCarousel1').carousel({                         
        interval: 5000
       })
        $('#myCarousel2, #myCarousel2').carousel({                         
        interval: 6000
       })
   });//]]>  
</script>





<div class="row">
    
    <div class="col-12" style=" margin-top:0;margin-bottom: 0"> 
        <div id="myCarousel" class="carousel slide vertical" data-ride="carousel">
           
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                           <img src="/static/img/iyph-stc/elements/slide1_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/NG Quang Toan">
                        </div>
                    <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide2_{{ LANGUAGE_CODE }}.jpg" title="&#169;Krzysztof Niewolny">
                        </div>
                 
                 <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide3_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/Marco Longari">
                        </div>
                 <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide4_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/Frank Nyakairu ">
                        </div>
                  <div class="item">
                         <img src="/static/img/iyph-stc/elements/slide5_{{ LANGUAGE_CODE }}.jpg" title="&#169;FAO/Ch. Errath">
                        </div>

                </div>   
            </div>
    </div>
</div>    
<div class="row">
    <div class="col-12 gray_bg" style="margin-top:0;"> 
        <div style="padding:20px">
            <h1>{% trans "IPPC and the International Year of Plant Health" %}</h1>
           <p> {% trans 'At the 10th Session of the Commission on Phytosanitary Measures (CPM-10) in 2015, Finland proposed to establish an International Year of Plant Health (IYPH) in the year 2020. The proposal received strong support from the CPM-10, which decided to pursue the proclamation of the IYPH in 2020 under the leadership of Finland. ' %}
<br><br> {% trans 'CPM-11 (2016) adopted the scope of plant health in the context of IYPH, "usually considered the discipline that uses a range of measures to control and prevent pests, weeds and disease causing organisms to spread into new areas, especially through human interaction such as international trade", and the IYPH overall objective "to raise awareness of the importance and impacts of plant health in addressing issues of global importance, including hunger, poverty, threats to the environment and economic development". CPM-11 also established an IYPH Steering Committee (IPPC IYPH StC) to secure the IYPH proclamation and start developing programme, roles and responsibilities.' %}
<br><br> {% trans 'CPM-12 (2017) encouraged IPPC contracting parties to provide extra-budgetary contributions to enable promotional activities to support the IYPH proclamation process and to propose potential IYPH events and activities. ' %}
<br><br> {% trans 'In July 2017, the 40th Session of the FAO Conference adopted the proposal by Finland and the FAO Director-General submitted the relevant resolution to the Secretary-General of the United Nations with a view to have a resolution on the matter adopted by the United Nations General Assembly (UNGA). ' %}
<br><br> {% trans 'CPM-13 (2018) agreed to a skeleton of IYPH programme events and their associated estimated costs as developed by the IPPC IYPH StC. It also urged contracting parties to provide extra-budgetary contributions to enable promotional activities to support the IYPH proclamation process and to propose potential IYPH events and activities.' %}
<br><br> {% trans 'In December 2018, the United Nations General Assembly adopted the resolution ' %}<b><a href="https://www.un.org/en/ga/search/view_doc.asp?symbol=A/RES/73/252">A/RES/73/252</a></b> declaring  <b>2020</b>{% trans ' as the ' %}<b>{% trans 'International Year of Plant Health (IYPH)' %}</b>.{% trans 'The year is a once in a lifetime opportunity to raise global awareness on how protecting plant health can help end hunger, reduce poverty, protect the environment, and boost economic development.' %}
<br><br> {% trans 'In 2019, FAO and the IPPC Secretariat established the ' %}<b><a href="/{{ LANGUAGE_CODE }}/iyph/iyph-international-steering-committee/">{% trans 'IYPH International Steering Committee (ISC)' %}</a></b>.
<br><br>{% trans 'After the official proclamation of the International Year of Plant Health and the establishment of the IYPH ISC, the IPPC IYPH Steering Committee became the ' %} <b><a href="/{{ LANGUAGE_CODE }}/iyph/iyph-technical-advisory-board/">{% trans 'IYPH Technical Advisory Board (IYPH TAB) ' %}</a></b>
<br><br> {% trans 'The IYPH website is available at the following link' %}: <b><a href="http://www.fao.org/plant-health-2020/">www.fao.org/plant-health-2020/</a></b></p>
        </div>
    </div>
</div>
<!-- FIRST ROW ------------------------------------------------------------------->
<!--div class="row">
    <div class="col-8" >
        <div id="myCarousel2" class="carousel slide vertical" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="col-100 height-300" >
                        <div class="green-box-photo height-300" title="&#169; Maddi Bazzocco from unsplash" style="background-image: url(/static/img/iyph-stc/elements/01_k.jpg)"></div>
                        <div class="green-box-text height-400">
                          <div class="padding20">
                            <h6>{% trans "Key Facts" %}</h6>
                                  <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #1</h3>
                                  <p>{% trans "Plants make up 80 percent of the food we eat and produce 98 percent of the oxygen we breathe." %}</p>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="col-100 height-300" >
                        <div class="green-box-photo height-300" title="&#169; FAO/Edward Ogolla" style="background-image: url(/static/img/iyph-stc/elements/02_k.jpg)"></div>
                        <div class="green-box-text height-400">
                          <div class="padding20">
                            <h6></h6>
                            <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #2</h3>
                            <p>{% trans "Plant pests are responsible for the loss of up to 40 percent of global food crops, and for trade losses in agricultural products exceeding USD 220 billion annually." %}</p>
                          </div>
                      </div>
                    </div>
                </div>  
                <div class="item">
                       <div class="col-100 height-300" >
                           <div class="green-box-photo height-300" title="&#169; FAO/Ezequiel Becerra" style="background-image: url(/static/img/iyph-stc/elements/03_k.jpg)"></div>
                           <div class="green-box-text height-400">
                             <div class="padding20">
                               <h6></h6>
                                     <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #3</h3>
                                     <p>{% trans "The annual value of trade in agricultural products has grown almost three-fold over the past decade, largely in emerging economies and developing countries, reaching USD 1.7 trillion." %}</p>
                             </div>
                         </div>
                       </div>
                   </div>  
                    <div class="item">
                        <div class="col-100 height-300" >
                            <div class="green-box-photo height-300" title="&#169; FAO/Olivier Thuillier" style="background-image: url(/static/img/iyph-stc/elements/04_k.jpg)"></div>
                            <div class="green-box-text height-400">
                              <div class="padding20">
                                <h6></h6>
                                      <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #4</h3>
                                      <p>{% trans "FAO estimates that agricultural production must rise by about 60 percent by 2050 in order to feed a larger and generally richer population. " %}</p>
                              </div>
                          </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="col-100 height-300" >
                            <div class="green-box-photo height-300" title="&#169; FAO/Seyllou Diallo" style="background-image: url(/static/img/iyph-stc/elements/05_k.jpg)"></div>
                            <div class="green-box-text height-400">
                              <div class="padding20">
                                <h6></h6>
                                      <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #5</h3>
                                      <p>{% trans "Climate change is having a big impact on plant health. It threatens to reduce both the quality and quantity of crops, leading to lower yields. Rising temperatures are also exacerbating water scarcity, and changing the relationship between pests, plants and pathogens." %}</p>
                              </div>
                          </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="col-100 height-300" >
                            <div class="green-box-photo height-300" title="&#169; FAO/Mario Marzot" style="background-image: url(/static/img/iyph-stc/elements/06_k.jpg)"></div>
                            <div class="green-box-text height-400">
                              <div class="padding20">
                                <h6></h6>
                                      <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #6</h3>
                                      <p>{% trans "More plant pests are appearing earlier and in places where they were never seen before due to climate change." %}</p>
                              </div>
                          </div>
                        </div>
                    </div>  
                    <div class="item">
                        <div class="col-100 height-300" >
                            <div class="green-box-photo height-300" title="&#169; Aaron Burden from  unsplash" style="background-image: url(/static/img/iyph-stc/elements/07_k.jpg)"></div>
                            <div class="green-box-text height-400">
                              <div class="padding20">
                                <h6></h6>
                                      <h3 class="font-light" style="color:white">{% trans "IYPH2020" %}<br>{% trans "Key fact" %} #7</h3>
                                      <p>{% trans "Beneficial insects are vital for plant health since they pollinate most plants, keep pests in control, maintain soil health, recycle nutrients, and more. However, 80% of the biomass of insects has disappeared in the last 25-30 years." %}</p>
                              </div>
                          </div>
                        </div>
                    </div>  
                </div>    
                <a class="left carousel-controlx" href="#myCarousel2" data-slide="prev"><img src="/static/img/output-onlinepngtools (1).png"></a>
                <a class="right carousel-controlx" href="#myCarousel2" data-slide="next"><img src="/static/img/output-onlinepngtools.png"></a>
            </div> 
        
       
        <div class="col-100 gray_bg height-350">
                  
          <h6 style="margin-left:20px; margin-bottom:20px">{% trans "Featured Resources" %}</h6>
           {% if recent_resources %}
               {% for recent_resource in recent_resources %}
                   {% if recent_resource.res_type == 3 %}
                     <div class="col-3" style="margin-left:20px">
                     <img src="/static/media/{{ recent_resource.image }}" class="cover" />
                     <h4 class="font-light">
                         {% if LANGUAGE_CODE != 'en' %}
        {% if LANGUAGE_CODE == 'es'  and recent_resource.title_es != '' and recent_resource.title_es != None %}
               <a href="{{ recent_resource.link_es }}">{{recent_resource.title_es}}</a> 
        {% elif LANGUAGE_CODE == 'fr'  and recent_resource.title_fr != '' and recent_resource.title_fr != None%}
              <a href="{{ recent_resource.link_fr }}">{{recent_resource.title_fr}}</a> 
        {% elif LANGUAGE_CODE == 'ru'  and recent_resource.title_ru != '' and recent_resource.title_ru != None%}
               <a href="{{ recent_resource.link_ru }}">{{recent_resource.title_ru}}</a> 
        {% elif LANGUAGE_CODE == 'ar'  and recent_resource.title_ar != '' and recent_resource.title_ar != None%}
              <a href="{{ recent_resource.link_ar }}">{{recent_resource.title_ar}}</a> 
        {% elif LANGUAGE_CODE == 'zh'  and recent_resource.title_zh != '' and recent_resource.title_zh != None%}
            <a href="{{ recent_resource.link_zh }}">{{recent_resource.title_zh}}</a> 
        {% else %}
            <a href="{{ recent_resource.link }}">{{recent_resource.title}}</a> 
        {% endif %}
     {% else %}
          <a href="{{ recent_resource.link }}">{{recent_resource.title}}</a> 
     {% endif %}
                         
                         
                         
                     </h4>
                 </div>
                 {% endif%}
               {% endfor %}
           
             {% endif%}
        
        </div>
     </div-->
      
 <!-- DX col ------------------------------>
      <!--div class="col-4" >
      
          
     <div class="col-100 gray-box-text height-300" >
        
           <img src="/static/img/iyph-stc/elements/homeaction_1.jpg"  title="&#169; FAO"style="padding:0">
           <div class="padding20">
        <h2>{% trans "Take action!" %}</h2> 
          
          <p>{% trans "Everyone has a role to play in keeping plants healthy!" %}<br />
          <a href="/iyph/take-action" class="pull-right go">[{% trans "Find out what you can do "%}]</a> </p>
          </div>
       </div> 

        {% if recent_chronology1 %}
        <div class="col-100 gray-box-text event" style="margin-top:22px">
            <div class="padding20">
            <h2>{% trans "Events" %}</h2> 
            {% for chronology in recent_chronology1 %}
                <h5><a href="{% url 'chronology-detail' chronology.slug %}" style="color:black;">{% with chronology|get_object_translation as translated_page %}{{ translated_page.title|safe }}{% endwith %}</a></h5>
                <p>{{chronology.venue}}, {{chronology.country}}<br>
                {{chronology.start_date|date:"d M Y" }}  -  {{chronology.end_date|date:"d M Y" }}
                </p>
            {% endfor %}
            <a href="/iyph/chronology/list" class="pull-right go" >[{% trans "calendar"%}]</a>
            </div>
        </div>
        {% endif %}
    </div-->
</div>

<!-- Second ROW ------------------------------------------------------------------->
    <!--div class="row">
        <div class="col-12">
            <h6 style="border-top:4px solid #CCC; display:block; width:100%">{% trans "Multimedia"%}</h6>
            <div class="col-4">
                <iframe  class="img-responsive"  src="https://www.youtube.com/embed/tgbNymZ7vqY">  </iframe>
                <h3>{% trans "IYPH2020 Corporate video" %}</h3>
            </div>
            <div class="col-4">
              <img src="/static/img/images/photo1.jpg" class="img-responsive" />
              <h3>{% trans "Photo contest"%}</h3>
            </div>
            <div class="col-4" >
                <img src="/static/img/images/photo2.jpg" class="img-responsive" />
                <h3>{% trans "Infographic"%}</h3>
            </div>
        </div>
    </div-->
{% endblock %}
