{% load mezzanine_tags staticfiles i18n %}

{% if  page.id == 1393%} 
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);

        for (var i = 1; i < 5; i++) {
        
            if (id != 'div' + i) {
                var e1 = document.getElementById("div" + i);
                e1.style.display = 'none';
                if (i ==1 || i==2 || i==3 || i==4 ){
                var img1 = document.getElementById("img" + i);
                img1.src="/static/img/plusicon.png";
            }
                
            }
        }
        if (e.style.display == 'block') {
            e.style.display = 'none';
            if (id=='div1'){
                var img1 = document.getElementById("img1");
                img1.src="/static/img/plusicon.png";
            }  
            if (id=='div2'){
                var img1 = document.getElementById("img2");
                img1.src="/static/img/plusicon.png";
            }
           if (id=='div3'){
                var img1 = document.getElementById("img3");
                img1.src="/static/img/plusicon.png";
            }
            if (id=='div4'){
                var img1 = document.getElementById("img4");
                img1.src="/static/img/plusicon.png";
            }
        } else {
            e.style.display = 'block';
            
            if (id=='div1'){
                 var img1 = document.getElementById("img1");
                img1.src="/static/img/minusicon.png";
            }
            if (id=='div2'){
                 var img1 = document.getElementById("img2");
                img1.src="/static/img/minusicon.png";
            } if (id=='div3'){
                 var img1 = document.getElementById("img3");
                img1.src="/static/img/minusicon.png";
            } if (id=='div4'){
                 var img1 = document.getElementById("img4");
                img1.src="/static/img/minusicon.png";
            }
          
            
        }
    }

</script>
<div class="row-fluid">
<div class="span8">

   
<p>The global project on Strengthening the Capacity of Developing Contracting Parties (CPs) is implemented by the International Plant Protection Convention (IPPC) Secretariat under the Framework of the FAO-China South-South Cooperation (SSC) Programme.</p>
<p>The IPPC-China Project's overall objective is to strengthen the capacity of developing countries to implement the IPPC and its International Standards for Phytosanitary Measures (ISPMs). It has a total budget of USD 2 million for four years (2017-2020).
</p>

<p><b>Click to learn more about the project's four main areas of work:</b></p>

<p><img id="img1" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div1');"><b>Strengthen the phytosanitary capacity of developing country contracting parties (CPs)  </b></a><p>
<div id="div1" style="display:none;background-color: #E6F5FC; padding:12px;"> 
    <ol>
        <li><b>Support to IPPC Regional Workshops</b>
              <ul>
                  <li><b>IPPC Regional Workshop for Africa (2018)</b>
                        <div>
                        The FAO-IPPC-China Project financially supported the 2018 IPPC/FAO Regional Workshop for Africa held in Antananarivo, Madagascar from 11 to 13 September 2018. 
                        <br><b>></b><a href="https://www.ippc.int/en/news/working-together-to-protect-plants-and-the-environment-in-africa-a-2018-ippc-regional-workshop/">News article</a>  
                    </div>
                  </li>
                  <li><b>IPPC Regional Workshop for Central and Eastern Europe and Central Asia  (2017)</b>
                      <div>
                        The IPPC-China Project financially supported the 2017 IPPC/FAO Regional Workshop for Central and Eastern Europe and Central Asia (CEECA) held from 5 to 8 September 2017 in Tbilisi, Georgia. 
                        <br><b>></b><a href="https://www.ippc.int/en/news/2017-ippc-regional-workshop-for-central-and-eastern-europe-and-central-asia-successfully-held-in-georgia/">News article</a>  
                    </div><br>
                  </li>
               </ul>
         </li>
         <li><b>Support to IPPC workshops on National Reporting Obligations (NROs)</b>
             <ul>
                  <li><b>IPPC Workshop on NROs for Central and Eastern Europe and Central Asia (2018)</b>
                        <div>
                          The IPPC-China Project financially supported the IPPC National Reporting Obligations Workshop for Central and Eastern Europe and Central Asia (CEECA) held in in Moscow, Russian Federation from 7 to 8 September 2018. 
                          <br><b>></b><a href="https://www.ippc.int/en/news/ippc-boosts-central-and-eastern-european-and-central-asian-countries-capacities-in-national-reporting-obligations/">News article</a>  
                      </div>
                  </li>
                  <li><b>IPPC Workshop on NROs for the Southwest Pacific  (2017)</b>
                        <div>
                      The IPPC-China Project financially supported the IPPC National Reporting Obligations Workshop for the South-West Pacific held in Nadi, Fiji on 10th and 11th August 2017. 
                          <br><b>></b><a href="https://www.ippc.int/en/news/the-ippc-national-reporting-obligations-workshop-for-the-south-west-pacific-held-in-fiji/">News article</a>  
                      </div><br>
                    </li>
              </ul>
         </li>
         <li><b>IPPC advanced technical training courses</b>
                <div>Two advanced PPC technical training courses on phytosanitary measures will be held in 2020 and 2021 in China.</div>
          </li>
    </ol>
</div>

<p><img id="img2" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div2');"><b>Enhance bilateral and inter-regional cooperation on phytosanitary measures in China's "One Belt and One Road" Initiative countries</b></a><p>
<div id="div2" style="display:none;background-color: #E6F5FC; padding:12px;">
     <ol><li><b>IPPC High-Level Symposium on Cooperation for Phytosanitary Measures</b>
      <ul>
          <li><b>IPPC High-Level Symposium on Cooperation for Phytosanitary Measures among the Chinese Initiative "One Road" Countries</b>
              <div>
                The FAO-IPPC-China Project fully supported the organization of the IPPC High-Level Symposium on Cooperation for Phytosanitary Measures among the Chinese Initiative "One Road" countries held in Nanning, China from 25 to 28 September. 
                <br><b>></b><a href="https://www.ippc.int/en/news/cooperation-on-phytosanitary-measures-among-the-chinese-initiative-one-belt-and-one-road-countries-an-ippc-high-level-symposium/">News article</a>  
            </div>
          </li>
          <li><b>IPPC High-Level Symposia on Cooperation for Phytosanitary Measures among the Chinese Initiative "One Belt" Countries </b>
              <div>
                The FAO-IPPC-China Project fully supported the organization of the IPPC High-Level Symposium on Cooperation for Phytosanitary Measures among the Chinese Initiative "One Belt" countries that will take place in Xia-An, China from 27 to 30 May 2019. 
            </div><br>
          </li>
       </ul>
    </li>
    <li><b>Setting up pilot sites for demonstrating new Chinese plant health technologies and products </b> 
        <div>The IPPC Secretariat, together with China's national plant protection organization (NPPO), set up two pilot sites to demonstrate new plant health technologies and products in two developing countries participating in the "One Belt and One Road" initiative. The pilot demonstration aims at transferring plant health related knowledge, techniques and products from China to the host country. 
            <ul>
                <li><b>IPPC Pilot Project in Sri Lanka</b>
                    <div>Sri Lanka was selected as one of the two pilot countries for the IPPC-China project. A Memorandum of Understanding (MoU) was officially signed between the Department of Agriculture of Sri Lanka and FAO on behalf of the IPPC Secretariat. The work plan for 2019-2021 was developed by the International Steering Committee of the IPPC-China Project and includes the following activities:
                        <ul>
                            <li>conducting an IPPC Phytosanitary Capacity Evaluation (PCE) to guide the NPPO in developing a national phytosanitary capacity strategy; and revising Sri Lanka's phytosanitary legislation;</li>
                             <li>delivering training courses on phytosanitary technologies related to heat and irradiation treatments; and </li>
                            <li>organizing field demonstrations in pilot sites of Chinese plant health technologies to control fruit flies.</li>
                        </ul><br>
                    </div>
                    </li>
                    <li><b> IPPC Pilot Project in XX (TBD) </b></li>
         </ul>
        </div>
     </ul>
   </ol>
    
</div>
<p><img id="img3" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div3');"><b>Promote coordination and collaboration among China, the IPPC Secretariat and other developing CPs by providing human resources and promoting technical cooperation
</b></a><p>
<div id="div3" style="display:none;background-color: #E6F5FC; padding:12px;">
    <p>The IPPC-China Project supports professional staff from China, the IPPC Secretariat and other CPs that are implementing projects.</p>
    <table style="border: 1 px black; " border="1">
         <tr>
             <td valign="center"  style="padding: 15px;"><img src="https://www.ippc.int/static/media/profile_photos/Sarah.JPG" width="350 px"></td>
                <td valign="top" style="padding: 15px;"><b>Sarah BRUNEL</b><br>
                    Implementation Facilitation Officer (Partially support)<br><br>
                    <b>Based in:</b> Rome (HQ)<br>
                    <b>E-mail:</b> <a href="mailto:Sarah.Brunel@fao.org">Sarah.Brunel@fao.org</a>
                </td>
                <td valign="top" style="padding: 15px;">Coordinates Phytosanitary Capacity Evaluation (PCE) activities and projects. Leads PCEs in some countries and manages several projects. Supports several Implementation Committee (IC) working groups. Secretariat lead for the coordination of the IPPC regional workshops and Technical Coordination of regional plant protection organizations (TC-RPPOs).<br>
                    Provides input to IPPC governance,the IC and the FAO-China South-South Cooperation project.<br>
                    <u>Partner liaison for</u>: CIHEAM, EFSA, IAGPRA; IFU lead for: WCO.
</td>
        </tr>
        <tr>
                <td valign="center"  style="padding: 15px;"><img src="https://www.ippc.int/static/media/profile_photos/xiaonan.jpg" width="350 px"></td>
                <td valign="top" style="padding: 15px;"><b>Xiaonan Li</b><br>
                    Implementation Facilitation Associate (Fully supported)<br><br>
                    <b>Based in: </b>Rome (HQ)<br>
                    <b>E-mail:</b> <a href="mailto:lixiaonan0505@163.com">lixiaonan0505@163.com</a>
                </td>
                <td valign="top" style="padding: 15px;">Implementation Facilitation Unit (IFU) Associate of the FAO-China South-South Cooperation project. Provides technical support and technical inputs to related key IPPC Capacity Development projects.</td>
        </tr>
        
    </table>
</div>
<p><img id="img4" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div4');"><b>Raise awareness of the IPPC at the global, regional and national levels</b></a><p>
<div id="div4" style="display:none;background-color: #E6F5FC; padding:12px;">The IPPC-China Project supports IPPC communication and advocacy activities, in particular for the "International Year of Plant Health" for 2020 (IYPH 2020). These activities include four IYPH events, the translation of four key documents, and updating the IPPC website in Chinese. </div>



 {% include "pages/publicationtable.html" %}



</div>
<div class="span4">
     <img src="https://www.ippc.int/static/media/uploads/news/high-level.jpg">
    <div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">RELATED RESOURCES</h5>
        > <a href="https://www.ippc.int/static/media/uploads/fao_china_ssc_presentation__may_2019.ppt">Slideshow: Introduction to the IPPC China Programme</a><br>
    </div>
    <br>
    <div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">Statistics</h5>
  
    > <a href="">2019</a><br>
    > <a href="">2018</a><br>
    > <a href="">2016</a><br>
    </div>
    <br>
    <div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">RECENT NEWS</h5>
  
    > <a href="">The 2018 IPPC Regional Workshop for Central and Eastern Europe and Central Asia Successfully held in Georgia</a><br>
</div>

</div>





</div>
{% endif %}
