{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Edit Contributed Resource" %} {% endblock %}

{% block body_class %}wide{% endblock %}



{% block breadcrumb_menu %}
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/core-activities/">{% trans "Core Activities" %} </a></li>
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-and-implementation/">{% trans "Standards &amp; Implementation" %} </a></li>
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/">{% trans "Implementation and Facilitation" %} </a></li>
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/guides-and-training-materials/">{% trans "Implementation and Capacity Development Guides and Training Materials" %} </a></li> 
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/guides-and-training-materials/contributed-resource-list/">{% trans "Contributed Resources list"%}</a><span class="divider">/</span></li> 
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>

{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}



{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>


<h1><small class="normal">{% trans "Editing" %}</small> {{ resource.title }} <br><small class="normal">{% trans "Last updated on" %} {{resource.modify_date}}</small></h1>

<form enctype="multipart/form-data" class="customform" method="POST" >
    {% csrf_token %}
    <fieldset>
        {% include "pages/contributed_resource_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update Contributed Resource" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>


{% endblock %}

