{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles translate_tags accounts_tags %}

{% block meta_title %}
  {% trans "Contributed Resources" %}: 
  {{ page.title }}
{% endblock %}


{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li id="breadcrumb-menu-core-activities"><a href="/{{ LANGUAGE_CODE }}/core-activities/">{% trans "Core Activities" %} </a><span class="divider">/</span></li>
<li id="breadcrumb-menu-core-activities-standards-and-implementation"><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-and-implementation/">{% trans "Standards &amp; Implementation" %} </a><span class="divider">/</span></li>
<li id="breadcrumb-menu-core-activities-standards-setting"><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/">{% trans "Implementation and Facilitation" %} </a><span class="divider">/</span></li>
<li id="breadcrumb-menu-core-activities-standards-sett" class="active"><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/guides-and-training-materials/">{% trans "Implementation and Capacity Development Guides and Training Materials" %} </a><span class="divider">/</span></li>           
<li class="active">Contributed Resources</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

 
<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
  {% if perms.ippc.add_contributedresource or user.is_superuser  %}
   <br>
  <small><a class="btn btn-small btn-info" href="/core-activities/capacity-development/guides-and-training-materials/contributed-resource-create/">+ {% trans "Add new Contributed resource" %}</a></small>
  <br>
  {% else %}
  {% endif %}
</p>



{% if latest %}  
<h1>
  {% trans "Contributed Resources" %}
</h1> 
<!--p>The IPPC Secretariat issued a call to identify existing phytosanitary materials that could be made available or adapted. The Secretariat received hundreds of materials in response to this call.<br>
  The IC reviews the contributed materials in line with <a href="https://www.ippc.int/static/media/uploads/1.1.2_criteria_for_posting_contributed_resources_2019-05-31.pdf">a set of criteria</a> . Suitable materials are made available in the page.<br>
    You can sort the resources by clicking "Resource provided by" or "Posted date".</p-->
<h4>What are Contributed resources? </h4>
<p>Contributed resources are phytosanitary technical resources that were developed by National Plant Protection Organizations (NPPOs), Regional Plant Protection Organizations (RPPOs) and other organizations for their own use and kindly provided the IPPC Secretariat as they are considered useful for other organizations too. </p>

<h4>How Contributed resources are made available on the IPP?</h4>
<p>The IPPC Implementation and Capacity Development Committee (IC) reviews the provided resources against <a href="https://www.ippc.int/static/media/uploads/1.1.2_criteria_for_posting_contributed_resources_2019-05-31.pdf">established criteria</a>. Suitable materials are made available on this page.
</p>

<h4>Who and how could submit resources? </h4>
<p>You can submit your phytosanitary technical resources anytime to the IPPC Secretariat (<a href="mailto:ippc@fao.org">ippc@fao.org</a>) by attaching the <a href="https://www.ippc.int/en/publications/88267/">form</a>. Please write "Contributed resources" in the subject line of your email.
<br> <br>
If the resources are provided by files (pdf, power point presentations...etc) instead of web links, please also fill out the <a href="https://www.ippc.int/en/publications/88268/">FAO permission request form</a> and send it back to us as FAO requests a non-exclusive license to publish the resources in the FAO Document Repository at: <a href="http://www.fao.org/documents">http://www.fao.org/documents</a> on behalf of the IPPC Secretariat to be then made available  on the IPP.
</p>

<h4>Topic specific calls</h4>
<p>The IPPC Secretariat periodically issues topic specific calls. Currently we are soliciting technical resources:
    <br> <br>
<b>(i)</b>	e-Commerce, <br>
<b>(ii)</b>	Pest Risk Analysis (PRA) <br>
<b>(iii)</b>	Pest Outbreak Alert and Response Systems
<br> <br>
Further information is available here: <a href="https://www.ippc.int/en/calls/call-for-phytosanitary-technical-resources-related-to-e-commerce-pra-and-pest-outbreak-alert-and-response-systems-that-may-be-shared-with-the-ippc-community/">https://www.ippc.int/en/calls/call-for-phytosanitary-technical-resources-related-to-e-commerce-pra-and-pest-outbreak-alert-and-response-systems-that-may-be-shared-with-the-ippc-community/</a>
<br> <br>
The IPPC Guides and training materials developed under the auspices of the IPPC Secretariat are available <a href="https://www.ippc.int/en/core-activities/capacity-development/guides-and-training-materials/">here</a>.

</p>



<div class="alert alert-warning" role="alert">
 
 <i class="icon-warning-sign"></i><i>Resources on this page are not intended to be interpretations of ISPMs and terminology used may not be consistent with ISPM 5. Unless otherwise indicated resources, or pest distributions contained within them are not endorsed/adopted/agreed by the CPM nor developed under the auspices of the IPPC Secretariat</i></div>
<p>You can sort the resources by clicking "Resource provided by" or "Posted date".</p>
<table class="table table-condensed table-striped table-bordered" id="publications">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Resource provided by" %}</th>
            <th>{% trans "Posted date" %}</th>
        </tr>
    </thead>
    <tbody>

        {% for resource in latest %}
            <tr id="media-file-{{ resource.id }}">
                <td>
                    <a id="title_{{ resource.id }}" href="{% url 'contributed-resource-detail' resource.slug %}">{{ resource.title }}</a>
                </td>
                <td>
                    {% if  resource.ippc_resource == 1 %}<img src="/static/img/phytosanitary/ippc-resource.gif"> <br>{% endif %} 
                    {% if  resource.resource_provide_by.all %}
                    <ul class="unstyled nomargin">
                        {% for c in resource.resource_provide_by.all %}
                            <li>{% if  c.provider == 'IPPC' %}<img src="/static/img/phytosanitary/ippc-resource.gif"> {%else%}{{ c.provider  }}{% endif %} <br> </li>
                            {% empty %}
                        {% endfor %}
                    </ul>  
                    {% endif %}
                </td>
                <td>{{ resource.publish_date|date:"d M Y"  }}</td>
            </tr> 
        {% endfor %} 
  
    </tbody>
</table>


 


{% else %}
<p>No Resources  available.</p>
{% endif %}
<script src="{% static "js/jquery.dataTables.js" %}"></script> 
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}


 




