
    


<table class="table table-condensed  table-bordered dataTable" >

    <tr>
        <th style="background-color: #0f405b;color: white">No.</th>
        <th style="background-color:  #0f405b;color: white">Organization</th>
        <th style="background-color:  #0f405b;color: white">Abbr.</th>
        <th style="background-color:  #0f405b;color: white">IPPC Contact Point</th>
        <th style="background-color:  #0f405b;color: white">Partner Org Contact Point</th>

    </tr>
    <tr>
        <th style="background-color: #E0E0E0">I</th>
        <th  style="background-color: #E0E0E0" colspan="4">UN Organizations </th>

    </tr>	

 <tr>
        <td>1</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/biologicalweaponsconvention/">Biological and Toxic Weapons Convention</a></td>
        <td>BWC</td>
        <td>Mr Artur Shamilov</td>
        <td>Mr Daniel Feakes</td>

    </tr>
  <tr>
        <td>2</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/codexalimentarius/">Codex Alimentarius</a></td>
        <td>Codex</td>
        <td>Mr Mirko Montuori</td>
        <td>Ms Gracia Brisco</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/cbd/">Convention on Biological Diversity</a></td>
        <td>CBD</td>
        <td>Mr Avetik Nersisyan</td>
        <td>Ms Junko Shimura</td>

    </tr>
  
    <tr>
        <td>4</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/internationalatomicenergyagency/">International Atomic Energy Agency</a></td>
        <td>IAEA</td>
        <td>Ms Adriana Moreira</td>
        <td>Mr Rui Cardoso Pereira</td>

    </tr>
	  <tr>
        <td>5</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/imo/">International Maritime Organization</a></td>
        <td>IMO</td>
        <td>Ms Ketevan Lomsadze</td>
        <td>Mr Alfredo Parroquin-Ohlson </td>


    </tr>
    <tr>
        <td>6</td>
        <td>International Treaty on Plant Genetic Resources for Food and Agriculture</td>
        <td>ITPGRFA</td>
        <td>Mr Avetik Nersisyan</td>
        <td>Mr Kent Nnadozie</td>

    </tr>
     <tr>
        <td>7</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/ozonesecretariat/">Ozone Secretariat (UN Environment)</a></td>
        <td></td>
        <td>Ms Adriana Moreira	</td>
        <td>Ms Sophia Mylona </td>


    </tr>
    <tr>
        <td>8</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/unep/">United Nations Environment</a></td>
        <td>UNEP</td>
        <td>Mr Mirko Montuori</td>
        <td>Ms Niamh Brannigan</td>

    </tr>
   
  
   
    <tr>
        <td>9</td>

        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/unfccc/">United Nations Framework Convention on Climate Change</a></td>
        <td>	UNFCCC</td>
        <td>	Mr Mirko Montuori	</td>
        <td>Mr Peter Iversen </td>
    </tr>

    <tr>
        <th style="background-color: #E0E0E0">II</th>
        <th  style="background-color: #E0E0E0" colspan="4">International Organizations</th>

    </tr>
      <tr><td>10</td>
        <td>Convention on International Trade in Endangered Species of Wild Fauna and Flora</td>
        <td>CITES</td>
        <td>Mr  Brent Larson</td>
        <td>	</td>
    </tr>
      <tr><td>11</td>
        <td>Eurasian Economic Commission</td>
        <td>EEC</td>
        <td>Mr Avetik Nersisyan</td>
        <td>	</td>
    </tr>
     <tr><td>12</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/iica/">Inter American Institute for Cooperation in Agriculture	</a></td>
        <td>IICA	</td>
        <td>Mr Descartes Koumba</td>
        <td>Mr Robert Ahern</td>
    </tr>
    <tr><td>13</td>
        <td>International Organization for Standardization </td>
        <td>	ISO	</td>
        <td>Ms Adriana Moreira</td>
        <td>Mr Michael Sussman </td></tr>
     <tr><td>14</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/stdf/">Standards Trade Development Facility</a></td>
        <td>STDF</td>
        <td>Mr  Brent Larson</td>
        <td>Mr Melvin Spreij</td>
    </tr>
        <tr><td>15</td>
        <td>Universal Postal Union </td>
        <td>UPU</td>
        <td>Mr Mirko Montuori / Ms Barbara Peterson</td>
        <td>	</td>
    </tr>
	 <tr><td>16</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/oie/">World Animal Health Organization</a></td>
        <td>OIE</td>
        <td>	Mr Jingyuan Xia 	</td>
        <td></td></tr>
	
    <tr><td>17</td>
        <td><a href="http://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/worldbank/">World Bank</a></td>
        <td>WB	</td>
        <td>Mr Craig Fedchock</td>
        <td>Mr William John Gain</td>
    </tr>

    
      <tr><td>18</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/wco/">World Customs Organization</a></td>
        <td>WCO</td>
        <td>Mr Craig Fedchock / Mr Brent Larson</td>
        <td>Mr Ozlem Soysanli</td></tr> 
    <tr><td>10</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/wto/">World Trade Organization</a></td>
        <td>WTO	</td>
        <td>Mr Jingyuan Xia / Mr Brent Larson 	</td>
        <td>Mr Rolando Alcala</td></tr>
   
  
   
   
 
  
    <!--tr><td>8</td>
        <td>African, Caribbean and Pacific Group of States</td>
        <td>ACP</td>
        <td> </td>
        <td>	</td>
    </tr-->
  
	


    <tr>
        <th style="background-color: #E0E0E0">III</th>
        <th style="background-color: #E0E0E0" colspan="4">Industry/NGOs</th>

    </tr>
    <tr><td>19</td>
        <td>Container Owners Association</td>
        <td>COA</td>
        <td>Ms Ketevan Lomsadze</td>
        <td>Mr Michael Patrik Downes</td>
    </tr>
    <tr><td>20</td>
        <td>Global Express Association</td>
        <td>GSA</td>
        <td>Ms Barbara Peterson </td>
        <td>Mr Carlos Grau Tanner</td>
    </tr>
    <tr>
        <td>21</td>
        <td>International Grain Trade Coalition</td>
        <td>IGTC</td>
        <td>Mr Craig Fedchock</td>
        <td>Ms Katy Lee</td>
    </tr>
        <tr><td>22</td>
        <td>International Olive Council </td>
        <td>IOC</td>
        <td>Ms Sarah Brunel</td>
        <td>Mr Abdellatif Ghedira</td>
    </tr>
    <tr>
        <td>23</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/internationalseedfederation/">International Seed Federation</a></td>
        <td>ISF</td>
        <td>Ms Ketevan Lomsadze/Mr Mirko Montuori</td>
        <td>Dr Souza Richards (Rose)</td>
    </tr>
    
    
    <tr><td>24</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/internationalseedtestingassociation/">International Seed Testing Association</a></td>
        <td>ISTA</td>
        <td>Ms Ketevan Lomsadze</td>
        <td>Mr Andreas Wais</td>
    </tr>

    <tr><td>25</td>
        <td>The Europe-Africa-Caribbean-Pacific Liaison Committee</td>
        <td>COLEACP	</td>
        <td>Ms Sarah Brunel</td>
        <td>Ms Morag Webb</td>
    </tr>

    <tr>
        <th style="background-color: #E0E0E0">IV</th>
        <th style="background-color: #E0E0E0" colspan="4">Academia/Research</th>


    </tr>

    <tr><td>26</td>
        <td><a href="http://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/cabi/">Centre for Agriculture and Biosciences International </a></td>
        <td>CABI</td>
        <td>Mr Brent Larson</td>
        <td>Mr Washington Otieno</td>
    </tr>
    <tr><td>27</td>
        <td>Centre international de hautes &eacute;tudes agronomiques m&eacute;diterran&eacute;ennes</td>
        <td>CIHEAM</td>
        <td>Ms Deng Arop</td>
        <td>Ms Anna Maria Donghia</td>
    </tr>
    <tr><td>28</td>
        <td>Entomological Society of America </td>
        <td>ESA	</td>
        <td>Mr Deng Arop	</td>
        <td></td>
    </tr>
     <tr><td>29</td>
        <td>Erasmus Mundus Programme of PlantHealth	</td>
        <td></td>
        <td>Mr Arop Deng </td>
        <td>Mr Josep Armengol Forti </td>
    </tr>
      <tr><td>30</td>
        <td>Global Taxonomy Initiative of the CBD</td>
        <td>GTI/CBD</td>
        <td>Ms Adriana Moreira	</td>
        <td>Ms Junko Shimura </td>
    </tr>
     <tr><td>31</td>
        <td>Imperial College</td>
        <td></td>
        <td>Ms Ketevan Lomsadze	</td>
        <td>Ms Megan Quinlan </td>
    </tr>
      <tr><td>32</td>
        <td><a href="https://www.ippc.int/fr/external-cooperation/organizations-page-in-ipp/internationalpestriskresearchgroup">International Pest Risk Research Group </a></td>
        <td> IPRRG </td>
        <td>Mr Denis Allex </td>
        <td>Mr Alan MacLeod</td>
    </tr>
    <tr><td>33</td>
        <td>International Association for the Plant Protection Sciences</td>
        <td>IAPPS</td>
        <td>Mr Deng Arop</td>
        <td>Mr Elvis Heinrichs </td>
    </tr>
    <tr>
        <td>34</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/internationalforestryquarantineresearchgroup/">International Forestry Quarantine Research Group</a></td>
        <td>IFQRG</td>
        <td>Mr Brent Larson	</td>
        <td>Mr Michael Ormsby</td>
    </tr>
    <tr><td>35</td>
        <td>International Society for Plant Pathology</td>
        <td>ISPP</td>
        <td>Mr Deng Arop</td>
        <td>Ms Jan Leach, Ms Lodovica Gullino</td>
    </tr>
     
    	<tr><td>36</td>
        <td>La Sapienza University of Rome </td>
        <td>	</td>
        <td>Mr Riccardo Mazzucchelli</td>
        <td></td>
    </tr>
    <tr><td>37</td>
        <td><a href="https://www.ippc.int/en/external-cooperation/organizations-page-in-ipp/phytosanitarymeasuresresearchgroup/">Phytosanitary Measures Research Group (PMRG)</a></td>
        <td>PMRG</td>
        <td>Ms Adriana Moreira</td>
        <td>Mr Peter LEACH (Chairperson) and Ms Joanne Wilson (Secretary)</td>
    </tr>
  
  
   
   
    

<tr><td>38</td>
        <td>University of Florence  </td>
        <td></td>
        <td>Mr Deng Arop	</td>
        <td>Ms Laura Mugnai</td>
    </tr>

   
</table>
