{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main %}
{{ block.super }}

{% editable page.medialibrary.content %}
{{ page.medialibrary.content|richtext_filter|safe }}
{% endeditable %}

{% block medialibrary %}


{# <table class="table table-condensed table-striped"> #}
{#    <thead> #}
{#      <tr> #}
{#        <th>{% trans "Title" %}</th> #}
{#      </tr> #}
{#    </thead> #}
{#    <tbody> #}
{#      {% for editor in page.get_content_model.editors.all %} #}
{#        <tr> #}
{#          <td>{{ editor.get_profile.first_name }} {{ editor.get_profile.last_name }} <a class="btn btn-small btn-info pull-right" href="/admin/auth/user/{{ editor.get_profile.id }}">Edit User as Admin</a><br></td> #}
{#        </tr> #}
{#      {% endfor %} #}
{#    </tbody> #}
{#  </table> #}


{# =todo: PublicationPages contain publications which contain files #}
{# {% with page.medialibrary.publications.all as publications %} #}
{# {% for publication in publications %} #}

{% with page.medialibrary.files.all as files %}
{% for file in files %}
{% block mediafile %}
<div class="media" id="media-file-{{ file.id }}">
    <a class="pull-left" href="{{ MEDIA_URL }}{{ file.file }}">
        {% if file.file.filetype == 'Image' %}
            <img class="media-object" src="{{ MEDIA_URL }}{% thumbnail file.file 64 64 %}">
        {% else %}
            <img class="media-object" src="{{ STATIC_URL }}img/file_icon.png" />
        {% endif %}
    </a>
    <div class="media-body">
        <strong><a href="{{ MEDIA_URL }}{{ file.file }}">
            {{ file.title|default:file.file.filename }}
        </a></strong>
        <p>{{ file.description }}</strong>
    </div>
</div>
{% endblock %}
{% endfor %}


{# {% endfor publications %} #}

{% endwith %}
{% endblock %}
{% endblock %}
