{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Media-kit page" %} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li><a href="/{{ LANGUAGE_CODE }}/structure/">{% trans "About" %}</a><span class="divider">/</span></li>


<li class="active">{% trans "Media Kit" %}</li>
{% endblock %}

{% block main %}
 <h1>{% trans "Media Kit" %}</h1>
    <p>{% trans "All IPPC media are available here subject to the following terms and conditions:" %}</p>
 <ol>
     <li>{% trans "No material obtained from this website may be used for the purpose of monetary gain or promotion of products and services;" %}</li>
     <li>{% trans "Copyright of all material remains that of <a href='http://www.fao.org/home/en/'>FAO</a>, and should be treated as such;" %}</li>
     <li>{% trans "We are notified how and where this material is utliized so that we can create links and make it more widely available." %}</li>
 </ol>
<p>{% trans "Thank you!<br>IPPC Secretariat" %}</p>
    
 <p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
  {% if user.is_superuser  %}
      <br> <small><a class="btn btn-small btn-info" href="/admin/ippc/mediakitdocument/add/">+ {% trans "Add new" %}</a></small>
  {% endif %}
</p>

{% for obj in latest %}
   
<table class="table table-condensed  " id="publications">
    <tr>
        <th  style="background-color: #356B76;; color: white">{{obj.0}}</th> 
    </tr> 
    <tr>
       <td>
        <table class="table table-condensed">
    
        {% for o in obj.1 %}
            {% if forloop.counter|divisibleby:2 %}{% else %}<tr>{% endif %}
            <td style="background-color: #D4E0E4;; width: 50px" >{% if o.image %}<img  src='{{ MEDIA_URL }}{{o.image}}' width="40px" height="20px">{%endif%}&#160;</td>
            <td style="background-color: #fafae6; width: 250px"><b style="vertical-align: top;">{{o.title}}</b>{% if user.is_superuser %}&#160;<a class="small" href="/admin/ippc/mediakitdocument/{{ o.id }}"><i class="icon-edit"></i> Edit as Admin</a>{% endif %}<br><br>
            <span class="icon icon-download-alt"></span>&#160;&#160;
            {%if o.file_en %}<a href="{{ MEDIA_URL }}{{ o.file_en }}">English</a>&#160;&#160;{% endif %}
            {%if o.file_es %}<a href="{{ MEDIA_URL }}{{ o.file_es }}">Espa&ntilde;ol</a>&#160;&#160;{% endif %}
            {%if o.file_fr %}<a href="{{ MEDIA_URL }}{{ o.file_fr }}">Fran&ccedil;ais</a>&#160;&#160;{% endif %}
            {%if o.file_ru %}<a href="{{ MEDIA_URL }}{{ o.file_ru }}">&Rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;</a>&#160;&#160;{% endif %}
            {%if o.file_ar %}<a href="{{ MEDIA_URL }}{{ o.file_ar }}">العربية</a>&#160;&#160;{% endif %}&#160;&#160;
            {%if o.file_zh %}<a href="{{ MEDIA_URL }}{{ o.file_zh }}">中文</a>&#160;&#160;{% endif %}
            </td>
           {% if forloop.counter|divisibleby:2 %}</tr>{% else %}{% endif %}
        {% endfor %}
        </table>
      </td>
  </tr>
</table>

 {% endfor %}

<script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>




  
{% endblock %}


{% block extra_js %}
  
{% endblock %}