{% load mezzanine_tags staticfiles i18n %}

{% if  page.id == 321 or  page.id == 350 or  page.id == 339 or  page.id == 356 or page.id == 355 or page.id == 353 or page.id == 354 or   page.id == 357 %} 
<script type="text/javascript">
    function toggle_visibility(id) {
       
       var e = document.getElementById(id);
       
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }

</script>
<p><a href="#members" onclick="javascript:toggle_visibility('membersdiv');">show/hide Full list of Contacts</a><p>
<div id="membersdiv" style="display:none;">     
<table class="table table-condensed table-striped table-bordered" id="publications">

  
{% if  page.id == 321 %} 
 <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
  {% for user in secretariat %}
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
 {% if  page.id == 350 %} 
  <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_sc %}
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  {% if  page.id == 339 %} 
   <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_bureau %}
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  {% if  page.id == 356 %} 
   <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_tpdp %}
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  {% if  page.id == 355 %} 
   <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_tpfq %}
 
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  {% if  page.id == 353 %} 
   <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_tpff %}
 
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  {% if  page.id == 354 %} 
   <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Picture" %}</th>
       <th>{% trans "Title" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_tpg %}
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{% if user.2 %}
          <img class="profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail user.2 30 30 %}">
            {% else %}
          <a class="profile-picture" style="height:30px; width:30px; background:#eee;"></a>
            {% endif %}</a>
        </td>
        <td>{{user.3}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  {% if  page.id == 357 %} 
   <thead>
     <tr>
       <th>{% trans "Last Name" %}</th>
       <th>{% trans "First Name" %}</th>
       <th>{% trans "Type of Contact" %}</th>
     </tr>
   </thead>
   <tbody>
 {% for user in users_tppt %}
    <tr>
        <td>{{user.0}}</td>
        <td>{{user.1}}</td>
        <td>{{user.5}}</td>
    </tr>
  {% endfor %} 
  {% endif %}
  
  </tbody>
</table>
    </div>

 
{% endif %}
