{% load mezzanine_tags staticfiles i18n %}

{% if  page.id == 431 %} 
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);

        for (var i = 1; i < 9; i++) {

            if (id != 'div' + i) {
                var e1 = document.getElementById("div" + i);
                e1.style.display = 'none';

            }
        }



        if (e.style.display == 'block') {
            e.style.display = 'none';
        } else {

            e.style.display = 'block';
        }
    }

</script>
<br>
<p><b><u><a><h4>What is a Phytosanitary Capacity Evaluation (PCE)?</h4></a></u></b></p>
<p>National Plant Protection Organization (NPPOs) often lack a clear and up to date legal framework, a well-defined vision and mission and a well-functioning structure. The <b>Phytosanitary Capacity Evaluation (PCE)</b> is a management tool, developed by the IPPC, that can help countries rapidly improve their NPPOs and entire phytosanitary system. 
</p>

<p>The PCE is:</p>
<ul>
    <li>a type of <b>evaluation</b> that helps contracting parties identify and develop  the best legislative, technical and administrative measures to help them meet their IPPC obligations;<br><br></li>
    <li>uses a  <b>modular online software</b> system consisting of 13 modules that use a questionnaire style to document the evaluation process. NPPOs can decide to apply all the modules or just a few, according to their preferences; and<br><br></li>
    <li>a <b>process</b> involving all concerned stakeholders, both public and private. This consensus-driven and confidential process allows contracting parties to identify strengths and weaknesses in their phytosanitary system.<br><br></li>
</ul>
<p>The entire PCE process is under the control of the contracting party. It is not something that is done TO a contracting party; it is a framework that the contracting party adopts for its own purposes and benefits. </p>
<p>To find out more about the PCE process and how to start one in your country, read the next steps below or contact Sarah Brunel, IPPC Implementation Facilitation Officer, at <b><a href="mailto:sara.brunel@fao.org">Sarah.Brunel@fao.org</a></b></p>


<b>> <a href="https://www.ippc.int/static/media/uploads/implementation_of_pces_in_countries.pdf">Click here to consult the list of countries which conducted a PCE overseen by the IPPC Secretariat</a></b>
<br><br>

<b><p><a href="#a" onclick="javascript:toggle_visibility('div1');"><h4>+ Why should countries conduct a PCE?</h4></a></b></p>
<div id="div1" style="display:none;">  
    A PCE should be conducted in countries that want to:
    <ul> 
        <li><b>revise</b> or <b>update</b> their national plant protection and phytosanitary <b>legislation</b> and related legal instruments; and <br><br></li>
        <li><b>identify clear priorities</b> and a <b>strategy</b> to strengthen their phytosanitary system.</li>
    </ul>  
    <br>
</div>

<b><p><a href="#a" onclick="javascript:toggle_visibility('div2');"><h4>+ What are the benefits of a PCE?</h4></a><p></b>
<div id="div2" style="display:none;">  

    <ol>  <li> The PCE's strategic planning tools allow countries to develop a <b>national phytosanitary capacity development strategy</b>. <br><br>
            <b>>  <a href="https://www.ippc.int/static/media/uploads/mozambique_pce_outcomes.pdf">Find out more about the Mozambique capacity development strategy</a></b>.<br><br></li>
        <li>PCEs can help countries <b>revise their phytosanitary legislations and regulations</b>. The IPPC Secretariat has extensive experience in drafting and revising phytosanitary laws and regulations in full collaboration with the FAO Legal Office.<br><br> 
            <b>></b> Find out more about how a PCE in Comoros led to new phytosanitary legislation in the SDTF factsheet <b><a href="http://www.standardsfacility.org/sites/default/files/STDF_Briefing_14.pdf">"Driving knowledge on food safety, animal and plant health: SPS capacity evaluation tools in action".</a></b>
            <br><br></li>
        <li>The real asset of the PCE lies in its <b>philosophy</b>: it empowers and builds the capacities of individuals, institutions (in particular the NPPO) and the whole country. By engaging in the process, all relevant stakeholders (NPPO staff, customs, producers, importers, exporters, researchers, etc.) reach consensus on the strengths and weaknesses of the countrys phytosanitary systems. <br><br>
            Indeed, while conducting a PCE, <b>liaison among stakeholders is greatly enhanced</b>, allowing for in-depth discussions on difficulties encountered and agreements on solutions to improve all aspects of the NPPO. Stakeholders generally report that their understanding of the NPPOs mandate improves after the consensus workshops.<br><br>
        </li>
        <li>The PCE helps countries <b>prioritize activities and resources</b> to fill capacity gaps and enhance the effectiveness of their entire phytosanitary system. Strategic plans and priorities can be the basis for <b>dialogues with donors</b> and improve the likelihood of further funding. <br><br>
            For example, in 2017 a <b>PCE in Guinea led to additional funding</b>. Through the PCE process, a national phytosanitary capacity development strategy was developed with consensus from NPPO, government agency and private sector representatives. Guinea then applied for, and received, a project of over USD 800.000 from the Standards and Trade Development Facility (STDF) to strengthen their phytosanitary control and certification system and improve market access
        </li>
    </ol><br>
</div>


<b><p><a href="#a" onclick="javascript:toggle_visibility('div3');"><h4>+ Who drives the PCE process?</h4></a><p></b>
<div id="div3" style="display:none;">
    The process is driven by staff of the NPPO but should involve non-NPPO representatives from appropriate government agencies, research institutes, universities, agro-industries or import/export associations, etc.<br><br>
    Empowering others and bringing them to the state of taking full ownership of their phytosanitary legal frameworks and strategies is a complex process requiring knowledge as well as capacity development skills. <b>PCE facilitators</b> are the indispensable catalyzers who make the magic to happen. The IPPC Secretariat has created a pool of PCE facilitators who have been carefully selected and trained. Countries are invited to contact them.<br><br>
    <b>>  <a href="https://www.ippc.int/static/media/uploads/pce_facilitators_accredited.pdf">Click here to see bios of accredited PCE facilitators</a></b><br><br>
    <b>></b>  Consult the <b><a href="https://www.ippc.int/en/core-activities/capacity-development/phytosanitary-capacity-evaluation/training-material-on-the-phytosanitary-capacity-evaluation-pce/">training material of the Phytosanitary Capacity Evaluation (PCE) facilitators training course</a></b><br><br>
    <b>></b>  See the <b><a href="https://www.ippc.int/static/media/uploads/list_of_participants_to_ippc_pce_training_course.pdf">list of participants of the IPPC PCE Facilitators training courses</a></b>
    <br><br>
</div>


<b><p><a href="#a" onclick="javascript:toggle_visibility('div4');"><h4>+ What topics are covered in the PCE?</h4></a><p></b>
<div id="div4" style="display:none;"> 
    The PCE is a modular online software system consisting of 13 semi structured questionnaire type modules which cover the following topics:
    <ul>
        <li>	Module 1: Country profile<br><br></li>
        <li>	Module 2: National phytosanitary legislation<br><br></li>
        <li>	Module 3: Environmental forces assessment<br><br></li>
        <li>	Module 4: NPPOs mission and strategy<br><br></li>
        <li>	Module 5: NPPOs structure and processes<br><br></li>
        <li>	Module 6: NPPOs resources<br><br></li>
        <li>	Module 7: Pest diagnostic capacity<br><br></li>
        <li>	Module 8: NPPO pest surveillance and pest reporting capacity<br><br></li>
        <li>	Module 9: Pest eradication capacity<br><br></li>
        <li>	Module 10: Phytosanitary import regulatory system<br><br></li>
        <li>	Module 11: Pest risk analysis<br><br></li>
        <li>	Module 12: Pest free areas, places and sites, low pest prevalence areas<br><br></li>
        <li>	Module 13: Export certification, re-export, transit</li>
    </ul>
    <br>
</div>



<b><p><a href="#a" onclick="javascript:toggle_visibility('div5');"><h4>+ How long does a PCE last?</h4></a><p></b>
<div id="div5" style="display:none;"> 
    The PCE is designed to be implemented at a pace defined by the country and generally last <b>6 months to 1 year</b>. The IPPC Secretariat recommends that a complete PCE be applied <b>every 3-4 years</b>. It can be applied as a whole, or in parts, and as frequently as needed. 
    <br><br>
</div>





<b><p><a href="#a" onclick="javascript:toggle_visibility('div7');"><h4>+ How is a PCE financed?</h4></a><p></b>
<div id="div7" style="display:none;"> 
    The IPPC Secretariat has dedicated considerable efforts to developing the PCE and applying it in dozens of countries. A full-fledged PCE requires an <b>average of USD 80 000</b> (including reviewing and drafting the primary phytosanitary legislation). <br><br>
    The IPPC Secretariat <b>does not fund</b> the PCE but works in close collaboration with <b>donors</b> to provide the support for applying a PCE when requested. Countries need to identify internal or donor-funded resources. Some contracting parties are able to finance the process unilaterally, e.g. from their national budget. In other situations, donors may sponsor the application of the PCE. <br><br>
    In all cases, countries should allocate some resources for planning, identifying stakeholders and organizing workshops to support the PCE process until completion.<br><br>
    In the majority of cases, the PCE has been applied through <b>FAO Technical Cooperation Programme (TCP) projects</b>. The completion of the PCE is often seen as a requirement from donors - such as the Standard and Trade Development Facility (STDF) - for granting project funds.
    <br>    <br>
</div>


<b><p><a href="#a" onclick="javascript:toggle_visibility('div8');"><h4>+ Why are the PCE and its outputs confidential?</h4></a><p></b>
<div id="div8" style="display:none;">  
    The PCE modules and outputs are confidential for the following reasons:<br><br>
    <ul>
        <li>The PCE process involves strategic thinking at the policy, technical and managerial levels. It also requires a deep understanding of plant health, stakeholder management, the operations of a phytosanitary system, the IPPC convention and the international phytosanitary framework, etc. If PCE modules were freely accessible, they might be applied without the proper knowledge and facilitation, and not be properly used.<br><br></li>
        <li>PCE modules collect comprehensive data about national phytosanitary systems that might be economically, politically and technically sensitive and countries might not wish these to be publicly released. <br><br></li>
        <li>Many years of experience shows that NPPOs ask for confidentiality regarding the PCE modules because of possible actions from trading partners.<br><br></li>
    </ul>
    Therefore, the <b>IPPC does not share PCE results publicly</b> unless a country wishes to use or present their PCE results to an external audience.
    <br>    <br>
</div>

<b><p><a href="#a" onclick="javascript:toggle_visibility('div6');"><h4>+ I am interested in starting a PCE in my country. What are the next steps?</h4></a><p></b>
<div id="div6" style="display:none;">  
    The PCE tool is available to any country upon making an <b>official request to the IPPC Secretariat</b>. The IPPC Secretariat is available to be involved in the PCE process and recommends the use of trained and accredited PCE facilitators. However, countries may wish to conduct PCEs on their own.<br><br>
    The PCE is available in English, French, Spanish, Arabic and Russian and is maintained in the IPP restricted area. Further information on the PCE are available directly on the <a href="https://www.ippc.int/en/pce/">PCE platform</a>.<br><br>
    To help country understand the PCE methodology, the guide Preparing a National <b>Phytosanitary Capacity Development Strategy</b> is available in <a href="https://www.ippc.int/static/media/files/publication/en/2018/06/Preparing_strategy_YT9lUD4.pdf">English</a>, <a href="https://www.ippc.int/static/media/files/publication/fr/2018/06/Preparing_strategy_FR_mHruTvK.pdf">French</a> and <a href="https://www.ippc.int/static/media/files/publication/es/2018/06/Preparing_strategy_ES_670tkbZ.pdf">Spanish</a>.<br><br>
    <b>Steps in conducting a PCE:</b><br><br>
    <ol>
        <li><b>Official request to the IPPC Secretariat</b><br><br>
            <div>An <b>official letter</b> of request to conduct a PCE should be sent by a high-level official (e.g. Minister of Agriculture) to the IPPC Secretariat indicating that the country is fully committed to undertaking a PCE and has the available funds to do it. The PCE coordinators name and CV should be included.<br><br>
                The IPPC Secretariat will then propose a <b>PCE facilitator</b> and discuss further arrangements. If the IPPC Secretariat oversees the PCE, it will help organize the first PCE mission and identify stakeholders for the consensus workshops for each selected PCE Module. <br><br>
                A <b>PCE team</b> consisting of a national PCE coordinator, a PCE facilitator, and a member of the IPPC Secretariat, will be formed. If the country wishes to review its phytosanitary legal framework, a national lawyer, an international lawyer and a FAO lawyer will also join the team.<br><br>
            </div>
        </li>
        <li><b>The First PCE mission: situation analysis</b><br><br>
            <div>The first PCE mission is held in the country and lasts about <b>one week</b>. It identifies and invites available members of the PCE teams and relevant stakeholders. The mission starts with a briefing with the PCE team, followed by an official opening which may by attended by ministers. <br><br>
                A <b>consensus workshop</b> is then held with all relevant stakeholders to fill in the online selected PCE Modules. For each module, a maximum of five weaknesses are identified. The first PCE mission might also include technical visits to the airport, ports, border points, a diagnostic laboratory, production sites, etc. 
                A <b>brief</b> about the mission is prepared and sent to the FAO permanent representative, the highest authorities in the country and donors. It provides updates and raises their awareness of the PCE process, its results and the next steps to be taken.<br><br>
            </div>
        </li>
        <li>
            <b>Second PCE mission: Strategic planning</b><br><br>
            <div>The second PCE mission brings together the PCE team and all relevant stakeholders to prepare a problem tree, do a SWOT analysis and develop a logical framework to address the weaknesses that were identified. They then begin drafting a national phytosanitary capacity development strategy. A workshop can be organized to discuss the revised phytosanitary legislation or regulations with all stakeholders.<br><br>
                A field visit may be organized and interviews may be conducted with selected stakeholders. Briefs with updates about the project are sent to the FAO office, the high-level national authorities and donors.<br><br>
            </div>
        </li>
        <li><b>Third PCE mission: Validation</b><br><br>
            <div>During the third and last PCE mission, all stakeholders validate the draft legislation/regulations and the national phytosanitary capacity development strategy. They officially present them to the FAO country office, high-level national authorities and donors.<br><br>
                At this stage, the PCE team and stakeholders have taken full ownership of the outputs of the PCE and of the process itself. They are fully empowered to present and defend their phytosanitary legislation, regulations and strategy.
            </div>
        </li>
    </ol>

</div>

{% endif %}
