{% extends "pages/page.html" %}

{% load mezzanine_tags translate_tags staticfiles i18n %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/DT_bootstrap.css" %}">
{% endblock %}

{% block meta_title %}
  {% with page.publicationlibrary|get_object_translation as translated_page %}
      {{ translated_page.title }}
  {% endwith %}
  {# {{ page.publicationlibrary.title }} #}
{% endblock %}

{% block title %}
     {% with page.publicationlibrary|get_object_translation as translated_page %}
             {% if  page.id == 1389 or page.id == 1393 or page.id == 1114 %} 
                <h4 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">{{ translated_page.title|safe }}</h4>
            {% else %}
                {{ translated_page.title|safe }}  
            {% endif %}
     {% endwith %}
      
{% endblock %}

{% block main %}
    <div class="pull-right">
    {% if user.is_superuser  or perms.pages.change_richtextpage %}
          <a class="btn btn-info btn-small" href="/admin/ippc/publicationlibrary/{{ page.id }}"><i class="icon-edit icon-white"></i> Edit as Admin</a><br>
    {% endif %}
    {% if page.publicationlibrary.id == 777 or page.publicationlibrary.parent_id == 777 %}
        {% for group in request.user.groups.all %}
            {% if group.name == 'IFQRG admin' and  perms.ippc.change_publicationlibrary %}
                <a class="btn btn-info btn-small" href="/admin/ippc/publicationlibrary/{{ page.id }}"><i class="icon-edit icon-white"></i> Edit as Admin</a><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page.publicationlibrary.id == 790 or page.publicationlibrary.parent_id == 790 %}
        {% for group in request.user.groups.all %} 
            {% if group.name == 'PTTEG admin ' and  perms.ippc.change_publicationlibrary %}
                <a class="btn btn-info btn-small" href="/admin/ippc/publicationlibrary/{{ page.id }}"><i class="icon-edit icon-white"></i> Edit as Admin</a><br>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if user.is_superuser or perms.pages.change_richtextpage %}
        <a class="btn btn-info btn-small" href="/admin/ippc/publicationlibrary/add/?parent={{ page.id }}"><i class="icon-plus icon-white"></i> Add new sub page</a><br>
    {% endif %}
    </div>
    <br style="clear:both">   
{# publication libaries may appear in restricted work area or public pages, #}
{# so text if login is required before doing permissions tests #}

{% if page.publicationlibrary.login_required %}
      {% if user.is_superuser or perms.pages.change_richtextpage %}
      
            {{ block.super }}
            
            {% if  page.publicationlibrary.id == 581 or page.publicationlibrary.id == 1303  %}
                {% include "pages/publicationlibrarypoll.html" %}
            {% endif %}    
            
            {% with page.publicationlibrary|get_object_translation as translated_page %}
                {{ translated_page.content|richtext_filter|safe }}
            {% endwith %}

            {# {{ page.publicationlibrary.content|richtext_filter|safe }} #}




            {# {% endeditable %} #}
              {% include "pages/publicationtablerestricted.html" %}
       {% else %}
 
              {% if request.user.groups.all.0 in page.get_content_model.groups.all or request.user.groups.all.1 in page.get_content_model.groups.all or request.user.groups.all.3 in page.get_content_model.groups.all or request.user.groups.all.2 in page.get_content_model.groups.all or request.user.groups.all.4 in page.get_content_model.groups.all or request.user.groups.all.5 in page.get_content_model.groups.all or request.user.groups.all.6 in page.get_content_model.groups.all or request.user.groups.all.7 in page.get_content_model.groups.all  %}
                {{ block.super }}
                {# {% editable page.publicationlibrary.content %} #}

                {% if  page.publicationlibrary.id == 581 %}
                    {% include "pages/publicationlibrarypoll.html" %}
                {% endif %}    
            


                {% with page.publicationlibrary|get_object_translation as translated_page %}
                    {{ translated_page.content|richtext_filter|safe }}
                {% endwith %}

                {# {{ page.publicationlibrary.content|richtext_filter|safe }} #}




                {# {% endeditable %} #}
                  {% include "pages/publicationtablerestricted.html" %}
              {% endif %} {# group in request.user.groups.all #}
            
        {% endif %} 
  {% else %}
  
      {{ block.super }}
      {# {% editable page.publicationlibrary.content %} #}

      {% with page.publicationlibrary|get_object_translation as translated_page %}
          {{ translated_page.content|richtext_filter|safe }}
      {% endwith %}
      {%if page.publicationlibrary.collapsecontent.all %} 
      <div>       {% include "pages/page_extra_content.html" %} </div>
      {% endif %} 
    {% if  page.publicationlibrary.id == 459 %}
                    {% include "pages/irsstext.html" %}
                {% endif %}    
            
      {# {{ page.publicationlibrary.content|richtext_filter|safe }} #}
      {# {% endeditable %} #}
        {% if  page.id == 321 or  page.id == 350 or  page.id == 339 or  page.id == 356 or  page.id == 355 or page.id == 353 or page.id == 354 or   page.id == 357  %} 
              {% include "pages/memberstable.html" %} 
        {% endif %} 
       
        {% if  page.id == 1119 %} 
            {% include "pages/cooptable.html" %} 
        {% endif %}
       
        
        
        
          {% include "pages/publicationtable.html" %}
        
        
          {% if  page.id == 370 %}{# DPs #}
             {% include "dp/dp_list.html" %}
        {% endif %} 
{% endif %} {# page.publicationlibrary.login_required #}

{% endblock main %}

{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}

{% block pageinfo %}
{% endblock pageinfo %}