{% extends "pages/page.html" %}

{% load mezzanine_tags translate_tags staticfiles i18n %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/DT_bootstrap.css" %}">
{% endblock %}

{% block meta_title %}
  {% with page.publicationlibrary|get_object_translation as translated_page %}
      {{ translated_page.title }}
  {% endwith %}
  {# {{ page.publicationlibrary.title }} #}
{% endblock %}

{% block title %}
  
{% endblock %}

{% block main %}
 
     
{# publication libaries may appear in restricted work area or public pages, #}
{# so text if login is required before doing permissions tests #}

{% if page.publicationlibrary.login_required %}
    {% if user.is_superuser or perms.pages.change_richtextpage %}
        {{ block.super }}
        {% if  page.publicationlibrary.id == 581 or page.publicationlibrary.id == 1303  %}
            {% include "pages/publicationlibrarypoll.html" %}
        {% endif %}   
    
        {% include "pages/publicationlibrary_images.html" %}
        
        {% with page.publicationlibrary|get_object_translation as translated_page %}
            {{ translated_page.content|richtext_filter|safe }}
        {% endwith %}
        {% include "pages/publicationtablerestricted.html" %}
   
    {% else %}
        {% if request.user.groups.all.0 in page.get_content_model.groups.all or request.user.groups.all.1 in page.get_content_model.groups.all or request.user.groups.all.3 in page.get_content_model.groups.all or request.user.groups.all.2 in page.get_content_model.groups.all or request.user.groups.all.4 in page.get_content_model.groups.all or request.user.groups.all.5 in page.get_content_model.groups.all or request.user.groups.all.6 in page.get_content_model.groups.all or request.user.groups.all.7 in page.get_content_model.groups.all  %}
            {{ block.super }}
               
                {% if  page.publicationlibrary.id == 581 %}
                    {% include "pages/publicationlibrarypoll.html" %}
                {% endif %}    
            
            {% include "pages/publicationlibrary_images.html" %}

            {% with page.publicationlibrary|get_object_translation as translated_page %}
                {{ translated_page.content|richtext_filter|safe }}
            {% endwith %}

              {% include "pages/publicationtablerestricted.html" %}
          {% endif %} {# group in request.user.groups.all #}
            
    {% endif %} 

{% else %}
        {{ block.super }}
       
        {% include "pages/publicationlibrary_images.html" %}
       
        {% with page.publicationlibrary|get_object_translation as translated_page %}
          {{ translated_page.content|richtext_filter|safe }}
        {% endwith %}
        
        {%if page.publicationlibrary.collapsecontent.all %} 
          <div>   {% include "pages/page_extra_content.html" %} </div>
        {% endif %}
        <br style="clear:both"> 
        
        {%if page.publicationlibrary.committeemeeting.all %}      
                {% include "pages/meeting_table.html" %} 
        {% endif %}
        
        <!--if  page.publicationlibrary.id == 459
             include "pages/irsstext.html"
          endif -->   
            
        {% if  page.id == 321 or  page.id == 350 or  page.id == 339 or  page.id == 356 or  page.id == 355 or page.id == 353 or page.id == 354 or   page.id == 357  %} 
            {% include "pages/memberstable.html" %} 
        {% endif %} 

        {% if  page.id == 1119 %} 
            {% include "pages/cooptable.html" %} 
        {% endif %}

        {% include "pages/publicationtable.html" %}
    
        {% if  page.id == 370 %}{# DPs #}
           {% include "dp/dp_list.html" %}
        {% endif %} 
{% endif %} {# page.publicationlibrary.login_required #}

{% endblock main %}

{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}

{% block pageinfo %}
{% endblock pageinfo %}