{% load mezzanine_tags staticfiles i18n %}
 

{%if page.publicationlibrary.id == 346 %}

{%if page.publicationlibrary.publications.all%}

<table class="table table-condensed table-striped table-bordered" id="publications">
    {# http://datatables.net/blog/Twitter_Bootstrap_2 #}
    <script type="text/javascript">
        function toggle_visibility(id) {

        var e = document.getElementById(id);
                var e2 = document.getElementById('title_' + id);
                if (e.style.display == 'block'){
        e.style.display = 'none';
                e2.style.display = 'block';
        }
        else{
        e2.style.display = 'none';
                e.style.display = 'block';
        }
        }

    </script>
    <thead>
        <tr>
            {# {% if publication.document_number %} #}
            <th style="width:15%;">{% trans "Doc #" %}</th>
            {# {% endif %} #}
            <th>{% trans "Title" %}</th>
            <th>{% trans "Publication date" %}</th>
            <th style="width:15%;">&#160;</th>

        </tr>
    </thead>
    <tbody>

        {% with page.publicationlibrary.publications.all as publications %}
        {% for publication in publications %}
        {% if publication.status == 2 and publication.is_version == 0 %}
        <tr id="media-file-{{ publication.id }}">
            <td>{{ publication.document_number }}</td>
            <td><a id="title_{{ publication.id }}" href="{% url 'publication-detail' publication.pk %}">{% if LANGUAGE_CODE != 'en' %}
        {% if LANGUAGE_CODE == 'es'  and publication.title_es != '' and publication.title_es != None %}
            {{ publication.title_es }}
        {% elif LANGUAGE_CODE == 'fr'  and publication.title_fr != '' and publication.title_fr != None%}
            {{ publication.title_fr }}
        {% elif LANGUAGE_CODE == 'ru'  and publication.title_ru != '' and publication.title_ru != None%}
            {{ publication.title_ru }}
        {% elif LANGUAGE_CODE == 'ar'  and publication.title_ar != '' and publication.title_ar != None%}
            {{ publication.title_ar }}
        {% elif LANGUAGE_CODE == 'zh'  and publication.title_zh != '' and publication.title_zh != None%}
            {{ publication.title_zh }}
        {% else %}
            {{ publication.title }}
        {% endif %}
     {% else %}
        {{ publication.title }}
     {% endif %}</a>
                <div id="{{ publication.id }}" style="display:none;"><br><br><br>
                    <a href="{% url 'publication-detail' publication.pk %}">{% if LANGUAGE_CODE != 'en' %}
        {% if LANGUAGE_CODE == 'es'  and publication.title_es != '' and publication.title_es != None %}
            {{ publication.title_es }}
        {% elif LANGUAGE_CODE == 'fr'  and publication.title_fr != '' and publication.title_fr != None%}
            {{ publication.title_fr }}
        {% elif LANGUAGE_CODE == 'ru'  and publication.title_ru != '' and publication.title_ru != None%}
            {{ publication.title_ru }}
        {% elif LANGUAGE_CODE == 'ar'  and publication.title_ar != '' and publication.title_ar != None%}
            {{ publication.title_ar }}
        {% elif LANGUAGE_CODE == 'zh'  and publication.title_zh != '' and publication.title_zh != None%}
            {{ publication.title_zh }}
        {% else %}
            {{ publication.title }}
        {% endif %}
     {% else %}
        {{ publication.title }}
     {% endif %}</a>
                    {% if publication.file_en %}
                    <a href="{{ MEDIA_URL }}{{ publication.file_en }}">En</a>
                    {% endif %}

                    {% if publication.file_es %}<a href="{{ MEDIA_URL }}{{ publication.file_es }}">Es</a>
                    {% endif %}

                    {% if publication.file_fr %}
                    <a href="{{ MEDIA_URL }}{{ publication.file_fr }}"> Fr  </a>
                    {% endif %}

                    {% if publication.file_ru %}
                    <a href="{{ MEDIA_URL }}{{ publication.file_ru }}">Ru</a>
                    {% endif %}

                    {% if publication.file_ar %}
                    <a href="{{ MEDIA_URL }}{{ publication.file_ar }}"> Ar </a>
                    {% endif %}

                    {% if publication.file_zh %}
                    <a href="{{ MEDIA_URL }}{{ publication.file_zh }}">
                        Zh
                    </a>
                    {% endif %}
                    <br> <br>{{ publication.short_description|richtext_filter|safe }}
                </div>
            </td>


            <td>{{ publication.publication_date|date:"d M Y"  }}</td>
            <td><a href="#{{ publication.id }}" onclick="javascript:toggle_visibility({{ publication.id }});">{% trans "show/hide Details" %}</td>

        </tr> {% endif %}
        {% endfor %} {# publication in publications #}
    </tbody>
</table>

<p align='right'>
    <a href='/publications/{{page.id}}/files' target='_blank'><i class="icon-download"></i>  Download multiple files</a></p>
{% endwith %} {# page.publicationlibrary.publications.all as publications #}

{%endif%}
{%else%}



{%if page.publicationlibrary.publications.all%}

<table class="table table-condensed table-striped table-bordered" id="publications">
    {# http://datatables.net/blog/Twitter_Bootstrap_2 #}
    <thead>
        <tr>{%if  page.publicationlibrary.show_doc_colums %}
            <th style="width:15%;">{% trans "Doc #" %}</th>
            {% endif %}
            {%if  page.publicationlibrary.show_agenda_colums %}
            <th style="width:15%;">{% if page.publicationlibrary.id == 999 %}
                  {% trans "Year" %}
                    {%else%}
                        {% trans "Agenda #" %}
                    {%endif%}
            
            </th>
            {% endif %}
             {%if  page.publicationlibrary.show_topicnumber_colums %}
            <th style="width:15%;">{% trans "Topic #" %} </th>
            {% endif %}
            
            <th>{% trans "Title" %}</th>
            <th>{% trans "Files" %}</th>
            <th>{% trans "Publication date" %}</th>
        </tr>
    </thead>
    <tbody>

   {% with page.publicationlibrary.publications.all as publications %}
   {# publications not restricted to groups #}
   {% for publication in publications %}
        {% if publication.status == 2 and publication.is_version == 0 %}

        <tr id="media-file-{{ publication.id }}">
    {%if  page.publicationlibrary.show_doc_colums %}
        <td>{{ publication.document_number }}</td>
      {% endif %}
        {%if  page.publicationlibrary.show_agenda_colums %}
      <td>{{ publication.agenda_number }}</td>
      {% endif %}
      {%if  page.publicationlibrary.show_topicnumber_colums %}
    <td>{{ publication.topic_number }}</td>
      
      {% endif %}
      <td><a href="{% url 'publication-detail' publication.pk %}">{% if LANGUAGE_CODE != 'en' %}
        {% if LANGUAGE_CODE == 'es'  and publication.title_es != '' and publication.title_es != None %}
            {{ publication.title_es }}
        {% elif LANGUAGE_CODE == 'fr'  and publication.title_fr != '' and publication.title_fr != None%}
            {{ publication.title_fr }}
        {% elif LANGUAGE_CODE == 'ru'  and publication.title_ru != '' and publication.title_ru != None%}
            {{ publication.title_ru }}
        {% elif LANGUAGE_CODE == 'ar'  and publication.title_ar != '' and publication.title_ar != None%}
            {{ publication.title_ar }}
        {% elif LANGUAGE_CODE == 'zh'  and publication.title_zh != '' and publication.title_zh != None%}
            {{ publication.title_zh }}
        {% else %}
            {{ publication.title }}
        {% endif %}
     {% else %}
        {{ publication.title }}
     {% endif %}</a></td>
      <td>
        {% if publication.file_en %}
        <a href="{{ MEDIA_URL }}{{ publication.file_en }}">
            {# {% if file.file.filetype == 'Image' %} #}
            {#     <img class="media-object" src="{{ MEDIA_URL }}{% thumbnail file.file 64 64 %}"> #}
            {# {% else %} #}
            {#     <img class="media-object" src="{{ STATIC_URL }}img/file_icon.png" /> #}
            {# {% endif %} #}
          En
        </a>
        {% endif %}

        {% if publication.file_es %}
        <a href="{{ MEDIA_URL }}{{ publication.file_es }}">
          Es
        </a>
        {% endif %}

        {% if publication.file_fr %}
        <a href="{{ MEDIA_URL }}{{ publication.file_fr }}">
          Fr
        </a>
        {% endif %}

        {% if publication.file_ru %}
        <a href="{{ MEDIA_URL }}{{ publication.file_ru }}">
          Ru
        </a>
        {% endif %}

        {% if publication.file_ar %}
        <a href="{{ MEDIA_URL }}{{ publication.file_ar }}">
          Ar
        </a>
        {% endif %}

        {% if publication.file_zh %}
        <a href="{{ MEDIA_URL }}{{ publication.file_zh }}">
          Zh
        </a>
        {% endif %}
        {% if publication.publicationfile_set.all %}
            {% for f in publication.publicationfile_set.all %} 
                <a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a>
            {% endfor %}
        {% endif %}
      {% if publication.publicationurl_set.all %} 
        {% for f in publication.publicationurl_set.all %} 
            <a href="{{f.url_for_more_information}}">Link</a>
        {% endfor %}
      {% endif %}
      </td>  
      <td>{{ publication.publication_date|date:"d M Y"  }}</td>
    </tr>             {% endif%} 
                {% endfor %}
            




    {# publication in publications #}
</tbody>
</table>













<p align='right'>
    <a href='/publications/{{page.id}}/files' target='_blank'><i class="icon-download"></i>  Download multiple files</a></p>
{% endwith %} {# page.publicationlibrary.publications.all as publications #}

{%endif%}
{%endif%}