{% load mezzanine_tags staticfiles i18n %}


{%if page.publicationlibrary.id == 581 or page.publicationlibrary.id == 1303 %}

<p>
{%if page.publicationlibrary.id == 581 %}
    This page provides access to a forum and a tool for conducting polls to enable the SC to conduct discussions and make decisions by electronic means. For more information on the electronic decision making process, refer to the excerpt from the SC report (November 2010) click <a href="/work-area-pages/background-e-decisions/">here</a> to open.
{%else%}
    {% if polls %}
        This page provides access to a forum and a tool for conducting polls to enable the IC to conduct discussions and make decisions by electronic means. 
    {%endif%}
{%endif%}
</p> 

{% if polls %}
<p><strong>POLLs</strong></p>


<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th>{% trans "Poll" %}</th>
            <th>{% trans "Open" %}</th>
            <th>{% trans "Results" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for poll in polls %}
   
        {% for g in poll.groupspoll.all %}
           {% if g in page.get_content_model.groups.all and not g.name == 'IPPC Secretariat' %}
           
           <tr>
               {% if 'admin' == poll.userspoll.all.0.username %}

               {% else %}
                   {% if poll.is_past_due %}
                       <td >{{ poll.question }}</td>
                       <td>No</td>
                   {% else %} 
                       <td><a href="{% url 'detail' poll.id %}">{{ poll.question }}</a></td>
                       <td>Yes</td>
                   {% endif%}
                   <td><a href="{% url 'results' poll.id %}">Show results</a></td>

             {% endif%}
           </tr>  
           {% endif%} 
       {% endfor %} 
    {% endfor %}
    </tbody>
</table>
{%endif%}

{%endif%}