{% load mezzanine_tags staticfiles i18n %}
    {% load translate_tags %}
    {% if publication %}
    <h1> {% if LANGUAGE_CODE != 'en' %}
            {% if LANGUAGE_CODE == 'es'  and publication.title_es != '' and publication.title_es != None %}
                {{ publication.title_es }}
            {% elif LANGUAGE_CODE == 'fr'  and publication.title_fr != '' and publication.title_fr != None%}
                {{ publication.title_fr }}
            {% elif LANGUAGE_CODE == 'ru'  and publication.title_ru != '' and publication.title_ru != None%}
                {{ publication.title_ru }}
            {% elif LANGUAGE_CODE == 'ar'  and publication.title_ar != '' and publication.title_ar != None%}
                {{ publication.title_ar }}
            {% elif LANGUAGE_CODE == 'zh'  and publication.title_zh != '' and publication.title_zh != None%}
                {{ publication.title_zh }}
            {% else %}
                {{ publication.title }}
            {% endif %}
         {% else %}
            {{ publication.title }}
         {% endif %}

       </h1> 
 
{% if publication.is_version %}
<div class="alert alert-danger">
    <span class="label label-danger">OLD REVISION</span>
{% endif %}
<dl class="dl-horizontal">
        {% if publication.publication_date %}
           <dt>{% trans "Published" %}</dt> 
           <dd>{% blocktrans with sometime=publication.publication_date|date:"D, d M Y, H:i" %}{{ sometime }}{% endblocktrans %}</dd> 
        {% endif %}
          {% if publication.document_number %}
          <dt>{% trans "Doc #" %}</dt>
          <dd>{{ publication.document_number }}</dd>
          {% endif %}

          {% if publication.agenda_number %}
          {% if publication.library.id == 999 %}
           <dt>{% trans "Year" %}</dt>
         {% else %}
          <dt>{% trans "Agenda #" %}</dt>
          {% endif %}
          <dd>{{ publication.agenda_number }}</dd>
          {% endif %}
            {% if publication.topic_number %}
          <dt>{%if publication.library.id == 925%}{% trans "Type" %} {%else%}{% trans "Topic #" %} {% endif %}</dt>
          <dd>{{ publication.topic_number }}</dd>
          {% endif %}
          
{% if publication.file_en  or publication.file_es or publication.file_ar or publication.file_fr or publication.file_ru or publication.file_zh%}
          <dt>{% trans "Files" %}</dt>
          <dd>

            {% if publication.file_en %}
            <span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>  <a href="{{ MEDIA_URL }}{{ publication.file_en }}">En</a>
            {% endif %}
            {% if publication.file_es %}<span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>  
            <a href="{{ MEDIA_URL }}{{ publication.file_es }}">Es</a>
            {% endif %}

            {% if publication.file_fr %}<span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>
            <a href="{{ MEDIA_URL }}{{ publication.file_fr }}">Fr</a>
            {% endif %}

            {% if publication.file_ru %}              <span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>  
            <a href="{{ MEDIA_URL }}{{ publication.file_ru }}">Ru</a>
            {% endif %}

            {% if publication.file_ar %}
           <span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>   <a href="{{ MEDIA_URL }}{{ publication.file_ar }}">Ar</a>
            {% endif %}

            {% if publication.file_zh %}
            <span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>
            <a href="{{ MEDIA_URL }}{{ publication.file_zh }}">Zh</a>
            {% endif %}
      
          </dd>
           {% endif %}
            {% if publication.publicationfile_set.all %}
     <dt>{% trans "Additional files" %}</dt>
     {% for f in publication.publicationfile_set.all %} 
       <dd> <span style="font-size: 1.2em; color: #000;"><i class="far fa-file"></i></span>
       <a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a>&#160;</dd>
     {% endfor %} </p>
   {% endif %}

  {% if publication.publicationurl_set.all %}
    <dt>{% trans "Links" %}</dt>
    
      <dd>
       {% for f in publication.publicationurl_set.all %} <span style="font-size: 1.2em; color: #000;"><i class="fas fa-link"></i></span>
      <a href="{{f.url_for_more_information}}">{%if  f.description != NULL and  f.description != ''  %}{{ f.description }}{% else %}{{ f.url_for_more_information }}{% endif %}</a>&#160;
    {% endfor %}
      
      
    </dd>
  {% endif %}
          {% if publication.short_description %}
        
          <dt>{% trans "Description" %}</dt>
          <dd>{{ publication.short_description|richtext_filter|safe }}</dd>
          {% endif %}
          
          
          
          
          
  {% if publication.contact_for_more_information %}
  <dt>{% trans "Contact for Info" %}</dt>
  <dd>{{ publication.contact_for_more_information }}</dd>
  {% endif %}
  
 
  
  
  
  
   {% if publication.issuename.all %}
   {% for entry in publication.issuename.all %}
		{% for e in entry.issuename.all|slice:":1"  %}
  <dt>{% trans "Issue keywords" %}</dt>
  <dd>
  {% for entry in publication.issuename.all %}
		{% for e in entry.issuename.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}&#160;
  </dd> {% endfor %}
  {% endfor %}
  {% endif %}
 
  
  
  {% if publication.commname.all %}
  {% for entry in publication.commname.all %}
	{% for e in entry.commname.all|slice:":1" %}

  <dt>{% trans "Commodity keywords" %}</dt>
  <dd>
  {% for entry in publication.commname.all %}
		{% for e in entry.commname.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}&#160;
  </dd>
  {% endfor %}
  {% endfor %}
  {% endif %}
          
     <dt>&#160;</dt>
  <dd>  &#160;     </dd>   
  <dt>{% if  publication %}{% trans "Parent page" %}  {% endif %}</dt>
  <dd>
   <a href="{{ publication.library.get_absolute_url }}">   {% with  publication.library.richtextpage|get_object_translation as translated_page %}
                {% if translated_page.title %}
                    {{ translated_page.title|safe }}
                    {% else %}
                    {{ publication.library.title }}
                {% endif %}  {% endwith %} </a>
  </dd>       
          
          
          
     
                  
                     
          
          
          
          
          
          
          
          
          
          
          
          
          
          
        </dl>
{% if publication.is_version %}
</div>
{% endif %}

   {% if publication.id == 86090 %}
  <iframe src="/static/media/uploads/cpm-participation-guide/index.html" width="1500" height="1000"></iframe>
{% endif %}  
  {% if publication.id == 86474 %}
  <iframe src="/static/media/uploads/cpm-participation-guide/index_es.html" width="1500" height="1000"></iframe>
{% endif %} 
  {% endif %}