{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}
  {% load ippc_tags %}
{% block meta_title %}{{ publication.title }}{% endblock %}


{% block breadcrumb_menu %}
<li><a href="javascript:history.go(-1)">{% trans "« Go back" %}</a> <span class="divider">/</span> {# <a href="/publications/">{% trans "Publications" %}</a><span class="divider">/</span> #}</li>
<li class="active">{{ publication.title }}</li>
{% endblock %}




{% block local_nav %}
<div class="well localnav"> 
    <p><a href="javascript:history.go(-1)">{% trans "« Go back" %}</a></p>
    {% if user.is_superuser or perms.ippc.change_publication  %}
         <a class="btn btn-small btn-info" href="/admin/ippc/publication/{{publication.id}}"><i class="icon-edit icon-white"></i> Edit as admin</a>     
         <a class="btn btn-small btn-info" href="/publication/edit/{{publication.id}}"><i class="icon-edit icon-white"></i> Edit</a>     
            <script type="text/javascript">
    function toggle_visibility_rev(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>
    {% if versions %}<br><br>
       <strong><a href="#" onclick="toggle_visibility_rev('rev');">{% trans "Revisions" %}</a></strong>  <br>
            <div id="rev" style="display:none;">
               {% for object in versions %}
                <small><a href="{% url 'publication-detail' object.pk  %}"> {% blocktrans with sometime=object.modify_date|date:"d-m-Y H:i" %}{{ sometime }}{% endblocktrans %}</a></small><br>
            {% endfor %}</dd>
             </div>
       
            
        {% endif %}
  {% endif %} 
    
 </div> 
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

    {% if login_required %}
        {% if user.is_superuser or perms.ippc.change_publication  %}
            {% include "pages/publication_detail_block.html" %}
        {% else %}
            {% if  publication.groups.all %}
                 {% for g in request.user.groups.all %}
                      {% if g.name == 'Observers' or g in groups.all and g not in publication.groups.all %}
                             {% include "pages/publication_detail_block.html" %}
                      {% else %}   
                        <p>{% trans "The page is restricted to group members. Please Login  to view the page." %}</p>
                      {% endif %}
                {% endfor %}
            {% else %}   
                  {% include "pages/publication_detail_block.html" %}
            {% endif %}
        {% endif %}    
    
    {% else %} 
   {% include "pages/publication_detail_block.html" %}
    {% endif %}
{% endblock %}
 
  