{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}
  {% load ippc_tags %}
{% block meta_title %}{{ publication.title }}{% endblock %}


{% block breadcrumb_menu %}
<li><a href="javascript:history.go(-1)">{% trans "« Go back" %}</a> <span class="divider">/</span> {# <a href="/publications/">{% trans "Publications" %}</a><span class="divider">/</span> #}</li>
<li class="active">{{ publication.title }}</li>
{% endblock %}




{% block local_nav %}
<div class="well localnav"> 
    <p><a href="javascript:history.go(-1)">{% trans "« Go back" %}</a></p>
    {% if user.is_superuser or perms.ippc.change_publication  %}
         <a class="btn btn-small btn-info" href="/admin/ippc/publication/{{publication.id}}"><i class="icon-edit icon-white"></i> Edit</a>     
    {% endif %} 
 </div> 
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

    {% if login_required %}
        {% if user.is_superuser or perms.ippc.change_publication  %}
            {% include "pages/publication_detail_block.html" %}
        {% else %}
            {% if request.user.groups.all %}
                {% for group in request.user.groups.all %}
              
                    {% if group in groups.all %}
                     {% include "pages/publication_detail_block.html" %}
                    {% else %}   
                        <p>{% trans "The page is restricted to group members. Please Login  to view the page." %}</p>
                    {% endif %}
                      {{ forloop|break }}
                {% endfor %}
            {% else %}   
             <p>{% trans "The page is restricted to group members. Please Login  to view the page." %}</p>
        {% endif %}
        {% endif %}    
    
    {% else %} 
   {% include "pages/publication_detail_block.html" %}
    {% endif %}
{% endblock %}
 
  