{# {% extends "pages/page.html" %} #}
{#  #}
{# {% load mezzanine_tags %} #}
{#  #}
{# {% block main %}{{ block.super }} #}
{#  #}
{# {% editable page.richtextpage.content %} #}
{# {{ page.richtextpage.content|richtext_filter|safe }} #}
{# {% endeditable %} #}
{#  #}
{# {% endblock %} #}



{# https://gist.github.com/renyi/3596248 #}
{# richtextpage.html #}

{% extends "pages/page.html" %}
{% load i18n mezzanine_tags translate_tags %}

{% block main %}
    {{ block.super }}

    {% with translated_page=page|get_object_translation %}
        {# {{ translated_page.richtextpage.content|safe }} #}
    {% endwith %}
    
    {# {{ page.title|get_object_translation }} #}

    {# why is this outputting title: #}
    {{ page.richtextpage|get_object_translation|safe }}
    
    {# =todo: output translatable content #}
    {{ page.richtextpage.content|get_object_translation|safe }}

{% endblock %}