{% load mezzanine_tags staticfiles i18n %}

{% if  page.id == 1389 %} 
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);

        for (var i = 0; i < 6; i++) {
            if (i==3){}
            else{
            if (id != 'div' + i) {
                var e1 = document.getElementById("div" + i);
                e1.style.display = 'none';
                if (i ==1 || i==2 ){
                var img1 = document.getElementById("img" + i);
                img1.src="/static/img/plusicon.png";
            }
                
            }}
        }
        if (e.style.display == 'block') {
            e.style.display = 'none';
            if (id=='div1'){
                var img1 = document.getElementById("img1");
                img1.src="/static/img/plusicon.png";
            }  
            if (id=='div2'){
                var img1 = document.getElementById("img2");
                img1.src="/static/img/plusicon.png";
            }
            /*if (id=='div3'){
                var img1 = document.getElementById("img3");
                img1.src="/static/img/plusicon.png";
            } */
        } else {
            e.style.display = 'block';
            
            if (id=='div1'){
                 var img1 = document.getElementById("img1");
                img1.src="/static/img/minusicon.png";
            }
            if (id=='div2'){
                 var img1 = document.getElementById("img2");
                img1.src="/static/img/minusicon.png";
            }/*if (id=='div3'){
                 var img1 = document.getElementById("img3");
                img1.src="/static/img/minusicon.png";
            }*/
          
            
        }
    }

</script>
<div class="row-fluid">
<div class="span8">

<p><i><small>Date: 28 October to 1 November 2019<br>Venue: Hotel Associa Shizuoka, Shizuoka, Japan</small></em></i></p>

<p><b>The IPPC International Symposium for Pest Free Areas (PFAs) and Surveillance</b> is an implementation and capacity development event open to the world's phytosanitary community.  It brings together representatives from IPPC contracting parties (CPs), regional plant protection organizations (RPPOs), FAO Regional and Sub-regional offices, international intergovernmental, educational and scientific organizations, and private sector/service providers involved in phytosanitary activities and trade.</p>

<p><b>The Main Objectives of the Symposium are to:</b></p>
<ul>
    <li>Raise awareness of the:
        <ul>
            <li>International phytosanitary framework for Pest Free Areas (PFAs) and Pest Surveillance </li>
            <li>Resources for implementing the IPPC with an emphasis on the PFA and Pest Surveillance related materials</li>
            <li>Raise awareness of the IPPC and International Year of Plant Health (IYPH) 2020</li>
        </ul>
    </li>
    <li>Provide a platform for presenting and promoting specific PFA and Pest Surveillance initiatives</li>
    <li>Generate ideas for national and global capacity development strategies on PFAs and Pest Surveillance</li>
    <li>Reinforce partnerships and collaboration between CPs, RPPOs and different stakeholders at the national, regional and global levels</li>
    <a href="#" onclick="javascript:toggle_visibility('div0');"><b>read more...</b></a>
    <div id="div0" style="display:none;"><b>This Symposium will mainly cover the following ISPMs and IPPC Guides:</b><br>
        <ul>
            <li>ISPM 4 <a href="https://www.ippc.int/en/publications/614/"><i>Requirements for the establishment of pest free areas</i></a></li>
            <li>ISPM 6 <a href="https://www.ippc.int/en/publications/615/"><i>Surveillance</i></a></li>
            <li>ISPM 8 <a href="https://www.ippc.int/en/publications/612/"><i>Determination of pest status in an area</i></a></li>
            <li>ISPM 9 <a href="https://www.ippc.int/en/publications/611/"><i>Guidelines for Pest Eradication Programmes</i></a></li>
            <li>ISPM 10 <a href="https://www.ippc.int/en/publications/610/"><i>Requirements for the establishment of pest free places of production and pest free production sites</i></a></li>
            <li>ISPM 14 <a href="https://www.ippc.int/en/publications/607/"><i>The use of integrated measures in a systems approach for pest risk management</i></a></li>
            <li>ISPM 22 <a href="https://www.ippc.int/en/publications/599/"><i>Requirements for the establishment of areas of low pest prevalence</i></a></li>
            <li>ISPM 26 <a href="https://www.ippc.int/en/publications/594/"><i>Establishment of pest free areas for fruit flies (Tephritidae)</i></a></li>
            <li>ISPM 29 <a href="https://www.ippc.int/en/publications/590/"><i>Recognition of pest free areas and areas of low pest prevalence</i></a></li> 
            <li> <a href="https://www.ippc.int/en/publications/86051/">Plant Pest Surveillance Guide</a></li>
            <li>Pest Free Areas Guide (to be made available soon at  https://www.ippc.int/en/core-activities/capacity-development/guides-and-training-materials/)</li>
        </ul>
        </div>
</ul> 




<p><b>> <a href="https://www.ippc.int/static/media/uploads/symposium/pfa_concept_note_-2019-05-03.pdf">Read the Symposium Concept Note for more information</a></b><br>
<b>> <a href="https://www.ippc.int/static/media/uploads/symposium/programme_-2019-05-07.pdf">Programme</a></b><br>
<b>> <a href="#" onclick="javascript:toggle_visibility('div5');">Confirmed speakers</a></b><p>
<div id="div5" style="display:none;background-color: #E6F5FC; padding:12px;"> 
    <p>Information on speakers will be made available after the submitted abstracts are reviewed and selection process is finalized by the <a href="https://www.ippc.int/static/media/uploads/symposium/technical__committee_members_2019-05-02.docx_.pdf">Symposium's Technical Committee</a><br>


</p>
</div>



<p><img id="img1" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div1');"><b>SUBMIT AN ABSTRACT</b></a><p>
<div id="div1" style="display:none;background-color: #E6F5FC; padding:12px;"> 
    <p>We are accepting abstracts for the presentations and posters. To find out more please see:<br>
        <b>> Abstract submission <a href="https://www.ippc.int/static/media/uploads/symposium/abstract_submission_guidlines_2019-05-03.pdf">guidelines</a> and <a href="https://www.ippc.int/static/media/uploads/symposium/abstract_submission_form_2019-05-03.pdf">template</a></b><br>
   
Once you have completed the template above, please send it to Ms Ketevan Lomsadze (<a mailto="ketevan.lomsadze@fao.org">Ketevan.Lomsadze@fao.org@fao.org</a> and Ms Masumi Yamamoto (<a mailto="masumi.yamamoto@fao.org">Masumi.Yamamoto@fao.org</a> ) with the subject line "Abstract for the IPPC International Symposium for PFAs and Surveillance". Please indicate the relevant Symposium theme in the text of the email.
<br><b>Deadline: 30 June 2019</b><br><br>As there is still space for a few more proposals for presentations, the IPPC Secretariat has extended the deadline to <b>22 July 2019</b> for the following:
<ul>
    <li>Oral presentations for Market Access</li>
    <li>Oral presentations for Implementation and Capacity Development Needs</li>
    <li>Poster presentations for all the themes</li>
</ul><br>
</p>
    
<p><b>Criteria for accepting abstracts:</b><br>
Abstracts will be reviewed by the Technical Committee and selected based on the relevance and quality of the submission, technical merit, logical structure, novelty of the submission, significance for the wide phytosanitary community, analysis and conclusions provided.  A wide geographical representation of speakers and authors of posters will be considered. 
<br><b>Selected authors will be informed by 21 July 2019</b> 
</p>
    <br>
</div>
<p><img id="img2" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div2');"><b>REGISTRATION</b></a><p>
<div id="div2"  style="display:none;background-color: #E6F5FC; padding:12px;"> 
        > Click <a href="http://Event-services.fao.org/ippc-international-symposium-pfa-surveillance"><b>here</b></a> to register for the Symposium. <br>
        > <b>Registration deadline: 31 July 2019</b>
    <br>
</div>



<!--p><img id="img3" src="/static/img/plusicon.png"/>&#160;&#160;<a href="#" onclick="javascript:toggle_visibility('div3');"><b>DOCUMENTS AND PRESENTATIONS</b></a><p>
<div id="div3"  style="display:none;background-color: #E6F5FC; padding:12px;"> 
Documents and presentations will be made available close to the Symposium dates
    <br>
   
</div-->
 {% include "pages/publicationtable.html" %}



</div>
<div class="span4">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1670856.6897594854!2d137.55350361176355!3d35.12189071780429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bb6ce8cb0c32f%3A0xfcfa66ebdf6f1655!2sShizuoka%2C+Japan!5e0!3m2!1sen!2sit!4v1556887829359!5m2!1sen!2sit" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
<br><div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">PRACTICAL INFORMATION</h5>
  
    > <a href="https://www.ippc.int/static/media/uploads/symposium_local__information_shizuoka_2019-05-03.pdf">Travel and Local Information</a><br>
    > <a href="#" onclick="javascript:toggle_visibility('div4');">Travel Funding</a>
<div id="div4"  style="display:none;background-color: #E6F5FC; padding:12px;"> 
Requests for travel assistance should be made through the registration.  These requests will be reviewed based on the <a href="https://www.ippc.int/static/media/files/publication/en/2018/10/CriteriaForPrioritizingTravellers-2018-10-10.pdf">Criteria used for prioritizing participants to receive travel assistance to attend meetings organized by the IPPC Secretariat</a> considering relevant technical expertise and experience as well as gender and geographical balance. The IPPC Secretariat will contact the applicants in this regard.
</div>

</div>


<div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">ORGANIZATION</h5>
    
    <b>Organized by:</b><br>
    <ul>
        <li><b>The Secretariat of the International Plant Protection Convention (IPPC)</b> with the financial support of the:
            <ul><li>Agriculture and Agri-Food Canada (AAFC)</li>
            <li>European Commission (EC)</li>
            <li>Ministry of Agriculture, Forestry and Fisheries of Japan (MAFF)
                </li>
                </ul>
        </li> 
    </ul>
    <b>Hosted by the: </b><br>
    <ul> <li>Ministry of Agriculture, Forestry and Fisheries of Japan (MAFF) </li></ul>
    
</div>
    
    
<div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">COMMITTEE</h5>
    
<a href="https://www.ippc.int/static/media/uploads/symposium/s%26t_committee_members_2019-05-02.docx.pdf">Steering and Technical Committees of the Symposium</a>
    </div>

  



<div>
     <h5 style="background-color: #E6F5FC; color: #006dcc;padding: 10px">CONTACTS</h5>

    <ul>
        <li><b>For technical information:</b><br>
            &#160;&#160;<a href="mailto:ketevan.lomsadze@fao.org">Ms Ketevan Lomsadze </a><br>
            &#160;&#160;<a href="mailto:masumi.yamamoto@fao.org">Ms Masumi Yamamoto</a>
        </li> 
           
<li><b>For logistics and administrative matters:</b><br>
     &#160;&#160;<a href="mailto:Ewa.Czerwien@fao.org">Ms Ewa  Cerwien</a><br>
      &#160;&#160;<a href="mailto:natsumi_yamada740@maff.go.jp">Ms Natsumi Yamada</a>
    </li>
</ul>
</div>



</div>
{% endif %}
