{% load mezzanine_tags staticfiles i18n %}



 <table class="table table-condensed table-striped" id="publications">

<tr>
    <td><i class="icon-user"></i> Your Profile</td>
    <td><a  class="btn btn-small btn-info" href="/account/update">
        <i class="icon-edit icon-white"></i> Edit Account Information</a></td><td></td>
   </tr>


{% if user.is_superuser %}  
   <tr><td><i class="icon-user"></i> Create new account</td><td><a  class="btn btn-small btn-info" href="/account/signup/"><i class="icon-edit icon-white"></i> Create new account</a> </td><td>  </td></tr>
   <tr><td><i class="icon-user"></i> Check auto-registered users pending approval</td><td> </td><td><a href="/accounts/pendingapproval/"> See list </a> </td></tr>
   <tr><td><i class="icon-envelope"></i> Email utility</td><td> <a  class="btn btn-small btn-info" href="/emailutility/send/"><i class="icon-edit icon-white"></i> Create new message</a></td><td><a href="/emailutility/all/"> See list of sent messages</a></li></tr>
   <tr><td><i class="icon-envelope"></i> MASS Email utility</td><td> <a  class="btn btn-small btn-info" href="/massemailutility/send/"><i class="icon-edit icon-white"></i> Create new mass message</a> </td><td><a href="/massemailutility/all/"> See list of sent mass messages</a></li></tr>  <tr><td><i class="icon-envelope"></i> Contact us mails list</td><td>  </td><td><a  href="/contactusemail/all/"> See list of received messages</a></li></tr>
   <tr><td><i class="icon-user"></i> User membership history </td><td><a  class="btn btn-small btn-info" href="/work-area/user_membership/create/"><i class="icon-edit icon-white"></i> Create new entry</a></td><td><a href="/work-area/user_membership">  See list </a> </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i> Membership List </td><td><a  class="btn btn-small btn-info" href="/work-area/membershiptool/"><i class="icon-edit icon-white"></i> Create new list</a></td><td>&#160; </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i> Short Membership List </td><td><a  class="btn btn-small btn-info" href="/work-area/membershipshorttool/"><i class="icon-edit icon-white"></i> Create new list</a></td><td>&#160; </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i> SC Replacements Membership List </td><td><a  class="btn btn-small btn-info" href="/work-area/generate-sc-replacementlist/"><i class="icon-edit icon-white"></i> Create list</a></td><td>&#160; </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i>Topic List (generate WORD file)</td><td>
           <a  class="btn btn-small btn-info" href="/en/work-area/generate-lot/en"><i class="icon-download"></i> EN</a><br>
           <a  class="btn btn-small btn-info" href="/es/work-area/generate-lot/es"><i class="icon-download"></i> ES</a><br>
           <a  class="btn btn-small btn-info" href="/fr/work-area/generate-lot/fr"><i class="icon-download"></i> FR</a><br>
           <a  class="btn btn-small btn-info" href="/ar/work-area/generate-lot/ar"><i class="icon-download"></i> AR</a><br>
           <a  class="btn btn-small btn-info" href="/ru/work-area/generate-lot/ru"><i class="icon-download"></i> RU</a><br>
           <a  class="btn btn-small btn-info" href="/zh/work-area/generate-lot/zh"><i class="icon-download"></i> ZH</a>
       </td><td>&#160; </td></tr>
   <tr><td><i class="icon-certificate"></i>Create Certificate of Appreciation IMG</td><td><a  class="btn btn-small btn-info" href="/work-area/certificatestool/create/"><i class="icon-edit icon-white"></i> Create new certificates</a></td><td> <a href="/work-area/certificatestool/all/"> See list of created certificates of appreciation</a></td></tr>
   <tr><td><i class="icon-certificate"></i>Create Certificate of Appreciation WORD</td><td><a  class="btn btn-small btn-info" href="/work-area/certificatestoolnew/create/"><i class="icon-edit icon-white"></i> Create new certificates</a></td><td> <a href="/work-area/certificatestool/all/"> See list of created certificates of appreciation</a></td></tr>
   <tr><td><i class="icon-certificate"></i>Create  Certificate of Appreciation for Bureau/CPM Chair Person IMG</td><td><a  class="btn btn-small btn-info" href="/work-area/b-certificatestool/create/"><i class="icon-edit icon-white"></i> Create new certificates</a></td><td> <a href="/work-area/b-certificatestool/all/"> See list of created certificates</a></td></tr>
   <tr><td><i class="icon-certificate"></i>Create  Certificate of Appreciation for Bureau/CPM Chair Person WORD</td><td><a  class="btn btn-small btn-info" href="/work-area/b-certificatestoolnew/create/"><i class="icon-edit icon-white"></i> Create new certificates</a></td><td> <a href="/work-area/b-certificatestool/all/"> See list of created certificates</a></td></tr>
   <tr><td><i class="icon-certificate"></i>MyTool</td><td><a  class="btn btn-small btn-info" href="/work-area/mytool/"><i class="icon-edit icon-white"></i> go</a></td><td> </td></tr>
  <tr><td><i class="icon-certificate"></i>MyTool2</td><td><a  class="btn btn-small btn-info" href="/work-area/nro_stats_files/"><i class="icon-edit icon-white"></i> go</a></td><td> </td></tr>
   <tr><td><i class="icon-pencil"></i> Support ticket {# <small><span class="label label-warning">Note</span> the ticket system is currently using a different user/password system from www.ippc.int and is only accessible from within the FAO network.</small> #}</td><td> <a  class="btn btn-small btn-info" href="http://it.ippc.int/post/" title="Note the ticket system is currently using a different user/password system from www.ippc.int and is only accessible from within the FAO network."><i class="icon-edit icon-white"></i> Create new request</a> </td><td><a href="http://it.ippc.int/about/">Read more about the wishlist</a></td></tr>
   <tr><td><i class="icon-envelope"></i></i> NROs Reminder system</td><td> </td><td><i class="icon-list"></i><a href="/remindermessages/all/"> See list of sent messages</a></td></tr>
    <tr><td><i class="icon-envelope"></i></i> NROs Statistics before and after Training/Workshop</td><td><a  class="btn btn-small btn-info" href="/countries/statistics/createnrostats/"><i class="icon-edit icon-white"></i> Create new statistics</a></td><td></td></tr>
 
    
    
   
    
    

  <tr><td><i class="icon-calendar"></i> Calendar event</td><td> <a  class="btn btn-small btn-info" href="/create/event/calendar/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-check"></i> Polls</td><td><a  class="btn btn-small btn-info" href="/poll/create/"><i class="icon-edit icon-white"></i>Add new</a><a href="/poll/"></td><td><a href="/poll/"> See list of polls</a></td></tr>
   <tr><td><i class="icon-comment"></i> Forums</td><td> <a  class="btn btn-small btn-info" href="/admin/forum/forumpost/add/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-file"></i> Add public page</td><td> <a  class="btn btn-small btn-info" href="/admin/pages/page/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-file"></i> Add restricted page</td><td> <a  class="btn btn-small btn-info" href="/admin/pages/page/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-file"></i> FAQs category</td><td><a  class="btn btn-small btn-info" href="/faq/category_create/"><i class="icon-edit icon-white"></i>Add new</a><a href="/poll/"></td><td> </td></tr>
   <tr><td><i class="icon-file"></i> FAQs item</td><td><a  class="btn btn-small btn-info" href="/faq/create/"><i class="icon-edit icon-white"></i>Add new</a><a href="/poll/"></td><td> </td></tr>
  </table>
{% else %}
{% for group in request.user.groups.all %}
    {% if group.name == 'IPPC Secretariat' %}

    <table class="table table-condensed table-striped" id="publications">
   <tr><td><i class="icon-pencil"></i> Support ticket (IPPC IT Wishlist - it.ippc.int)</td><td> <a  class="btn btn-small btn-info" href="http://it.ippc.int/post/"><i class="icon-edit icon-white"></i> Create new request</a> </td><td><a href="http://it.ippc.int/about/">Read more about the wishlist</a></td></tr>
   <tr><td><i class="icon-envelope"></i> Email utility</td><td> <a  class="btn btn-small btn-info" href="/emailutility/send/"><i class="icon-edit icon-white"></i> Create new message</a> </td><td><a href="/emailutility/all/"> See list of sent messages</a></li></tr>
   <tr><td><i class="icon-envelope"></i> MASS Email utility</td><td> <a  class="btn btn-small btn-info" href="/massemailutility/send/"><i class="icon-edit icon-white"></i> Create new mass message</a> </td><td><a href="/massemailutility/all/"> See list of sent mass messages</a></li></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i> Membership List </td><td><a  class="btn btn-small btn-info" href="/work-area/membershiptool/"><i class="icon-edit icon-white"></i> Create new list</a></td><td>&#160; </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i> Short Membership List </td><td><a  class="btn btn-small btn-info" href="/work-area/membershipshorttool/"><i class="icon-edit icon-white"></i> Create new list</a></td><td>&#160; </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i> SC Replacements Membership List </td><td><a  class="btn btn-small btn-info" href="/work-area/generate-sc-replacementlist/"><i class="icon-edit icon-white"></i> Create list</a></td><td>&#160; </td></tr>
   <tr><td><i class="icon-user"></i><i class="icon-list-alt"></i>Topic List (generate WORD file)</td><td>
           <a  class="btn btn-small btn-info" href="/en/work-area/generate-lot/en"><i class="icon-download"></i> EN</a><br>
           <a  class="btn btn-small btn-info" href="/es/work-area/generate-lot/es"><i class="icon-download"></i> ES</a><br>
           <a  class="btn btn-small btn-info" href="/fr/work-area/generate-lot/fr"><i class="icon-download"></i> FR</a><br>
           <a  class="btn btn-small btn-info" href="/ar/work-area/generate-lot/ar"><i class="icon-download"></i> AR</a><br>
           <a  class="btn btn-small btn-info" href="/ru/work-area/generate-lot/ru"><i class="icon-download"></i> RU</a><br>
           <a  class="btn btn-small btn-info" href="/zh/work-area/generate-lot/zh"><i class="icon-download"></i> ZH</a>
       </td><td>&#160; </td></tr>
  
   <tr><td><i class="icon-certificate"></i>Create Certificate of Appreciation </td><td><a  class="btn btn-small btn-info" href="/work-area/certificatestoolnew/create/"><i class="icon-edit icon-white"></i> Create new certificates</a></td><td> <a href="/work-area/certificatestool/all/"> See list of created certificates of appreciation</a></td></tr>
   <tr><td><i class="icon-certificate"></i>Create  Certificate of Appreciation for Bureau/CPM Chair Person </td><td><a  class="btn btn-small btn-info" href="/work-area/b-certificatestoolnew/create/"><i class="icon-edit icon-white"></i> Create new certificates</a></td><td> <a href="/work-area/b-certificatestool/all/"> See list of created certificates</a></td></tr>
    <tr><td><i class="icon-envelope"></i></i> NROs Statistics before and after Training/Workshop</td><td><a  class="btn btn-small btn-info" href="/countries/statistics/createnrostats/"><i class="icon-edit icon-white"></i> Create new statistics</a></td><td></td></tr>
 
   <tr><td><i class="icon-calendar"></i> Calendar event</td><td> <a  class="btn btn-small btn-info" href="/create/event/calendar/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-check"></i> Polls</td><td><a  class="btn btn-small btn-info" href="/poll/create/"><i class="icon-edit icon-white"></i>Add new</a><a href="/poll/"></td><td><a href="/poll/"> See list of polls</a></td></tr>
   <tr><td><i class="icon-comment"></i> Forums</td><td> <a  class="btn btn-small btn-info" href="/admin/forum/forumpost/add/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-file"></i> Add public page</td><td> <a  class="btn btn-small btn-info" href="/admin/pages/page/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   <tr><td><i class="icon-file"></i> Add restricted page</td><td> <a  class="btn btn-small btn-info" href="/admin/pages/page/"><i class="icon-edit icon-white"></i> Add new</a></td><td></td></tr>
   
    {% endif %}
{% endfor %}
{% endif %}
</table>