{# https://gist.github.com/renyi/3596248 #}
{# richtextpage.html #}

{% extends "pages/page.html" %}
{% load i18n mezzanine_tags translate_tags %}

{% block meta_title %}
  {{ page.get_content_model.title }}
{% endblock %}


{% block title %}
  {{ page.get_content_model.title }}
{% endblock %}

{% block main %}
    {% if user.is_superuser %} 
    <div class="pull-right">
        <a class="btn btn-info btn-small" href="/admin/ippc/workareapage/{{ page.id }}">Edit as Admin</a><br>
    </div>
    {% endif %}
    
    {# {% if perms.ippc.view_workareapage and request.user.get_profile.country.name == page.title or user.is_superuser %} #}

    {# http://stackoverflow.com/questions/4577513/how-do-i-change-a-django-template-based-on-the-users-group#answer-8826722 #}
    {# {% regroup workareapublication_list|dictsort:"groups" by groups as workareapublications_by_groups %} #}
    {# {% for workareapublication_list in workareapublications_by_groups %} #}
    {#   <h2 class="normal clearboth">{{ post_list.list.0.get_status_display }}</h2> #}
    {#   {% with workareapublication_list.list|dictsortreversed:"created_at" as publications %} #}
    {#     {% for publication in publications %} #}
    {#     {% endfor %} #}
    {#   {% endwith %} #}
    {# {% endfor %} #}
      
    
    {# {% with page.workareapage.workareapagegroups.all as workareapagegroups %} #}
    {# {% if request.user.group in workareapagegroups %} #}
    {% for group in request.user.groups.all %}
      {% if group in page.get_content_model.groups.all %}
        {{ block.super }}
        {{ page.get_content_model.content|richtext_filter|safe }}
    {% endif %}
    {% endfor %}
    {# {% endwith %} #}
    
    

{% endblock %}

{# {% block local_nav %} #}
{# {% endblock local_nav %} #}
{% block pageinfo %}
{% endblock pageinfo %}