{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Certificates List" %}: 
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/work-area/">Workarea</a>
  <span class="divider">/</span>
</li>

<li class="active">{% trans "Create Membership List Tool" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a><br>
      
  
 </p>

<h1>
  <small class="normal">{% trans "Create Membership List Tool" %}</small>
</h1> 
<p>This tool is needed to generate a "Membership list" of users belonging to a group</p>
{% if latest %}
<table class="table table-condensed table-striped" id="publications">
  <thead>
    <tr>
      <th>{% trans "Group" %}</th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in latest %}
    <tr>
      <td>{{ object }}</td>
      <td>{% if perms.ippc.change_publication or user.is_superuser%}
        <a class="btn btn-small btn-info" href="/work-area/membershiptool/membership/create/{{object.id}}"><i class="icon-edit icon-white"></i> Generate Membership List</a>
    {% endif %}</td>
   
    </tr>
    {% endfor %}
  </tbody>
</table>


{% else %}
<p>No Groups available.</p>
{% endif %}

{% endblock %}

