{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Workshop Certificates List" %}: 
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/work-area/">Workarea</a>
  <span class="divider">/</span>
</li>

<li class="active">{% trans "Workshop  Certificates Tool" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a><br>
      {% if perms.ippc.add_workshopcertificatestool or user.is_superuser%}
        <a class="btn btn-small btn-info" href="/work-area/w-certificatestool/create"><i class="icon-edit icon-white"></i> Create New Workshop Certificates</a>
    {% endif %}
  
 </p>

<h1>
  <small class="normal">{% trans "Workshop Certificates list" %}</small>
</h1> 

{% if latest %}
<table class="table table-condensed table-striped" id="publications">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Author" %}</th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in latest %}
    <tr>
      <td><a href="{% url 'w-certificatestool-detail'  object.id %}">{{ object.title }}</a></td>
      <td>{{ object.creation_date|date:"d M Y H:m:s"}} </td>
      <td>{{ object.author}}</td>
   
    </tr>
    {% endfor %}
  </tbody>
</table>


{% else %}
<p>No certificates available.</p>
{% endif %}

{% endblock %}

