{% extends "base.html" %}

{% load scheduletags i18n %}


{% block breadcrumb_menu %}
<li>
    <a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/year/calendar/">{% trans "Calendar" %}</a>
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Year" %}</li>
{% endblock breadcrumb_menu %}

{% block main %}

<div class="well localnav">
    {% if user.is_superuser or can_add %} 
    <a class="btn btn-small btn-info" href="/create/event/calendar/">{% trans "Add Event" %}</a>
      <br><br><br>  
     {% endif %}
  
    <a href="{% url "month_calendar" calendar.slug %}">
       {% trans "See Month Calendar" %}
    </a>
</div>

<div class="calendarname"><h1>{% trans "Calendar of Events<" %}/h1></div><br><br>

{% prevnext "year_calendar" calendar.slug periods.year "Y" %}<br><br>

<table  data-url="data1.json"  class="table table-condensed table-striped" id="publications">
  <thead>
<th>
    <tr>
        <th style="white-space: nowrap">Start date</th>
        <th style="white-space: nowrap">End date</th>
        <th>Activity</th>
        <th>Type</th>
        <th>Location</th>
        {% if user.is_superuser or can_add %}
        <th> </th>
        {% endif %}
    </tr>
  </thead>
  <tbody>

    {% for m in months_list %}
    <tr>  <td colspan="5"><strong>{{m.1}}</strong></td></tr>
    {% for e in event_list2 %}
        {% if e.0 == m.0 %}
            {% for event in e.1 %}

                <tr>
                    <td style="white-space: nowrap"><small>{% blocktrans with event.start|date:"d-m-Y" as start_date %}{{ start_date }}{% endblocktrans %}</small></td>
                    <td style="white-space: nowrap"><small>{% blocktrans with event.end|date:"d-m-Y" as end_date %}{{ end_date }}{% endblocktrans %}</small></td>
                    <td>    <a  href="/events/event/{{event.id}}">{{event.title}}</a></td>
                    <td>{{event.type_verbose}}</td>
                    <td>{{event.location}} {{event.venuecity}} {{event.venuecountry}}  
                    {% if user.is_superuser or can_add %}
                      <a class="small pull-right" href="{% url 'edit_event' 'event' event.calendar.slug event.id %}"><i class="icon-edit"></i> Edit</a>  
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
        {% endif%}
    {% endfor %}
    {% endfor %}
     
    
    
    
      </tbody>
</table>

<!--div class="tablewrapper">
    <div class="calendarname">{{ calendar.name }}</div>
    {% prevnext "year_calendar" calendar.slug periods.year "Y" %}
    <table align="center">
    <tr>
    {% for month in periods.year.get_months %}
        <td valign="top">
        <a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date month.start 2 %}">
            {{month.name}}
        </a>
        {% month_table calendar month "small" %}</td>
        <td width="12">&nbsp;</td>
        {% ifequal forloop.counter 3  %}
            </tr>
            <tr>
        {% endifequal %}
        {% ifequal forloop.counter 6  %}
            </tr>
            <tr>
        {% endifequal %}
        {% ifequal forloop.counter  9 %}
            </tr>
            <tr>
        {% endifequal %}
    {% endfor %}
    </tr>
</table></div>
<div class="navigation">
  <a href="{% url "month_calendar" calendar.slug %}">
    {% trans "Current Month Calendar" %}
  </a>
  <a href="{% url "year_calendar" calendar.slug %}">
    {% trans "Current Year Calendar" %}
  </a>
</div-->
{% endblock %}
