{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}
{% load scheduletags i18n %}


{% block meta_title %}
  {% trans "Events" %}: 
  {{ country.name }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a></li>
<li class="breadcrumb-item">
  <a href="/countries/">Countries</a>
 
</li>
<li class="breadcrumb-item">
  <a href="{{ country.get_absolute_url }}">
    {{ country.name }}
  </a>
</li>
<!--li class="active">{% trans "Events" %}</li-->
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back"  %}</a><br/>
  
      {% if perms.schedule.add_event and request.user.get_profile.country.id == country.id or user.is_superuser %}
    <small>  <a class="btn btn-small btn-info" href="{% url 'calendar_create_event' country|slugify 'calendar' %}">+ {% trans "Add new event" %}</a>
    </small>
    {% endif %}
    
</p>

<h1>
  <small class="normal">{% trans "Events from" %}</small>
   {{ country }}
</h1> 


{% if event_list %}
<table class="table table-condensed table-striped" id="publications">
   <thead> <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Activity</th>
      

    </tr>
</thead>
 <tbody>
    {% for event in event_list %}
    <tr>
        <td>{% blocktrans with event.start|date:"d-m-Y" as start_date %}{{ start_date }}{% endblocktrans %}</td>
        <td>{% blocktrans with event.end|date:"d-m-Y" as end_date %}{{ end_date }}{% endblocktrans %}</td>
        <td>    <a  href="/events/event/{{event.id}}">{{event.title}}</a>
        {% if user.is_superuser or  perms.schedule.change_event  and request.user.get_profile.country.id == country.id %}
       <a class="small pull-right" href="{% url "edit_event" event.country event.calendar.slug event.id %}"><i class="icon-edit"></i> Edit</a> </td>
        {% endif %}
        
    
        
        
    </tr>
    {% endfor %}
     </tbody>
</table>
   {% else %}
        <p>No events available.</p>
    {% endif %}

{% endblock %}




