{% extends "base.html" %}
{% load i18n staticfiles scheduletags %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Event" %}{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>

{% if is_contryeevent %}
<li>
    <a href="/countries/">{% trans "Countries" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/countries/{{ country|slugify }}/">
        {{ country }}
    </a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/countries/{{ country|slugify }}/calendar/">{% trans "Events" %}</a>
    <span class="divider">/</span>
</li>
{% else %}
<li>
    <a href="/year/calendar/">{% trans "Calendar" %}</a>
    <span class="divider">/</span>
</li>
</li>
{% endif %}

<li class="active">{{event.title}}</li>

{% endblock  %}

{% block local_nav %}
<div class="well localnav">
    {% if is_contryeevent %}
    <p><a href="/countries/{{ event.country.name|slugify }}/calendar/">« {% trans "Back to" %}</a></p>
    {% else %}    
    <p><a href="/year/calendar/">« {% trans "Back to " %}  {% trans "Calendar" %}</a></p>
     {% endif %}
   {% if user.is_superuser %} 
    <a class="btn btn-small btn-info" href="/admin/schedule/event/{{ event.id }}"><i class="icon-edit icon-white"></i>Edit as Admin</a><br>
    {% endif %}
    
    {% if is_contryeevent %}
        {% if is_contryeditor or user.is_superuser %}
            <a class="btn btn-small btn-info" href="{% url "edit_event" event.country event.calendar.slug event.id %}"><i class="icon-edit icon-white"></i>Edit</a>
        {% endif %}
    {% else %}    
        {% if is_secretariat or user.is_superuser%}
            <a class="btn btn-small btn-info" href="{% url "edit_event" 'event' event.calendar.slug event.id %}"><i class="icon-edit icon-white"></i>Edit</a>
        {% endif %}
     {% endif %}
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{event.title}}</h1> 
<dl class="dl-horizontal">

    <dt>{% trans "Starts" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{% blocktrans with event.start|date:"d-m-Y" as start_date %}{{ start_date }}{% endblocktrans %}</li>
        </ul>
    </dd>


    <dt>{% trans "Ends" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{% blocktrans with event.end|date:"d-m-Y" as end_date %}{{ end_date }}{% endblocktrans %}</li>
        </ul>
    </dd>
    {% if event.description|length > 2 %}
    <dt>{% trans "Description" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{{event.description}}</li>
        </ul>
    </dd>
    {% endif %}
      {% if event.category_verbose|length > 2%}
  
    <dt>{% trans "Category" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{{event.category_verbose}}</li>
        </ul>
    </dd> {% endif %}
     {% if event.type_verbose|length > 2%}
    <dt>{% trans "Type" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{{event.type_verbose}}</li>
        </ul>
    </dd> {% endif %}
    {% if event.venuecity|length > 2%}
   <dt>{% trans "Venue city" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{{event.venuecity}}</li>
        </ul>
    </dd>
    {% endif %}
    {% if event.venuecountry|length > 2%}
    <dt>{% trans "Venue country" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{{event.venuecountry}}</li>
        </ul>
    </dd>
    {% endif %}
    {% if event.organizer|length > 2%}
 
    <dt>{% trans "Organizer" %}</dt>
    <dd>
        <ul class="unstyled nomargin">
            <li>{{event.organizer}}</li>
        </ul>
    </dd>
     {% endif %}
     <!--dt>{% trans "Created on" %}</dt>
    <dd>{% blocktrans with sometime=event.created_on|date:"d-m-Y" %}{{ sometime }}{% endblocktrans %}</dd>
    <dt>{% trans "Updated on" %}</dt>
    <dd>{% blocktrans with sometime=event.updated_on|date:"d-m-Y" %}{{ sometime }}{% endblocktrans %}</dd-->

    {% if event.issuename.all %}
    <dt>{% trans "Issue keywords" %}</dt>
    <dd>
        {% for entry in event.issuename.all %}
        {% for e in entry.issuename.all %}
						<i class="icon-tag"></i> {{e.name}}
        {% endfor %} 
        {% endfor %}
    </dd>
    {% endif %}


{% if event.eventfile_set.all %}
    
    <dt>{% trans "Event files" %}</dt>  <dd> <ul class="unstyled nomargin">
            {% for f in event.eventfile_set.all %} 

            <li><a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a></li>
            {% endfor %}
        </ul></dd>
         {% endif %}
{% if event.eventurl_set.all %}
    <dt>{% trans "Event websites/urls" %}</dt>
    <dd> <ul class="unstyled nomargin">
            {% for u in event.eventurl_set.all %} 

            <li> <a href="{{ u.url_for_more_information }}">{{ u.url_for_more_information }}</a></li>
            {% endfor %}  
        </ul></dd>
    {% endif %}





</dl>




{% endblock %}

