{% load i18n future mezzanine_tags accounts_tags %}

{% if request.user.is_authenticated %}
  {% if user.is_authenticated and user.is_staff %}
        <a href="/admin/" class="btn btn-small btn-admin" style="width: auto">Admin Area</a>
  {% endif %}
  
  {% if user.is_authenticated and perms.ippc.add_reportingobligation and not user.is_staff %}
        <a href="/{{ LANGUAGE_CODE }}/countries/{{ user.get_profile.country.name | slugify }}/" class="btn btn-small btn-admin" style="width: auto" title="{% trans 'Go to your country page to upload or update information.' %}"> {% trans "Edit Country Information" %}</a> 
        
  {% endif %}
  
    {% url "profile" request.user.username as profile_url %}
    {% if profile_url %}
        {# <a href="{{ profile_url }}">{{ request.user|username_or:"email" }}</a>! #}
        <a href="{{ profile_url }}" title="{% trans 'See your IPPC user profile, including contact information.' %}"> {% if request.user.get_profile.first_name or request.user.get_profile.last_name %}{{ request.user.get_profile.first_name }} {{ request.user.get_profile.last_name }}{% else %}{{ request.user.username }}{% endif %}</a>
        
        {# <br> #}
        {# <a href="{% url "profile_update" %}" #}
        {#     class="btn btn-small btn-account">{% trans "Update profile" %}</a> #}
    {% else %}
        <a href="{% url "profile_update" %}">{{ request.user|username_or:"email"|capfirst }}</a>!
    {% endif %}
    <a href="{% url "logout" %}?next={{ request.path }}"
        class="btn btn-small  btn-purple">{% trans "Log out" %}</a>
{% else %}
    <a href="{% url "login" %}?next={{ request.path }}"
        class="btn btn-small btn-info">{% trans "Log in" %}</a>
    {# {% trans "or" %} #}
    {# <a href="{% url "signup" %}?next={{ request.path }}" #}
        {# class="btn btn-small btn-account">{% trans "Sign up" %}</a> #}
{% endif %}
