{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Latest Basic Reportings" %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li><a href="/countries/">Countries</a><span class="divider">/</span></li>
<li><a href="/countries/{{basicreporting.country.name|slugify}}">{{basicreporting.country.name}}</a><span class="divider">/</span></li>
<li><a href="/countries/{{basicreporting.country.name|slugify}}/basicreportings/">Basic Reportings</a><span class="divider">/</span></li>
<li class="active">{{ basicreporting.title }}</li>
{% endblock %}

{% block local_nav %}
<div class="well">
  <p><a href="/countries/{{ basicreporting.country.name|slugify }}/basicreportings/">« {% trans "Back to" %} {% trans "Basic Reports" %}</a></p>
    {% if user.is_superuser %} 
        <a class="btn btn-small btn-info" href="/admin/ippc/basicreportings/{{ basicreporting.id }}">Edit as Admin</a><br>
    {% endif %}
        
    {% if perms.ippc.change_basicreporing and request.user.get_profile.country.name == page.title %}
        <a class="btn btn-small btn-info" href="{% url 'basic-reporting-edit' basicreporting.country.name|slugify basicreporting.id %}"><i class="icon-edit icon-white"></i> Edit</a>
        {# <a class="btn" href="{% url 'basic-reporting-edit' basicreportings.id %}"><i class="icon-edit"></i> Edit</a> #}
    {% else %}
    {% endif %}
    
    
    
   
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ basicreporting.title }}</h1> 

<dl class="dl-horizontal">
  {% if basicreporting.basic_rep_type %}
  <dt>{% trans "Basic Reporting" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
      <li>{{ basicreporting.basic_rep_type_verbose }}</li>
    </ul>
  </dd>
  {% endif %}
  
  <dt>{% trans "Publication date" %}</dt>
  <dd>a{% blocktrans with sometime=basicreporting.publication_date|date:"d-m-Y" %}{{ sometime }}{% endblocktrans %}</dd>
  
 {% if basicreporting.short_description %}
  <dt>{% trans "short description" %}</dt>
  <dd>{{ basicreporting.short_description }}</dd>
  {% endif %}
  
  {% if basicreporting.contact_for_more_information %}
  <dt>{% trans "Contact for more information" %}</dt>
  <dd>{{ basicreporting.contact_for_more_information }}</dd>
  {% endif %}
  
  {% if basicreporting.url_for_more_information %}
  <dt>{% trans "Website" %}</dt>
  <dd><a href="{{ basicreporting.url_for_more_information }}">{{ basicreporting.url_for_more_information }}</a></dd>
  {% endif %}
  
  <dt>{% trans "Author" %}</dt>
  <dd>{{ basicreporting.author.get_profile.first_name }} {{ basicreporting.author.get_profile.last_name }}</dd>
  
  {% if basicreporting.file %}
  <dt>{% trans "Report file" %}</dt>
  <dd><a href="{{MEDIA_URL}}{{ basicreporting.files }}{{ basicreporting.file }}">{{ basicreporting.filename }}</a></dd>
  {% endif %}


  
 
  
  
 
  
 
  
  
 
  
</dl>

{% endblock %}

