{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/DT_bootstrap.css" %}">
{% endblock %}

{% block meta_title %}
  {% trans "Search results for: " %}: 
  {{ type_label }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<!--li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a></li-->
<li class="breadcrumb-item">
  <a href="/countries/">Countries</a>
  
</li>

<li  class="breadcrumb-item active">{{type_label}} {% trans "list" %}</li>
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}
{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
  </p>

<h1>
  <small class="normal">{% trans "Results for: " %} {{type_label}} (1-{{counttotal}} of {{counttotal}})</small>
  
</h1> 

 
{% if item == 'pestreportstat' %}

 
<div id="chartContainer" style="height: 300px; width: 100%;">
    </div>   
 
{% endif %}


{% if items %}

{% if  link_to_item == 'pest-report-detail' %}
{% load leaflet_tags %}
{% leaflet_js %}
        {% leaflet_css %}
 
 <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Pest Identity Report Chart "
      },
      legend:{
        verticalAlign: "center",
        horizontalAlign: "right",
        fontSize: 16,
        fontFamily: "Helvetica"        
      },
      theme: "theme2",
      data: [
      {        
       type: "pie",       
       indexLabelFontFamily: "Garamond",       
       indexLabelFontSize: 16,
       startAngle:-20,      
       showInLegend: true,
       toolTipContent:"{label}",
       dataPoints: [
             {% autoescape off %} 
                {{datachart}}
             {% endautoescape %}  
         ]
     }
     ]
   });
       chart.render();
    
  }
  </script>
  <script src='{% static "/static/canvasjs/canvasjs.min.js" %}'></script>

<!--table><tr>
        <td><div id="map" style="width: 550px; height: 350px"></div></td>
        <td></td></tr></table-->


    <!--script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script-->

    <script>
var greenIcon = L.icon({
    iconUrl: '/static/leaflet/images/leaf-red.png',
    shadowUrl: '/static/leaflet/images/leaf-shadow.png',

    iconSize:     [38, 95], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
	 var planes = [
               {% for a in map %}
                   {% autoescape off %}
                        {{a}},
                   {% endautoescape %}  
                {% endfor %}
            ];
        var map = L.map('map', { center: [3, 28],   zoom: 1});
        mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
            }).addTo(map);

		for (var i = 0; i < planes.length; i++) {
			marker = new L.marker([planes[i][1],planes[i][2]])
				.bindPopup(planes[i][0])
				.addTo(map);
                        
                 
		}
               
    </script>
 
   
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
// This example creates circles on the map, representing
// populations in North America.

// First, create an object containing LatLng and population for each city.
var citymap = {};
   {% autoescape off %}
                        {{map1}}
                   {% endautoescape %}  
var cityCircle;

function initialize() {
  // Create the map.
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(37.09024, 37.712891),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };


 


  var map = new google.maps.Map(document.getElementById('map-canvas'),      mapOptions);

  // Construct the circle for each value in citymap.
  // Note: We scale the area of the circle based on the population.
  for (var city in citymap) {
    var populationOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: citymap[city].center,
      radius: Math.sqrt(citymap[city].population) * 100000,
    };


    // Add the circle for this city to the map.
    cityCircle = new google.maps.Circle(populationOptions);
	
	var marker = new google.maps.Marker({
      position: citymap[city].center,
	
  icon: {
      path: google.maps.SymbolPath.CIRCLE,
      scale: 1
    },      map: map,
      title: citymap[city].text,
	  html:citymap[city].html
	  
  }); 
 
   google.maps.event.addListener(marker, "click", function () {
                // alert(this.html);
                infowindow.setContent(this.html);
                infowindow.open(map, this);
            });
  
  }  


infowindow = new google.maps.InfoWindow({
                content: "loading..."
            });
    }
google.maps.event.addDomListener(window, 'load', initialize);















    </script>
       <div id="map-canvas" style="height: 550px; width: 950px;"></div>
    
    
    
    
    
 
<table class="table table-condensed table-striped" id="publications">
  <thead>
    <tr>
      <th>{% trans "Country" %}{{type}}</th>
      <th>{% trans "Report number" %}</th>
      <th>{% trans "Last updated" %}</th>
      <th>{% trans "Identity of Pest" %}</th>
      <th>{% trans "Host(s) or Article(s)" %}</th>
      <th>{% trans "Status of pest (under ISPM No.8)" %}</th>
      <th>{% trans "Title" %}</th>
      
    </tr>
  </thead>
  <tbody>
    {% for object in items %}
    <tr>
      <td><a href="{% url 'country' object.country.country_slug%}">{{ object.country }}</a></td>
      <td>{{ object.report_number}} </td>
      <td>{{ object.modify_date|date:"d M Y" }}</td>
      <td>{{ object.pest_identity}} </td>
      <td>{{ object.hosts}} </td>
      <td>
      {% for pest_status in object.pest_status.all %}
      {{ pest_status.status }}<br>
    
    {% endfor %}
      
      </td>
      <td><a href="{% url link_to_item object.country.country_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">             {{ object.title }}</a></td>
     </tr>
    {% endfor %}
  </tbody>
</table>

{% elif link_to_item == 'contactpoint' %}
<table data-url="data1.json"  class="table table-condensed table-striped" data-sort-name="country" data-sort-order="asc" id="publications">
  <thead>
    <tr>
      <th data-field="country">{% trans "Country" %}{{type}}</th>
      <th>{% trans "Type of contact" %}</th>
      <th>{% trans "Prefix" %}</th>
      <th>{% trans "First Name" %}</th>
      <th>{% trans "Last Name" %}</th>
      <th>{% trans "Email" %}</th>
      <th>{% trans "Alternate E-mail" %}</th>
      <th>{% trans "Address" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in items %}
    <tr>
      <td> {% for c in cns %}
          
          {% if c.id == object.country_id %}
          <a href="{{c.slug}}">{{c}}</a>
          {% endif%}
          
       {% endfor %}</td>
      <td>{% for o in object.contact_type.all %}
          {{o}}<br>
       {% endfor %}</td>
      <td>{{ object.gender.name }}</td>
      <td>{{ object.first_name }}</td>
      <td>{{ object.last_name }}</td>
      <td>
        {% for u in users %}
          
          {% if u.id == object.user_id %}
          {{u.email}}
          {% endif%}
          
       {% endfor %}</td>
    
      
      </td>
      <td>{{ object.email_address_alt }}</td>
      <td>{{ object.address1 }}</td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<table class="table table-condensed table-striped" id="publications">
  <thead>
    <tr>
      <th>{% trans "Country" %}{{type}}</th>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Date Published" %}</th>
      <th>{% trans "Last updated" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in items %}
    <tr>
      <td><a href="{% url 'country' object.country.country_slug%}">{{ object.country }}</a></td>
      <td>
          <a href="{% url link_to_item object.country.country_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">             {{ object.title }}</a></td>
      <td>{{ object.publish_date|date:"d M Y" }}</td>
      <td>{{ object.modify_date|date:"d M Y" }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endif %}
{% else %}
<p>No items available.</p>
{% endif %}

{% endblock %}
{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}
{# {% block extra_js %} #}
{#   <script src="{% static "js/jquery.dataTables.js" %}"></script> #}
{#   <script src="{% static "js/DT_bootstrap.js" %}"></script> #}
{# {% endblock %} #}