{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}


{% block meta_title %}
    {% with page.richtextpage|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
    {% endwith %}
{% endblock %}

{% block meta_keywords %}{% metablock %}

{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% with page.richtextpage|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
    {% endwith %}
{% endblock %}