{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Countries List" %}: 
  {{ page.title }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/countries/">Countries</a>
  <span class="divider">/</span>
</li>
<!--li>
  <a href="{{ page.get_absolute_url }}">
    {# {% with latest|first as first_object %} #}
    {#   {{ first_object.country.name }} #}
    {# {% endwith %} #}
    {{ page.title }}
  </a>
  <span class="divider">/</span>
</li-->
{%if region_name == 'NPPOs' %}
<li class="active">{% trans "List of NPPOs of IPPC Contracting parties" %} 
</li>
{% else %}
<li class="active">{% trans "Countries List" %} 
    {% if region_name %}
  from {{region_name}}
  {% endif %}</li>
  {% endif %}
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}



{% block main %}
<h1>
{%if region_name == 'NPPOs' %}
    {% trans "List of NPPOs of IPPC Contracting parties" %} 
{% else %}
  {% trans "List of Countries" %}
      {% if region_name %}
	- {{region_name}}
      {% endif %}
 {% endif %}
  </h1> 
<div class="span7 middle">
	<p>There are currently <strong>{{ number_of_cp }}</strong> contracting parties. Visit the <a href="http://www.fao.org/fileadmin/user_upload/legal/docs/004s-e.pdf">FAO Legal</a> website for details.</p>
	{%if region_name == 'NPPOs' %}{% else %}
<p>
	<span class="icn-adoptedbadge">Contracting parties</span> 
	<br />
	<span class="icn-noncontracting">Non-Contracting</span>
	<br />
	<span class="icn-territory">Territory</span>
</p>
  {% endif %}


{% if latest %}
<table class="table table-condensed table-striped" id="publications">
<tbody>
{% for object in countries %}
    {% if object.name != '-' %} 
           <tr><td>
            {% if  object.cp_ncp_t_type == 'CP' %}
        <span class="icn-adoptedbadge quiet small"></span>
        {% elif object.cp_ncp_t_type == 'NCP' %}
        <span class="icn-noncontracting quiet small"></span>
        {% elif  object.cp_ncp_t_type == 'T' %}
        <span class="icn-territory quiet small"></span>
        {% endif %}
        <a href="/{{ object.slug}}/" >{{ object.name }}</a>
           </td></tr>{% endif %}
 {% endfor %}
</tbody>
</table>
{% else %}
{% endif %}

{% endblock %}
</div>
