{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Countries Stats" %}: 
  {{ page.title }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}

<li class="breadcrumb-item">
  <a href="/countries/">Countries</a>
  
</li>
<li class="breadcrumb-item">
    <a href="/nro-reports-and-statistics/">Statistics</a>
    
</li>

<li  class="breadcrumb-item active">{% trans "Summary statistics for National Reporting Obligations: NROs only for  " %} {{prevyear}}   </li>
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
</p><script type="text/javascript" charset="utf-8">
$(function() {
      $('#sel_year').change(function() {
            window.location.href = $(this).val()+'/';
      });
});
</script>
<script type="text/javascript">
      window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer0",
    {
      title:{
             text: "Total NRO reports in "+{% autoescape off %}{{prevyear}}{% endautoescape %},
      },
      animationEnabled: true,
      legend:{
        verticalAlign: "center",
        horizontalAlign: "right",
        fontSize: 16,
        fontFamily: "Helvetica"        
      },
      theme: "theme2",
      data: [
      {        
       type: "pie",       
       indexLabelFontFamily: "Garamond",       
       indexLabelFontSize: 16,
       startAngle:-20,      
       showInLegend: true,
       toolTipContent:"{label}",
       dataPoints: [
             {% autoescape off %} 
                {{datachart0}}
             {% endautoescape %}  
         ]
     }
     ]
   });
   
    chart.render();
    /*var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Total NRO reports in "+{% autoescape off %}{{prevyear}}{% endautoescape %},
        fontSize: 20
      },
      animationEnabled: true,
     
      legend: {
        verticalAlign: "bottom",
        horizontalAlign: "center"
      },
      theme: "theme2",
       axisY: {
				title: "Number of reports",
				titleFontSize: 10,
				labelFontSize: 10,
			},
			axisX: {
				labelFontSize: 14,
				labelMaxWidth:120,
				labelWrap: true,
				interval: 1,
			},
                      
			data: [ 
			   {% autoescape off %} 
                                {{datachart}}
                             {% endautoescape %}  
			],
    });

    chart.render();*/
  }
    
	
</script>
<script src='{% static "/static/canvasjs/canvasjs.min.js" %}'></script>


    
    
    
    
<h1>
{% trans "Summary statistics for National Reporting Obligations: NROs only for  " %} {{prevyear}}  
  </h1> 
    <p>
 <b>Select year for statistics:</b><br>
  <form action="" method="POST">
        {% csrf_token %}
<select data-placeholder="Go to year..." tabindex="3"  id="sel_year" >
 <option value="">{% trans "Go to year ... " %}</option>
  {% for i in selyear_range %}
     <option  {% if prevyear == i %}selected{% endif %} value="/countries/statistics/total-reports1/{{i}}">{{i}}</option>    
 {% endfor %}
</select>
</form>
 </p>

<p>The past year has proved to be a relatively active year for providing and maintaining NROs.</p>
<br>

<h1>
  <small class="normal">{% trans "The relative number of reports provided by countries in " %} {{prevyear}}. </small>
  </h1> 
<b>Date generated: </b>  {{ dategenerate|date:"d M Y, H:m" }}</p><br>

<table class="table table-condensed table-striped">
<thead>
<tr>
    <th>Type of NRO</th>
    <th>Relative number of reports provided in {{prevyear}}.</th>
</tr> 


    
</thead>
<tbody>
<tr>
    <td>Description of NPPO</td>
    {% for object in rep_array.0 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Pest reports</td>
    {% for object in pest_array.0 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Emergency action</td>
    {% for object in ev_array.0 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>List of regulated pests</td>
    {% for object in rep_array.2 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Entry points</td>
    {% for object in rep_array.1 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Legislation: phytosanitary requirements/ restrictions/ prohibitions</td>
    {% for object in rep_array.3 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Non-compliance</td>
    {% for object in ev_array.1 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Organizational arrangements of plant protection</td>
    {% for object in ev_array.2 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Pest status</td>
    {% for object in ev_array.3 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>
<tr>
    <td>Rationale for phytosanitary requirements</td>
    {% for object in ev_array.4 %}
       <td>{{object }} </td>
    {% endfor %}
</tr>

<tr>
    <th>Total</th>
    <th>{{tot_rep_count}}</th>
</tr>




</tbody>

</table>
<table class="table table-condensed table-striped">
<tr><td>	<div id="chartContainer0" style="height: 700px; width: 100%;">
	</div>
</td>
            </tr>
 </table>

{% endblock %}
