{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {{ page.title }}
{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/countries/">Countries</a>
  <span class="divider">/</span>
</li>
<li class="active">
      {{ page.title }}
</li>
{% endblock %}

{% block main %}

{# <div class="span8 middle"> #}
{% if user.is_staff %} 
<div class="pull-right">
    <a class="btn btn-small btn-info" href="/admin/ippc/countrypage/{{ page.id }}">Edit page as Admin</a><br>
</div>
{% endif %}

{# =todo: only country editors, including chief editor/nppo, of course, can edit: #}

{# https://docs.djangoproject.com/en/dev/topics/auth/default/#permissions #}
{# https://www.djangopackages.com/grids/g/perms/ #}



<h1>
    {{ page.title }} <img src="{{page.get_content_model.country.flag}}">
</h1> 

<div class="panel contact-info">
<h2>{% trans "Contact Point" %}</h2>

{% for editor in page.get_content_model.editors.all %}
  {# {{ editor.get_profile.first_name }} #}
  {# {{ editor.get_profile.last_name }} #}
  {% include "accounts/account_editor_details.html" %}
{% endfor %}

{# {% if request.user.get_profile.country.name == page.title and perms.ippc.add_pestreport %} #}


  {# {{ user.get_profile.first_name}} #}
  {# show contact details #}
  {# {% else %} #}
  {# {{ user.get_profile.country.name }} #}
  {# {{page.title}} #}
  {# <p>{% trans "No Contact Point yet. Can you help us find one?" %} <a href="/contact/">{% trans "Contact us" %}</a>! Or <a href="/faq#ContactPointNomination">read more about official contact points</a> and <a href="/faq#AdherenceToIppc">how to become an IPPC contracting party</a>.</p> #}
  
{# {% endif %} #}
</div>

<h2>Description of NPPO</h2>
{# =todo: description of nppo here #}
{% with page.richtextpage|get_object_translation as translated_page %}
    {{ translated_page.content|richtext_filter|safe }}
{% endwith %}
{# </div> #}
{% endblock %}


{% block local_nav %}
  {# =todo: navbar of country's report types. #}
  {#  #}
  {# if user is logged in and is country editor and country == request.country: #}
  {#   display ADD button next to each list item links to report types #}
<div class="well">    
    <ul class="nav nav-list">
      <li class="nav-header">{{ page.title }}</li>
      <li><a href="{% url 'pest-report-list' page.title|slugify %}">Official Pest Reports</a> 
        
        {% if perms.ippc.add_pestreport and request.user.get_profile.country.name == page.title or user.is_staff %}
          <small><a class="btn btn-small btn-info" href="{% url 'pest-report-create' page.title|slugify %}">+ {% trans "Add new" %}</a></small>
        {% else %}
        {% endif %}
      
      </li>
      <li class="divider"></li>
      <li><a href="#">Reporting Obligations</a> <small class="muted">Legislations, Entry points, Regulated pests, Emergency actions, Phytosanitary restrictions, requirements and prohibitions</small></li>
      <li class="divider"></li>
      <li><a href="#">Optional Reporting</a> <small class="muted">Non-compliance, Organizational arrangements of plant protection, Pest status, Rationale for phytosanitary requirements</small></li>
      <li class="divider"></li>
      <li><a href="#">Pest-Free Area or Area of Low Pest Prevalence</a></li>
      <li class="divider"></li>
      <li><a href="#">Implementation of ISPM 15</a></li>
      <li class="divider"></li>
      <li><a href="#">Publication</a></li>
      <li><a href="#">News Item</a></li>
      <li><a href="#">Event</a></li>
      <li><a href="#">News Item</a></li>
      <li><a href="http://phytosanitary.info/user/login?destination=node/add" target="_blank">Project <span class="small">(go to phytosanitary.info)</span></a></li>
    </ul>
</div>  
  {# =todo: link to this country's RSS feed here. #}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}