{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {{ page.title }}
{% endblock %}

{% block breadcrumb_menu %}
<!--li class="breadcrumb-item">
  <a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a>
  
</li-->
<li class="breadcrumb-item">
  <a href="/countries/">{% trans "Countries" %}</a>
  
</li>
<!--li  class="breadcrumb-item active">
      {{ page.title }} </li--><li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}


    {% block main %}
    
    <script type="text/javascript">
    
    window.onload = function () {

    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
      title:{
	text: "Graphical overview of National Reporting Obligations",
        fontSize: 20
			
        
      },
      animationEnabled: true,
      
      axisY: {
            title: "number of reports",
            titleFontSize: 16,
            labelFontSize: 16,
    },
    axisX: {
            labelFontSize: 10,
            labelMaxWidth:70,
            interval: 1,
    },
                        
     
      legend: {
        verticalAlign: "bottom",
        horizontalAlign: "center"
      },
      theme: "theme1",
       // width:780,
       //height:400,
      data: [

      {        
        type: "column",  
        showInLegend: true, 
        legendMarkerColor: "grey",
        legendText: "type of reports",
        dataPoints: [      
        {% autoescape off %} 
                                {{datachart}}
                             {% endautoescape %}     
        ]
      }   
      ]
    });

    chart2.render();




		
}
</script>
<script src='{% static "/static/canvasjs/canvasjs.min.js" %}'></script>

<div class="row">
    <div class="col-md-8"> 
    {% if user.is_superuser %} 
    <div class="pull-right">
        <a class="btn btn-small btn-info" href="/admin/ippc/countrypage/{{ page.id }}">Edit page as Admin (also contact point &amp; editors relation)</a><br>
    </div>
    {% endif %}
     <h1>
      {{ page.title }} <img src="{{MEDIA_URL}}{{page.get_content_model.cn_flag}}">
     </h1> 

  
    <div class="card" style="width: 100%">
          <div class="card-header">
            <h3 class="my-0">
        {% for entry in page.get_content_model.contact_point.get_profile.contact_type.all %}
          {{entry}}{% if forloop.last %} {% else %},{% endif %}
        {% endfor %}
       </h3>
           {% include "accounts/account_contactpoint_details.html" %}
          </div>
    </div>    



    {# if there are any editors defined for this country page, only admins can see them here #}
    {% if user.is_superuser or perms.ippc.add_reportingobligation and request.user.get_profile.country.name == page.title or user.is_superuser %}
    {% if page.get_content_model.editors.all  %} {#and user.is_superuser#}

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>  <h3>{% trans "Editors" %}</h3></th>
        </tr>
      </thead>
      <tbody>
        {% for editor in page.get_content_model.editors.all %}
          <tr>
            <td>{{ editor.get_profile.first_name }} {{ editor.get_profile.last_name }} 
                {% if  user.is_superuser %}<a class="btn btn-small btn-info  pull-right" href="/admin/auth/user/{{ editor.get_profile.user_id }}">Edit User as Admin</a>{% endif %} <br></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
     {% endif %}
   
        <table class="table">
        <thead>
           <tr>
               <th colspan="2">{% trans "National Reporting Obligations" %} 

      {% if user.is_superuser  or perms.ippc.change_reportingobligation and request.user.get_profile.country.name == page.title %}


                   {% if ro_to_verify_1 == 'verify'%} <p style="color:red"> <b> Some of the data reported in your country page need your attention.<br>Click on the links below to check.</b>   {% endif %}  </th>
          {% endif %}    </tr>
           </thead>
          <tbody>

          <tr>
               <td>   {% for key, val in basic_types %}   
                 {% if perms.ippc.add_reportingobligation and request.user.get_profile.country.name == page.title or user.is_superuser %}
                   <a class="btn btn-small btn-info" href="{% url 'reporting-obligation-create' page.title|slugify key %}">+ {% trans "Add new" %}</a>
                  {% endif %}
                   <!--a href="/countries/{{page.title|slugify}}/reportingobligation/{{key}}">{{val}}</a-->
                      <a href="/{{page.slug}}/reportingobligation/{{key}}">{{val}}</a>

                    <br>
                  {% endfor %} 
                   {% if perms.ippc.add_pestreport and request.user.get_profile.country.name == page.title or user.is_superuser %}
                     <a class="btn btn-small btn-info" href="{% url 'pest-report-create' page.title|slugify %}">+ {% trans "Add new" %}</a>
                   {% else %}
                   {% endif %}             
                  <a href="{% url 'pest-report-list' page.title|slugify %}">{% trans "Pest Reports" %}</a> 

           </td>  
           <td>   
              {% for key, val in event_types %}
               {% if perms.ippc.add_eventreporting and request.user.get_profile.country.name == page.title or user.is_superuser %}
                 <a class="btn btn-small btn-info" href="{% url 'event-reporting-create' page.title|slugify key %}">+ {% trans "Add new" %}</a>
               {% endif %}
               <a href="/{{page.slug}}/eventreporting/{{key}}">{{val}}</a>

               <br>
             {% endfor %} 
             </td>




          </tr>


             </tbody>

          </table> 

         
            <div id="chartContainer2" style="height: 300px; width:100%;"></div> 
    </div>
    <div class="col-md-4"> 
    <div class="card" style="width: 300px">
    <div class="card-header">
         <h5>{% trans " Related Official Information" %}</h5>
    </div>
	
      <ul class="list-group list-group-flush">
          
        
       
      <li class="list-group-item">
        
          {% if perms.ippc.add_cnpublication and request.user.get_profile.country.name == page.title or user.is_superuser %}
            <a class="btn btn-small btn-info" href="{% url 'country-publication-create' page.title|slugify %}">+ {% trans "Add new" %}</a>
          {% endif %}
          <a href="{% url 'country-publication-list' page.title|slugify %}">Publication</a> 
        
      </li>
   
      <li class="list-group-item">
        
          {% if perms.ippc.add_countrynews and request.user.get_profile.country.name == page.title or user.is_superuser %}
            <a class="btn btn-small btn-info" href="{% url 'country-news-create' page.title|slugify %}">+ {% trans "Add new" %}</a>
          {% endif %}
          <a href="/countries/{{page.title|slugify }}/countrynews/">{% trans "News Item" %}</a>
        
      </li>
      <li class="list-group-item">
        
          {% if perms.schedule.add_event and request.user.get_profile.country.name == page.title or user.is_superuser %}
            <a class="btn btn-small btn-info" href="{% url 'calendar_create_event' page.title|slugify 'calendar' %}">+ {% trans "Add new" %}</a>
          {% endif %}
          <a href="/countries/{{page.title|slugify }}/calendar/">{% trans "Events" %}</a>
        
      </li>
      <li class="list-group-item">
        
          {% if perms.ippc.add_website and request.user.get_profile.country.name == page.title or user.is_superuser %}
            <a class="btn btn-small btn-info" href="{% url 'website-create' page.title|slugify %}">+ {% trans "Add new" %}</a>
          {% endif %}
          <a href="{% url 'website-list' page.title|slugify %}">Website</a> 
        
      </li>
       <li class="list-group-item">
          
            {% if perms.ippc.add_pestfreearea and request.user.get_profile.country.name == page.title or user.is_superuser %}
              <a class="btn btn-small btn-info " href="{% url 'pfa-create' page.title|slugify %}">+ {% trans "Add new" %}</a>
            {% endif %}
            <a href="{% url 'pfa-list' page.title|slugify %}">Pest-Free Area</a>         
          
      </li>

       <li class="list-group-item">
         
           {% if perms.ippc.add_implementationispm and request.user.get_profile.country.name == page.title or user.is_superuser %}
             <a class="btn btn-small btn-info" href="{% url 'implementationispm-create' page.title|slugify %}">+ {% trans "Add new" %}</a>
           {% endif %}
           <a href="{% url 'implementationispm-list' page.title|slugify %}">Implementation of ISPM 15</a> 
         
      </li>
      
      <li class="list-group-item">
        
          <a href="http://phytosanitary.info/user/login?destination=node/add" target="_blank">Project <span class="small">(go to phytosanitary.info)</span></a>
        
      </li>
  </ul>
        <div class="card-header">
         <h5> {% trans "FAO Country Profile Data" %}</h5>
    </div>
     <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a href="/countries/{{page.title|slugify }}/relatedinformations/">Map &amp; Statistics</a> 
      </li>
    
    </ul>
    </div>    
     
        </div>
   


         
   
      
      
   

</div>




{% endblock %}

