{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Edit News" %} - {{ countrynews.country}} {% endblock %}



{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/countries/">{% trans "Countries" %}</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ countrynews.country.country_slug }}/">
      {{ countrynews.country }}
  </a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ countrynews.country.country_slug }}/countrynews/">{% trans "News" %}</a>
  <span class="divider">/</span>
</li>
<li class="active">{% trans "Editing" %} {{ countrynews.title }}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<h1><small class="normal">{% trans "Editing" %}</small> {{ countrynews.title }} <br><small class="normal">{% trans "Last updated on" %} {{countrynews.modify_date}}</small></h1>

<form enctype="multipart/form-data" class="customform" method="POST" action="{% url 'country-news-edit' countrynews.country.country_slug countrynews.id %}">
    {% csrf_token %}
    <fieldset>
        {% include "countries/countrynews_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update News" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>


{% endblock %}

