{% extends "base.html" %}

{% load pages_tags translate_tags mezzanine_tags ippc_tags i18n future staticfiles accounts_tags %} {# accounts_tags #}



{% block meta_title %}{% trans "MyTOOL files" %} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/">{% trans "Home" %}</a><span class="divider">/</span></li>
  <li><a href="/work-area/">Workarea</a><span class="divider">/</span></li>
 

<li class="active">{% trans "My TOOL files" %}</li>

{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<h1><span class="normal">{% trans "NROs statistics files" %}</span> </h1>

<form class="customform" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
    Statistics Path 2 (check files list)(eg.: ippcdj_repo/ippc/templates/countries)<input type="text" name="path2"> 
      <br><br><br>_________________________________________________________________________________<br><br>
     Statistics Path 3 (check files)(eg.:ippc/templates/countries)<input type="text" name="path3"> <br>
     Statistics file name  (toremove)(eg.:zzz.txt)<input type="text" name="filenametoremove"> 
     <br><br><br>_________________________________________________________________________________<br><br>
    Statistics Path 1 (to remove)(eg.:ippc/templates/countries)<input type="text" name="path1"> <br>
    Statistics Path (eg.:ippcdj_repo/ippc/templates/countries) <input type="text" name="path">  <br>
    Statistics  File <input type="file" name="myfile">


  <div class="form-actions">
     <button type="submit" class="btn btn-info btn-large" tabindex="7">{% trans "Submit" %}</button> or <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
   </div>
</form>
{%if list_files or  list_files1 %}
 <div class="alert alert-warning">    
     {%if list_files%}
   <b>FILES:</b><br>
     {% for f in list_files %}
           {{f}}<br>
         {% endfor %}  
         <br>--------------------------------------------<br>
  {% endif %} 
     {%if list_files1%}
        <b>FILES after:</b><br>
               {% for f1 in list_files1 %}
                   {{f1}}<br>
             {% endfor %} 
             
         <br>--------------------------------------------<br>
     {% endif %} 
</div>   
     {% endif %} 
{% endblock %}