{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Countries List" %}: 
  {{ page.title }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/countries/">Countries</a>
  <span class="divider">/</span>
</li>
<!--li>
  <a href="{{ page.get_absolute_url }}">
    {# {% with latest|first as first_object %} #}
    {#   {{ first_object.country.name }} #}
    {# {% endwith %} #}
    {{ page.title }}
  </a>
  <span class="divider">/</span>
</li-->
<li class="active">{% trans "Countries List" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
</p>

<h1>
  <small class="normal">{% trans "Countries list" %}</small>
  </h1> 
<p class="small">
            <span class="bullet-triangle">= Contracting parties ({{number_of_cp}}). Visit the website of <a href="http://www.fao.org/fileadmin/user_upload/legal/docs/5_004s-e.pdf">FAO Legal</a></span>
          <br />
            <span class="icn-noncontracting">= Non-Contracting Party</span>
          <br />
            <span class="icn-territory">= Territory</span></p>
{% if latest %}

    {% for object in latest %}
   {{ object.cp_ncp_t_type }} <a href="/{{ object.slug}}">{{ object.name }}</a><image src="{{MEDIA_URL}}{{  object.cn_flag }}"/>
    <br/><br/>
    {% endfor %}



{% else %}
<p>***</p>
{% endif %}

{% endblock %}
