{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Countries Stats" %}: 
  {{ page.title }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<!--li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a></li-->
<li class="breadcrumb-item">
  <a href="/countries/">Countries</a>
  
</li>
<li class="breadcrumb-item"> 
    <a href="/nro-reports-and-statistics/">Statistics</a>
    
</li>

<li class="breadcrumb-item active">{% trans "Changes among IPPC Contact Points in " %}  {{prevyear}}.</li>
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
</p>
    <script type="text/javascript" charset="utf-8">
$(function() {
      $('#sel_year').change(function() {
            window.location.href = $(this).val()+'/';
      });
});
</script>
   <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme2",
      title:{
        text: "Changes among IPPC Contact Points in "+{{prevyear}}
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "MMM",
        interval:1,
        intervalType: "month"
        
      },
      axisY:{
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
        //lineThickness: 3,        
        dataPoints: [
       {% autoescape off %} 
                {{datachart}}
             {% endautoescape %}        
        ]
      }
      
      
      ]
    });

chart.render();
  var chart = new CanvasJS.Chart("chartContainer1",
    {
      theme: "theme2",
      title:{
        text: "Changes among IPPC Editors in "+{{prevyear}}
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "MMM",
        interval:1,
        intervalType: "month"
        
      },
      axisY:{
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
        //lineThickness: 3,        
        dataPoints: [
       {% autoescape off %} 
                {{datachart1}}
             {% endautoescape %}        
        ]
      }
      
      
      ]
    });

chart.render();
  }
  </script>
  <script src='{% static "/static/canvasjs/canvasjs.min.js" %}'></script>
<h1> 
<h1>Changes among IPPC Contact Points in {{prevyear}}. <br>
  </h1> 
  <p>
 <b>Select year for statistics:</b><br>
  <form action="" method="POST">
        {% csrf_token %}
<select data-placeholder="Go to year..." tabindex="3"  id="sel_year" >
 <option value="">{% trans "Go to year ... " %}</option>
  {% for i in selyear_range %}
     <option  {% if prevyear == i %}selected{% endif %} value="/countries/statistics/change-in-cp/{{i}}">{{i}}</option>    
 {% endfor %}
</select>
</form>
 </p>

<b>{% trans "Date generated" %}: </b>  {{ dategenerate|date:"d M Y, H:m" }}</p><br>



<table class="table table-condensed table-striped">

        <tr>
           
    <td><div id="chartContainer" style="height:300px; width: 100%;">
            </div></td>
  
</tr>


</table>
<br>
<br>
<h1>Changes among the IPP editors in  {{prevyear}}. <br>
  </h1> 
<table class="table table-condensed table-striped">

        <tr>
           
    <td><div id="chartContainer1" style="height:300px; width: 100%;">
            </div></td>
  
</tr>


</table>

{% endblock %}
