{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Latest Implementation of ISPM 15" %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li><a href="/countries/">Countries</a><span class="divider">/</span></li>
<li><a href="/countries/{{implementationispm.country.name|slugify}}/">{{implementationispm.country.name}}</a><span class="divider">/</span></li>
<li><a href="/countries/{{implementationispm.country.name|slugify}}/implementationispm/">Implementation of ISPM 15</a><span class="divider">/</span></li>
<li class="active">{{ implementationispm.title }}</li>
{% endblock %}

{% block local_nav %}
<div class="well localnav">
     <script type="text/javascript">
    function toggle_visibility_rev(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>
    <p>
       {% if implementationispm.is_version %}
        <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
     {% else %}
       <a href="/countries/{{ implementationispm.country.name|slugify }}/implementationispm/">« {% trans "Back to" %} {% trans "Implementation of ISPM 15" %}</a>
    {% if user.is_superuser %} 
        <a class="btn btn-small btn-info" href="/admin/ippc/implementationispm/{{ implementationispm.id }}">Edit as Admin</a><br>
    {% endif %}
        
    {% if perms.ippc.change_implementationispm and request.user.get_profile.country.name == page.title %}
        <a class="btn btn-small btn-info" href="{% url 'implementationispm-edit' implementationispm.country.name|slugify implementationispm.id %}"><i class="icon-edit icon-white"></i> Edit</a>
       
    {% endif %}
        {% if versions %}
            <br><br>
            <strong><a href="#" onclick="toggle_visibility_rev('rev');">{% trans "Revisions" %}</a></strong>  <br>
            <div id="rev" style="display:none;">
             {% for object in versions %}
                <small><a href="{% url 'implementationispm-detail' object.country.country_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{% blocktrans with sometime=object.modify_date|date:"d-m-Y H:i" %}{{ sometime }}{% endblocktrans %}</a></small><br>
            {% endfor %}
             </div>
        {% endif %}
    {% endif %}
    
    </p>
    
    
    
  
    
    
    
   
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ implementationispm.title }}</h1> 
{% if implementationispm.is_version %}
<dl class="dl-horizontal" style="border: 3px double red;    padding: 0.5em;">
 <dt>&#160;</dt>
  <dd style="color:red;">{% trans "old revision" %}</dd>

 {% else %}    
<dl class="dl-horizontal">
{% endif %} 

<dt>{% trans "Publication date" %}</dt>
<dd>{% blocktrans with sometime=implementationispm.publication_date|date:"d-m-Y" %}{{ sometime }}{% endblocktrans %}</dd>
  

  {% if implementationispm.implementimport_type %}
  <dt>{% trans "Country implemented ISPM 15 for imports" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
      <li>{{ implementationispm.implementimport_type_verbose }}</li>
    </ul>
  </dd>
  {% endif %}
  
  {% if implementationispm.implementimport_version.all %}
  <dt>{% trans "Implementation version" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
    {% for implementimport_version in implementationispm.implementimport_version.all %}
      <li>{{ implementimport_version.version }}</li>
    {% empty %}
    {% endfor %}
    </ul>
  </dd>        
 {% endif %}

 
  {% if implementationispm.implementexport_type %}
  <dt>{% trans "Country implemented ISPM 15 for exports" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
      <li>{{ implementationispm.implementexport_type_verbose }}</li>
    </ul>
  </dd>
  {% endif %}
  
  {% if implementationispm.implementexport_version.all %}
  <dt>{% trans "Implementation version" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
    {% for implementimport_version in implementationispm.implementexport_version.all %}
      <li>{{ implementexport_version.version }}</li>
    {% empty %}
    {% endfor %}
    </ul>
  </dd>        
 {% endif %}
 
 
           
         {% if implementationispm.mark_registered_type %}
  <dt>{% trans "The ISPM No.15 mark is registered as a trade mark" %}</dt>
  <dd>{{ implementationispm.mark_registered_type_verbose }}</dd>
  {% endif %}
     
  
   {% if implementationispm.image %}
  <dt>{% trans "Image" %}</dt>
  <dd><image src="{{MEDIA_URL}}{{ implementationispm.images }}{{ implementationispm.image }}"/></dd>
  {% endif %}

 {% if implementationispm.short_description %}
  <dt>{% trans "Description of the mark" %}</dt>
  <dd>{{ implementationispm.short_description|richtext_filter|safe }}</dd>
  {% endif %}
   {% if implementationispm.file %}
  <dt>{% trans "Report file" %}</dt>
  <dd><a href="{{MEDIA_URL}}{{ implementationispm.files }}{{ implementationispm.file }}">{{ implementationispm.filename }}</a></dd>
  {% endif %}

  {% if implementationispm.contact_for_more_information %}
  <dt>{% trans "Contact for Info" %}</dt>
  <dd>{{ implementationispm.contact_for_more_information }}</dd>
  {% endif %}
  

  
  <!--dt>{% trans "Author" %}</dt>
  <dd>{{ implementationispm.author.get_profile.first_name }} {{ implementationispm.author.get_profile.last_name }}</dd-->
  
 

  
 {% if implementationispm.issuename %}
  <dt>{% trans "Issue keywords" %}</dt>
  <dd>
  {% for entry in implementationispm.issuename.all %}
  	{% for e in entry.issuename.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}
  </dd>
  {% endif %}
 
  
  
  {% if implementationispm.commname %}
  <dt>{% trans "Commodity keywords" %}</dt>
  <dd>
  {% for entry in implementationispm.commname.all %}
		{% for e in entry.commname.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}
  </dd>
  {% endif %}
  
   <dt>{% trans "Report files" %}</dt>
   {% for f in implementationispm.implementationispmfile_set.all %} 
    
  <dd><a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a></dd>
{% endfor %}

    
  <dt>{% trans "Website" %}</dt>
   {% for f in implementationispm.implementationispmurl_set.all %} 
    
  <dd><a href="{{f.url_for_more_information}}">{{ f.url_for_more_information }}</a></dd>
{% endfor %}
  
</dl>

{% endblock %}

