{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block meta_title %}
  {% trans "Pest Reports" %}: {{ country|capfirst }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/countries/">Countries</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ country }}/">
    {{ country|capfirst }}
  </a>
  <span class="divider">/</span>
</li>
<li class="active">{% trans "Pest Reports" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="/countries/{{ country }}/">« {% trans "Back to" %} {{ country|capfirst }}</a>
  {% if perms.ippc.add_pestreport %}
  <br>
  <small><a class="btn btn-small btn-info" href="{% url 'pest-report-create' page.title|slugify %}">+ {% trans "Add new pest report" %}</a></small>
  {% else %}
  {% endif %}
</p>

<h1>
  <small class="normal">{% trans "Pest Reports from" %}</small>
  {{ country|capfirst }}
</h1> 

{% if latest %}
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Date Published" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in latest %}
    <tr>
      <td><a href="{% url 'pest-report-detail' object.country.name|slugify object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.title }}</a></td>
      <td><a href="{% url 'pest-report-detail' object.country.name|slugify object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.publish_date|date:"d M Y" }}</a></td>
      {# <li><a href="{% url 'pest-report-detail' %}">{{ object.title }}</a></li> #}
      
    </tr>

    {% endfor %}
  </tbody>
</table>
    
    {% pagination_for latest %}

{% else %}
<p>No pest reports available.</p>
{% endif %}

{% endblock %}