{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}
  {% trans "Pest Reports" %}: 
  {# {% with latest|first as first_object %} #}
  {#   {{ first_object.country.name }} #}
  {# {% endwith %} #}
  {{ page.title }}
{% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/countries/">Countries</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="{{ page.get_absolute_url }}">
    {# {% with latest|first as first_object %} #}
    {#   {{ first_object.country.name }} #}
    {# {% endwith %} #}
    {{ page.title }}
  </a>
  <span class="divider">/</span>
</li>
<li>
  <a href="{% url 'pest-report-list' page.title|slugify %}">{% trans "Pest Reports" %}</a>
  <span class="divider">/</span>
</li>
<li class="active">{% trans "Hidden Pest Reports" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="{{ page.get_absolute_url }}">« {% trans "Back to" %} {{ page.title }}</a>
  {% if perms.ippc.add_pestreport and request.user.get_profile.country.name == page.title %}
  <br>
  <small><a class="btn btn-small btn-info" href="{% url 'pest-report-create' page.title|slugify %}">+ {% trans "Add new pest report" %}</a></small>
  {% else %}
  {% endif %}
</p>

<h1>
  <small class="normal">{% trans "Hidden Pest Reports from" %}</small>
  {# {% with latest|first as first_object %} #}
  {#   {{ first_object.country.name }} #}
  {# {% endwith %} #}
  {# {{ country }} #}
  {# {{ country }} {{ country_name }} #}
  {{ page.title }}
</h1> 

<p class="quiet">{% trans "To publish a report click on the 'edit' button and change Visibility field to Public." %}</p>

{% if latest %}
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Date Published" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for object in latest %}
    <tr>
      <td class="quiet">{{ object.title }}</td>
      <td class="quiet">{{ object.publish_date|date:"d M Y" }}
        
        
        
        {% if user.is_staff %} 
            <a class="small pull-right" href="/admin/ippc/pestreport/{{ object.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
        {% endif %}

        {% if perms.ippc.change_pestreport and request.user.get_profile.country.name == page.title %}
            <a class="small pull-right" href="{% url 'pest-report-edit' object.country.country_slug object.id %}"><i class="icon-edit"></i> Edit</a>
            {# <a class="btn" href="{% url 'pest-report-edit' report.id %}"><i class="icon-edit"></i> Edit</a> #}
        {% else %}
        {% endif %}
        
        
        
        </td>
      {# <li><a href="{% url 'pest-report-detail' %}">{{ object.title }}</a></li> #}
      
    </tr>

    {% endfor %}
  </tbody>
</table>
    
    {% pagination_for latest %}

{% else %}
<p>No pest reports available.</p>
{% endif %}

{% endblock %}