{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Latest Pest Reports" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a></li>
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/countries/">Countries</a></li>
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/countries/{{report.country.name|slugify}}/">{{report.country.name}}</a></li>
<li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/countries/{{report.country.name|slugify}}/pestreports/">Pest Reports</a></li>
<!--li  class="breadcrumb-item active">{{ report.title }}</li-->
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>


{% endblock %}



{% block local_nav %}
<div class="well localnav">
    <script type="text/javascript">
    function toggle_visibility_rev(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>
  <p>
       {% if report.is_version %}
        <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
     {% else %}
        <a href="/countries/{{ report.country.name|slugify }}/pestreports/">« {% trans "Back to" %} {% trans "Pest Reports" %}</a></p>
        {% if user.is_superuser %} 
           <a class="btn btn-small btn-info" href="/admin/ippc/pestreport/{{ report.id }}">Edit as Admin</a><br>
        {% endif %}
        
        
       {% if report.to_verify %}
            {% if user.is_superuser or perms.ippc.change_pestreport and request.user.get_profile.country.name == page.title %}
              <p><b style="color:red">{% trans "Confirm data or edit to update." %}</b> </p>
            {% endif %}    
            {% if  perms.ippc.change_pestreport and request.user.get_profile.country.name == page.title %}
           <p>  <a class="btn btn-small btn-info" href="{% url 'pest-report-validate' report.country.name|slugify report.id %}"><i class="icon-edit icon-white"></i> {% trans "CONFIRM" %}</a>
             </p>
          {% endif %}
    
      {% endif %}
      
        {% if perms.ippc.change_pestreport and request.user.get_profile.country.name == page.title %}
           <a class="btn btn-small btn-info" href="{% url 'pest-report-edit' report.country.name|slugify report.id %}"><i class="icon-edit icon-white"></i> Edit</a>
           {% endif %}
        {% if versions %}
            <br><br>
            <strong><a href="#" onclick="toggle_visibility_rev('rev');">{% trans "Revisions" %}</a></strong>  <br>
            <div id="rev" style="display:none;">
                {% for object in versions %}
                <small><a href="{% url 'pest-report-detail' object.country.country_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}"> {% blocktrans with sometime=object.modify_date|date:"d-m-Y H:i" %}{{ sometime }}{% endblocktrans %}</a></small><br>
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    
    </p>
    
    
    
    
    
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ report.title }}</h1> 

{# {% if perms.ippc.change_pestreport %} #}
{#   <p> #}
{#     <small> #}
{#       <a class="btn btn-small btn-info" href="{% url 'pest-report-edit' page.title|slugify %}"><i class="icon-pencil icon-white"></i> {% trans "Edit" %}</a> #}
{#     </small> #}
{#   </p> #}
{# {% else %} #}
{# {% endif %} #}
{% if report.is_version %}
<dl class="dl-horizontal" style="border: 3px double red;    padding: 0.5em;">
 <dt>&#160;</dt>
  <dd style="color:red;">{% trans "old revision" %}</dd>

 {% else %}    
<dl class="dl-horizontal">
{% endif %}    
 {% if report.importedfromeppo %} 
 <dt>&#160;</dt>
  <dd style="color:red;">{% trans "Imported from EPPO" %}</dd>
 {% endif %} 

    {% if user.is_superuser  or perms.ippc.change_reportingobligation and request.user.get_profile.country.name == page.title %}
  

{% if report.to_verify == 0 %}
{% if  report.verified_date != ''  and   report.verified_date != None and report.verified_date != NULL %}
<dt>&#160;</dt>   
<dd> 
    <p style="color:green"> <b>{% trans "data revised on " %}{{report.verified_date}}</b></p>
 </dd>
{% endif %}
{% endif %}

 {% endif %} 








  <dt>{% trans "Publication Date" %}</dt>
  <dd>{% blocktrans with sometime=report.publish_date|date:"D, d M Y, H:i" %}{{ sometime }}{% endblocktrans %}</dd>
  
  <dt>{% trans "Last Updated" %}</dt>
  <dd>{{ report.modify_date }}</dd>
  
  <dt>{% trans "Report Number" %}</dt>
  <dd>{{ report.report_number }}</dd>
  
  <dt>{% trans "Country" %}</dt>
  <dd>{{report.country.name}}</dd>
  
  
  {% if report.pest_identity %}
  <dt>{% trans "Pest Id" %}</dt>
  <dd>{{ report.pest_identity }}</dd>
  {% endif %}

  <dt>{% trans "Report Status" %}</dt>
  <dd>{{ report.get_report_status_display }}</dd>{# http://stackoverflow.com/a/1106201 #}

  {% if report.hosts %}
  <dt>{% trans "Hosts" %}</dt>
  <dd>{{ report.hosts }}</dd>
  {% endif %}
  
    {% if report.pest_status.all %}
  <dt>{% trans "Pest Status" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
    {% for pest_status in report.pest_status.all %}
      <li>{{ pest_status.status }}</li>
    {% empty %}
    {% endfor %}
    </ul>
  </dd>
  {% endif %}
  
 {% if report.geographical_distribution %}
  <dt title="Geographical Distribution">{% trans "Geographical Distribution" %}</dt>
  <dd>{{ report.geographical_distribution }}</dd>
  {% endif %}
  
     
  {% if report.summary %}
  <dt>{% trans "Summary" %}</dt>
   <dd>{{ report.summary|richtext_filter|safe  }}</dd>
  {% endif %}
  

  {% if report.nature_of_danger %}
  <dt>{% trans "Danger" %}</dt>
  <dd>{{ report.nature_of_danger }}</dd>
  {% endif %}

  {% if report.contact_for_more_information %}
  <dt>{% trans "Contact for info" %}</dt>
  <dd>{{ report.contact_for_more_information }}</dd>
  {% endif %}
  
   {% if report.pestreportfile_set.all %}   
   <dt>{% trans "Report files" %}</dt>
   {% for f in report.pestreportfile_set.all %} 
    
  <dd><a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a></dd>
{% endfor %}
    {% endif %}
  {% if report.pestreporturl_set.all %}   
  <dt>{% trans "Website" %}</dt>
   {% for f in report.pestreporturl_set.all %} 
    
  <dd><a href="{{f.url_for_more_information}}">{{ f.url_for_more_information }}</a></dd>
{% endfor %}
  
    {% endif %}
  
  
   {% if report.issuename.all %}
  <dt>{% trans "Issue keywords" %}</dt>
  <dd>
  {% for entry in report.issuename.all %}
		{% for e in entry.issuename.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}
  </dd>
  {% endif %}
 
  
  
  {% if report.commname.all %}
  <dt>{% trans "Commodity keywords" %}</dt>
  <dd>
  {% for entry in report.commname.all %}
		{% for e in entry.commname.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}
  </dd>
  {% endif %}
 
  
<!--dt>{% trans "Author" %}</dt>
  <dd>{{ report.author.get_profile.first_name }} {{ report.author.get_profile.last_name }}</dd-->
  
</dl>

{% endblock %}

