{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Edit Pest Report" %} - {{ pest_report.country}} {% endblock %}

{# {% block extra_style %} #}
{#     <link href="{% static "css/Markdown.Editor.css" %}" rel="stylesheet"> #}
{# {% endblock extra_style %} #}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/countries/">{% trans "Countries" %}</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ pest_report.country.country_slug }}/">
    {# {% with latest|first as first_object %} #}
    {#   {{ first_object.country.name }} #}
    {# {% endwith %} #}
    {{ pest_report.country }}
  </a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ pest_report.country.country_slug }}/pestreports/">{% trans "Pest Reports" %}</a>
  <span class="divider">/</span>
</li>
<li class="active">{% trans "Editing" %} {{ pest_report.title }}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<h1><small class="normal">{% trans "Editing" %}</small> {{ pest_report.title }} <br><small class="normal">{% trans "Last updated on" %} {{pest_report.modify_date}}</small></h1>

{# {% debug %} #}
{# <form class="customform" method="POST" action="/countries/{{pest_report.country.country_slug}}/pestreports/edit/{{pest_report.id}}"> #}
<form class="customform" method="POST" action="{% url 'pest-report-edit' pest_report.country.country_slug pest_report.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        {% include "countries/pest_report_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update Report" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>

{# {% include "includes/markdown_cheatsheet.html" %} #}
{# {% include "includes/description_example.html" %} #}

{% endblock %}

{# {% block extra_script %} #}
{#     <script src="{% static "js/Markdown.Converter.js" %}"></script> #}
{#     <script src="{% static "js/Markdown.Sanitizer.js" %}"></script> #}
{#     <script src="{% static "js/Markdown.Editor.js" %}"></script> #}
{#  #}
{#     <script type="text/javascript"> #}
{#     (function () { #}
{#         var converter1 = Markdown.getSanitizingConverter(); #}
{#         var editor1 = new Markdown.Editor(converter1); #}
{#         editor1.run(); #}
{#          #}
{#         // var converter2 = new Markdown.Converter(); #}
{#  #}
{#         // converter2.hooks.chain("preConversion", function (text) { #}
{#         //     return text.replace(/\b(a\w*)/gi, "*$1*"); #}
{#         // }); #}
{#  #}
{#         // converter2.hooks.chain("plainLinkText", function (url) { #}
{#         //     return "This is a link to " + url.replace(/^https?:\/\//, ""); #}
{#         // }); #}
{#          #}
{#         var help = function () { alert("Do you need help?"); } #}
{#          #}
{#         // var editor2 = new Markdown.Editor(converter2, "-second", { handler: help }); #}
{#          #}
{#         // editor2.run(); #}
{#     })(); #}
{#  #}
{#  #}
{# // toggle preview =todo: get this working in an include #}
{# // http://stackoverflow.com/a/9380998 #}
{# // http://jsfiddle.net/andresilich/dQ5b7/1/ #}
{# $('a.toggles').click(function() { #}
{#     // $('a.toggles i').toggleClass('icon-chevron-left icon-chevron-right'); #}
{#  #}
{#     $('#wmd-preview').animate({ #}
{#         height: 'toggle' #}
{#     }, 200); #}
{#     // $('#content').toggleClass('span12 span9'); #}
{# }); #}
{#  #}
{# $('#wmd-preview').toggle( #}
{#  #}
{# function() { #}
{#     $(this).css({ #}
{#         'display': 'block' #}
{#     }); #}
{# }, function() { #}
{#     $(this).css({ #}
{#         'display': 'none' #}
{#     }); #}
{# }); #}
{#  #}
{# // Disable link url field if note kind is Article #}
{# // http://stackoverflow.com/a/4597170/412329 #}
{# // http://jsfiddle.net/gnarf/GpmSs/2/         #}
{# // TODO?: alternative - http://stackoverflow.com/a/2171606/412329         #}
{#  #}
{# $(document).ready(function(){             #}
{#      #}
{#     var $kind = $('#id_kind'), #}
{#         $url = $('.url'), #}
{#         $status = $('#id_status'), #}
{#         $wmdpanel = $('.wmd-panel'); #}
{#  #}
{#     $kind.change(function() { #}
{#         if ($kind.val() == 'B') { #}
{#                 $url.removeAttr('disabled').show(); #}
{#                 // $wmdpanel.attr('disabled', 'disabled').val('').hide(); #}
{#                 // =todo: show Responsible field if post kind is Action Request #}
{#                 // else if {} #}
{#             } #}
{#         else if ($kind.val() == 'K') { #}
{#                 $url.attr('disabled', 'disabled').val('').hide(); #}
{#                 $status.val('5');    #}
{#             }  #}
{#         else { #}
{#                 $url.attr('disabled', 'disabled').val('').hide(); #}
{#                 $wmdpanel.removeAttr('disabled').show(); #}
{#                 $status.val('2');    #}
{#             } #}
{#          #}
{#     }).trigger('change'); // added trigger to calculate initial state #}
{#     //  #}
{#     // $("input[type=text]").click(function() { // automatically select text on click - http://stackoverflow.com/a/3150370/412329 #}
{#     //    $(this).select(); #}
{#     // }); #}
{# }); #}
{# </script> #}
{# {% endblock extra_script %} #}