{# https://github.com/samwillis/pagedown-bootstrap #}
{# http://stackoverflow.com/a/5930179 #}

{% load pages_tags translate_tags mezzanine_tags ippc_tags i18n future staticfiles accounts_tags %} {# accounts_tags #}

{% if form.non_field_errors or form.errors %}
<div class="alert alert-error">{% trans "Please correct the errors below." %}
<ul>
{% for error in form.non_field_errors %}
<li>{{ error }}</li>
{% endfor %}
{% for error in form.errors %}
<li>{{ error }}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% fields_for form %}
{% fields_for issueform %}
{% fields_for commodityform %}


{# {{ form.non_field_errors }} #}
{# {{ form.errors }} #}
{#  #}
{# {{ form.as_p }} #}

{# <label for="id_title">{{ post_form.title.label }}</label> #}
{# <div class="input{% if post_form.title.errors %} alert alert-error{% endif %}"> #}
{#     {% if u and t %} #}
{#      <input id="id_title" type="text" name="title" tabindex="1" maxlength="500" value="{{t}}"> #}
{#     {% else %} #}
{#      {{ post_form.title|tabindex:1 }} #}
{#     {% endif %}    #}
{#  #}
{#     {% if post_form.title.errors %} #}
{#      {% for error in post_form.title.errors %} #}
{#          {{ error|escape }} #}
{#      {% endfor %} #}
{#  {% endif %} #}
{# </div> #}
{# <br> #}
{#  #}
{# <label for="id_kind">Bug Report or New Feature Request? <span class="small quiet normal">(or IT Knowledge Base Article?)</span></label> #}
{# {{ post_form.kind|tabindex:1 }} #}
{#  #}
{# <div class="url"> #}
{# <label for="id_url">{{ post_form.url.label }} <span class="small quiet">{{ post_form.url.help_text }}</span></label> #}
{# <div class="input{% if post_form.url.errors %} alert alert-error{% endif %}"> #}
{#  #}
{#     {% if u and t %} #}
{#      <input id="id_url" maxlength="500" type="text" name="url" tabindex="2" value="{{u}}" /> #}
{#     {% else %} #}
{#      {{ post_form.url|tabindex:1 }} #}
{#     {% endif %} #}
{#  #}
{#     {% if post_form.url.errors %} #}
{#      {% for error in post_form.url.errors %} #}
{#          {{ error|escape }} #}
{#      {% endfor %} #}
{#  {% endif %} #}
{# </div> #}
{# </div> #}
{# <br> #}
{#  #}
{#  #}
{# <div class="wmd-panel"> #}
{#     <label for="wmd-input">{{ post_form.content_markdown.label }} <span class="quiet small"> <a data-toggle='modal' href='#descriptionexample'>see example</a> | <a data-toggle='modal' href='#markdownhelp'>markdown syntax</a> | <a href="#" class="toggles">toggle preview</a></span></label> #}
{#     <div id="wmd-button-bar"></div> #}
{#  #}
{#  {% if post_form.content_markdown.errors %}<div class="alert alert-error">{% endif %} #}
{#  #}
{#         {{ post_form.content_markdown|tabindex:3 }} #}
{#  #}
{#  {% if post_form.content_markdown.errors %} #}
{#    {% for error in post_form.content_markdown.errors %} #}
{#        {{ error|escape }} #}
{#    {% endfor %} #}
{#    </div> #}
{#  {% endif %} #}
{#   #}
{# </div> #}
{#  #}
{# <div id="wmd-preview" class="wmd-panel wmd-preview"></div> #}
{#  #}
{# <label for="id_observers">Observers <span class="small quiet normal">(Ctrl/Cmd+click to add more than one. These users will be notified by email when your entry is created, and also whenever someone adds a comment to the entry)</label> #}
{#  #}
{#     {{ post_form.observers|tabindex:4 }} #}
{#  #}
{#     {% if post_form.observers.errors %} #}
{#      <div class="alert alert-error"> #}
{#      {% for error in post_form.observers.errors %} #}
{#          {{ error|escape }} #}
{#      {% endfor %} #}
{#      </div> #}
{#  {% endif %} #}
{# <br> #}
{# <br> #}
{#  #}
{# <div class="status"> #}
{# <label for="id_status">{{ post_form.status.label }}</label> #}
{#  #}
{#     {{ post_form.status|tabindex:5 }} #}
{#  #}
{#     {% if post_form.status.errors %} #}
{#      <div class="alert alert-error"> #}
{#      {% for error in post_form.status.errors %} #}
{#          {{ error|escape }} #}
{#      {% endfor %} #}
{#      </div> #}
{#  {% endif %} #}
{# </div> #}
{# <br> #}
{# <br> #}
{#  #}
{# <label for="id_allow_comments">{{ post_form.allow_comments|tabindex:6 }} {{ post_form.allow_comments.label }}</label> #}
{#     {% if post_form.allow_comments.errors %} #}
{#      <div class="alert alert-error"> #}
{#      {% for error in post_form.allow_comments.errors %} #}
{#          {{ error|escape }} #}
{#      {% endfor %} #}
{#      </div> #}
{#  {% endif %} #}