{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block meta_title %}{% trans "Latest Pest Reports" %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/countries/">Countries</a><span class="divider">/</span></li>
<li><a href="/countries/{{report.country.name|slugify}}">{{report.country.name}}</a><span class="divider">/</span></li>
<li><a href="/countries/{{report.country.name|slugify}}/pestreports/">Pest Reports</a><span class="divider">/</span></li>
<li class="active">{{ report.title }}</li>
{% endblock %}

{% block local_nav %}
<div class="well">
  <p><a href="/countries/{{ report.country.name|slugify }}/pestreports/">« {% trans "Back to" %} {% trans "Pest Reports" %}</a></p>
    {% if user.is_staff %} 
        <a class="btn btn-small btn-info" href="/admin/ippc/pestreport/{{ report.id }}">Edit as Admin</a><br>
    {% endif %}
    
    {# =todo: only country editors, including chief editor/nppo, of course, can edit: #}
 
    {# https://docs.djangoproject.com/en/dev/topics/auth/default/#permissions #}
    {# https://www.djangopackages.com/grids/g/perms/ #}

    {# {% if perms.ippc %} #}
    {#     <p>You have permission to do something in the IPPC app.</p> #}
    {#     {% if perms.ippc.pest_report_can_edit %} #}
    {#         <a class="btn" href="{% url pest_report_edit report.id %}"><i class="icon-edit"></i> Edit</a> #}
    {#     {% endif %} #}
    {# {% else %} #}
    {#     <p>You don't have permission to do anything in the IPPC app.</p> #}
    {# {% endif %} #}
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ report.title }}</h1> 

<dl class="dl-horizontal">
  <dt>{% trans "Published" %}</dt>
  <dd>{% blocktrans with sometime=report.publish_date|date:"D, d M Y, H:i" %}Published: {{ sometime }}{% endblocktrans %}</dd>
  
  <dt>{% trans "Last Modified" %}</dt>
  <dd>{{ report.modify_date }}</dd>
  
  <dt>{% trans "Author" %}</dt>
  <dd>{{ report.author }}</dd>
  
  <dt>{% trans "Summary" %}</dt>
  <dd>{{ report.summary }}</dd>

  <dt>{% trans "Report Status" %}</dt>
  <dd>{{ report.get_report_status_display }}</dd>{# http://stackoverflow.com/a/1106201 #}

  <dt>{% trans "File" %}</dt>
  <dd><a href="{{MEDIA_URL}}{{ report.files }}">{{ report.filename }}</a></dd>

  <dt>{% trans "Pest Status" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
    {% for pest_status in report.pest_status.all %}
      <li>{{ pest_status.status }}</li>
    {% empty %}
    {% endfor %}
    </ul>
  </dd>

  <dt>{% trans "Pest Id" %}</dt>
  <dd>{{ report.pest_identity }}</dd>

  <dt>{% trans "Hosts" %}</dt>
  <dd>{{ report.hosts }}</dd>

  <dt>{% trans "Geographical Distribution" %}</dt>
  <dd>{{ report.geographical_distribution }}</dd>

  <dt>{% trans "Danger" %}</dt>
  <dd>{{ report.nature_of_danger }}</dd>
  
  <dt>{% trans "Contact for more information" %}</dt>
  <dd>{{ report.contact_for_more_information }}</dd>
  
  <dt>{% trans "URL for more information" %}</dt>
  <dd>{{ report.url_for_more_information }}</dd>
</dl>

{% endblock %}

