{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Latest Pest Free Areas" %}{% endblock %}

{% block breadcrumb_menu %}
<!--li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a></li-->
<li class="breadcrumb-item"><a href="/countries/">Countries</a></li>
<li class="breadcrumb-item"><a href="/countries/{{pfa.country.name|slugify}}/">{{pfa.country.name}}</a></li>
<li class="breadcrumb-item"><a href="/countries/{{pfa.country.name|slugify}}/pestfreeareas/">Pest Free Areas</a></li>
<!--li class="active">{{ pfa.title }}</li-->
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{% block local_nav %}
<div class="well localnav">
        <script type="text/javascript">
    function toggle_visibility_rev(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>
    <p>
       {% if pfa.is_version %}
        <a href="javascript:history.go(-1)">{% trans "« Go back" %}</a>
     {% else %}
          <p><a href="/countries/{{ pfa.country.name|slugify }}/pestfreeareas/">« {% trans "Back to" %} {% trans "Pest Free Areas" %}</a></p>
    {% if user.is_superuser %} 
        <a class="btn btn-small btn-info" href="/admin/ippc/pestfreearea/{{ pfa.id }}">Edit as Admin</a><br>
    {% endif %}
        
    {% if perms.ippc.change_pestfreearea and request.user.get_profile.country.name == page.title %}
        <a class="btn btn-small btn-info" href="{% url 'pfa-edit' pfa.country.name|slugify pfa.id %}"><i class="icon-edit icon-white"></i> Edit</a>
        
    {% endif %}
        {% if versions %}
            <br><br>
            <strong><a href="#" onclick="toggle_visibility_rev('rev');">{% trans "Revisions" %}</a></strong>  <br>
            <div id="rev" style="display:none;">
             {% for object in versions %}
                <small><a href="{% url 'pfa-detail' object.country.country_slug object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}"> {% blocktrans with sometime=object.modify_date|date:"d-m-Y H:i" %}{{ sometime }}{% endblocktrans %}</a></small><br>
            {% endfor %}
             </div>
        {% endif %}
    {% endif %}
    
    </p>

    
    
    
   
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ pfa.title }}</h1> 
{% if pfa.is_version %}
<dl class="dl-horizontal" style="border: 3px double red;    padding: 0.5em;">
 <dt>&#160;</dt>
  <dd style="color:red;">{% trans "old revision" %}</dd>

 {% else %}    
<dl class="dl-horizontal">
{% endif %}  
  {% if pfa.pfa_type %}
  <dt>{% trans "Type of recognition" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
      <li>{{ pfa.pfa_type_verbose }}</li>
    </ul>
  </dd>
  {% endif %}
  
  {% if pfa.publication_date %}
  <dt>{% trans "Publication date" %}</dt>
  <dd>{% blocktrans with sometime=pfa.publication_date|date:"d-m-Y" %}{{ sometime }}{% endblocktrans %}</dd>
  {% endif %}
  
 {% if pfa.short_description %}
  <dt>{% trans "Short Description" %}</dt>
  <dd>{{ pfa.short_description|richtext_filter|safe }}</dd>
  {% endif %}
  
  {% if pfa.contact_for_more_information %}
  <dt>{% trans "Contact for Info" %}</dt>
  <dd>{{ pfa.contact_for_more_information }}</dd>
  {% endif %}
  <dt>{% trans "Author" %}</dt>
  <dd>{{ pfa.author.get_profile.first_name }} {{ pfa.author.get_profile.last_name }}</dd>

  


  
 {% if pfa.issuename %}
  <dt>{% trans "Issue keywords" %}</dt>
  <dd>
  {% for entry in pfa.issuename.all %}
		{% for e in entry.issuename.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}
  </dd>
  {% endif %}
 
  
  
  {% if pfa.commname %}
  <dt>{% trans "Commodity keywords" %}</dt>
  <dd>
  {% for entry in pfa.commname.all %}
		{% for e in entry.commname.all %}
			<i class="icon-tag"></i> {{e.name}}
		{% endfor %} 
	{% endfor %}
  </dd>
  {% endif %}
  
  
    <dt>{% trans "Report files" %}</dt>
   {% for f in pfa.pestfreeareafile_set.all %} 
    
  <dd><a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a></dd>
{% endfor %}

    
  <dt>{% trans "Website" %}</dt>
   {% for f in pfa.pestfreeareaurl_set.all %} 
    
  <dd><a href="{{f.url_for_more_information}}">{{ f.url_for_more_information }}</a></dd>
{% endfor %}
  
 
  
  
 
  
</dl>

{% endblock %}

