{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Edit Reporting Obligations" %} - {{ reporting_obligation.country}} {% endblock %}

{# {% block extra_style %} #}
{#     <link href="{% static "css/Markdown.Editor.css" %}" rel="stylesheet"> #}
{# {% endblock extra_style %} #}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
  <a href="/countries/">{% trans "Countries" %}</a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ reporting_obligation.country.country_slug }}/">
      {{ reporting_obligation.country }}
  </a>
  <span class="divider">/</span>
</li>
<li>
  <a href="/countries/{{ reporting_obligation.country.country_slug }}/reportingobligation/">{% trans "Reporting Obligations" %}</a>
  <span class="divider">/</span>
</li>
<li class="active">{% trans "Editing" %} {{ reporting_obligation.title }}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans " Cancel and go back" %}</a>
</p>

<h1><small class="normal">{% trans "Editing" %}</small> {{ reporting_obligation.title }} <br><small class="normal">{% trans "Last updated on" %} {{reporting_obligation.modify_date}}</small></h1>

<form enctype="multipart/form-data" class="customform" method="POST" action="{% url 'reporting-obligation-edit' reporting_obligation.country.country_slug reporting_obligation.id %}">
    {% csrf_token %}
    <fieldset>
        {% include "countries/reporting_obligation_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update Report" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>


{% endblock %}