{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Latest Reporting Obligation" %}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li><a href="/countries/">Countries</a><span class="divider">/</span></li>
<li><a href="/countries/{{reportingobligation.country.name|slugify}}/">{{reportingobligation.country.name}}</a><span class="divider">/</span></li>
<li><a href="/countries/{{reportingobligation.country.name|slugify}}/reportingobligation/">Reporting Obligation</a><span class="divider">/</span></li>
<li class="active">{{ reportingobligation.title }}</li>
{% endblock %}

{% block local_nav %}
<div class="well">
  <p><a href="/countries/{{ reportingobligation.country.name|slugify }}/reportingobligation/"> {% trans "Back to" %} {% trans "Reporting Obligations" %}</a></p>
    {% if user.is_superuser %} 
        <a class="btn btn-small btn-info" href="/admin/ippc/reportingobligation/{{ reportingobligation.id }}">Edit as Admin</a><br>
    {% endif %}
        
    {% if perms.ippc.change_reportingobligation and request.user.get_profile.country.name == page.title %}
        <a class="btn btn-small btn-info" href="{% url 'reporting-obligation-edit' reportingobligation.country.name|slugify reportingobligation.id %}"><i class="icon-edit icon-white"></i> Edit</a>
        {# <a class="btn" href="{% url 'reporting-obligation-edit' reportingobligation.id %}"><i class="icon-edit"></i> Edit</a> #}
    {% else %}
    {% endif %}
    
    
    
   
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ reportingobligation.title }}</h1> 

<dl class="dl-horizontal">
  {% if reportingobligation.report_obligation_type %}
  <dt>{% trans "Reporting Obligation" %}</dt>
  <dd>
    <ul class="unstyled nomargin">
      <li>{{ reportingobligation.report_obligation_type_verbose }}</li>
    </ul>
  </dd>
  {% endif %}
  
 {% if reportingobligation.publication_date %}
  <dt>{% trans "Publication date" %}</dt>
  <dd>{% blocktrans with sometime=reportingobligation.publication_date|date:"d-m-Y" %}{{ sometime }}{% endblocktrans %}</dd>
  {% endif %}
 {% if reportingobligation.short_description %}
  <dt>{% trans "short description" %}</dt>
  <dd>{{ reportingobligation.short_description }}</dd>
  {% endif %}
  
  {% if reportingobligation.contact_for_more_information %}
  <dt>{% trans "Contact for more information" %}</dt>
  <dd>{{ reportingobligation.contact_for_more_information }}</dd>
  {% endif %}
  
  {% if reportingobligation.author %}  
  <dt>{% trans "Author" %}</dt>
  <dd>{{ reportingobligation.author.get_profile.first_name }} {{ reportingobligation.author.get_profile.last_name }}</dd>
  {% endif %}
    
 
  
 
  
   {% if reportingobligation.issuename %}
  <dt>{% trans "Issue keywords" %}</dt>
  <dd>
  {% for entry in reportingobligation.issuename.all %}
  <br/>
  {% for e in entry.issuename.all %}
   <br/>
  {{e.name}}<br/>
 {% endfor %} 
{% endfor %}
  </dd>
  {% endif %}
 
  
  
  {% if reportingobligation.commname %}
  <dt>{% trans "Commodity keywords" %}</dt>
  <dd>
  {% for entry in reportingobligation.commname.all %}
 
  {% for e in entry.commname.all %}
  
  {{e.name}}<br/>
 {% endfor %} 
{% endfor %}
  </dd>
  {% endif %}
 
  
 
  

   
  <dt>{% trans "Report files" %}</dt>
   {% for f in reportingobligation.reportingobligation_file_set.all %} 
    
  <dd><a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a></dd>
{% endfor %}


    
  <dt>{% trans "Website" %}</dt>
   {% for f in reportingobligation.reportingobligationurl_set.all %} 
    
  <dd><a href="{{MEDIA_URL}}{{f.url_for_more_information}}">{{ f.url_for_more_information }}</a></dd>
{% endfor %}
</dl>
{% endblock %}
