
{% extends 'pce/basepcepdf.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block content %}
<div id="content">
{% if can_see %}
<h5 style="background:#dff0d8;">{% trans "Module 5 - NPPO's structure and processes" %}</h5>
{% include "pce/userdetails_panel.html" %} </th>  
<br><br>           
<p style="background:#faf2cc;">{% trans "The structure of an organization is the system of relationships developed to divide and coordinate tasks among people and groups while working toward a common purpose. It involves the division of labor including roles, responsibility, and authority, as well the coordination of labor into units and inter- and intra-unit groupings.<br>Guiding questions for the capacity needs assessment of NPPO's structure and processes<br>Keep the following questions in mind while working through this module:<br>1. What is the existing situation of NPPO's structure and processes?<br>2. What is the desired future situation of NPPO's structure and processes?<br>3. What are the major gaps in the current capacity of NPPO's structure and processes?<br>4. What are the capacity building needs and requirements to create an effective system for NPPO's structure and processes?" %}</p>

        <table class="table">
            <tr class="success">
                     <td colspan="2" style="background:#EBEBEB;"><b>{% trans "Current situation assessment" %}</b></td>
                </tr>
                <tr class="success">
                     <td colspan="2" style="background:#EBEBEB;"><b>{% trans "A. NPPO structures" %}</b></td>
                </tr>
                <tr class="success">
                    <td width="70%" style="background:#BDBDBD;">{% trans "No. Question" %}</td>
                    <td width="30%" style="background:#BDBDBD;">{% trans "Tip" %}</td>
                </tr>
            <tbody>
                {% for f in form %}
              {% if not f.is_hidden and not f.name == 'c_m_1' and not f.name == 'c_m_2' and not f.name == 'c_m_3' and not f.name == 'c_m_4' and not f.name == 'c_m_5' and not f.name == 'c_m_6' and not f.name == 'c_m_7' and not f.name == 'c_m_8' and not f.name == 'c_m_9' and not f.name == 'c_m_10' and not f.name == 'c_m_11' and not f.name == 'c_m_12' and not f.name == 'c_m_13' and not f.name == 'c_m_14' and not f.name == 'c_m_15' and not f.name == 'c_m_16' and not f.name == 'c_m_17' and not f.name == 'c_m_18' and not f.name == 'c_m_19' and not f.name == 'c_m_20' and not f.name == 'c_m_21' and not f.name == 'c_m_22' and not f.name == 'c_m_23' and not f.name == 'c_m_24' and not f.name == 'c_m_25'  %}
                  <tr>
                    <td>
                        <div class="control-group">
                            <label>{{f.label|safe}}</label>
                            <div class="controls">
                                      {%if f.name == 'm_4' or f.name == 'm_5' or f.name == 'm_6' or f.name == 'm_7' or f.name == 'm_8' or f.name == 'm_9' or f.name == 'm_10' or f.name == 'm_11' or f.name == 'm_12' or f.name == 'm_13' or f.name == 'm_14' or f.name == 'm_15' or f.name == 'm_22' or f.name == 'm_23' or f.name == 'm_24'  %}
                                <ul>
                                                    <li>
                                                        <label for="id_{{f.name}}_1" class="control-label">
                                                        <input  readonly="true" id="id_{{f.name}}_1" name ="{{f.name}}" type="radio" value="True" {% if f.value == True %}checked{%endif%}> {% if f.value == True %}<u><b>{%endif%}{% trans "Yes" %}{% if f.value == True %} </b></u> <b> &#10003;</b>{%endif%} </label>
                                                    </li>
                                                    <li> 
                                                       <label for="id_{{f.name}}_2" class="control-label">
                                                       <input  readonly="true" id="id_{{f.name}}_2" name ="{{f.name}}" type="radio" value="False" {% if f.value == False %}checked{%endif%} > {% if f.value == False %}<u><b>{%endif%}{% trans "No" %}{% if f.value == False %} </b></u> <b> &#10003;</b>{%endif%} </label>
                                                    </li>
                                                    </ul>  
                   {%elif f.name == 'm_3'%}
                                          {% for o in m5_3 %}
                                               {% if o.id in f.value %}
                                                   <b><u> {{o}}</u> &#10003; </b>
                                                 {% else %}
                                                  {{o}}
                                               {% endif %}<br>
                                               {% endfor %}
                                 {%elif f.name == 'm_1'%}
                                      {% for key, val in ACHIEVE %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}       
                                 {%elif f.name == 'm_2'%}
                                      {% for key, val in CARRY_AC %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}       
                                {%elif f.name == 'm_16'%}
                                      {% for key, val in DEFINED %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}       
                                 {%elif f.name == 'm_17'%}
                                      {% for key, val in CLEAR %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}           
                                {%elif f.name == 'm_18'%}
                                      {% for key, val in EXPEDI %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}       
                                 {%elif f.name == 'm_19'%}
                                      {% for key, val in LINKAGE %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}           
                                {%elif f.name == 'm_20'%}
                                      {% for key, val in POLICY %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}       
                                 {%elif f.name == 'm_21'%}
                                      {% for key, val in THEM %}
                                         {% ifequal key f.value %}
                                       <b><u>{{val}}</u>  &#10003;</b>    
                                      {%else%}
                                        {{val}}   
                                      {% endifequal %}<br>
                                      {% endfor %}           
                                {%else%}
                                {{f}}
                                  {% endif %}
                            </div>
                        </div>
                           <b>{% trans "Comment:" %}</b><br>  
{%if f.name == 'm_1' %}{% for fff in form %}{%if fff.name == 'c_m_1'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_2' %}{% for fff in form %}{%if fff.name == 'c_m_2'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_3' %}{% for fff in form %}{%if fff.name == 'c_m_3'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_4' %}{% for fff in form %}{%if fff.name == 'c_m_4'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_5' %}{% for fff in form %}{%if fff.name == 'c_m_5'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_6' %}{% for fff in form %}{%if fff.name == 'c_m_6'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_7' %}{% for fff in form %}{%if fff.name == 'c_m_7'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_8' %}{% for fff in form %}{%if fff.name == 'c_m_8'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_9' %}{% for fff in form %}{%if fff.name == 'c_m_9'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_10' %}{% for fff in form %}{%if fff.name == 'c_m_10'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_11' %}{% for fff in form %}{%if fff.name == 'c_m_11'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_12' %}{% for fff in form %}{%if fff.name == 'c_m_12'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_13' %}{% for fff in form %}{%if fff.name == 'c_m_13'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_14' %}{% for fff in form %}{%if fff.name == 'c_m_14'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_15' %}{% for fff in form %}{%if fff.name == 'c_m_15'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_16' %}{% for fff in form %}{%if fff.name == 'c_m_16'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_17' %}{% for fff in form %}{%if fff.name == 'c_m_17'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_18' %}{% for fff in form %}{%if fff.name == 'c_m_18'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_19' %}{% for fff in form %}{%if fff.name == 'c_m_19'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_20' %}{% for fff in form %}{%if fff.name == 'c_m_20'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_21' %}{% for fff in form %}{%if fff.name == 'c_m_21'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_22' %}{% for fff in form %}{%if fff.name == 'c_m_22'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_23' %}{% for fff in form %}{%if fff.name == 'c_m_23'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_24' %}{% for fff in form %}{%if fff.name == 'c_m_24'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_25' %}{% for fff in form %}{%if fff.name == 'c_m_25'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}

                    </td>
                    <td>{{f.help_text|safe}}</td>
                </tr>
                     {% if f.name == 'm_15' %} 
                 <tr class="success">
                    <td colspan="2" style="background:#EBEBEB;"><b>{% trans "B. NPPO processes" %}</b></td>
                 </tr>
                {% endif %}

                {% endif %}
                {% endfor%}
                <tr class="success">
                   <td colspan="2" style="background:#EBEBEB;"><b>{% trans "SECTION III - Weaknesses" %}</b></td>
                </tr>
                <tr>
                    <td>
                         <div class="control-group">
                            <label>{% trans "1. Please identify a maximum of five of the most critical weaknesses in the NPPO's processes in order of priority (1=Highest)" %}</label>
                       <div class="controls"> {{ form25.management_form }}
                        {{ form25.non_form_errors }}
                        {% for form in form25 %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {% for ff in form %}
                                {%if not ff.label == 'Module5' and not ff.label == 'Delete' and not ff.label == 'Id'%}
                                   <b>{{ff.label}}: </b>    {% if ff.value != None %}
                                                                    {{ff.value}}
                                                                    {% endif %}
                                                         <br>   {% endif %}
                                                    {% endfor %}
                                                </div></div>
                                            {% endfor %}   </div>
                                            </div>
                                            <div class="pcecomment">
                        <b>{% trans "Comment:" %}</b><br>  
                          {% for fff in form %}{%if fff.name == 'c_m_25'%}{{fff.value}}{%endif%}{%endfor%}
                        </div>  </td>
                    <td></td>
                </tr>

            </tbody>        
        </table>
     
{% else %}
            {% nevercache %}
            {% include "pce/permission_block.html" %}
            {% endnevercache %}
  {% endif %}
        </div>

{% endblock %}