{% extends "pce/basepce.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Module 4 - NPPO's mission and strategy" %} - {{ user.get_profile.country.name}} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
<li class="active">{% trans "Module 4 - NPPO's mission and strategy" %}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}
<h1><span class="normal">{% trans "Module 4 - NPPO's mission and strategy" %}</span></h1>
{% if can_see %}
   
<p><a href="/pce/{{ user.get_profile.country.name|slugify }}/session/{{sessionid}}/modules"><< {% trans "Back to Module List" %}</a></p>


<div class="row-fluid">
   <div class="span8">
     {% include "pce/tools_panel.html" %} 
    </div>
    {% include "pce/userdetails_panel.html" %} 
     
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h3 class="panel-title"> {% trans "NPPO's mission and strategy" %}</h3>
                      {% if can_edit  and id != ''%}  
                        <span  class="pull-right">  
                          <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module4/edit/{{id}}">Edit Module</a>
                        </span>
                        {%endif%}
                </div>
                <p class="alert alert-warning">{% trans "The organizational concepts that motivate and drive the institution include its mission, internal culture, organizational incentives as well as the widespread values and beliefs held about the role the institution plays in society.<br>Guiding questions for the capacity needs assessment of NPPO's management<br>Keep the following questions in mind while working through this module:<br>1. What is the existing situation of NPPO's management?<br>2. What is the desired future situation of NPPO's management?<br>3. What are the major gaps in the current capacity of NPPO's management?<br>4. What are the capacity building needs and requirements to create an effective system for NPPO's management? " %}</p>
                        <fieldset>
                           
                         <table class="table">
                               
                                     <tr class="success">
                                         <td colspan="2"><b>{% trans "Organization's mission/culture/incentives" %}</b></td>
                                    </tr>
                                    <tr class="success">
                                         <td colspan="2"><b>{% trans "Mission/culture/incentives" %}</b></td>
                                    </tr>
                                    <tr class="success">
                                       <th><b>{% trans "No. Question" %}</b></th>
                                <th><b>{% trans "Tip" %}</b></th>
                                    </tr>
                                <tbody>
                                    {% for f in form %}
                                    {% if not f.is_hidden and not f.name == 'c_m_1' and not f.name == 'c_m_2' and not f.name == 'c_m_3' and not f.name == 'c_m_4' and not f.name == 'c_m_5' and not f.name == 'c_m_6' and not f.name == 'c_m_7' and not f.name == 'c_m_8' and not f.name == 'c_m_9' and not f.name == 'c_m_10' and not f.name == 'c_m_11' and not f.name == 'c_m_12' and not f.name == 'c_m_13' and not f.name == 'c_m_14' and not f.name == 'c_m_15' and not f.name == 'c_m_16' and not f.name == 'c_m_17' and not f.name == 'c_m_18' and not f.name == 'c_m_19' and not f.name == 'c_m_20' and not f.name == 'c_m_21' and not f.name == 'c_m_22' and not f.name == 'c_m_23' and not f.name == 'c_m_24' and not f.name == 'c_m_25' and not f.name == 'c_m_26' and not f.name == 'c_m_27' and not f.name == 'c_m_28' and not f.name == 'c_m_29' and not f.name == 'c_m_30' and not f.name == 'c_m_31' and not f.name == 'c_m_32' and not f.name == 'c_m_33' and not f.name == 'c_m_34' %}
                                    <tr>
                                        <td>
                                            <div class="control-group">
                                                <label>{{f.label|safe}}</label>
                                                <div class="controls">   {%if f.name == 'm_2' or f.name == 'm_7' or f.name == 'm_9' or f.name == 'm_14' or f.name == 'm_15' or f.name == 'm_16' or f.name == 'm_18' or f.name == 'm_19' or f.name == 'm_20' or f.name == 'm_21' or f.name == 'm_22' or f.name == 'm_23' or f.name == 'm_24' or f.name == 'm_26' or f.name == 'm_27' or f.name == 'm_29' or f.name == 'm_30' or f.name == 'm_31' or f.name == 'm_33' %}
                                                    <ul>
                                                    <li>
                                                        <label for="id_{{f.name}}_1" class="control-label">
                                                        <input readonly="true" id="id_{{f.name}}_1" name ="{{f.name}}" type="radio" value="True" {% if f.value == True %}checked{%endif%}> {% trans "Yes" %}</label>
                                                    </li>
                                                    <li> 
                                                       <label for="id_{{f.name}}_2" class="control-label">
                                                       <input readonly="true" id="id_{{f.name}}_2" name ="{{f.name}}" type="radio" value="False" {% if f.value == False %}checked{%endif%}> {% trans "No" %}</label>
                                                    </li>
                                                    </ul>                                                   
                                                    {%else%}
                                                    {{f}}
                                                      {% endif %}
                                                </div>
                                            </div>
                                               <div class="pcecomment">
                                            <b>{% trans "Comment:" %}</b><br>  
{%if f.name == 'm_1' %}{% for fff in form %}{%if fff.name == 'c_m_1'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_2' %}{% for fff in form %}{%if fff.name == 'c_m_2'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_3' %}{% for fff in form %}{%if fff.name == 'c_m_3'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_4' %}{% for fff in form %}{%if fff.name == 'c_m_4'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_5' %}{% for fff in form %}{%if fff.name == 'c_m_5'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_6' %}{% for fff in form %}{%if fff.name == 'c_m_6'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_7' %}{% for fff in form %}{%if fff.name == 'c_m_7'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_8' %}{% for fff in form %}{%if fff.name == 'c_m_8'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_9' %}{% for fff in form %}{%if fff.name == 'c_m_9'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_10' %}{% for fff in form %}{%if fff.name == 'c_m_10'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_11' %}{% for fff in form %}{%if fff.name == 'c_m_11'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_12' %}{% for fff in form %}{%if fff.name == 'c_m_12'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_13' %}{% for fff in form %}{%if fff.name == 'c_m_13'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_14' %}{% for fff in form %}{%if fff.name == 'c_m_14'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_15' %}{% for fff in form %}{%if fff.name == 'c_m_15'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_16' %}{% for fff in form %}{%if fff.name == 'c_m_16'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_17' %}{% for fff in form %}{%if fff.name == 'c_m_17'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_18' %}{% for fff in form %}{%if fff.name == 'c_m_18'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_19' %}{% for fff in form %}{%if fff.name == 'c_m_19'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_20' %}{% for fff in form %}{%if fff.name == 'c_m_20'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_21' %}{% for fff in form %}{%if fff.name == 'c_m_21'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_22' %}{% for fff in form %}{%if fff.name == 'c_m_22'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_23' %}{% for fff in form %}{%if fff.name == 'c_m_23'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_24' %}{% for fff in form %}{%if fff.name == 'c_m_24'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_25' %}{% for fff in form %}{%if fff.name == 'c_m_25'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_26' %}{% for fff in form %}{%if fff.name == 'c_m_26'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_27' %}{% for fff in form %}{%if fff.name == 'c_m_27'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_28' %}{% for fff in form %}{%if fff.name == 'c_m_28'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_29' %}{% for fff in form %}{%if fff.name == 'c_m_29'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_30' %}{% for fff in form %}{%if fff.name == 'c_m_30'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_31' %}{% for fff in form %}{%if fff.name == 'c_m_31'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_32' %}{% for fff in form %}{%if fff.name == 'c_m_32'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_33' %}{% for fff in form %}{%if fff.name == 'c_m_33'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
{%if f.name == 'm_34' %}{% for fff in form %}{%if fff.name == 'c_m_34'%}{{fff.value}}{%endif%}{%endfor%}{%endif%}
      
                                        </td>
                                        </td>
                                        <td>{{f.help_text|safe}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor%}
                                    <tr class="success">
                                       <td colspan="2"><b>{% trans "SECTION II - Weaknesses" %}</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <div class="control-group">
                                                <label>{% trans "Please identify a maximum of five of the most critical weaknesses affecting NPPO strategic planning/management performance in order of priority (1=Highest)" %}</label>
                                           <div class="controls"> {{ form34.management_form }}
                                            {{ form34.non_form_errors }}
                                            {% for form in form34 %}
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    {% for ff in form %}
                                                    {%if not ff.label == 'Module4' and not ff.label == 'Delete' and not ff.label == 'Id'%}
                                                    {{ff.label}}     {% if ff.value == None %}
                                                                <input type="text" disabled="true" value="">
                                                                {% else %}
                                                                      <input type="text" disabled="true" value="{{ff.value}}">
                                                                {% endif %}
                                                         <br>   {% else %}{{ff.as_hidden}}
                                                    {% endif %}
                                                    {% endfor %}
                                                </div></div>
                                            {% endfor %}   </div>
                                            </div>
                                            <div class="pcecomment">
                                            <b>{% trans "Comment:" %}</b><br>  
                                              {% for fff in form %}{%if fff.name == 'c_m_34'%}{{fff.value}}{%endif%}{%endfor%}
                                            </div> </td>
                                        <td></td>
                                    </tr>
                                     
                                </tbody>        
                            </table>
                                <div class="form-actions">
                             {% nevercache %}
            {% include "pce/goto_pa_block.html" %}
            {% endnevercache %}    <a class="btn btn-large btn-info" href="javascript:window.print();">{% trans "PRINT" %}</a>
                             
{% if id != ''%}            
    <a class="btn btn-large btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{module}}/pdf/{{id}}">{% trans "Export as PDF" %}</a>
{% else%}            
    <a class="btn btn-large btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/module{{module}}/pdf_empty/">{% trans "Export as PDF" %}</a>
  {% endif %}       </div>  
                            </fieldset>
                     
                        </div>

                    </div>      
                    </div>

</div> {% else %}{% nevercache %}
            {% include "pce/permission_block.html" %}
            {% endnevercache %}

{% endif %}
{% endblock %}

