{% extends 'pce/basepcepdf.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block content %}
<div id="content">

    <h5> {% trans "Problem Analysis - Module" %} {{module}}</h5>

    {% include "pce/userdetails_panel.html" %} </th>  

<br><br>
{% if latest %} 
                    {% for object in latest %}
                    <table class="table">
                        <thead>
                            <tr class="success" valign="top" style="vertical-align:top;">
                                <th valign="bottom" style="background:#D7F0DA;" align="center" colspan="2">{% trans "Causes of the weaknesses identified" %}</th>
                                <th rowspan="2" style="background:#ffc;vertical-align:top;" >{% trans "Major weaknesses needing to be addressed" %}</th>
                                <th valign="bottom" style="background:#D7F0DA; "align="center" colspan="2">{% trans "Consequences as a result of the causes and weaknesses identified" %}</th>
                            </tr>
                            <tr class="success">
                                <th valign="bottom">{% trans "Primary" %}</th>
                                <th valign="bottom">{% trans "Secondary" %}</th>
                                <th valign="bottom">{% trans "Primary" %}</th>
                                <th valign="bottom">{% trans "Secondary" %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr> 
                                <td>{{object.cause_a_1}}<br><br><br><br><br></td>
                                <td>{{object.cause_b_1}}<br><br><br><br><br></td>
                                <td><b>{% trans "Weakness 1:" %}</b> {{weakeness.w1}}<br><br><br><br><br></td>
                                <td>{{object.consequence_a_1}}<br><br><br><br><br></td>
                                <td>{{object.consequence_b_1}}<br><br><br><br><br></td>

                            </tr>  

                            <tr> 
                                <td>{{object.cause_a_2}}<br><br><br><br><br></td>
                                <td>{{object.cause_b_2}}<br><br><br><br><br></td>
                                <td><b>{% trans "Weakness 2:" %}</b> {{weakeness.w2}}<br><br><br><br><br></td>
                                <td>{{object.consequence_a_2}}<br><br><br><br><br></td>
                                <td>{{object.consequence_b_2}}<br><br><br><br><br></td>

                            </tr>  
                            <tr> 
                                <td>{{object.cause_a_3}}<br><br><br><br><br></td>
                                <td>{{object.cause_b_3}}<br><br><br><br><br></td>
                                <td><b>{% trans "Weakness 3:" %}</b> {{weakeness.w3}}<br><br><br><br><br></td>
                                <td>{{object.consequence_a_3}}<br><br><br><br><br></td>
                                <td>{{object.consequence_b_3}}<br><br><br><br><br></td>

                            </tr>  
                            <tr> 
                                <td>{{object.cause_a_4}}<br><br><br><br><br></td>
                                <td>{{object.cause_b_4}}<br><br><br><br><br></td>
                                <td><b>{% trans "Weakness 4:" %}</b> {{weakeness.w4}}<br><br><br><br><br></td>
                                <td>{{object.consequence_a_4}}<br><br><br><br><br></td>
                                <td>{{object.consequence_b_4}}<br><br><br><br><br></td>

                            </tr>  
                            <tr> 
                                <td>{{object.cause_a_5}}<br><br><br><br><br></td>
                                <td>{{object.cause_b_5}}<br><br><br><br><br></td>
                                <td><b>{% trans "Weakness 5:" %}</b> {{weakeness.w5}}<br><br><br><br><br></td>
                                <td>{{object.consequence_a_5}}<br><br><br><br><br></td>
                                <td>{{object.consequence_b_5}}<br><br><br><br><br></td>

                            </tr>  
                        </tbody>
                    </table> 
                    {% endfor%}  
                    {% endif %}  


 </div> 

{% endblock %}
