{% extends 'pce/basepce.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Stakeholders for Module " %}{{module}} - {{ user.get_profile.country.name}} {% endblock %}



{% block body_class %}wide{% endblock %}




{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
<li class="active">{% trans "Stakeholders for Module " %}{{module}}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

{% if can_see %}
<div class="row-fluid">
    <div class="span8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Stakeholders" %}</h3>
            </div>
            <div class="panel-body">
                {% include "pce/tools_panel.html" %} 

            </div>
        </div>   
    </div>
    {% include "pce/userdetails_panel.html" %} 

    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h5 class="panel-title"> {% trans "Stakeholders - Module" %} {{module}}
                     {% if can_edit %}
                     <span  class="pull-right"> 
                         <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/stakeholders/edit/{{stakeid}}">{% trans "Edit table" %}</a>
                     </span>
                     {% endif %}
                    </h5>
                     
                </div>
                <div class="panel-body">
                    {% if latest %}
                    <table class="table">
                        <thead>
                            <tr class="success">
                                <th>{% trans "First Name" %}</th>
                                <th>{% trans "Last Name" %}</th>
                                <th>{% trans "Email" %}</th>
                                <th>{% trans "Organisation/division" %}</th>
                                <th>{% trans "Metadata" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in latest %}
                            <tr> 
                                <td>{{object.firstname}}</td>
                                <td>{{object.lastname}}</td>
                                <td>{{object.email}}</td>
                                <td>{{object.organisation}}</td>
                                        <td><b>{% trans "Role" %}:</b>
                              {% if object.role != None and object.role != 0%}
                              {% for key, val in roles %}
                              {% ifequal key object.role %}
                                  {{val}}    
                              {% endifequal %}
                              {% endfor %}  
                                {% endif %} 
                              <br>
                              <b>{% trans "Interest" %}:</b>
                                {% if object.interest != None and object.interest != 0%}
                             {% for key, val in interests %}
                              {% ifequal key object.interest %}
                                  {{val}}    
                              {% endifequal %}
                              {% endfor %}  
                                {% endif %} <br>
                              <b>{% trans "Influence" %}:</b>
                                 {% if object.influence != None and object.influence != 0%}
                            {% for key, val in influences %}
                              {% ifequal key object.influence %}
                                  {{val}}    
                              {% endifequal %}
                              {% endfor %}
                                {% endif %} <br>
                             <b>{% trans "Level" %}:</b>
                            {% if object.level != None and object.level != 0%}
                             {% for key, val in levels %}
                              {% ifequal key object.level %}
                                  {{val}}    
                              {% endifequal %}
                              {% endfor %}
                            {% endif %} </td> 
                            </tr>  
                            {% endfor %}  
                        </tbody>
                    </table> 
                    {% endif %} 
                    {% if is_st_filled  %} 
                            {% if moduleid != ''  %}           
                               {% if  can_edit %}
                                    <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/edit/{{moduleid}}"><- {% trans "back to Module" %} {{module}}</a></span></h3>
                               {% else %}           
                                <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/view/{{moduleid}}"><- {% trans "back to Module" %} {{module}}</a></span></h3>
                                {% endif %} 
                            {% else  %}           
                                {% if  can_edit %}
                                <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/edit/"><- {% trans "back to Module" %} {{module}}</a></span></h3>
                                {% else %}           
                                <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/empty/"><- {% trans "back to Module" %} {{module}}</a></span></h3>
                                {% endif %} 

                            {% endif %} 
                    {% endif %}      
                          &#160;&#160;&#160;
                          <a class="btn btn-large btn-info" href="javascript:window.print();">{% trans "PRINT" %}</a>
                       &#160;&#160;&#160;
                          <a class="btn btn-large btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/stakeholders/pdf/{{st_id}}">{% trans "Export as PDF" %}</a>



               
                        </div>
            </div>      
        </div>
    </div>
</div> 
{% else %}
   <p class="alert alert-warning">{% trans "No permissions to see this page." %}</p>
{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}
