{% extends "pce/basepce.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Stakeholders" %} - {{ user.get_profile.country.name}} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
<li class="active">{% trans "Stakeholders for Module " %}{{module}}</li>
{% endblock %}sessionid

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}
{% if can_edit %}
<div class="row-fluid">
    <div class="span8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Stakeholders" %}</h3>
            </div>
            <div class="panel-body">
                 {% include "pce/tools_panel.html" %} 
            </div>
        </div>   
    </div>
    {% include "pce/userdetails_panel.html" %} 

    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h5 class="panel-title"> {% trans "Stakeholders - Module" %} {{module}}</h5>
                </div>
                <div class="panel-body">
                    <form class="customform" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {% if form.non_field_errors or form.errors %}
                            <div class="alert alert-error">{% trans "Please correct the errors below." %}
                                <ul>
                                    {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% fields_for form %}
                            {{ form2.management_form }}
                            {{ form2.non_form_errors }}
                            <table class="table table-striped">
                                <tbody>
                                    {% for form in form2 %}   
                                    <tr class="inline {{ form2.prefix }}"> 
                                        {{ form.id }} 
                                        {% for f in form %}
                                        {% if not f.label == 'Stakeholder' and not f.label == 'Id' and not f.label == 'Delete'%}
                                            {% if f.label == 'Role'%}
                                                </td><td>
                                                <b>{{f.label}}:{{f}}<br>
                                                {%elif f.label == 'Interest'%}
                                               <b>{{f.label}}</b>:{{f}}<br>
                                                {%elif f.label == 'Influence'%}
                                                <b>{{f.label}}:</b>  {{f}}<br>
                                                {%elif f.label == 'Level'%}
                                                <b>{{f.label}}:</b> {{f}}</td>
                                            {% else %}
                                             {% if  f.label == 'First name'%}
                                              <td> <b>{{f.label}}:</b> {{f}}<br>
                                            {% else%}
                                             
                                                <b>{{f.label}}:</b> {{f}}<br>
                                            {% endif %}  
                                            {% endif %}  
                                        {% else %}
                                                 {{f.as_hidden}}
                                        {% endif %} 
                                    {% endfor %}
                                    {% if form2.can_delete %}
                                      <td> <b>  {{ form.DELETE }} </b></td>
                                    {% endif %} 
                                    </tr> 
                                </tbody> 
                                {% endfor %} 
                            </table>  

                            <div class="form-actions">
                                <a class="btn btn-small btn-info" href="javascript:history.go(-1)">{% trans "Close" %}</a>
                                <button type="submit" class="btn btn-info btn-large" tabindex="7" value="save">{% trans "Save" %}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>      
        </div>

    </div>
{% else %}
<p class="alert alert-warning">{% trans "No permissions to see this page." %}</p>
{% endif %}

{% endblock %}

