{% extends "pce/basepce.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Swot Analysis" %} - {{ user.get_profile.country.name}} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
<li class="active">{% trans "Swot Analysis for Module " %}{{module}}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}
{% if can_edit %}
<div class="row-fluid">
    <div class="span8">

        <h4>{% trans "Swot Analysis" %}</h4>
        {% include "pce/tools_panel.html" %} 


    </div>
    {% include "pce/userdetails_panel.html" %} 

    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h3 class="panel-title"> {% trans "Swot Analysis - Module" %} {{module}}</h3>
                </div>
                <div class="panel-body">

                    <form class="customform" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {% if form.non_field_errors or form.errors %}
                            <div class="alert alert-error">{% trans "Please correct the errors below." %}
                                <ul>
                                    {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}

                            {% fields_for form %}

                            {{ form1.management_form }}
                            {{ form1.non_form_errors }}
                            {{ form2.management_form }}
                            {{ form2.non_form_errors }}
                            {{ form3.management_form }}
                            {{ form3.non_form_errors }}
                            {{ form4.management_form }}
                            {{ form4.non_form_errors }}
                            {{ form5.management_form }}
                            {{ form5.non_form_errors }}
                            <table class="table" >
                                <thead>
                                    <tr class="success" >
                                            <th colspan="2" style="background:#A4A4A4; "> {% trans "Internal factors" %}</th>						
                                        <th colspan="2" style="background:#BDBDBD; "> {% trans "External factors" %}</th>
                                </tr>
                                    <tr class="success">
                                        <th>{% trans "Strengths" %}</th>						
                                        <th>{% trans "Weaknesses" %}</th>
                                        <th>{% trans "Opportunities" %}</th>
                                        <th>{% trans "Threats" %}</th>
                                        <th>{% trans "Action(s) Required" %}</th>
                                        <th>{% trans "Priority" %}</th>
                                        <th>{% trans "Type" %}</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for form in form1 %}   
                                    <tr class="inline {{ form1.prefix }}"> 
                                       {% for f in form %}
                                           {% if not f.label == 'Swotanalysis' and not f.label == 'Id'%}
                                                  {% if f.label == 'Strengths'%}
                                                    <td>{{f}} </td>
                                                    <td style="background:#ffc; "> <b>{% trans "Weakness" %} 1:</b>{{weakeness.w1}} </td>
                                                 {%else%}
                                                   <td>{{f}} </td>
                                                  {% endif %} 
                                                {% else %}
                                                     {{f.as_hidden}}
                                                {% endif %}    
                                            {% endfor %}
                                        {% if form1.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    {% for form in form2 %}   
                                    <tr class="inline {{ form2.prefix }}"> 
                                        {% for f in form %}
                                           {% if not f.label == 'Swotanalysis' and not f.label == 'Id'%}
                                                  {% if f.label == 'Strengths'%}
                                                    <td>{{f}} </td>
                                                    <td style="background:#ffc; "> <b>{% trans "Weakness" %} 2:</b>{{weakeness.w2}} </td>
                                                 {%else%}
                                                   <td>{{f}} </td>
                                                  {% endif %} 
                                                {% else %}
                                                     {{f.as_hidden}}
                                                {% endif %}    
                                            {% endfor %} 
                                        {% if form2.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    {% for form in form3 %}   
                                    <tr class="inline {{ form3.prefix }}"> 
                                         {% for f in form %}
                                           {% if not f.label == 'Swotanalysis' and not f.label == 'Id'%}
                                                  {% if f.label == 'Strengths'%}
                                                    <td>{{f}} </td>
                                                    <td style="background:#ffc; "> <b>{% trans "Weakness" %} 3:</b>{{weakeness.w3}} </td>
                                                 {%else%}
                                                   <td>{{f}} </td>
                                                  {% endif %} 
                                                {% else %}
                                                     {{f.as_hidden}}
                                                {% endif %}    
                                            {% endfor %} 
                                        {% if form3.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    {% for form in form4 %}   
                                    <tr class="inline {{ form4.prefix }}"> 
                                          {% for f in form %}
                                           {% if not f.label == 'Swotanalysis' and not f.label == 'Id'%}
                                                  {% if f.label == 'Strengths'%}
                                                    <td>{{f}} </td>
                                                    <td style="background:#ffc; "> <b>{% trans "Weakness" %} 4:</b>{{weakeness.w4}} </td>
                                                 {%else%}
                                                   <td>{{f}} </td>
                                                  {% endif %} 
                                                {% else %}
                                                     {{f.as_hidden}}
                                                {% endif %}    
                                            {% endfor %}
                                        {% if form4.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                    {% for form in form5 %}   
                                    <tr class="inline {{ form5.prefix }}"> 
                                          {% for f in form %}
                                           {% if not f.label == 'Swotanalysis' and not f.label == 'Id'%}
                                                  {% if f.label == 'Strengths'%}
                                                    <td>{{f}} </td>
                                                    <td style="background:#ffc; "> <b>{% trans "Weakness" %} 5:</b>{{weakeness.w5}} </td>
                                                 {%else%}
                                                   <td>{{f}} </td>
                                                  {% endif %} 
                                                {% else %}
                                                     {{f.as_hidden}}
                                                {% endif %}    
                                            {% endfor %}
                                        {% if form5.can_delete %}
                                        <td> {{ form.DELETE }} </td>
                                        {% endif %}
                                    </tr> 
                                    {% endfor %}
                                </tbody> 


                            </table>  




                            <div class="form-actions">
                                <a class="btn btn-small btn-info" href="javascript:history.go(-1)">{% trans "Close" %}</a>
                                <button type="submit" class="btn btn-info btn-large" tabindex="7" value="save">{% trans "Save" %}</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>      
        </div>

    </div>
    {% else %}<p class="alert alert-warning">{% trans "No permissions to see this page." %}</p>

    {% endif %}
    {% endblock %}

