{% extends 'pce/basepce.html' %}
{% load module_extras %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Swot Analysis" %} - {{ user.get_profile.country.name}} {% endblock %}



{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="/pce/{{ user.get_profile.country.name }}/sessions">{% trans "PCE Home" %}</a>
    <span class="divider">/</span>
</li>
<li>
    <a href="/pce/{{ user.get_profile.country.name|slugify }}/session/dashboard/{{sessionid}}">  {% trans "PCE Dashboard for" %} {{ user.get_profile.country.name }}</a>
    <span class="divider">/</span>
<li>
<li class="active">{% trans "Swot Analysis for Module " %}{{module}}</li>

{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}
{% if can_see %}



<div class="row-fluid">
    <div class="span8">
    
   <h4>{% trans "Swot Analysis" %}</h4>
       {% include "pce/tools_panel.html" %} 

    </div>
    {% include "pce/userdetails_panel.html" %} 
                
    <div class="row-fluid">
        <div class="span12">
            <div class="panel panel-info">
                <div  class="alert alert-success" role="alert">
                    <h3 class="panel-title"> {% trans "Swot Analysis - Module" %} {{module}}
                        {% if can_edit %}  
                        <span  class="pull-right">  
                          <a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/swotanalysis/edit/{{sa_id}}">Edit table</a>
                        </span>
                        {%endif%}
                        </h3>
                </div>
                <div class="panel-body">
                {% if latest1 %}
                <table class="table">
                                <thead>
                                     <tr class="success">
                                        <th colspan="2" style="background:#A4A4A4; "> {% trans "Internal factors" %}</th>						
                                        <th colspan="2" style="background:#BDBDBD; "> {% trans "External factors" %}</th>
                                      
                                    </tr>
                                  
                                </thead>
                                <tbody>
                                 
                                    {% for object in latest1 %} 
                                      {%if  forloop.counter == 1 %}
                                      <tr class="success">
                                        <td> {% trans "Strengths" %}</th>						
                                        <td> {% trans "Weaknesses" %}</th>
                                        <td> {% trans "Opportunities" %}</td>
                                        <td> {% trans "Threats " %}</td>
                                        <td style="background:#eee; "> {% trans "Action(s) Required" %}</td>
                                        <td style="background:#eee; "> {% trans "Priority" %}</td>
                                        <td style="background:#eee; "> {% trans "Type" %}</td>
                                    </tr>
                                      {% endif %}
                                    <tr> 
                                        <td>{{object.strengths}}</td>
                                       {%if  forloop.counter == 1 %} 
                                       <td style="background:#ffc; "> <b>{% trans "Weakness" %} 1:</b>{{weakeness.w1}}</td>
                                        {% else %}
                                        <td> </td>
                                       
                                       {%endif%}
                                        <td>{{object.opportunities}}</td>
                                        <td>{{object.threats}}</td>
                                        <td>1.{{forloop.counter}} {{object.actions}}</td>
                                        <td>{% for key, val in priority %}
                                            {% if key == object.priority and object.priority != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                          <td>{% for key, val in type %}
                                            {% if key == object.type and object.type != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                    </tr>  
                                    {% endfor%}  
                               {% endif %}  
                                {% if latest2 %} 
                                    {% for object in latest2 %} 
                                   {%if  forloop.counter == 1 %}
                                      <tr class="success">
                                        <td> {% trans "Strengths" %}</th>						
                                        <td> {% trans "Weakness" %}</th>
                                        <td> {% trans "Opportunities" %}</td>
                                        <td> {% trans "Threats " %}</td>
                                        <td style="background:#eee; "> {% trans "Action(s) Required" %}</td>
                                        <td style="background:#eee; "> {% trans "Priority" %}</td>
                                        <td style="background:#eee; "> {% trans "Type" %}</td>
                                    </tr>
                                      {% endif %}
                                    <tr> 
                                        <td>{{object.strengths}}</td>
                                                                             {%if  forloop.counter == 1 %} 
                                       <td style="background:#ffc; "> <b>{% trans "Weakness" %} 2:</b>{{weakeness.w2}}</td>
                                        {% else %}
                                        <td> </td>
                                       
                                       {%endif%}
                                   <td>{{object.opportunities}}</td>
                                        <td>{{object.threats}}</td>
                                        <td>2.{{forloop.counter}} {{object.actions}}</td>
                                        <td>{% for key, val in priority %}
                                            {% if key == object.priority and object.priority != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                          <td>{% for key, val in type %}
                                            {% if key == object.type and object.type != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                    </tr>
                                    {% endfor%}  
                               {% endif %}  
                                {% if latest3 %} 
                                    {% for object in latest3 %} 
                                     {%if  forloop.counter == 1 %}
                                      <tr class="success">
                                        <td> {% trans "Strengths" %}</th>						
                                        <td> {% trans "Weakness" %}</th>
                                        <td> {% trans "Opportunities" %}</td>
                                        <td> {% trans "Threats " %}</td>
                                        <td style="background:#eee; "> {% trans "Action(s) Required" %}</td>
                                        <td style="background:#eee; "> {% trans "Priority" %}</td>
                                        <td style="background:#eee; "> {% trans "Type" %}</td>
                                    </tr>
                                      {% endif %}
                                    <tr> 
                                        <td>{{object.strengths}}</td>
                                                                         {%if  forloop.counter == 1 %} 
                                       <td style="background:#ffc; "> <b>{% trans "Weakness" %} 3:</b>{{weakeness.w3}}</td>
                                        {% else %}
                                        <td> </td>
                                       
                                       {%endif%}
      <td>{{object.opportunities}}</td>
                                        <td>{{object.threats}}</td>
                                        <td>3.{{forloop.counter}} {{object.actions}}</td>
                                        <td>{% for key, val in priority %}
                                            {% if key == object.priority and object.priority != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                          <td>{% for key, val in type %}
                                            {% if key == object.type and object.type != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                    </tr>
                                    {% endfor%}  
                               {% endif %}  
                                {% if latest4 %} 
                                    {% for object in latest4 %} 
                                     {%if  forloop.counter == 1 %}
                                      <tr class="success">
                                        <td> {% trans "Strengths" %}</th>						
                                        <td> {% trans "Weakness" %}</th>
                                        <td> {% trans "Opportunities" %}</td>
                                        <td> {% trans "Threats " %}</td>
                                        <td style="background:#eee; "> {% trans "Action(s) Required" %}</td>
                                        <td style="background:#eee; "> {% trans "Priority" %}</td>
                                        <td style="background:#eee; "> {% trans "Type" %}</td>
                                    </tr>
                                      {% endif %}
                                    <tr> 
                                        <td>{{object.strengths}}</td>
                                                                       {%if  forloop.counter == 1 %} 
                                       <td style="background:#ffc; "> <b>{% trans "Weakness" %} 4:</b>{{weakeness.w4}}</td>
                                        {% else %}
                                        <td> </td>
                                       
                                       {%endif%}
        <td>{{object.opportunities}}</td>
                                        <td>{{object.threats}}</td>
                                        <td>4.{{forloop.counter}} {{object.actions}}</td>
                                        <td>{% for key, val in priority %}
                                            {% if key == object.priority and object.priority != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                          <td>{% for key, val in type %}
                                            {% if key == object.type and object.type != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                    </tr>
                                    {% endfor%}  
                               {% endif %}  
                                {% if latest5 %} 
                                    {% for object in latest5 %} 
                                     {%if  forloop.counter == 1 %}
                                      <tr class="success">
                                        <td> {% trans "Strengths" %}</th>						
                                        <td> {% trans "Weakness" %}</th>
                                        <td> {% trans "Opportunities" %}</td>
                                        <td> {% trans "Threats " %}</td>
                                        <td style="background:#eee; "> {% trans "Action(s) Required" %}</td>
                                        <td style="background:#eee; "> {% trans "Priority" %}</td>
                                        <td style="background:#eee; "> {% trans "Type" %}</td>
                                    </tr>
                                      {% endif %}
                                    <tr> 
                                        <td>{{object.strengths}}</td>
                                                                              {%if  forloop.counter == 1 %} 
                                       <td style="background:#ffc; "> <b>{% trans "Weakness" %} 5:</b>{{weakeness.w5}}</td>
                                        {% else %}
                                        <td> </td>
                                       
                                       {%endif%}
 <td>{{object.opportunities}}</td>
                                        <td>{{object.threats}}</td>
                                        <td>5.{{forloop.counter}} {{object.actions}}</td>
                                        <td>{% for key, val in priority %}
                                            {% if key == object.priority and object.priority != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                          <td>{% for key, val in type %}
                                            {% if key == object.type and object.type != 0 %}
                                                {{val}} 
                                            {% else %}
                                               &#160;     
                                            {% endif %}
                                            {% endfor %}  
                                        </td>
                                    </tr>
                                    {% endfor%}  
                            
                                
                                </tbody>
                    </table>      {% endif %}
                 <span  class="pull-left"><a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{modulename}}/view/{{moduleid}}"><- {% trans "back to Module" %} {{module}}</a></span>
                 &#160;&#160;&#160;<a class="btn  btn-info" href="javascript:window.print();">{% trans "PRINT" %}</a>   {% if lf_id != ''%}  
                  &#160;&#160;&#160;<a  class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/swotanalysis/pdf/{{sa_id}}">{% trans "Export as PDF" %}</a>
                     <span  class="pull-right"><a class="btn btn-info" href="/pce/{{ user.get_profile.country.name|slugify }}/{{sessionid}}/{{module}}/logicalframework/{{lf_id}}">{% trans "Go to Logical Framework for Module" %} {{module}} -></a></span>
                    {% endif %}              
                </div>
            </div>      
        </div>

    </div>


</div> 











{% else %}
<p class="alert alert-warning">No permissions to see this page.</p>
{% endif %}

{% endblock %}
{% block extra_js %}
<script src="{% static "js/jquery.dataTables.js" %}"></script>
<script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}
