{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block main %}


<h1>
 {% trans "Draft Protocols" %}
</h1> 
<p>
  {% if  perms.ippc.change_publication or   user.is_superuser%}
  <br>
  <a class="btn btn-small btn-info" href="{% url 'draftprotocol-create' %}">+ {% trans "Add new Draft Protocol" %}</a>
  <br>
  {% else %}
  {% endif %}
</p>

{% if latest1 %}
<table class="table table-condensed table-striped" id="publications" style="margin-top: 10px;margin-left: 0;">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Closing Date" %}</th>
    </tr>
  </thead>
  <tbody>
 
     {% for object in latest1 %}
            <tr>
                <td><a href="{% url 'draftprotocol-detail' object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.title }}</a></td>
                <td>{% if object.is_past_due %}
                  CLOSED
                    {% else %}
                   OPEN
                   {% endif %}
                </td>
                <td><a href="{% url 'draftprotocol-detail' object.publish_date|date:'Y' object.publish_date|date:'m'  object.slug %}">{{ object.closing_date|date:"d M Y" }}</a>
                  {% if user.is_superuser or perms.ippc.add_publication  %}
                      <a class="small pull-right" href="{% url 'draftprotocol-edit' object.id %}"><i class="icon-edit"></i> Edit</a>
                      <a class="small pull-right" href="/admin/ippc/draftprotocol/{{ object.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
                  {% else %}
                  {% endif %}
                  </td>
              </tr>

  
  
  



{% endfor %} 
  </tbody>
</table>

{% else %}
<p>No draftprotocol reports available.</p>
{% endif %}

{% endblock %}
