{% extends "baseiyph.html" %}
{% load i18n future mezzanine_tags iyph_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Iyph chronology: " %}{{chronology.title}}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
{% if not forloop.first %}, {% endif %}
{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{# {% editable page.title %}{{ page.title }}{% endeditable %} #}
{{ page.title }}
{% else %}
{% trans " " %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}

{% endblock %}

{% block main %} 


{%if chronology.image != '' %}
    <div class="col-12" >    
        <img src="/static/media/{{chronology.image}}" width="100%">
</div>   
{% endif %}
<!-- SX col-------------------------------->
<div class="row">
<!-- SX col-------------------------------->
    <div class="col-8" >
	<!-- SX box1 -->
       	
        <div class="padding20">
          <h2>{% with chronology|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
            {% endwith %}
          </h2> 
           <p><b>{{date_event}}, {{chronology.venue}}, {{chronology.country}} </b></p>
          <p>
                {% with chronology|get_object_translation as translated_page %}
                {{ translated_page.summary|richtext_filter|safe  }}
                {% endwith %}
           </p>
         
    {% if chronology.chron_type %}
    <p><b> {% trans "Type of events" %}: </b>
     {% if  chronology.chron_type == 1 %}
        <span style="background-color: #E0E4F1; color:#576FB5" width="5%">
        {% elif  chronology.chron_type == 2 %}
        <span style="background-color: #DECFD2; color:#428463" width="5%">
        {% elif  chronology.chron_type == 3 %}
        <span style="background-color: #E3F1EA; color:#A47B84"  width="5%">
        {% endif %}
        <b>{{chronology.chron_type_verbose}}</b>
        </span></p>
    {% endif %}

    {% if chronology.contact %}
        <p><b>{% trans "Contact" %}: </b>  {{chronology.contact}} <br></p>
    {% endif %}
    {% if chronology.url_website %}
        <p><b>{% trans "Link" %}: </b><a href="{{chronology.url_website}}">{{chronology.url_website}}</a></p>
   {% endif %}
     </div>
    </div>
	
      
      
      
      
      
      
 <!-- DX col ------------------------------>
      <div class="col-4" >
      
 
        
<!-- DX box1 -->
{% if chronology.chronologyfiles_set.all %}
       <div class="col-100 gray-box-text event" >
         <div class="padding20">
           <h2><a href="#" title="" target="_top">{% trans "Related documents" %}</a></h2> 
       {% for f in chronology.chronologyfiles_set.all %} 
    
       <p><a href="{{MEDIA_URL}}{{f.file.name}}">{{ f.description }}</a></p>
  {% endfor %}
  
         </div>
       </div>
        
  {% endif %}
  {% if chronology.venue_description%}
<div class="col-100 gray-box-text event" >
         <div class="padding20">
           <h2><a href="#" title="" target="_top">{% trans "Venue Location" %}</a></h2> 
            <p>{% autoescape off %}
                        {{chronology.venue_description}}
                   {% endautoescape %}  
              </p>
         </div>
       </div>
   {% endif %}
<div class="col-100 gray-box-text event" >
         <div class="padding20">
           <h2><a href="#" title="" target="_top">{% trans "Related Info" %}</a></h2> 
           
        {% if user.is_superuser %}
            <h6>Posted: {{chronology.publish_date|date:"M Y" }}, by {{chronology.author}}</h6>    
            <h6>Updated {{chronology.modify_date|date:"M Y" }}, by {{chronology.author}}</h6>    
            <a class="btn btn-small btn-success" href="/admin/iyph/chronology/{{ chronology.id }}" style="color:#fff;">Edit as Admin</a><br>
        {% endif %}
        {% for g in request.user.groups.all %}
            {% if g.name == 'IYPH admin' %}
              <a class="btn btn-small btn-success" href="/admin/iyph/chronology/{{ chronology.id }}" style="color:#fff;">Edit as Admin</a><br>
            {% endif %}    
        {% endfor %}    
        {% if request.user.id == chronology.author_id %}
        <a class="btn btn-small btn-success" href="/iyph/chronologies/{{chronology.id }}/edit/" style="color:#fff;"><i class="icon-edit"></i>{% trans "Edit" %}</a><br>
    {% endif %}
         </div>
       </div>
        

       
      </div>
</div>





















</div> 







{% endblock %}


{% block pageinfo %}{% endblock pageinfo %}