{% extends "baseiyph.html" %}
{% load i18n future pages_tags mezzanine_tags iyph_tags staticfiles keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{%if type == '1'%}{% trans "IYPH preparation events" %}{% else %}{% trans "IYPH 2020 Programme of events" %}{% endif %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
{% if not forloop.first %}, {% endif %}
{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{# {% editable page.title %}{{ page.title }}{% endeditable %} #}
{{ page.title }}
{% else %}
{% trans " " %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/iyph">{% trans "Home" %}</a><span class="divider">/</span></li>
<li class="active">{%if type == '1'%}{% trans "IYPH preparation events" %}{% else %}{% trans "IYPH 2020 Programme of events" %}{% endif %}</li>
{% endblock %}
{% block main %}

<h1>{%if type == '1'%}{% trans "IYPH preparation events" %}{% else %}{% trans "IYPH 2020 Programme of events" %}{% endif %}</h1>
    {%if type == '1'%}
        <p>Click <a href="/iyph/chronology/list/2/"><b>here</b></a> to see the IYPH 2020 Programme of events.</p> 
    {% else %}
        <p>Click <a href="/iyph/chronology/list/1/"><b>here</b></a> to see the IYPH  preparation events.</p> 
    {% endif %}

  
<p>    <small class="pull-right">
        {% if user.is_superuser %}
             <a class="btn btn-small btn-info" href="/admin/iyph/chronology/28">Add new event</a>
        {% endif %}      
        {% for g in request.user.groups.all %}
            {% if g.name == 'Country Contact Points' %}
              <a class="btn btn-small btn-info" href="/iyph/chronologies/3/create/">Add new National Event</a>
            {% endif %}    
            {% if g.name == 'RPPO' %}
              <a class="btn btn-small btn-info" href="/iyph/chronologies/2/create/">Add new Regional Event</a>
            {% endif %}    
            {% if g.name == 'IPPC Secretariat' %}
              <a class="btn btn-small btn-info" href="/iyph/chronologies/1/create/">Add new Global Event</a>
            {% endif %}    
        {% endfor %}    
    </small>
</p>   
     <br><br><br>
<p>
    <span style="width: 20px;height: 20px;background-color: #E0E4F1">&#160;&#160;&#160;&#160;</span> <b>Global event </b>
    <span style="width: 20px;height: 20px;background-color: #DECFD2">&#160;&#160;&#160;&#160;</span> <b>Regional event </b>
    <span style="width: 20px;height: 20px;background-color: #E3F1EA">&#160;&#160;&#160;&#160;</span> <b>National event </b>
</p>
     
     
<table  class="table table-bordered" id="publications">
  <thead>
    <tr>
      <th>{% trans "Start date" %}</th>
      <th>{% trans "End date" %}</th>
      <th>{% trans "Type" %}</th>
      <th>{% trans "Event" %}</th>
      <th>{% trans "Venue" %}</th>
      <!--th>{% trans "Contact" %}</th-->
      <th>{% trans "Website" %}</th>
    </tr>
  </thead>
  <tbody>    
    {% for chronology in chronologies %} 
    <tr>
        <td width="10%">{{chronology.start_date|date:"d M Y" }}</td>
        <td width="10%">{{chronology.end_date|date:"d M Y" }}</td>
        {% if  chronology.chron_type == 1 %}
            <td style="background-color: #E0E4F1; color:#576FB5" width="5%">
        {% elif  chronology.chron_type == 2 %}
            <td style="background-color: #DECFD2; color:#428463" width="5%">
        {% elif  chronology.chron_type == 3 %}
            <td style="background-color: #E3F1EA; color:#A47B84"  width="5%">
        {% else %}
            <td   width="5%">
        {% endif %}
                <b><center> {{chronology.chron_type_verbose}}</center></b>
            </td>
        <td width="40%">
            <b><a href="{% url 'chronology-detail' chronology.slug %}"> {% with chronology|get_object_translation as translated_page %}
               {{ translated_page.title|safe }}
               {% endwith %}</a></b>
            {% with chronology|get_object_translation as translated_page %}{{ translated_page.summary|richtext_filter|safe  }}{% endwith %}
        </td>
        <td>{{chronology.venue}}</td>
        <!--td>{{chronology.contact}}</td-->
        
        <td> {% if chronology.url_website %}<a href="{{chronology.url_website}}">Link</a>{% endif%}
            {% if user.is_superuser %} 
                <a class="small pull-right" href="/admin/iyph/chronology/{{ chronology.id }}"><i class="icon-edit"></i> Edit as Admin</a><br>
            {% endif %}
            {% if request.user.id == chronology.author_id %}
                <a class="small pull-right" href="/iyph/chronologies/{{chronology.id }}/edit/"><i class="icon-edit"></i>{% trans "Edit" %}</a>
            {% endif %}
         </td>
    </tr>
    {% endfor %}
    </tbody>  
</table>


<script src="/static/js/jquery.dataTables.js"></script> 
  <script src="/static/js/DT_bootstrap.js"></script>

{% endblock %}


{% block pageinfo %}{% endblock pageinfo %}