      <div class="col-100 gray-box-text event" >
        
         <div class="padding20">
           
            <h2><a  href="/iyph/photo-submit" >Click here to enter the Competition!</a></h2>	
            <p>To upload photos complete the form. The photo should be as high resolution as possible, minimum 3000 pixels width. Files should be submitted in .jpg and .jpeg format.<br><br> A caption for each photograph must be provided and written in complete sentences. 
                Information to include: date, location, a description of what we are seeing in the frame, name of photographer, etc.<br> 
                When submitting a photo, the participants agree on the terms and conditions of the contest described <a>here</a>. 
                
		Submitted photos will be reviewed based on the <a href="">criteria</a> and appear publically on the page.
		   </p> 
         </div>
       </div>