{% extends "baseiyph.html" %}
{% load i18n future mezzanine_tags iyph_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Iyph" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{# {% editable page.title %}{{ page.title }}{% endeditable %} #}
{{ page.title }}
{% else %}
{% trans " " %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}

{% if tag or category or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    <!--{% trans "Category:" %} {{ category }}-->
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

 <script type="text/javascript">
      var tl;
            var startProj = SimileAjax.DateTime.parseIso8601DateTime("2014-03");
            var endProj = SimileAjax.DateTime.parseIso8601DateTime("2020");
            
            var event_data = 
              {
              "dateTimeFormat": "iso8601",
              "events":[
                    {% autoescape off %} 
                        {{data}}
                     {% endautoescape %}  
                     ]
              };

            function onLoad() {
                var tl_el = document.getElementById("tl");
                var eventSource = new Timeline.DefaultEventSource();
                var theme = Timeline.ClassicTheme.create();
                theme.autoWidth = false; // Set the Timeline's "width" automatically.
                theme.autoWidthMargin=10;
                theme.event.bubble.width = 400;
                theme.event.bubble.height = 120;

                theme.ether.backgroundColors = ["#E6E6E6","#F7F7F7"];

                theme.timeline_start = startProj;
                theme.timeline_stop  = endProj;

                theme.event.track.height = "5";
                theme.event.tape.height = 5; // px
                theme.event.track.height = theme.event.tape.height + 6;

                var d = SimileAjax.DateTime.parseIso8601DateTime("2016-12");
                var bandInfos = [

                    Timeline.createBandInfo({
                        layout:         'original',// original, overview, detailed
                        eventSource:    eventSource,
                        date:           d,
                        width:          200,
                        intervalUnit:  Timeline.DateTime.MONTH,
                        intervalPixels: 90,
                        trackHeight: 10,
                        theme :theme

                    }),
                    Timeline.createBandInfo({
                        layout:         'overview',
                        date:           d,
                        trackHeight:    0.5,
                        trackGap:       0.2,
                        eventSource:    eventSource,
                        width:          40,
                        intervalUnit:   Timeline.DateTime.YEAR,
                        //showEventText:  false,
                        intervalPixels: 150,
                        theme :theme
                    })

                ];

                bandInfos[1].highlight = true;
                bandInfos[1].syncWith = 0;



                bandInfos[1].decorators = [
                    new Timeline.SpanHighlightDecorator({
                        startDate:  startProj,
                        endDate:    endProj,
                        inFront:    false,
                        color:      "red",
                        opacity:    30,
                        startLabel: "",
                        endLabel:   "",
                        theme:      theme
                    })
                ];


                tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);
                // show loading message
                tl.showLoadingMessage();

                eventSource.loadJSON(event_data, document.location.href);

                // dismiss loading message
                tl.hideLoadingMessage();

                // setup highlight filters
                setupFilterHighlightControls(document.getElementById("controls"), tl, [0,1], theme);

            }
            function centerProjStart() {
                tl.getBand(1).setCenterVisibleDate(startProj);
            }
            
            function centerProjEnd() {
                tl.getBand(1).setCenterVisibleDate(endProj);
            }

            var resizeTimerID = null;
            function onResize() {
                if(resizeTimerID == null) {
                    resizeTimerID = window.setTimeout(function() {
                        resizeTimerID = null;
                        tl.layout();
                    }, 500);
                }
            }
   
   </script>
    <style type="text/css">
            .special_event2 {}
            .tape-dashed, .small-dashed {border-top: dashed 5px ;background-color:transparent;margin-top:3px;}
            .tape-dotted, .small-dotted {border-top: dotted 9px ;background-color:transparent;margin-top:3px;}
            /*.tape-special_event2{border:2px outset;margin-top:-2px;}*/
            .tape-backimage{background-image: url("bar.png");}
            .clear { clear: both; }
            .aquamarine{color: #045FB4;}
            .brown{color:#A52A2A;}
            .timeline-event-bubble-time{display:none;}
            .timeline-band-0 .timeline-ether-bg{background-color:#CEF6CE}
            .timeline-band-1 .timeline-ether-bg{background-color:#088A68}
            .timeline-band-2 .timeline-ether-bg{background-color:#CEF6CE}
        </style>
        <h4><a href="/iyph/chronology/list/">Chronology of IYPH Events</a>
</h4>

        <div id="tl" class="timeline-default" style="height: 250px; border: 1px solid #aaa;"></div>
        <div><small><a href="/iyph/chronology/list/">See complete list of chronology of events</a></small></div>
        <br>
       
        <!--iframe src='https://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=1xkSrj3zU7qTaqG42FGczSbOEng1gYwWxaAVMj_lHTrU&font=Bevan-PotanoSans&maptype=toner&lang=en&width=600&height=500' width='600' height='500' frameborder='0'></iframe-->
      <div><ul id="regionsmap1"> 
        <li id="africa1"><a><span><b><u>Africa:</u></b><br><br>
                    <img width="38px" src="/static/img/iyph-stc/kenneth_msiska.jpg"/><br>
                    Mr Kenneth Kajarayekha MSISKA<br>
                    Africa Member<br>
                    msiska12@yahoo.co.uk<br><br>
					 <img width="38px" src="/static/img/iyph-stc/xxx"/><br>
					Mr Abdoulaye Moussa ABDERAMAN <br>
					charafa2009@gmail.com<br>
					Africa Alternate
					</span></a></li>
                    
        <li id="asia1"><a><span><b><u>Asia:</u></b> <br><br>
                    <img width="38px" src="/static/img/iyph-stc/kyu_ock.jpg"/><br>Ms Kyu-Ock YIM<br>
                    Asia Member<bt>
                    koyim@korea.kr</span></a></li>
                    
        <li id="europe1"><a><span><b><u>Europe:</u></b><br><br>
                    
                    <img width="38px" src="/static/img/iyph-stc/ralf_lopian.jpg"/><br>
                    Mr Ralf LOPIAN<br>
                    Europe Member<br>
                    ralf.lopian@mmm.fi Europe<br><br>
                    <img width="38px" src="/static/img/iyph-stc/xxx"/><br>
                    Ms Christine HERMENING<br>
                    Europe Alternate<br>
                    Christine.Hermening@bmel.bund.de<br><br>
                    </span></a></li>
                    
        <li id="latinamericacaribbean1"><a><span><b><u>Latin America and Caribbean:</u></b><br><br>
                    <img width="38px" src="/static/img/iyph-stc/alvaro_sepulveda.jpg"/><br>
                    Mr &Aacute;lvaro SEP&Uacute;LVEDA LUQUE<br>
                    Latin America and Caribbean Member<br>
                    alvaro.sepulveda@sag.gob.cl<br><br>
                    <img width="38px" src="/static/img/iyph-stc/ryan_amselm.jpg"/><br>
                    Mr Ryan ANSELM<br>
                    Latin America and Caribbean Alternate<br>
                    anselmr@dominica.gov.dm</span></a></li>
                    
        <li id="neareast1"><a><span><b><u>Near East:</u></b><br><br>
                           
                            <img width="38px" src="/static/img/iyph-stc/pauline_eid.jpg"/><br>
                            Ms Pauline EID<br>
                            Near East Member <br>
                            peid@agriculture.gov.lb<br><br>
							 <img width="38px" src="/static/img/iyph-stc/anwar_gamel.jpg"/><br>
                            Mr Gamil Anwar Mohammed RAMADHAN<br>
                            Near East Alternate<br>
                            anwar.gamel@mail.ru 
                         </a></li>
        <li id="northamerica1"><a>
                <span>
                    <b><u>North America</u></b><br><br>
                      <img width="38px" src="/static/img/iyph-stc/stephanie_dubon.jpg"/><br>
                     Ms Stephanie DUBON<br>
                    North America Alternate<br>
                    Stephanie.M.Dubon@aphis.usda.gov<br><br>
                    <img width="38px" src="/static/img/iyph-stc/xxx"/><br>
                    Ms Stephanie BLOEM<br>
                    NAPPO Member<br>
                    SBloem.NAPPO@gmail.com <!--br><br>
                    <img width="38px" src="/static/img/iyph-stc/alonso_suazo.jpg"/><br>
                    Mr Alonso SUAZO<br>
                    NAPPO Member Alternate<br>
                    alonso.suazo@nappo.org-->
                    
                </span></a></li>
        <li id="southwestpacific1"><a><span><b><u>South West Pacific:</u></b><br><br>
                   <img width="38px" src="/static/img/iyph-stc/Viliami_Kami.jpg"/><br>
                   Mr Viliami Kami<br>
                   Southwest Pacific Member <br>
                    maf-ento@kalianet.to<br><br>
                   <img width="38px" src="/static/img/iyph-stc/lois_ransom.jpg"/><br>
                   Ms Lois RANSOM<br>
                   Southwest Pacific Alternate <br>
                   Lois.ransom@agriculture.gov.au <br><br>
                </span></a></li>
          <li id="ippc1"><a><span><b><u>IPPC Standards Committee:</u></b><br><br>
                     <img width="38px" src="/static/img/iyph-stc/xxx"/><br>
                           Mr Jesulindo NERI DE SOUZA JUNIOR<br>
                           IPPC Standards Committee Alternate <br>
                         jesulindo.junior@agricultura.gov.br<br><br>
                   <img width="38px" src="/static/img/iyph-stc/shaza_omar.jpg"/><br>
                            Ms Shaza OMAR<br>
                            IPPC Standards Committee Member<br>
                            shaza.roshdy@gmail.com</span></a></li>        
    </ul>
        </div> 
        
        
        
        {% if tag or category or year or month or author %}
    {% block iyph_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing tagged as: " %} <strong>{{ tag }}</strong>
    {% else %}{% if category %}
       <!-- {% trans "Viewing posts for the category" %} <strong>{{ category }}</strong>-->
    {% else %}{% if year or month %}
        {% trans "Viewing items from" %} <strong>{% if month %}{{ month }}, {% endif %}
        {{ year }}</strong>
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block iyph_post_list_pagecontent %}
    {# {% editable page.richtextpage.content %} #}
    {{ page.richtextpage.content|richtext_filter|safe }}
    {# {% endeditable %} #}
    {% endblock %}
    {% endif %}
{% endif %}

{% for iyph_post in iyph_posts.object_list %}
{% block iyph_post_list_post_title %}
{# {% editable iyph_post.title %} #}
<h4>
    <a href="{{ iyph_post.get_absolute_url }}">     
        {% with iyph_post|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
    {% endwith %}</a>
</h4>
{# {% endeditable %} #}
{% endblock %}
{% block iyph_post_list_post_metainfo %}
{# {% editable iyph_post.publish_date %} #}
<h6>
    {% trans "Posted " %}
    {% with iyph_post.category.all as categories %}
    {% if categories %}
    {% trans "in" %}
    {% for category in categories %}
    <a href="{% url "iyph_post_list_category" category.slug %}">{{ category }}</a>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% blocktrans with sometime=iyph_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    {# {% blocktrans with thetime=iyph_post.publish_date|date:"D, d M Y, H:i" %} <span class="normal">on</span> {{ thetime }}{% endblocktrans %} #}
</h6>
{# {% endeditable %} #}
{% endblock %}

{% if iyph_post.featured_image %}{#and settings.IYPH_USE_FEATURED_IMAGE and #}
{% block iyph_post_list_post_featured_image %}
<img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail iyph_post.featured_image 90 90 %}">
{% endblock %}
{% endif %}

{% block iyph_post_list_post_content %}
{# {% editable iyph_post.content %} #}

 {% with iyph_post|get_object_translation as translated_page %}
             {{ translated_page.content|richtext_filter|safe |truncatewords_html:100 }}
      
    {% endwith %}
{# {% endeditable %} #}
{% endblock %}

{% block iyph_post_list_post_links %}
<p class="iyph-list-detail">
    {% keywords_for iyph_post as tags %}
    {% if tags %}
    {% trans "Tags" %}:
    {% spaceless %}
    {% for tag in tags %}
    <a href="{% url "iyph_post_list_tag" tag.slug %}" class="tag">{{ tag }}</a>
    {% endfor %}
    {% endspaceless %}
    <br>
    {% endif %}
    <a href="{{ iyph_post.get_absolute_url }}">{% trans "Continue reading…" %}</a>
    {# / #}
    {# {% if settings.COMMENTS_DISQUS_SHORTNAME %} #}
    {# <a href="{{ iyph_post.get_absolute_url }}#disqus_thread" #}
    {#     data-disqus-identifier="{% disqus_id_for iyph_post %}"> #}
    {#     {% trans "Comments" %} #}
    {# </a> #}
    {# {% else %} #}
    {# <a href="{{ iyph_post.get_absolute_url }}#comments"> #}
    {#     {% blocktrans count comments_count=iyph_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %} #}
    {# </a> #}
    {# {% endif %} #}
</p>
{% endblock %}
{% endfor %}

{% pagination_for iyph_posts %}

{# {% if settings.COMMENTS_DISQUS_SHORTNAME %} #}
{# {% include "generic/includes/disqus_counts.html" %} #}
{# {% endif %} #}

{% endblock %}

{% block local_nav %}
{% include "iyph/includes/filter_panel.html" %}
{% endblock %}

{% block pageinfo %}{% endblock pageinfo %}