{% extends "baseiyph.html" %}
{% load mezzanine_tags translate_tags staticfiles i18n %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static "css/DT_bootstrap.css" %}">
{% endblock %}

{% block meta_title %}
  {{ photolibrary.title }} 
{% endblock %}


{% block main %}
<div class="row">
    <div class="col-8" >
        <div class="padding20">
            {%if  photolibrary.id ==  4%} 
                {% if user.is_superuser or perms.ippc.change_publication or perms.iyph.change_photo  %}
                    <h2 class="font-light green">{{ photolibrary.title }}          </h2> 
                    <p>  {% autoescape off %}
                          {{ photolibrary.short_description|safe }}
                      {% endautoescape %}      
                    </p>
                    {% include "iyph/phototable.html" %}
                {%else%} 
                 <p>You don't have the permission to see this page.</p>
                {%endif%} 
            {%else%} 
                    <h2 class="font-light green">{{ photolibrary.title }}          </h2> 
                    <p>  {% autoescape off %}
                          {{ photolibrary.short_description|safe }}
                      {% endautoescape %}      
                    </p>
                    {% include "iyph/phototable.html" %}
            {%endif%} 
        </div>
     </div>
     
       
    
     
 <!-- DX col ------------------------------>
      <div class="col-4" >
        <!-- DX box1 -->
       {% include "iyph/how.html" %}
       </div>
      
    
</div>





















</div> 


{% endblock main %}

{% block extra_js %}
  <script src="{% static "js/jquery.dataTables.js" %}"></script>
  <script src="{% static "js/DT_bootstrap.js" %}"></script>
{% endblock %}

{% block pageinfo %}
{% endblock pageinfo %}