{% load mezzanine_tags staticfiles i18n %}

{%if photolibrary.id == 4%}
   {% if user.is_superuser or perms.ippc.change_publication  or perms.iyph.change_photo %}
   <table class="table table-condensed table-striped table-bordered" id="publications">
    <thead>
        <tr>
            <th>{% trans "Photo" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Edit" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for photo in photos %}
         <tr id="media-file-{{ photo.id }}">
            <td>
                <a id="title_{{ photo.id }}" href="/iyph/photo/{{ photo.id }}"><img src="/static/media/{{ photo.image }}" width="250px"></a>
            </td>
            <td>{{ photo.short_description }}<br><br><b>Photographer name:  </b>{{ photo.photographer_first_name }} {{ photo.photographer_last_name }}
            <br><b>Photographer email: </b>{{ photo.email}}
            <br><b>Photographer age: </b>{{ photo.age}}
                <br><b>Photographer country: </b>{{ photo.country}}
                    <br><b>Date taken: </b>{{ photo.date_taken}}
                     <br> <b>Place taken: </b>{{ photo.place_taken}}
                     <br> <b>Agree to the Terms and Condition: </b>{{ photo.agree}}
            </td>
              <td> {% if user.is_superuser or perms.ippc.change_publication %} <a class="btn btn-small btn-success" href="/admin/iyph/photo/{{photo.id}}" style="color:#fff;"><i class="icon-edit icon-white"></i> {% trans "Edit as admin" %}</a>  {% endif %}     </p>
    
             </td>
        </tr> 
    {% endfor %} 
  
    </tbody>
</table>
    {%else%}
       <div class="col-12">You don't have the permission to see this page.</div>

    {% endif %} 
{% else %}              
<table class="table table-condensed table-striped table-bordered" id="publications">
    <thead>
        <tr>
            <th>{% trans "Photo" %}</th>
            <th>{% trans "Description" %}</th>
            {% if photolibrary.id == 3 %}  
                <th>{% trans "Prize" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for photo in photos %}
         <tr id="media-file-{{ photo.id }}">
            <td>
                <a id="title_{{ photo.id }}" href="/iyph/photo/{{ photo.id }}"><img src="/static/media/{{ photo.image }}" width="250px"></a>
            </td>
            <td>{{ photo.short_description }}<br>Photographer name: {{ photo.photographer }}</td>
          {% if photolibrary.id == 3 %}  
               <td>{{ photo.prize }}</td>
            {% endif %}
        </tr> 
    {% endfor %} 
  
    </tbody>
</table>
            {% endif %} 
    




