{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Question" %} {% endblock %}

{% block body_class %}wide{% endblock %}

{% block breadcrumb_menu %}
	<li>
	  <a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a>
	  <span class="divider">/</span>
	</li>
	<li>
		<a href="/irss/">{% trans "IRSS" %}</a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href="/qa/">{% trans "QA Forum" %}</a>
		<span class="divider">/</span>
	</li>
	</li>
	<li class="active">
		<b>{% trans "Editing" %}:</b> {{ question.question_title }}
	</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block mainspansize %}12{% endblock mainspansize %}
{% block main %}


<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<p><small class="normal">{% trans "Editing" %}</small> <b>{{ question.question_title }}</b></p>
<form enctype="multipart/form-data" class="customform" method="POST" action="{% url 'question-edit' question.id %}">
    {% csrf_token %}
    <fieldset>
        {% include "question/question_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update Question" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>


{% endblock %}

