{% extends "fileupload/file_base.html" %}
{% block head_title %}{{file.filename}} - Files{% endblock  %}
{# http://stackoverflow.com/questions/4578685/noreversematch-while-rendering-reverse-for-django-contrib-auth-views-login #}
{% load url from future %}
{% load upload_tags %}

{% block body %}
<div class="container">

        <h2>{{file.filename}} <small><a href="{{ slug }}" title="permalink to this page">#</a></small>
        <small class="smaller">uploaded by
            <a href="/profiles/{{file.uploaded_by}}">
            {% if file.uploaded_by.get_profile.name %}
                   {{ file.uploaded_by.get_profile.name }}
                   {% else %}
                   {{file.uploaded_by.username}}
               {% endif %}
           </a>
           on
           {{ file.last_change|date:"l, d M Y"}} at {{ file.last_change|date:"H:i"}}
           </small>
        </h2>
        <p><strong>Direct link:</strong> <span class="quiet">(triple-click to select, then copy and paste):</span></p>
        <p><code>http://{{SITE_NAME}}{{file.file.url}}</code></p>
        {# <p>Or click and drag this link to the place in the text file or form field where you want to embed the file:</p> #}
        {# <p><strong><a href="{{ file.file.url }}">{{ file.filename }}</a></strong></p> #}
        <p><strong>Markdown-syntax link:</strong> <span class="quiet">(triple-click to select, then copy and paste):</span></p>
        <p><code>![](http://{{SITE_NAME}}{{file.file.url}})</code></p>
        <p><strong>File:</strong></p>
        <a href="{{ file.file.url }}">
            {# =todo: see why thumbs are not working and get them working. show file icons if not images. #}
            <a href="{{ file.file.url }}">{{file.filename}}</a>
            <br>
            <img style="border:1px solid #ddd;" src="{{ file.file.url }}">
        </a>

        {% ifequal file.uploaded_by request.user %}
            <br>
            <br>
                    <a class="btn btn-danger" href="{% url 'upload-delete' file.id %}">
                        <i class="icon-trash icon-white"></i>
                        
                        <span>Delete</span>
                    </a>
        {% endifequal %}


    </div>

{% upload_js %}

{# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script> #}
{# <script src="{{ STATIC_URL }}js/tmpl.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/load-image.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/canvas-to-blob.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/bootstrap-image-gallery.min.js"></script> #}
{# <script src="{{ STATIC_URL }}js/jquery.iframe-transport.js"></script> #}
{# <script src="{{ STATIC_URL }}js/jquery.fileupload.js"></script> #}
{# <script src="{{ STATIC_URL }}js/jquery.fileupload-fp.js"></script> #}
{# <script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script> #}
{# <script src="{{ STATIC_URL }}js/locale.js"></script> #}
{# <script src="{{ STATIC_URL }}js/main.js"></script> #}
{# <script src="{{ STATIC_URL }}js/csrf.js"></script> #}
{% endblock %}
