{% extends "fileupload/file_base.html" %}
{% block head_title %}Uploaded Files{% endblock  %}
{% block subnav %}
    {{block.super}}
{% endblock subnav %}

{% block body %}
<div class="container">
    {# <h2>List of Uploaded Files</h2> #}
    {% load pagination_tags %}
    {% autopaginate file_list 30 %}
    <table class="files table table-striped">
        <tr>
            <th>Name</th>
            <th>Last Changed</th>
            <th>URL for embedding <small class="quiet normal">triple-click to select, then copy and paste</small></th>
            {# <th>Author</th> #}
        </tr>
        {% for file in file_list %}
        <tr>
            {# <td class="preview"> #}
            {#     <a href="/files/{{file.id}}/{{ file.slug }}"><img src="{{ file.file.url }}"></a> #}
            {# </td> #}
            <td class="name"><a href="/files/{{file.id}}/{{ file.slug }}">{{ file.filename }}</a></td>
            <td>
                {{ file.last_change|date:"D d M Y, H:i" }}
            </td>
            <td class="delete">
                <code>http://{{SITE_NAME}}{{file.file.url}}</code><br>
                <small class="quiet">Uploaded by: {% if file.uploaded_by.get_profile.name %}{{ file.uploaded_by.get_profile.name }}{% else %}{{ file.uploaded_by.username }}{% endif %}</small>
                {% ifequal file.uploaded_by request.user %}
                <a class="btn btn-small btn-danger" href="{% url upload-delete file.id %}">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </a>
                {% endifequal %}
            </td>
            {# <td>{{ user }}</td> #}
        </tr>
        {% endfor %}
    </table>
    {% paginate %}
</div>

{% endblock %}