{% extends "baseiyph.html" %}
{% load i18n mezzanine_tags keyword_tags translate_tags %}

{% block meta_title %}
    {% with page.richtextpage|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
    {% endwith %}
{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% with page.richtextpage|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
    {% endwith %}
{% endblock %}

{% block main %}
 {% if user.is_superuser %} 
    <div class="pull-right">
        <a class="btn btn-info btn-small" href="/admin/pages/richtextpage/{{ page.id }}">Edit as Admin</a><br>
    </div>
    {% endif %}
    
    
    {{ block.super }}
    {% with page.richtextpage|get_object_translation as translated_page %}
        {{ translated_page.content|richtext_filter|safe }}
    {% endwith %}
    {% ifequal page.id  530 %} 
         {% include "pages/tools.html" %}
    {% endifequal %}
    
{% endblock %}



