{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags comment_tags %}

{% block meta_title %}{{ post.title }}{% endblock %}

{% block breadcrumb_menu %}
<li><a href="/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li><a href="/forum/">Forum</a><span class="divider">/</span></li>
<li class="active">{{ post.title }}</li>
{% endblock %}

{% block local_nav %}
<div class="well localnav">
  {# <p><a href="/countries/{{ report.country.name|slugify }}/pestreports/">« {% trans "Back to" %} {% trans "Pest Reports" %}</a></p> #}
  {#   {% if user.is_superuser %}  #}
  {#       <a class="btn btn-small btn-info" href="/admin/ippc/pestreport/{{ report.id }}">Edit as Admin</a><br> #}
  {#   {% endif %} #}
  {#        #}
  {#   {% if perms.ippc.change_pestreport and request.user.get_profile.country.name == page.title %} #}
  {#       <a class="btn btn-small btn-info" href="{% url 'pest-report-edit' report.country.name|slugify report.id %}"><i class="icon-edit icon-white"></i> Edit</a> #}
  {#   {% else %} #}
  {#   {% endif %} #}
</div>
{% endblock local_nav %}

{% block pageinfo %}

{% endblock pageinfo %}

{% block main %}
<h1>{{ post.title }}</h1> 
{{ post.content }}
{% comments_for post %}
{% endblock %}

