{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

{% block meta_title %}{% trans "Edit Phytosanitary Treatment" %} - {{ phytotreatment.title}} {% endblock %}



{% block body_class %}wide{% endblock %}


{% block breadcrumb_menu %}
<!--li class="breadcrumb-item"><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li-->
<li class="breadcrumb-item">
  <a href="/core-activities/">{% trans "Core Activities" %}</a>
 
</li>
<li class="breadcrumb-item">
  <a href="/core-activities/standards-setting/">{% trans "Standards setting" %}</a>
 
</li>

<li class="breadcrumb-item">
  <a href="/core-activities/standards-setting/expert-drafting-groups/technical-panels/">{% trans "Technical panels (TPs)" %}</a>
 
</li>
<li class="breadcrumb-item">
  <a href="/core-activities/standards-setting/expert-drafting-groups/technical-panels/technical-panel-phytosanitary-treatments/">{% trans "Technical Panel Phytosanitary Treatments (TPPT)" %}</a>
 
</li>

<li class="breadcrumb-item">
  <a href="/core-activities/standards-setting/technical-panels/technical-panel-phytosanitary-treatments/phytosanitary-treatments-tool/">{% trans "IPPC Phytosanitary Treatments search tool" %}</a>
</li>
<!--li class=" class="breadcrumb-item active">{% trans "Editing: " %} {{ phytotreatment.title }}</li-->
<li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}

<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<h1><small class="normal">{% trans "Editing" %}</small> {{ phytotreatment.title }} <br><small class="normal">{% trans "Last updated on" %} {{phytotreatment.modify_date}}</small></h1>

<form enctype="multipart/form-data" class="customform" method="POST">
   {% csrf_token %}
    <fieldset>
        {% include "phytotreatment/phytotreatment_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update Record" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>

{% endblock %}
