{% extends "base.html" %}
{% load i18n future mezzanine_tags calls_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Calls" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{# {% editable page.title %}{{ page.title }}{% endeditable %} #}
{{ page.title }}
{% else %}
{% trans "Calls" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or category or year or month or author %}
<li class="breadcrumb-item">{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if category %}
    {% trans "Category:" %} {{ category }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}

{% block main %}

{% if tag or category or year or month or author %}
    {% block calls_post_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing tagged as: " %} <strong>{{ tag }}</strong>
    {% else %}{% if category %}
        {% trans "Viewing posts for the category" %} <strong>{{ category }}</strong>
    {% else %}{% if year or month %}
        {% trans "Viewing items from" %} <strong>{% if month %}{{ month }}, {% endif %}
        {{ year }}</strong>
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block calls_post_list_pagecontent %}
    {# {% editable page.richtextpage.content %} #}
    {{ page.richtextpage.content|richtext_filter|safe }}
    {# {% endeditable %} #}
    {% endblock %}
    {% endif %}
{% endif %}

{% for calls_post in calls_posts.object_list %}
{% block calls_post_list_post_title %}

<div class="row border-bottom pb-2 mb-2">
        <!--Grid column-->
          {% if  calls_post.featured_image %}
          <div class="col-md-3 mb-4 mb-md-0  pt-2">
            <!--Image-->
            <div class="view overlay z-depth-1-half hover-zoomin2">
                <a href="{{ calls_post.get_absolute_url }}">
               {#settings.news_USE_FEATURED_IMAGE and #}
                    <img src="{{ MEDIA_URL }}{% thumbnail calls_post.featured_image 800 800 %}" class="img-fluid mt-1 " alt="">
               
                </a>
            </div>

        </div>
      {% endif %}
        <!--Grid column-->
            {% if  calls_post.featured_image %}
      
        <div class="col-md-9 mb-4 mb-md-0">
            {% else %}
      <div class="col-md-12 mb-4 mb-md-0">
                  {% endif %}
      <h5 class="font-weight-bold ">
            {% with calls_post|get_object_translation as translated_page %}
                {{ translated_page.title|safe }}
            {% endwith %}
            </h5>

          <p class="text-muted  mb-0">
            {% trans "Posted " %}
                {% with calls_post.category.all as categories %}
                    {% if categories %}
                        {% trans "in" %}
                        {% for category in categories %}
                            <a href="{% url "calls_post_list_category" category.slug %}">{{ category }}</a>
                        {% endfor %}
                        {% endif %}
                {% endwith %}
                {% blocktrans with thetime=calls_post.publish_date|date:"D, d M Y, H:i" %} <span class="normal">on</span> {{ thetime }}{% endblocktrans %}
                {% if calls_post.deadline_date != null %}
<br>
    {% trans "Deadline " %}
   {% blocktrans with thetime=calls_post.deadline_date|date:"D, d M Y, H:i" %} <span class="normal">on</span> {{ thetime }}{% endblocktrans %}

    {% endif %}<br>
                {% with calls_post|get_object_translation as translated_page %}
                    {% if LANGUAGE_CODE == 'zh' %}
                        {{ translated_page.content|richtext_filter|safe |truncatechars:100 }} 
                    {% else %}
                        {{ translated_page.content|richtext_filter|safe |truncatewords_html:40 }} <!--truncatewords_html:100-->
                      {% endif %}
                 {% endwith %}
            </p>		
	   <a class="btn btn-sm p-0 " href="{{ calls_post.get_absolute_url }}" role="button">{% trans "Read more" %}<i class="fas fa-angle-double-right ml-2"></i></a>


          

        </div>
        <!--Grid column-->

      </div>







{% endblock %}











{% endfor %}

{% pagination_for calls_posts %}


{% endblock %}

{% block local_nav %}
{% include "calls/includes/filter_panel.html" %}
{% endblock %}

{% block pageinfo %}{% endblock pageinfo %}