{% extends "calls/calls_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags calls_tags %}


{% block meta_title %}{{ calls_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for calls_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ calls_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{# {% editable calls_post.title %} #}
 {% with calls_post|get_object_translation as translated_page %}
            {{ translated_page.title|safe }}
    {% endwith %}
{# {% endeditable %} #}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
 <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-angle-double-down"></i></li>
{% endblock %}

{# =note: the sidebar is in the filter_panel.html include #}

{% block main %}

{% if user.is_superuser or perms.calls.add_callspost  %} {#and request.user.get_profile.user_id  == calls_post.user_id#} 

    <div class="pull-right">
        <a class="btn btn-info btn-small" href="/admin/calls/callspost/{{ calls_post.id }}">{% trans "Edit as Admin" %}</a><br>
    </div>
{% endif %}
{% block calls_post_detail_postedby %}

<p>
    {% trans "Posted " %}
    {% blocktrans with sometime=calls_post.publish_date|date:"D, d M Y, H:i" %}on {{ sometime }}{% endblocktrans %}    
</p>
{% if calls_post.deadline_date != null %}
<p>
    {% trans "Deadline " %}
   {% blocktrans with thetime=calls_post.deadline_date|date:"D, d M Y, H:i" %} <span class="normal">on</span> {{ thetime }}{% endblocktrans %}
</p>
    {% endif %}

{% endblock %}

{% block calls_post_detail_featured_image %}
{% if  calls_post.featured_image %} {#settings.CALLS_USE_FEATURED_IMAGE and#}
   <img src="{{ MEDIA_URL }}{% thumbnail calls_post.featured_image 800 400 %}" class="img-fluid mb-1" alt="Responsive image">
{% endif %}
{% endblock %}


{% block calls_post_detail_content %}



 {% with calls_post|get_object_translation as translated_page %}
            {{ translated_page.content|richtext_filter|safe  }}
    {% endwith %}

{% endblock %}

{% block calls_post_detail_keywords %}
{% keywords_for calls_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "calls_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}


{% block calls_post_previous_next %}
<!--ul class="pager">
{% with calls_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with calls_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul-->
{% endblock %}

{% block calls_post_detail_related_posts %}
{% if calls_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in calls_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}



{% endblock %}
