{% load i18n future mezzanine_tags accounts_tags %}
  {% if user.is_superuser %} 
  <div class="pull-right">
      <a class="btn btn-small btn-info" href="/admin/auth/user/{{ page.get_content_model.contact_point.get_profile.user_id }}">Edit User as Admin</a><br>
  </div>
  {% endif %}
  
  {% if page.get_content_model.contact_point.username == request.user.username %} 
    <div class="pull-right">
      <a class="btn btn-large btn-info" href="{% url 'profile_update' %}">{% trans "Update Profile" %}</a>
		</div>
  {% endif %}
  
  {% if page.get_content_model.contact_point.get_profile.profile_photo %}
  <img class="pull-left profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail page.get_content_model.contact_point.get_profile.profile_photo 128 128 %}">
  {% else %}
   <span class="pull-left profile-picture" style="font-size:10em; color: #FFF; background-color: #eee;height:128px; width:128px;"><i class="fas fa-user"> </i></span> 
  {% endif %}


  


<h6>&#160;&#160;
    {% if page.get_content_model.contact_point.get_profile.get_gender_display %}
			{{ page.get_content_model.contact_point.get_profile.get_gender_display }}
    {% endif %}
    {# {{ page.get_content_model.contact_point.get_full_name }}  #}
    {{ page.get_content_model.contact_point.get_profile.first_name }} 
    <span class="caps">{{ page.get_content_model.contact_point.get_profile.last_name }}</span>
  </h6>
   {% if page.get_content_model.contact_point.get_profile.title %}
  <!--dt>{% trans "Title" %}</dt-->
  <p><i>&#160;&#160;
    {{ page.get_content_model.contact_point.get_profile.title }} 
  </i></br>
  {% endif %}
  
  {% if page.get_content_model.contact_point.get_profile.address1 or page.get_content_model.contact_point.get_profile.address2 %}
  <!--dt>{% trans "Address" %}</dt-->

    {% if page.get_content_model.contact_point.get_profile.address1 %} &#160;&#160;{{ page.get_content_model.contact_point.get_profile.address1 }}<br>{% endif %}
   {% if page.get_content_model.contact_point.get_profile.address2 %} &#160;&#160;{{ page.get_content_model.contact_point.get_profile.address2 }}<br>{% endif %}
  
  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.phone %}
  
 &#160;&#160;<strong>{% trans "Phone" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.phone }} 
</br>
  {% endif %}
   {% if page.get_content_model.contact_point.get_profile.mobile %}

 &#160;&#160;  <strong>{% trans "Mobile" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.mobile }} 
</br>
  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.fax %}

 &#160;&#160;  <strong>{% trans "Fax" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.fax }} 
</br>
  {% endif %}
  
	{% if page.get_content_model.contact_point.email %}
 &#160;&#160;<strong>{% trans "Email" %}:</strong> {{ page.get_content_model.contact_point.email }}<br>
  {% endif %}
	
  {% if page.get_content_model.contact_point.get_profile.email_address_alt %}
 &#160;&#160;<strong>{% trans "Alternate Email" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.email_address_alt }} 
</br>

  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.preferredlanguage.all %}
   &#160;&#160;<strong>{% trans "Preferred languages" %}:</strong>
  
    {% for entry in page.get_content_model.contact_point.get_profile.preferredlanguage.all %}
        {{entry}}{% if forloop.last %} {% else %},{% endif %}
      {% endfor %}
    
  </br>
  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.website %}
    &#160;&#160;<strong>{% trans "Website" %}:</strong>

       <a href="{{ page.get_content_model.contact_point.get_profile.website }} ">{{ page.get_content_model.contact_point.get_profile.website }}</a>
 
    
  </br>
  {% endif %}
  {% if user.is_superuser and page.get_content_model.contact_point.get_profile.date_account_created %}
 &#160;&#160;<strong>{% trans "IPP Member Since" %}:</strong>
        {% blocktrans with sometime=page.get_content_model.contact_point.get_profile.date_account_created|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
</br>
	
  {% endif %}
  {% if  page.get_content_model.contact_point.get_profile.date_contact_registration %}
 &#160;&#160;<strong>{% trans "Date contact registration" %}:</strong>
        {% blocktrans with sometime=page.get_content_model.contact_point.get_profile.date_contact_registration|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
</br>
	
  {% endif %}
  

  
  
  
  {% if page.get_content_model.contact_point.get_profile.bio %}
    <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>

 &#160;&#160;
   <strong>{% trans "Brief Biography" %}</strong> <a href="#" onclick="javascript:toggle_visibility('bio');"><small>{% trans "Click to display" %}</small></a>
   <div id="bio" style="display:none;">{{ page.get_content_model.contact_point.get_profile.bio }}</div></dd>
  {% endif %}
  
  
    {% if page.get_content_model.contact_point.get_profile.expertise %}
    <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>

 &#160;&#160;
   <strong>{% trans "Description/expertise" %}</strong> <a href="#" onclick="javascript:toggle_visibility('exp');"><small>{% trans "Click to display" %}</small></a>
   <div id="exp" style="display:none;">{{ page.get_content_model.contact_point.get_profile.expertise }}</div></dd>
  {% endif %}
  


  
  
  {% if page.get_content_model.contact_point.get_profile.country %}
  <!--dt>{% trans "IPPC Country" %}</strong>
  <p>&#160;&#160;
    {% if page.get_content_model.contact_point.get_profile.country.name %}<b>{{ page.get_content_model.contact_point.get_profile.country.name }}</b>{% endif %}
  </dd-->
  {% endif %}
  
 
