{% load i18n future mezzanine_tags accounts_tags %}
  {% if user.is_superuser %} 
  <div class="pull-right">
      <a class="btn btn-small btn-info" href="/admin/auth/user/{{ page.get_content_model.contact_point.get_profile.user_id }}">Edit User as Admin</a><br>
  </div>
  {% endif %}
  
  {% if page.get_content_model.contact_point.username == request.user.username %} 
    <div class="pull-right">
      <a class="btn btn-large btn-info" href="{% url 'profile_update' %}">{% trans "Update Profile" %}</a>
		</div>
  {% endif %}
  
  {% if page.get_content_model.contact_point.get_profile.profile_photo %}
  <img class="pull-left profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail page.get_content_model.contact_point.get_profile.profile_photo 128 128 %}">
  {% else %}
  <a class="pull-left profile-picture" style="height:128px; width:128px; background:#eee;"></a>
  {% endif %}


<dl class="dl-horizontal">
  {# {% if user.is_superuser or page.get_content_model.contact_point.username == request.user.username %}  #}
  <!--dt>{% trans "Username" %}</strong> 
  <dd>{{ page.get_content_model.contact_point.username }}</dd-->
  {# {% endif %} #}
  


  <!--dt>{% trans "Name" %}</dt-->
  <dd><h6>
    {% if page.get_content_model.contact_point.get_profile.get_gender_display %}
			{{ page.get_content_model.contact_point.get_profile.get_gender_display }}
    {% endif %}
    {# {{ page.get_content_model.contact_point.get_full_name }}  #}
    {{ page.get_content_model.contact_point.get_profile.first_name }} 
    <span class="caps">{{ page.get_content_model.contact_point.get_profile.last_name }}</span>
  </h6></dd>
   {% if page.get_content_model.contact_point.get_profile.title %}
  <!--dt>{% trans "Title" %}</dt-->
  <dd><i>
    {{ page.get_content_model.contact_point.get_profile.title }} 
  </i></dd>
  {% endif %}
  
  {% if page.get_content_model.contact_point.get_profile.address1 or page.get_content_model.contact_point.get_profile.address2 %}
  <!--dt>{% trans "Address" %}</dt-->
  <dd>
    {% if page.get_content_model.contact_point.get_profile.address1 %}{{ page.get_content_model.contact_point.get_profile.address1 }}<br>{% endif %}
    {% if page.get_content_model.contact_point.get_profile.address2 %}{{ page.get_content_model.contact_point.get_profile.address2 }}<br>{% endif %}
  </dd>
  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.phone %}
  
  <dd><strong>{% trans "Phone" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.phone }} 
  </dd>
  {% endif %}
   {% if page.get_content_model.contact_point.get_profile.mobile %}

  <dd>  <strong>{% trans "Mobile" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.mobile }} 
  </dd>
  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.fax %}

  <dd>  <strong>{% trans "Fax" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.fax }} 
  </dd>
  {% endif %}
  
	{% if page.get_content_model.contact_point.email %}
  <dd><strong>{% trans "Email" %}:</strong> {{ page.get_content_model.contact_point.email }}</dd>
  {% endif %}
	
  {% if page.get_content_model.contact_point.get_profile.email_address_alt %}
  <dd><strong>{% trans "Alternate Email" %}:</strong>
    {{ page.get_content_model.contact_point.get_profile.email_address_alt }} 
  </dd>

  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.preferredlanguage.all %}
    <dd><strong>{% trans "Preferred languages" %}:</strong>
  
    {% for entry in page.get_content_model.contact_point.get_profile.preferredlanguage.all %}
        {{entry}}{% if forloop.last %} {% else %},{% endif %}
      {% endfor %}
    
    </dd>
  {% endif %}
  {% if page.get_content_model.contact_point.get_profile.website %}
     <dd><strong>{% trans "Website" %}:</strong>

       <a href="{{ page.get_content_model.contact_point.get_profile.website }} ">{{ page.get_content_model.contact_point.get_profile.website }}</a>
 
    
    </dd>
  {% endif %}
  {% if user.is_superuser and page.get_content_model.contact_point.get_profile.date_account_created %}
  <dd><strong>{% trans "IPP Member Since" %}:</strong>
        {% blocktrans with sometime=page.get_content_model.contact_point.get_profile.date_account_created|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
  </dd>
	
  {% endif %}
  {% if  page.get_content_model.contact_point.get_profile.date_contact_registration %}
  <dd><strong>{% trans "Date contact registration" %}:</strong>
        {% blocktrans with sometime=page.get_content_model.contact_point.get_profile.date_contact_registration|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
  </dd>
	
  {% endif %}
  

  
  
  
  {% if page.get_content_model.contact_point.get_profile.bio %}
    <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>

  <dd>
   <strong>{% trans "Brief Biography" %}</strong> <a href="#" onclick="javascript:toggle_visibility('bio');"><small>{% trans "Click to display" %}</small></a>
   <div id="bio" style="display:none;">{{ page.get_content_model.contact_point.get_profile.bio }}</div></dd>
  {% endif %}
  
  
    {% if page.get_content_model.contact_point.get_profile.expertise %}
    <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>

  <dd>
   <strong>{% trans "Description/expertise" %}</strong> <a href="#" onclick="javascript:toggle_visibility('exp');"><small>{% trans "Click to display" %}</small></a>
   <div id="exp" style="display:none;">{{ page.get_content_model.contact_point.get_profile.expertise }}</div></dd>
  {% endif %}
  


  
  
  {% if page.get_content_model.contact_point.get_profile.country %}
  <!--dt>{% trans "IPPC Country" %}</strong>
  <dd>
    {% if page.get_content_model.contact_point.get_profile.country.name %}<b>{{ page.get_content_model.contact_point.get_profile.country.name }}</b>{% endif %}
  </dd-->
  {% endif %}
  
 
