{% extends "base.html" %}
{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}




{% block meta_title %}{% trans "User Membership History entry" %} {% endblock %}

{% block body_class %}wide{% endblock %}


{% block breadcrumb_menu %}
<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Home" %}</a><span class="divider">/</span></li>
<li>
  <a href="/work-area/">Workarea</a>
  <span class="divider">/</span>
</li><li>
  <a href="/work-area/user_membership/">{% trans "User Membership History" %}</a>
  <span class="divider">/</span>
</li>
<li class="active">{% trans "Editing: " %}{{username}}</li>
{% endblock %}

{% block local_nav %}
{% endblock local_nav %}

{% block pageinfo %}
{% endblock pageinfo %}

{% block main %}


<p class="pull-right">
  <a href="javascript:history.go(-1)">{% trans "« Cancel and go back" %}</a>
</p>

<h1><small class="normal">{% trans "Editing: " %}</small>{{ username }}</h1>
<form enctype="multipart/form-data" class="customform" method="POST" >
    {% csrf_token %}
    <fieldset>
         {% include "accounts/user_membership_form.html" %}
        <div class="form-actions">
            <button type="submit" class="btn btn-info btn-large">{% trans "Update user membership" %}</button> {% trans "or" %} <a href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
        </div>
    </fieldset>
</form>


{% endblock %}

