{% load news_tags keyword_tags i18n future %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags news_tags %}

{% if user.is_superuser  or perms.news.add_newspost  %} 
    <div class="pull-right">
        <a class="btn btn-small btn-info" href="/admin/news/newspost/add/">{% trans "Add new news" %}</a><br>
    </div>
   
{% endif %}


{% if news_post %}
    {% if news_post.related_info %}
    <div class="card card-cascade wider" style="width: 100%">
      <div class="card-body card-body-cascader">
           {% with news_post|get_object_translation as translated_page %}
                {{ translated_page.related_info|richtext_filter|safe }}
            {% endwith %}
      </div>
    </div>
    {% endif %}
    <div class="card card-cascade wider" style="width: 100%">
      <div class="card-body card-body-cascade text-center">
        <p class="card-text">{% trans "Share this news" %}</p>
        <a target="_blank" href="http://twitter.com/home?status={{ news_post.short_url|urlencode }}%20{{ news_post.title|urlencode }}"><button on type="button" class="btn btn-fb"><i class="fab fa-facebook-f"></i></button></a>
        <a target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ news_post.title|urlencode }}"><button type="button" class="btn btn-tw"><i class="fab fa-twitter"></i></button></a>
        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ news_post.title|urlencode }}"><button type="button" class="btn btn-in"><i class="fab fa-linkedin-in"></i></button></a>
      </div>
    </div>
{% endif %}
 <div class="card mt-5" style="width: 100%">
    <div class="card-header">
        <h3 class="my-0">{% trans "Subscribe" %}</h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>{% trans "Don't miss the latest " %}{%if category.id == 1 %} News{%elif category.id == 3 %} Announcements{% endif %}</b><br>
            <br>
        {% if request.user.is_authenticated %}
            {% if subscribed %}
                <u><b> You are already  {% trans "Subscribed to " %}{%if category.id == 1 %} News{%elif category.id == 3 %} Announcements{% endif %}.</b></u>
                <br>If you want to un-subscribe click the button below:<br>
                <a class="btn btn-small btn-info" href="/news-un-subscribe/{{category.id}}?return_url={{ request.path }}">{% trans "Un-Subscribe" %}</a>
            {% else %}
             <a class="btn btn-small btn-info" href="/news-subscribe/{{category.id}}/?return_url={{ request.path }}">{% trans "Subscribe" %}</a>
         
            {% endif %}
        {% else %}
          If you have already an IPP account <a class="btn btn-small btn-info" href="/accounts/login/?next=/en/news/category/ippcnews/">{% trans "LOGIN" %}</a> to subscribe. 
          <br><br>
          If you don't have an IPP account first <a class="btn btn-small btn-info" href="/accounts/autoregister/?return_url={{ request.path }}">{% trans "REGISTER" %}</a>  to subscribe.

          {% endif %}
</li>
    </ul>
</div>
{% if news_post %}
{% else %}
{% block news_months %}
    {% news_months_for_category category=category  as months_for_category  %}
    {% news_months_for_category1 category=category  as months_for_category1  %}
    {% keywords_for news.newspost as tags %}
    <script type="text/javascript" charset="utf-8">
    $(function() {
        $('#month').change(function() {
            window.location.href = $(this).val() + '';
        });
        $('#tag').change(function() {
            window.location.href = $(this).val() + '';
        });
    });
    </script>  
    {% if months_for_category or tags %}
        <!-- Card content -->
        <div class="card bg-light">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-archive mr-2"></i><a>{% trans "News archive" %}</a></h4>
                {% if months_for_category %}
                <select class="form-control mt-4 mb-4" id="month">
                    <option value="" disabled="" selected="">Year</option>
                    {% for month in months_for_category %}
                        {% ifchanged month.date.year %} 
                            <option style="font-size: 1px; background-color: #ebebeb;" disabled>&nbsp;</option>
                            <option style="background-color: #cccccc;" value="" disabled=""><h6>{{ month.date.year }}<small> (<i>{% for aaa in months_for_category1 %}
                            {%if aaa.0 == month.date.year %}{{aaa.1}}{% endif %}{% endfor %}</i>)</small></h6>  </option> 
                        {% endifchanged %}
                        <option value="{% url "news_post_list_month" year=month.date.year month=month.date.month %}">{{ month.date|date:"F" }}</a> ({{ month.post_count }})</option> 
                    {% endfor %}
                </select>
                {% endif %}

                {% if tags %}
                <select class="form-control mt-4 mb-4" id="tag">
                    <option value="" disabled="" selected="">{% trans "Tags" %}</option>
                    {% for tag in tags %}
                        <option value="{% url "news_post_list_tag" tag.slug %}">{{ tag }} ({{ tag.item_count }})</option>
                    {% endfor %}
                </select>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}




{% block news_feeds %}
    <div class="card mt-5" style="width: 100%">
        <div class="card-header">
            <h3 class="my-0">{% trans "Feeds" %}</h3>
        </div>
        <ul class="list-group list-group-flush">
           {% if tag %}
                <li class="list-group-item">   <a href="{% url "news_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
                <a href="{% url "news_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a></li>
            {% endif %}
            {% if category %}
                <li class="list-group-item"><a href="{% url "news_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
                <a href="{% url "news_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a></li>
            {% endif %}
            {% if author %}
               <li class="list-group-item"> <a href="{% url "news_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
                <a href="{% url "news_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a></li>
            {% endif %}
            {% if not tag and not category and not author %}
              <li class="list-group-item">  <a href="{% url "news_post_feed" "rss" %}">{% trans "RSS" %}</a> /
                <a href="{% url "news_post_feed" "atom" %}">{% trans "Atom" %}</a></li>
            {% endif %}
         </ul>
    </div>
{% endblock %}
{% endif %}