{% extends "learn/baselearn.html" %}

{% load pages_tags translate_tags mezzanine_tags i18n future staticfiles accounts_tags %}

    {% block meta_title %}{% trans "e-Learning Course" %} - {{course.title}} {% endblock %}

    {% block body_class %}wide{% endblock %}

    {% block breadcrumb_menu %}
        <li>
            <a href="/{{ LANGUAGE_CODE }}/e-learning/">{% trans "e-Learning Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="/{{ LANGUAGE_CODE }}/e-learning/courses/">  {% trans "Courses" %}</a>
            <span class="divider">/</span>
        <li>
        <li class="active">{{course.title}}</li>
    {% endblock %}

    {% block local_nav %}
    {% endblock local_nav %}

    {% block pageinfo %}
    {% endblock pageinfo %}

   
{% block main %}  
{% block content %}
    {% if canseecourse %}
    <div id="content">
     <div class="row-fluid"> 
        <div class="span9">
            <div class="panel panel-default"> 
                <div class="container">

                    <h4><a href="/e-learning/courses/{{course.id}}/modules/">{{course.title}}</a></h4>
<div class="span8">
                     {% autoescape off %} 
                            {{course.coursesummary}}
                     {% endautoescape %} 
  </div>
                 </div>
             </div>    
          </div> 
      
       <div class="span3">
       {% nevercache %}
            {% include "learn/userdetailpanel.html" %}
            {% endnevercache %}
    </div> 
           
    </div>
        
     {% else %}
  {% nevercache %}
            {% include "learn/permissionblock.html" %}
            {% endnevercache %}
   
      
 </div> 
{% endif %}

{% endblock %}

{% endblock %}


