{% load i18n future %}
{% block main %}
<p>{% trans "Hey there, your account has been activated." %}</p>
<p>{% trans "Please use the link below to log in." %}</p>
<p><a href="http://{{ request.get_host }}{% url "login" %}">http://{{ request.get_host }}{% url "login" %}</a></p>
<p>{% trans "Information Exchange (IPPC) team" %}</p>
<p>{% trans "The IPPC is an international treaty to secure action to prevent the spread and introduction of pests of plants and plant products, and to promote appropriate measures for their control. It is governed by the Commission on Phytosanitary Measures (CPM) which adopts International Standards for Phytosanitary Measures (ISPMs). The CPM established the IPP as the forum for national reporting and exchange of more general information among the phytosanitary community. The IPPC Secretariat coordinates the activities of the Convention and is hosted by FAO." %}</p>
{% endblock %}
