<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index,follow">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %} - {% trans "International Plant Protection Convention" %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
<link rel="stylesheet" type="text/css" href="/static/grappelli/css/widgets.css">
{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
<link rel="stylesheet" href="{% static "css/ippc.css" %}">
<link rel="stylesheet" href="{% static "css/chosen.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
 <script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>

<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>

<!--script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script-->
 <script type="tepxt/javascript" src="/static/admin/js/jquery.min.js"></script> 
 <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
 <script type="text/javascript" src="/static/admin/js/actions.min.js"></script> 
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>

<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

{% include 'autocomplete_light/static.html' %}
{# 'add another' form field functionality #}
<script src="{% static "js/jquery.formset.js" %}"></script>

{# {% block extra_js %}{% endblock %} #} {# MOVED TO BOTTOM #}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<![endif]-->

{% if f_form.prefix %}
 <script type="text/javascript">
        $(function() {
            $(".inline.{{ f_form.prefix }}").formset({
                prefix: "{{ f_form.prefix }}",
            })
        })
       
    </script>
 {% endif %}  
 {% if u_form.prefix %}
     <script type="text/javascript">
        
       $(function() {
            $(".inline.{{ u_form.prefix }}").formset({
                prefix: "{{ u_form.prefix }}",
            })
        })
    </script>
 {% endif %} 
 {% if c_form.prefix %}
 <script type="text/javascript">
        $(function() {
            $(".inline.{{ c_form.prefix }}").formset({
                prefix: "{{ c_form.prefix }}",
            })
        })
       
    </script>
 {% endif %}  
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">
	<p style="margin:0;" class="alert alert-success">We are currently transitioning to a redesigned website. Please be patient in the next few days. More information will be provided shortly.</p>
    {# language bar #}
    {# http://pythonhosted.org/django-localeurl/usage.html #}
    {% load localeurl_tags %}
        <ul class="nav nav-pills small pull-left languagebar">
    {% for lang in LANGUAGES %}
        {% ifequal lang.0 LANGUAGE_CODE %}
            <li class="active"><a href="#">{{ lang.1 }}</a></li>
        {% else %}
            <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
        {% endifequal %}
    {% endfor %}
        </ul>

    <div class="nav-collapse collapse">
        {# toolbar, user panel, login/logout #}
        <div class="pull-right text-right">
            {% nevercache %}
            {% include "includes/user_panel.html" %}
            {% endnevercache %}
            {# <div class="panel"> #}
            {# {% block right_panel %} #}
            {# {% ifinstalled mezzanine.twitter %} #}
            {# {% include "twitter/tweets.html" %} #}
            {# {% endifinstalled %} #}
            {# {% endblock %} #}
            {# </div> #}
            {# <br> #}
            {% search_form "all" %}
            {# {% search_form %} #}
        </div>
    </div>
        
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    
    <div class="pull-left" style="clear:left;">
      <a class="brand" href="/">
        <img src="/static/img/ippc-logo-glyph-web-80x42.png" class="printlogo">
        <strong>
            {% trans "International Plant Protection Convention" %}
        </strong>
        <br>
            <em class="small">{% blocktrans %}Protecting the world's plant resources from pests{% endblocktrans %}</em>
      </a>
    </div>
    
    <div class="nav-collapse collapse">
      {% page_menu "pages/menus/dropdown.html" %}
    </div>
    
</div>
</div>
</div>

<div class="container-fluid">

{% block bread %}
<ul class="breadcrumb">
{% spaceless %}
{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
{% endspaceless %}
</ul>
{% endblock bread %}

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>
		{% if message.message == "Successfully signed up" %}
		  {{ "You have successfully activated your account! <b style='color:#060;'>Please set a new password below &darr;</b>" }}
		{# {% elif message.message == "Item removed from wishlist" %} #}
		  {# {{ "Item removed from your Favorites" }} #}
		{% else %}
			{{ message }}
		{% endif %}
</div>
{% endfor %}
{% endnevercache %}

<h2>{% block title %}{% endblock %}</h2>

</div>

<div class="container-fluid">
<div class="row-fluid">

<div class="span8 middle">
    {% block main %}{% endblock %}
</div>

<div class="span4 right">
    {% block local_nav %}
			{% block trans %}
			{% endblock trans %}
    {% endblock local_nav %}

    {% if page.id == 3 %}
        {% include "pages/menus/tree_key_cn.html" %}
    {% elif page.id == 522 %}
        <div class="panel tree">
            {% page_menu "pages/menus/tree.html" %}
        </div>
        {% include "pages/menus/tree_logos.html" %}
    {% elif page.id == 465 or  page.id == 466 or  page.id == 485 or page.parent_id == 466 or page.parent_id == 485 %}
        <div class="panel tree">
            {% page_menu "pages/menus/tree.html" %}
        </div> 
        {% include "pages/menus/tree_key_partners.html" %}
    {% elif page.id == 322 or  page.parent_id == 322   or  page.parent_id == 323 or  page.parent_id == 345       or  page.parent_id == 449 or  page.parent_id == 427 or  page.parent_id == 429 or  page.parent_id == 459   or  page.parent_id == 455 or  page.parent_id == 445 %}
        <div class="panel tree">
            {% page_menu "pages/menus/tree.html" %}
        </div> 
        {% include "pages/menus/tree_key_core.html" %}
		{# FAQ page show/hide #}
		{% elif	page.id == 858 %} 
			<style type="text/css" media="screen">
				h2 {margin-top:2em;}
				h3 {font-size:1.3em; line-height:1.5em;}
				.darkheadings a {color:#000; text-decoration:none;}
			</style>
    		{# =todo: Make links to local anchors (other FAQ questions) open the answer div on the same page - http://stackoverflow.com/questions/4648446/jquery-load-retrieve-page-div-by-id-in-anchor-link #}
			<script type="text/javascript">
				// SHOW/HIDE/TOGGLE script
    		// ============


		    $(document).ready(function(){
			        $("div.answer").hide();
			        $("h3").click(function(){
			            $(this).next().toggle("fast");
			            // trying to get the H3 to turn black when clicking: http://api.jquery.com/toggleClass/
			            $(this).toggleClass("darkheadings");
			            // stopping local anchor from being followed so the page doesn't jump
			            // return false;
			        });

			        // http://stackoverflow.com/questions/2848627/use-anchor-to-display-div
			        $(function() {
			            if(location.hash != "") {
			                // $(location.hash + ":hidden").toggle('fast').prev("h3").toggleClass('darkheadings');
			                				$(location.hash).next("div").toggle("fast").prev("h3").toggleClass("darkheadings");
			            }
			        });

			        // http://andylangton.co.uk/jquery-show-hidecomment by morvi on 10.01.2010 at 23:46
			        $("a.hideall").click(function() {
			            $("div.answer").hide("fast");
			            $("h3").removeClass("darkheadings");
			        });
			        $("a.showall").click(function() {
			            $("div.answer").show("fast");
			            $("h3").addClass("darkheadings");
			        });

			    });
			</script>
			<p class="floatright showhideanswers" style="margin-right:3em;">
			    <a class="showall" href="#">Show all answers</a><br>
			    <a class="hideall" href="#">Hide all answers</a>
			</p>
    {% else %}
    <div class="tree">
        {% page_menu "pages/menus/tree.html" %}
    </div> 
    {% endif %}
</div>

</div>
</div>

<footer>
<div class="container-fluid">
{% page_menu "pages/menus/footer.html" %}

<div class="span6 muted">
    <ul class="nav nav-pills small">
        {# <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li> #}
        {# <!--li><a href="{% url 'page' 'feeds' %}">{% trans "RSS feeds" %}</a></li--> #}
        {# <li><a href="{% url 'page' 'legal' %}">{% trans "Copyright & Disclaimer" %}</a></li> #}
        {# <!--li><a href="{% url 'page' 'colophon' %}">{% trans "About this site" %}</a--> #}
    </ul>
    <p class="text-left">{% trans "IPPC on Social Media:" %} <a href="http://www.facebook.com/pages/IPPC-Protecting-the-worlds-plant-resources-from-pests/113230338690380" class="icn-facebook">Facebook</a> | <a href="https://twitter.com/ippcnews" class="icn-twitter">Twitter</a></p>
</div>
    
<div class="span6 text-right muted">
    {% trans "The IPPC Secretariat is hosted &amp; provided by" %} <a href="http://www.fao.org">FAO</a>. <a style="vertical-align:bottom;" class="imglink" href="http://www.fao.org"><img class="faologo" src="{% static "img/fao-logo.gif" %}" alt="{% trans "Food and Agriculture Organization Logo" %}" height="58" width="58"></a><br><a style="margin-right:66px;" href="{% url 'page' 'legal' %}">{% trans "Copyright & Disclaimer" %}</a>
</div>


    {# {% trans "Powered by" %} #}
    {# <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %}, #}
    {# <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %} #}
    {# {% trans "and" %} #}
    {# <a href="http://www.djangoproject.com">Django</a> #}
    {# <span class="separator">|</span> #}
    {# {% trans "Theme by" %} <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> #}
    {# {% ifinstalled mezzanine.mobile %} #}
    {# <span class="separator">|</span> #}
    {# <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a> #}
    {# {% endifinstalled %} #}
</footer>

{# {% include "includes/footer_scripts.html" %} #}
{% compress js %}

{# better country selector using chosen - http://harvesthq.github.io/chosen/ #}
<script type="text/javascript" charset="utf-8">
  $(".chosen-select").chosen()  
</script>

{% block extra_js %}{% endblock %}
{% endcompress %}
{% comment %} Google Analytics {% endcomment %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-26969258-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
