
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
      {% load pages_tags mezzanine_tags i18n future staticfiles localeurl_tags %}
      <head>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"">
        <meta name="robots" content="index,follow">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="google-site-verification" content="7gYniolcWgnISXKdGyrk7JeW0RGCtu3cT0VAXZQjm9I" />
        <title>{% block meta_title %}{% endblock %} - {% trans "International Plant Protection Convention" %}</title>
        <!--link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"-->
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
        <link rel="stylesheet" type="text/css" href="/static/grappelli/css/widgets.css">
        {% ifinstalled mezzanine.blog %}
            <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
            <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
        {% endifinstalled %}

        {% compress css %}
            <!--link rel="stylesheet" href="{% static "css/bootstrap.css" %}"-->
            <!--link rel="stylesheet" href="{% static "css/mezzanine.css" %}"-->
            <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
              <!--link rel="stylesheet" href="{% static "css/ippc20160201_2.css" %}"-->
             <!-- Font Awesome --> 
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
            <link rel="stylesheet" type="text/css" href="{% static "css/gridipp/bootstrap/css/bootstrap.min.css" %}" >
            <link href="{% static "css/gridipp/bootstrap/css/animate.css" %}" rel="stylesheet" type="text/css">
            <!-- Bootstrap  CSS -->
            <link rel="stylesheet" href="{% static "css/gridipp/style.css" %}">
            <link rel="stylesheet" href="{% static "css/gridipp/style_1.css" %}">

              <link rel="stylesheet" href="{% static "css/chosen.css" %}">
              <link rel="stylesheet" href="{% static "schedule/css/schedule.css" %}" type="text/css" media="screen" />

              {% if LANGUAGE_BIDI %}
              <link rel="stylesheet" href="{% static "css/rtl.css" %}">
              {% endif %}
              {% ifinstalled cartridge.shop %}
              <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
              {% if LANGUAGE_BIDI %}
              <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
              {% endif %}
              {% endifinstalled %}
              {% block extra_css %}{% endblock %}
              {% endcompress %}

              {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/bootstrap-extras.js" %}"></script>
        <script src="{% static "js/chosen.jquery.min.js" %}"></script>
        <script src="{% static "js/jquery.min.js" %}"></script>
    
        <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>

        <!--script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js">        </script-->
        <script type="tepxt/javascript" src="/static/admin/js/jquery.min.js"></script> 
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script> 
        <script type="text/javascript" src="/static/admin/js/actions.min.js"></script> 
        <script type="text/javascript" src="/static/admin/js/calendar.js"></script>

        <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

        {% include 'autocomplete_light/static.html' %}
        {# 'add another' form field functionality #}
        <script src="{% static "js/jquery.formset.js" %}"></script>

        {# {% block extra_js %}{% endblock %} #} {# MOVED TO BOTTOM #}
        {% endcompress %}
        <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <![endif]-->

        {% if f_form.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ f_form.prefix }}").formset({
                    prefix: "{{ f_form.prefix }}",
                })
            })

        </script>
        {% endif %}  
        {% if u_form.prefix %}
        <script type="text/javascript">

            $(function() {
                $(".inline.{{ u_form.prefix }}").formset({
                    prefix: "{{ u_form.prefix }}",
                })
            })
        </script>
        {% endif %} 
        {% if c_form.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ c_form.prefix }}").formset({
                    prefix: "{{ c_form.prefix }}",
                })
            })

        </script>
        
        {% endif %}
          {% if pestform.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ pestform.prefix }}").formset({
                    prefix: "{{ pestform.prefix }}",
                })
            })

        </script>
        {% endif %}
           {% if commodityform.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ commodityform.prefix }}").formset({
                    prefix: "{{ commodityform.prefix }}",
                })
            })

        </script>
        {% endif %}
           {% if p_form.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ p_form.prefix }}").formset({
                    prefix: "{{ p_form.prefix }}",
                })
            })

        </script>
        {% endif %}
               {% if tl_form.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ tl_form.prefix }}").formset({
                    prefix: "{{ tl_form.prefix }}",
                })
            })

        </script>
        {% endif %}
               {% if ta_form.prefix %}
        <script type="text/javascript">
            $(function() {
                $(".inline.{{ ta_form.prefix }}").formset({
                    prefix: "{{ ta_form.prefix }}",
                })
            })

        </script>
        {% endif %}
               <script type="text/javascript">
                function openNav() {
                  var divmainbox = document.getElementById('divmainbox');
                  var divmainsidebox = document.getElementById('divmainsidebox');
                  var divaction = document.getElementById('divaction');
                  divmainbox.className = "span8";
                  divmainsidebox.className = "span4";
                  divmainsidebox.style.display='block';
                  divaction.style.display='none';
                }

                function closeNav() {
                  var divmainbox = document.getElementById('divmainbox');
                  var divmainsidebox = document.getElementById('divmainsidebox');
                  var divaction = document.getElementById('divaction');
                  divmainbox.className = "span12";
                  divmainsidebox.style.display='none';
                  divaction.style.display='block';
                }
            </script>
<style type="text/css">
#floating_link{
     position: fixed;
     right: 0;
     top: 300px;
     z-index: 1;
     display: block;
     width: 30px;
     height: 85px;
     /*text-indent: -10000px;
     text-color: red;
     overflow: hidden;*/
 
  /* Position and float the tab */  

  
  /* Give the tab width and padding */

  padding: 8px 5px;
  
  /* Add the curved white border */
  border: 3px solid #fff;
  border-right: none;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  
  /* Add the drop shadow */
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .6);
  box-shadow: 0 0 7px rgba(0, 0, 0, .6);

    
  /* Add the semitransparent gradient background 
  background: rgba(239, 91, 10, .75);*/
  background: -moz-linear-gradient(top, rgba(243, 52, 8, .75), rgba(239, 91, 10, .75));
  background: -webkit-gradient( linear, left top, left bottom, from( rgba(243, 52, 8, .75) ), to( rgba(239, 91, 10, .75) ) );
  background: linear-gradient(top, rgba(243, 52, 8, .75), rgba(239, 91, 10, .75));
  filter: progid:DXImageTransform.Microsoft.Gradient( startColorStr='#c0f33408', endColorStr='#c0ef5b0a', GradientType=0 );
  background  :url(/static/img/feedback.png)  no-repeat 0 7px ;

}
</style><!--a id="floating_link" href="/help"><span style=" text-color: red;text-align: vertical"><span></a-->           
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">
        
<!-- LOGOS/NAVBAR row -------------------------------------------------------------------------------------------------------------------------->
     
<div id="row-top">
    <!--loghi------>	
    <div class="container">
   
         <div class="row">
            <div class="col-md-12 pull-right text-right">
                <div class="lang-select">
                {% for lang in LANGUAGES %}
                     {% ifequal lang.0 LANGUAGE_CODE %}
                       <a class="active" href="#">{{ lang.1 }}</a> 
                        {% else %}
                      <a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a>
                        
                       
                        {% endifequal %}{% if forloop.counter == 6 %}
                           {% else %}  |
                        {% endif %}
                        {% endfor %}
                        {% nevercache %}
                         {% include "includes/user_panel.html" %}
                         {% endnevercache %}
                </div>  
            </div>
       </div>
        <div class="row">
            <div class="col-md-8"><a href="http://www.fao.org"><img src="/static/img/FAO-logo.png" alt="FAO" class="logo"></a></div>
            <div class="pull-right"> 
                <a  href="/{{ LANGUAGE_CODE }}">
                    <img src="/static/img/{{ LANGUAGE_CODE }}.png" alt="logo IPPC" class="logo float-right"> 
                </a>
            </div>
        </div> 
       <div class="row">
        <div class="col-md-8">
         
        </div>
        <div class="col-md-4">
            {% search_form "all" %}
        </div> 
    </div>
    </div><!--/.loghi-->  
       
    <!--Navbar------>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               {% page_menu "pages/menus/dropdown.html" %}
            </div>
	</div>
        
    </nav>
</div><!-- ./ row-top-->

<div class="container"  style="margin-bottom: none;" >
   {%if  page.id == None %}
   {% else %}
   <div class="col-md-12" style="background-color: #f8f9fa!important; height: 40px">
           {% block bread %}
                <ol class="breadcrumb" style="background-color: #f8f9fa; height: 20px">
                {% spaceless %}
                {% block breadcrumb_menu %}{%if page.is_primary and page.id != 1 %}{% else %}{% page_menu "pages/menus/breadcrumb.html" %} {% endif %}{% endblock %}
                {% endspaceless %}
                </ol>
            {% endblock bread %}
        </div>
 {% endif %}
    
    <div class="row" >
        <div class="col-md-12">
            {% nevercache %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>
                {% if message.message == "Successfully signed up" %}
                {{ "You have successfully activated your account! <b style='color:#060;'>Please set a new password below &darr;</b>" }}
                {% else %}
                {{ message }}
                {% endif %}
            </div>
            {% endfor %}
            {% endnevercache %}
        </div>
    </div>
       
     </div>  



{%if  page.id == None %}
   {% if request.path == '/en/' or request.path == '/es/' or request.path == '/fr/' or request.path == '/ar/'  or request.path == '/ru/' or request.path == '/zh/' %}
    <div class="container" >  
        <div class="row">
            <div class="col-md-12"> &#160;</div>
        </div><div class="row">
            <div class="col-md-12"> <h1 class="h1_home">{% trans "International Plant Protection Convention" %}</h1> </div>
        </div>
    </div>
    {%endif%}
{%else%}
    {%if  page.content_model == 'publicationlibrary' %}
        {%else%}	
        <div class="container" >  
         <div class="row">
             <div class="col-md-12"><h1 class="h1_home">{% block title %}{% endblock %}</h1> </div>
         </div>
     </div>
      {%endif%}
 {%endif%}     
<!--/.container-->
     
<div class="container">
   <div class="row" >
        <!--p class="pull-right"><a id="divaction" href="#" onclick="javascript:openNav();">☰ Open Navigation Menu</a></p-->
        <div id="divmainbox" 
        {%if  page.id != None %}
            {%if  page.content_model == 'publicationlibrary' %}
		{%if page.publicationlibrary.fullpage == 1 %}
                    class="col-md-12  underline"
		{%elif 12col == 1 %}
                    class="col-md-12 underline"
		{% elif  '/phytosanitary-treatments-tool/' in request.path%}
                    class="col-md-12 underline"
                {% else %}
			class="col-md-8 underline"
		{% endif %}
               
            {%elif  page.content_model == 'countrypage' %}
		{%if page.id != 3 %}
                    {% if  '/countries/'  in request.path  and 8col != 1 %}
                            class="col-md-12 underline"
                    {% elif  '/countries/'  in request.path and 8col == 1%}
                            class="col-md-8 underline"
                     {% else %}
                            class="col-md-8 underline"
                    {% endif %}
                {% endif %}    
            {% elif page.content_model == 'link' and page.id == 1361%}
                {%if 12col == 1 %}
                  class="col-md-12 underline"    
               {% else %}
                class="col-md-8 underline"    
            {% endif %}
            {% else %}
                class="col-md-8 underline"    
            {% endif %}
        {%else%} 
            class="col-md-12 underline"
        {%endif%}>
        {% block main %}{% endblock %}
        </div>
        
        {%if  page.id != None %}
            {%if  page.content_model == 'publicationlibrary' %}
                {% if  '/phytosanitary-treatments-tool/' in request.path%}
                   
                {%elif 12col == 1 %}
                
                {%else%}    
                    
                    {%if page.publicationlibrary.fullpage == 0 %}
                    <div id="divmainsidebox"   class="col-md-4 right" >
                            {% if page.publicationlibrary.side_box != '' and page.publicationlibrary.side_box != None %}
                                {% page_menu "pages/menus/sidebox.html" %}
                            {% endif %}
                            

                            {% if page.id == 925 or page.parent_id == 925 or page.parent_id == 451 %}<!-- nros -->
                                   
                                     {% page_menu "pages/menus/tree_new.html" %}
                                   
                            {% else %} 

                                    {%if page.publicationlibrary.login_required %}
                                      <div class="panel tree">
                                        {% page_menu "pages/menus/tree.html" %}
                                         </div>
                                    {%else %} 
                                       {% page_menu "pages/menus/tree_new.html" %}   
                                    {% endif %}

                            {% endif %}
                            {% if page.id == 345 or   page.parent_id == 345  or page.id == 429 %}<!-- SSU and IFU -->
                                {% include "pages/menus/tree_key_ssu.html" %}
                           {% elif  page.id == 322 or page.parent_id == 322 or page.parent_id == 323 or  page.parent_id == 449 or  page.parent_id == 427 or  page.parent_id == 429 or  page.parent_id == 459   or  page.parent_id == 455 or  page.parent_id == 445 %}<!-- Core activities -->
                                {% include "pages/menus/tree_key_core.html" %}
                             {% elif page.id == 465 or  page.id == 466 or  page.id == 485 or page.parent_id == 466 or page.parent_id == 485 %}<!-- RPPO -->
                                {% include "pages/menus/tree_key_partners.html" %}
                            {% elif  page.id == 1170 or page.id == 925 or page.parent_id == 925 or page.parent_id == 451 %}<!-- country page / stats page -->
                                {% include "pages/menus/tree_key_cn.html" %}
                            {% endif %}    
                    {% endif %}
                 {% endif %}    
            {% else %}    
                {% if  page.id == 530 %}<!-- country page  -->
                <div id="divmainsidebox"   class="col-md-4 right" > 
                    <div class="panel tree">
                    {% page_menu "pages/menus/tree.html" %}</div>
                     {% endif %} 
                {% if  page.id == 3 or page.id == 1 %}<!-- country page  -->
                <div id="divmainsidebox"   class="col-md-4 right" >
                    {% if  page.id == 3%}
                        {% include "pages/menus/tree_key_cn.html" %}
                    {% endif %}
                {%elif '/calls/' in request.path%}
                <div id="divmainsidebox"   class="col-md-4 right" >
               {% elif page.id == 465 or  page.id == 466 or  page.id == 485 or page.parent_id == 466 or page.parent_id == 485 %}<!-- RPPO -->
               <div id="divmainsidebox"   class="col-md-4 right" >
                   
                     {% include "pages/menus/tree_key_partners.html" %}
                  
                 {% endif %}
                
            {% endif %}
        {% endif %}
	
        
                    <!--p><a id="divaction" href="#closenav" onclick="javascript:closeNav();"> ☰ Close Sidebar</a></p-->    
        
        
        
        
        
        
        
       
           {% block local_nav %}
           {% block trans %}
           {% endblock trans %}
           {% endblock local_nav %}

         {%if  page.id != None %}
            {%if  page.content_model == 'publicationlibrary' %}
		{%if page.publicationlibrary.fullpage == 0 %}
                    </div>
                      
                {% endif %}
            {% else %}    
                {% if  page.id == 530 or page.id == 3 or page.id == 1%}<!-- country page  -->
                    </div>
                     {%elif '/calls/' in request.path%}
               </div>
              
                {% endif %}
            {% endif %}
        {% endif %}
  
           
        
     
    
                
       
        

        {# /.span4 right #}

    </div> {# /.container-fluid #}
</div> {# /.row-fluid #}
</div>
        
        
        
        
        
<footer class="bg-light fixed-bottom2"> 
	
	<!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">

        <!-- Content -->
        <h6>{% trans "Help" %}</h6>
        <hr style="width: 60px; margin: 0 0 0.8rem 0 ">
         <p>
         <a href="/contact/">{% trans "Contact us" %}</a>
        </p>
        <!--p>
          <a href="/sitemap">Sitemap</a>
        </p-->
        <p>
              <a href="/faq/">{% trans "FAQs" %}</a>
        </p>
        <!--p>
            <a href="/qa/">{% trans "Q &amp; A" %}</a>
        </p-->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">

          <h6>{% trans "Disclaimers" %}</h6>
        <hr style="width: 60px; margin: 0 0 0.8rem 0 ">
     
        <!--p> <a href="/about">{% trans "About us" %}</a></p-->
        <p> <a href="/legal/">{% trans "IPPC Copyright &amp; Legal Disclaimer" %}</a>
        </p><p> <a href="/logos/">{% trans "Logo policy" %}</a>
        </p>
      
        
  
                     
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-md-0 mb-3">

       <h6>{% trans "Subscribe" %}</h6>
        <hr style="width: 60px; margin: 0 0 0.8rem 0 ">
		  <p>
         <p><a href="/news/category/ippcnews/">{% trans "IPPC News" %}</a></p>
                             <!--p><a href="/core-activities/information-exchange/nro/">{% trans "NRO's Updates" %}</a></p-->
                           
       
       
        
     
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto  mx-auto mb-3">

         <h6>{% trans "Follow us" %}</h6>
        <hr style="width: 60px; margin: 0 0 0.8rem 0 ">
		  <p>
         <!-- Facebook -->
			  
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/pages/IPPC-Protecting-the-worlds-plant-resources-from-pests/113230338690380">
          <span class="fab fa-facebook"></span>
        </a>
          <!-- Twitter -->
          <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ippcnews">
          <span class="fab fa-twitter"></span>
        </a>
       
          <!--Linkedin -->
          <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/groups/3175642/profile" >
          <span class="fab fa-linkedin"></span>
        </a></p>
      
           

      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright
  <div class="footer-copyright text-center py-3 bg-dark text-light">© 2019 Copyright
  </div>
  !-- Copyright -->

</footer>
        

        {% compress js %}

        {# better country selector using chosen - http://harvesthq.github.io/chosen/ #}
        <script type="text/javascript" charset="utf-8">
            $(".chosen-select").chosen();
        </script>

        {% block extra_js %}{% endblock %}
        {% endcompress %}
        {% comment %} Google Analytics {% endcomment %}
        <script>
                    (function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-26969258-1', 'auto');
            ga('send', 'pageview');

        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/static/css/gridipp/js/bootnavbar.js" ></script> 
    <script>
        $(function () {
            $('#main_navbar').bootnavbar();
        })
      $('#menutree').filter(function() {

  return $.trim($(this).text()) === ''

}).remove();
    </script>
    <script type="text/javascript" charset="utf-8">
$(function() {
      $('#selectlang').change(function() {
            window.location.href = $(this).val();
      });
});
</script>


    </body>
</html>
