{% extends "base.html" %}
{% load i18n mezzanine_tags translate_tags %}

{% block meta_title %}{% trans "IPPC" %}{% endblock %}
{# {% block title %}{% trans "Welcome to IPPC" %}{% endblock %} #}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home: Plant Protection News" %}</li>
{# <li class="pull-right">{% include "countries/country_selector.html" %}</li> #}
{% endblock %}

{% block main %}



<!--div class="row-fluid" style="margin:0; font-weight:bold; padding:3px 5px; background:#FCC; color:#000; width:99% !important; display:block; text-align:left;">IMPORTANTE NOTICE: due to FAO systems maintenance, the website will be unavailable on Saturday 16 May between 8:30 and 12:30 (Rome time). </div-->
{% load ippc_tags %}
{% get_latest news.NewsPost 10 as latest_news %}

   
 <!-- or NEWS in BLOCKS ================== -->
  
  <div class="row-fluid">
    {% for entry in latest_news|slice:":8" %}
         
    <div class="span6">
      <div class="panel">
        
        {% if entry.featured_image %} {# settings.NEWS_USE_FEATURED_IMAGE and #}
          <p>
            <a href="{{ entry.get_absolute_url }}">
              <img src="{{ MEDIA_URL }}{% thumbnail entry.featured_image 360 200 %}">
            </a>
          </p>
        {% endif %}
        
        <h5>
          <a class="dark" href="{{ entry.get_absolute_url }}">
              {% with entry|get_object_translation as translated_page %}
                  {{ translated_page.title|safe}}
              {% endwith %}
          </a><br>
          <small>{{ entry.publish_date|timesince }} {% trans "ago" %}.</small>
        </h5>
         {% with entry|get_object_translation as translated_page %}
                  {{ translated_page.content|richtext_filter|safe|truncatewords_html:40}}
              {% endwith %}
          <p><small><a href="{{ entry.get_absolute_url }}">{% trans "Continue reading…" %}</a></small></p>
      
{# if the the forloop counter is divisible by 2, close the row-fluid <div> tag and open a new one #}
      </div>
    </div>
  {% if forloop.counter|divisibleby:2 %}
  </div>
	
  <div class="row-fluid">
  {% endif %}

  {% endfor %}
  </div>
  <div class="row-fluid">
    <p><a href="/news/">{% trans "See All News" %} »</a></p>
  </div>
    
    
<!--div class="row-fluid">
  
    <div class="span6">
 <div class="panel">
  <h4>{% trans "Information For…" %}</h4>
  <ul>
    <li>Donors</li>
    <li>Partnerships</li>
    <li>Civil Society</li>
    <li>Private Sector</li>
    <li>Youth</li>
    <li>Media</li>
  </ul>
</div>
      </div>    
     </div-->
    
{% endblock %}

{% block local_nav %}
<div class="panel">
  <h4><a href="{% url 'page' 'who-we-are' %}">{% trans "About" %}</a></h4>
  <p>{% blocktrans %}The International Plant Protection Convention (IPPC) is an <a title='See the convention text' href='/{{ LANGUAGE_CODE }}/core-activities/governance/convention-text/'>international agreement</a> on plant health to which <a href='http://www.fao.org/fileadmin/user_upload/legal/docs/004s-e.pdf'>182 contracting parties</a> currently adhere.  It aims to protect cultivated and wild plants by preventing the introduction and spread of pests.  The <a href='/{{ LANGUAGE_CODE }}/about/secretariat'>Secretariat</a> of the IPPC is provided by the <a href='http://fao.org'>Food and Agriculture Organization of the United Nations</a>. See our <a href='/{{ LANGUAGE_CODE }}/media-kit'>Media Kit</a>.{% endblocktrans %}</p>
</div>
  <!-- BEGIN =NOTIFICATIONS SLIDESHOW ================== --> 
<!--div class="panel">
  <h4><a href="{% url 'page' 'who-we-are' %}">{% trans "Notifications" %}</a></h4>

    <script type="text/javascript">//<![CDATA[ 
    $(window).load(function(){
        $('.carousel').carousel({
            interval: 2500
        })
     });//]]>  
    </script>
    <p>  
        <div id="myCarousel" class="carousel slide vertical">
    
           <div class="carousel-inner">{% get_latest calls.CallsPost 10 as latest_calls %}
                {% for entry1 in latest_calls|slice:":8" %}
                {% if forloop.first %}
                <div class="item active">
                {% else %}
                <div class="item">
                {% endif %}
                    
                    <h5>
                      <a class="dark" href="{{ entry1.get_absolute_url }}">{{ entry1.title }}</a><br>
                      <small>{{ entry1.publish_date|timesince }} {% trans "ago" %}.</small>
                    </h5>
                    {{ entry1.content|richtext_filter|safe|truncatewords_html:30 }} 
                    <p><small><a href="{{ entry1.get_absolute_url }}">{% trans "Continue reading…" %}</a></small></p>
                </div>                    
                {% endfor %}                    
            </div>
        </div>
    </p>
</div-->
<!--div class="panel">
	<h4><a href='/iyph' title=''>{% blocktrans %}Support IYPH{% endblocktrans %}</a></h4>
	<p>{% blocktrans %}This is the BOX with some text.....{% endblocktrans %}</p>
</div-->

<div class="panel">
	<h4><a href='http://us10.campaign-archive1.com/home/?u=fc3d4d92d71f2fa693910c666&id=bf810c0be2' title='See prior editions.'>{% blocktrans %}Newsletter{% endblocktrans %}</a></h4>
	<p>{% blocktrans %}The IPPC Secretariat is keen both to keep people informed and to enable readers to share items of interest. A newsletter is sent out once a month, with occasional special editions. <a class='btn btn-small btn-success' href='http://ippc.us10.list-manage.com/subscribe?u=fc3d4d92d71f2fa693910c666&id=bf810c0be2'>Subscribe to the newsletter</a>, <a href='http://us10.campaign-archive1.com/home/?u=fc3d4d92d71f2fa693910c666&id=bf810c0be2'>see prior editions</a> and <a href='mailto:jeremy.cherfas@fao.org' title='Open your email client.'>send content suggestions</a>.{% endblocktrans %}</p>
</div>


<div class="panel">
  <h4><a href="{% url 'page' 'core-activities' %}">{% trans "Core Activities" %}</a></h4>
 <p>
  <ul>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/">{% blocktrans %}Governance{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/cpm/">{% blocktrans %}Commission (CPM){% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting">{% blocktrans %}Standard setting{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/member-consultation-draft-ispms" style="color:#c00;">{% blocktrans %}Member consultation on draft ISPMs{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/draft-ispms/notification-period-dps" style="color:#c00;">{% blocktrans %}Notification period for DPs{% endblocktrans %}</a></li>
    <!--li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/member-consultation-draft-ispms" style="color:#c00;">{% blocktrans %}Member consultation on draft DPs{% endblocktrans %}</a></li-->
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/substantial-concerns-commenting-period-sccp-draft-ispms" style="color:#c00;">{% blocktrans %}Substantial Concerns Commenting Period (SCCP) on draft ISPMs{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/ispms">{% blocktrans %}Adopted Standards{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/information-exchange/nro/" style="color:#c00;">{% blocktrans %}National Reporting Obligations{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development">{% blocktrans %}Capacity development{% endblocktrans %}</a></li>
    <li><a href="/{{ LANGUAGE_CODE }}/core-activities/dispute-settlement">{% blocktrans %}Dispute settlement{% endblocktrans %}</a></li>
    <!--li><a href="/{{ LANGUAGE_CODE }}/core-activities/ephyto">{% blocktrans %}ePhyto{% endblocktrans %}</a></li-->
     </ul>
    </p>
</div>

<div class="panel">
  <h4><a href="{% url 'page' 'countries' %}">{% trans "Countries" %}</a></h4>
	{% include "countries/country_selector.html" %}
  <ul>
      <li><a href="/{{ LANGUAGE_CODE }}/countries/all/list-countries/">{% blocktrans %}Complete List of Countries{% endblocktrans %}</a></li>
      <li><a href="/{{ LANGUAGE_CODE }}/countries/all/contactpoints">{% blocktrans %}List of Contact Points{% endblocktrans %}</a></li>
      <li> <a href="/{{ LANGUAGE_CODE }}/countries/all/pestreport">{% blocktrans %}Pest Reports{% endblocktrans %}</a></li>
      <li><a href="/{{ LANGUAGE_CODE }}/countries/all/legislation">{% blocktrans %}Legislation {% endblocktrans %}</a></li>
      <li><a href="/{{ LANGUAGE_CODE }}/countries/all/regulatedpests">{% blocktrans %}List of regulated pests {% endblocktrans %}</a></li>
  </ul>
</div>

<div class="panel">
  <h4><a href="/irss/helpdesk">{% trans "IRSS Helpdesk" %}</a></h4>
		<ul>
			<li><a href="/qa/1/answers/">Where can I find the report of the IRSS Survey: Review of the implementation of Guidelines on lists of regulated pests (ISPM19:2003) and Pest reporting (ISPM17:2002)?</a>
		</li>
		<li><a href="/qa/2/answers/">Where can I find the latest IRSS Survey: Review of the implementation of Guidelines on lists of regulated pests (ISPM19:2003) and Pest reporting (ISPM17:2002)?</a>
		</li>
		<li><a href="/qa/3/answers/">Do you have a simple floor plan for a post entry quarantine facility? If you can share it, please email us at ippc@fao.org with subject line: PEQ facility plan.</a>
		</li>
		<li><a href="/qa/4/answers/">What happens if my country is not a member of the Madrid System for the international registration of marks ?</a>
		</li>
		<li class="last"><a href="/qa/5/answers/">For those Contracting Parties who have submitted an IRSS questionnaire; how would you define the process of retrieving information and what was your NPPOs experience in conducting this activity?</a>
		</li>
	</ul>
</div>
{% endblock local_nav %}
