{% extends "base.html" %}
{% load i18n mezzanine_tags translate_tags %}
{% load ippc_tags news_tags calls_tags %}
{% load scheduletags i18n %}

{% block meta_title %}{% trans "IPPC" %}{% endblock %}
{# {% block title %}{% trans "Welcome to IPPC" %}{% endblock %} #}

{% block body_class %}homepage{% endblock %}

{% block breadcrumb_menu %}
{# <li class="pull-right">{% include "countries/country_selector.html" %}</li> #}
{% endblock %}


{% block main %}
{% news_recent_posts limit=1 category="alerthomepage" as recent_posts_alert %}     
    {% if recent_posts_alert %}
        {% for entry in recent_posts_alert %}
         <div style="margin:0;color:black; background-color: yellow;" class="alert alert-warning" >
             <span style="color:black;">
                 {% with entry|get_object_translation as translated_page %}
                    {{ translated_page.content|richtext_filter|safe}}
                {% endwith %} 
             </span>
        </div>
        {% endfor %}  
    {% endif %}
        
         



<!--div style="margin:0;color:black; background-color: yellow;" class="alert alert-warning" >
<span style="color:black;"><b>Webcast of CPM-12 Special Topic session</b></span><br>
<span style="color:black;">The CPM-12 special topic session will be webcast live on Monday 10 April from 3:00 to 5:00 pm (Incheon, Republic of Korea local time). Please look at the <a href="https://www.ippc.int/en/news/webcast-of-cpm-12-special-topic-session/"><b>related headline news</b></a> below to get the link.  </span>
</div>


<div style="margin:0;color:black; background-color: yellow;" class="alert alert-warning" >
<span style="color:black;"><b>Webcast of CPM12 Opening session </b></span><br>
<span style="color:black;">The CPM-12 opening session was webcast live on Wednesday 5 April at 2:00 pm (Incheon, Republic of Korea local time). You can find the recording of the session  <b><a href="https://www.youtube.com/watch?v=BUtPfWr8KgM">here</a></b>. </span>
</div-->

 <!--div style="margin:0;color:black; background-color: yellow;" class="alert alert-warning" >
<span style="color:black;"><b>CPM12 REGISTRATION DESK </b></span><br>
<span style="color:black;">Please note that the CPM12 Registration Desk will open on Wednesday, 5 April 2017 at 9AM at Convention Center in Incheon, Republic of Korea. <br>
You are kindly request to register with your ID card and provide the original Credentials in case you have not delivered them to the IPPC Secretariat yet. <br>
We look forward to meeting you at the CPM12. 
</span>
</div-->  <!--div style="margin:0;color:black; background-color: yellow;" class="alert alert-warning" >
<span style="color:red;"><b>Deadline for CPM12 Credentials</b></span><br>
<span style="color:black;">Contracting Parties attending CPM-12 are reminded that by <b>30 March 2017</b> the copy of Credentials should be sent to Katarina Spisiakova at <a href="mailto:Katarina.Spisiakova@fao.org">Katarina.Spisiakova@fao.org</a>.
<br><br>
The original should be delivered directly at the Registration Desk at CPM12 in Incheon, ROK.
</span>
</div-->
<!--div style="margin:0;color:black; background-color: yellow;" class="alert alert-warning" >
<span style="color:red;"><b>CPM-12 deadline: 17 March 2017</b></span><br>
<span style="color:black;">Contracting Parties attending CPM-12 are reminded that by 30 March 2017</span><span style="color:red;"> originals of credentials of the representative(s) including the names of alternate representatives and advisers should be submitted to:</span>
<br><span style="color:black;">

            <b><i>Secretariat of the International Plant Protection Convention (IPPC) <br>
Agriculture and Consumer Protection Department (AG), room B767b<br>
Food and Agriculture Organization of the United Nations <br>
Viale delle Terme di Caracalla <br>
00153 Rome, Italy</i></b>
<br>
The copy of Credentials should be sent to the above address or as a scan to Katarina Spisiakova at <a href="mailto:Katarina.Spisiakova@fao.org">Katarina.Spisiakova@fao.org</a>. The original should be delivered directly at the Registration Desk at CPM12 in Incheon, ROK. 
</span>
</div-->


            
            
            <!--b><i>Secretariat of the International Plant Protection Convention (IPPC)<br>
Plant Production and Protection Division (AGPM) Food and Agriculture Organization of the United Nations<br>
Viale delle Terme di Caracalla - Room B767B<br>
00153 Rome, Italy</i></b></span></div-->
   <script type="text/javascript">//<![CDATA[ 
                            $(window).load(function() {
                               // $('.carousel').carousel({
                            $('#myCarousel, #myCarousel1').carousel({                         
                                 interval: 6000
                                })
                            });//]]>  
                            
                            
                        </script>
{# main content ====================== #}
        <div class="span9 homecontent pull-right">
            {# get_latest news.NewsPost 10 as latest_news #}
            {% news_recent_posts limit=100 category="ippcnews" as recent_posts_ippcnews %}     
            {% news_recent_posts limit=100 category="briefnews" as recent_posts_brief %}  

            <!-- or NEWS in BLOCKS ================== -->
            <div class="row-fluid">
                <div class="span7">
                    <div class="homepage-ippcnews-box">  {# panel  #}
                        <h4><a href="/news/category/ippcnews/">{% trans "IPPC News" %}</a> <small><a class="small quiet pull-right" href="/news/category/ippcnews/">{% trans "see all" %} »</a></small></h4>
                     
                    
                        <div id="myCarousel" class="carousel slide vertical" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"><b>1</b></li>
                                <li data-target="#myCarousel" data-slide-to="1"><b>2</b></li>
                                <li data-target="#myCarousel" data-slide-to="2"><b>3</b></li>
                                <li data-target="#myCarousel" data-slide-to="3"><b>4</b></li>
                                <li data-target="#myCarousel" data-slide-to="4"><b>5</b></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% if recent_posts_ippcnews %}

                                {% for entry in recent_posts_ippcnews|slice:":5" %}
                                {% if forloop.first %}
                                <div class="item active">
                                    {% else %}
                                    <div class="item">
                                        {% endif %}
                                        {% if entry.featured_image %} 
                                        <a href="{{ entry.get_absolute_url }}">
                                            <!--img src="{{ MEDIA_URL }}{{entry.featured_image}}" style="width:400px;height:220px;"-->
                                            <img src="{{ MEDIA_URL }}{% thumbnail entry.featured_image 550 250 %}">
                                        </a>
                                        <div style="position: relative; bottom: 0; left: 0.5em;  font-weight: bold; color: #fff;"><!--width: 550px;-->
                                            <center><h6> {% with entry|get_object_translation as translated_page %}
                                                    {{ translated_page.title|safe}}
                                                    {% endwith %}
                                                </h6></center>
                                            </a>
                                        </div>


                                        {% endif %}
                                    </div> 
                                    {% endfor %}  
                                    {% endif %}
                                </div>   
                            </div>
                        </div>   

                    </div>
                    <div class="span5">
                          <!--div class="panel homepage-announcements-box"> 
            <h4><a href="/{{ LANGUAGE_CODE }}/news/category/announcements/">{% trans "Announcements" %}</a> <small><a class="small quiet" href="/{{ LANGUAGE_CODE }}/news/category/announcements/"  class="pull-right">{% trans "see all" %} »</a></small></h4>
                <ul class="unstyled">
                  {% news_recent_posts limit=10 category="announcements" as recent_announcements %}  
                  {% for entry in recent_announcements|slice:":3" %}
                      <li>
                        <b><small>{{ entry.publish_date|date:"d-m-Y" }}</small></b>
                        <br>
                        <a  href="{{ entry.get_absolute_url }}">
                              {% with entry|get_object_translation as translated_page %}
                              {{ translated_page.title|safe}}
                              {% endwith %}
                        </a>
                      </li>
                {% endfor %} 
              </ul>
        </div--> 
                        <div class="panel homepage-briefnews-box">
                            <h4><a href="/news/category/announcements/">{% trans "Announcements" %}</a> <small><a class="small quiet pull-right" href="/news/category/announcements/">{% trans "see all" %} »</a></small></h4>
                        
                            <dl class="dl-horizontal">
                              {% news_recent_posts limit=10 category="announcements" as recent_announcements %}  
                  {% for entry in recent_announcements|slice:":10" %}
                     <dt><small>{{ entry.publish_date|date:"d-m-Y" }}</small></dt>
                                    <dd>
                                      <a  href="{{ entry.get_absolute_url }}">
                                        {% with entry|get_object_translation as translated_page %}
                                        {{ translated_page.title|safe}}
                                        {% endwith %}
                                      </a>
                                </dd>
                                {% endfor %}   
                            </dl>
                      
                        </div>
                        <!--div class="panel homepage-briefnews-box">
                            <h4><a href="/news/category/briefnews/">{% trans "Brief News" %}</a> <small><a class="small quiet pull-right" href="/news/category/briefnews/">{% trans "see all" %} »</a></small></h4>
                            {% if recent_posts_brief %}
                            <dl class="dl-horizontal">
                                {% for entry in recent_posts_brief|slice:":10" %}
                                <dt><small>{{ entry.publish_date|date:"d-m-Y" }}</small></dt>
                                    <dd>
                                      <a  href="{{ entry.get_absolute_url }}">
                                        {% with entry|get_object_translation as translated_page %}
                                        {{ translated_page.title|safe}}
                                        {% endwith %}
                                      </a>
                                </dd>
                                {% endfor %}   
                            </dl>
                            {% endif %}
                        </div-->
                    </div>
                </div>   

                <div class="row-fluid">
                    <div class="span12">
                        <div class="panel homepage-activities-box">
                            <h4><a href="{% url 'page' 'core-activities' %}">{% trans "Activities" %}</a></h4>
                                <div class="row-fluid">
                                <div class="span4" >       
                                    <h6><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/">{% blocktrans %}Governance &amp; Strategies{% endblocktrans %}</a></h6>
                                    <ul class="unstyled">
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/cpm/">{% blocktrans %}CPM{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/bureau/">{% blocktrans %}Bureau{% endblocktrans %}</a> - <a href="/{{ LANGUAGE_CODE }}/core-activities/governance/bureau/ippc-financial-committee-fc/">{% blocktrans %}FC{% endblocktrans %}</a> </li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/strategic-planning-group/">{% blocktrans %}SPG - Strategic Planning Group{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/standards-committee/">{% blocktrans %}SC - Standards Committee{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/capacity-development-committee">{% blocktrans %}IC - Implementation Committee{% endblocktrans %}</a></li>
                                        <!--li><a href="/{{ LANGUAGE_CODE }}/core-activities/dispute-avoidance-dispute-settlement/subsidiary-body-dispute-settlement/">{% blocktrans %}SBDS - Dispute Settlement{% endblocktrans %}</a></li-->
                                    </ul>
                                </div>
                                <div class="span4">       
                                    <h6><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-and-implementation/">{% blocktrans %}Standards &amp; Implementation{% endblocktrans %}</a></h6>
                                    <ul class="unstyled">
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/">{% blocktrans %}Standard Setting{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/capacity-development/">{% blocktrans %}Implementation and Facilitation{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/implementation-review-and-support-system/">{% blocktrans %}IRSS{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/dispute-settlement/">{% blocktrans %}Dispute Avoidance{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/ephyto">{% trans "ePhyto" %}</a></li>
                                    </ul>
                                </div><div class="span4">     
                                    <h6><a href="/{{ LANGUAGE_CODE }}/core-activities/integration-and-support/">{% blocktrans %}Integration &amp; Support{% endblocktrans %}</a></h6>
                                    <ul class="unstyled">   
					<li><a href="/{{ LANGUAGE_CODE }}/core-activities/information-exchange/nro/">{% blocktrans %}NRO - National Reporting Obligations{% endblocktrans %}</a></li>   
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/communication-advocacy/">{% blocktrans %}Communication &amp; Advocacy{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/planning-budget/">{% blocktrans %}Planning &amp; Budget{% endblocktrans %}</a></li>
                                        <li><a href="/core-activities/governance/resource-mobilisation/">{% blocktrans %}Resources Mobilization{% endblocktrans %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/external-cooperation/">{% blocktrans %}External Cooperation{% endblocktrans %}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>      
                    </div>
                 </div>

                    <div class="row-fluid">    
                        <div class="span8"> 
                            <h4>{% blocktrans %}Themes{% endblocktrans %}</h4>     
                        </div>      
                    </div>
                    <div class="row-fluid">    
                        <div class="span8"> 
                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="/themes/food-security/">
                                        <div class="panel" style="position: relative; background: url(/static/img/rsz_rice1.png); width: 220px; height: 70px;"> <!--rsz_1rsz_2dscn9492.jpg -->
                                             
                                           <h3 class="fancyh3">{% trans "Food<br>Security" %}</h3>    </div>
                                        
                                    </a>
                                </div> 
                                <div class="span6">
                                    <a href="/themes/trade-facilitation/"> 
                                        <div class="panel"  style="position: relative; background: url(/static/img/certification-dcn.jpg); width: 220px; height: 70px;"><!-- rsz_2ispm15-certification-dcn.jpg -->
                                                <h3 class="fancyh3">{% trans "Trade<br>Facilitation" %}</h3>
                                        </div>
                                    </a>
                                </div> 
                            </div> 
                            <div class="row-fluid">
                                <div class="span6">
                                    <a href="/themes/environment-protection/">    
                                        <div class="panel" style="position: relative; background: url(/static/img/aqua.jpg); width: 220px; height: 70px;"><!-- rsz_1020 -->
                                                <h3 class="fancyh3">{% trans "Environment<br>Protection" %}</h3>
                                        </div>
                                    </a> 
                                </div> 
                                <div class="span6">
                                    <a href="/themes/capacity-development/">   
                                        <div class="panel" style="position: relative; background: url(/static/img/rsz_dsc_1656.jpg); width: 220px; height: 70px;"><!--rsz_rice_field24701_6958-fao-->

                                                <h3 class="fancyh3">{% trans "Capacity<br>Development" %}</h3>

                                        </div>
                                    </a>
                                </div> 
                            </div> 
                        </div>
                        <div class="span4">
                                 <a href="/themes/ipp-65th-anniversary/">    
                                <div class="panel" style="position: relative; background-color: white;repeat:no; width: 260px; height:70px;"> <!--65Logo.jpg-->
                                        <img src="/static/img/IPPC_65YearsLogo_EN-website4.jpg">

                                </div>  
                            </a>
                            <a href="/iyph">    
                                <div class="panel" style="position: relative; background: url(/static/img/rsz_1iyph_new.jpg); width: 260px; height: 70px;"> <!-- rsz_1dcn_9794.jpg -->

                                        <h3 class="fancyh3" style="position:absolute; top:10px; left:10px;">{% trans "IYPH 2020" %}</h3>

                                </div>  
                            </a>
                        </div> 
                    </div>    

                    <div class="row-fluid">
                        <div class="panel homepage-information-box">
                            <h4>{% trans "Information" %}</h4>
                            <div class="row-fluid">
                                <div class="span3">
                                    <h6><a href="/{{ LANGUAGE_CODE }}/information/strategic-planning/"><b>{% trans "Strategic Planning" %}</b></a></h6>
                                    <ul class="unstyled">
                                        <li><a href="/{{ LANGUAGE_CODE }}/publications/1015/">{% trans "IPPC Strategies" %}</a></li>
                                        <li><a href="http://www.fao.org/docrep/x3551e/x3551e00.HTM">{% trans "FAO Strategies" %}</a></li>
                                        <li><a href="https://sustainabledevelopment.un.org/?menu=1300">{% trans "UN Strategies" %}</a></li>
                                    </ul>
                                </div> 
                                <div class="span3">
                                    <h6><a href="/{{ LANGUAGE_CODE }}/information/standards/">{% trans "Standards" %}</a></h6>
                                    <ul class="unstyled">
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/ispms">{% blocktrans %}Adopted Standards{% endblocktrans %}</a></li>
                                    
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/standards-setting/approved-specifications/">{% trans "Approved Specifications" %}</a></li>
                                        <li><a href="https://www.ippc.int/en/core-activities/ippc-standard-setting-procedure-manual/">{% trans "Manual for Standard Setting" %}</a></li>
                                    </ul>
                                </div> 
                                <div class="span3">
                                    <!--div class="panel" style="background-color:#ffffff;"-->
                                    <h6><b>{% trans "Recommendations" %}</b></h6>
                                    <ul class="unstyled">
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/cpm/cpm-recommendations-1/cpm-recommendations/">{% trans "CPM Recommendations" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/governance/cpm/cpm-recommendations-1/cpm-recommendations/recommendations-procedure/">{% trans "Recommendations<br>Procedure" %}</a> </li>
                                    </ul>
                                </div> 
                                <div class="span3">
                                    <h6><a href="/{{ LANGUAGE_CODE }}/information/projects/"><b>{% trans "IPPC Projects" %}</b></a></h6>
                                    <ul class="unstyled">
                                        <li><a href="/{{ LANGUAGE_CODE }}/core-activities/implementation-review-and-support-system/">{% trans "IRSS" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/ephyto">{% trans "ePhyto" %}</a></li>
                                        <li><a href="http://www.standardsfacility.org/PG-401">{% trans "PCE Facilitators Training" %}</a></li>
                                    </ul>
                                </div>  
                            </div>  
                        </div>
                    </div>

                 <div class="row-fluid">
                    <div class="panel homepage-resources-box">
                        <h4>{% trans "Resources" %}</h4>
                        <div class="row-fluid">
                            <div class="span4">
                                <h6><a href="/{{ LANGUAGE_CODE }}/resources/statistics/"><b>{% trans "Statistics" %}</b></a></h6>
                                <ul  class="unstyled"> <li><a href="/{{ LANGUAGE_CODE }}/nro-reports-and-statistics/">{% trans "NRO's statistics" %}</a></li>
                               <li><a href="/{{ LANGUAGE_CODE }}/resources/statistics/users-statistics/">{% trans "Users statistics" %}</a></li>
                                </ul>
                            </div> 
                            <div class="span4">
                                <h6><a href="/{{ LANGUAGE_CODE }}/resources/library/"><b>{% trans "Library" %}</b></a></h6>
                                <ul class="unstyled">  <li><a href="/{{ LANGUAGE_CODE }}/resources/library/publications">{% trans "Publications" %} </a></li>
                                    <li><a href="/{{ LANGUAGE_CODE }}/resources/library/presentations/">{% trans "Presentations" %} </a></li>
                                </ul>   
                            </div> 
                            <div class="span4">
                                <h6><a href="/{{ LANGUAGE_CODE }}/resources/media/"><b>{% trans "Media" %}</b></a></h6>
                                <ul class="unstyled">  <li><a href="/{{ LANGUAGE_CODE }}/resources/media/photos">{% trans "Photos" %}</a></li>
                                    <li><a href="/{{ LANGUAGE_CODE }}/resources/media/videos">{% trans "Videos" %}</a></li>
                                </ul>
                            </div> 
                        </div>  
                    </div>  
                </div>
            </div>
{# sidebar ========= #}

{# get_latest calls.CallsPost 10 as latest_calls #}
<div class="row-fluid">
    <div class="span3 homesidebar">
        <div class="panel homepage-about-box">
            <h4><a href="{% url 'page' 'who-we-are' %}">{% trans "About Us" %}</a></h4>
            <a href="/{{ LANGUAGE_CODE }}/core-activities/governance/convention-text/">{% trans "The Convention" %}</a><br>
            <a href="/{{ LANGUAGE_CODE }}/about/secretariat/">{% trans "IPPC Secretariat" %}</a><br>
            <a href="/{{ LANGUAGE_CODE }}/contact/">{% trans "Contact us" %}</a>

        </div>
        <!--div class="panel homepage-announcements-box"> 
            <h4><a href="/{{ LANGUAGE_CODE }}/news/category/announcements/">{% trans "Announcements" %}</a> <small><a class="small quiet" href="/{{ LANGUAGE_CODE }}/news/category/announcements/"  class="pull-right">{% trans "see all" %} »</a></small></h4>
                <ul class="unstyled">
                  {% news_recent_posts limit=10 category="announcements" as recent_announcements %}  
                  {% for entry in recent_announcements|slice:":3" %}
                      <li>
                        <b><small>{{ entry.publish_date|date:"d-m-Y" }}</small></b>
                        <br>
                        <a  href="{{ entry.get_absolute_url }}">
                              {% with entry|get_object_translation as translated_page %}
                              {{ translated_page.title|safe}}
                              {% endwith %}
                        </a>
                      </li>
                {% endfor %} 
              </ul>
        </div--> 

        <div class="panel homepage-callsdeadlines-box"> 
            <h4><a href="/{{ LANGUAGE_CODE }}/calls/">{% trans "Calls &amp; Deadlines" %}</a> <small><a class="small quiet" href="/{{ LANGUAGE_CODE }}/calls/category/deadline/">{% trans "see all" %} »</a></small></h4>
            {% calls_recent_posts limit=10 category="deadline" as recent_deadlines %}  

                
                <div id="myCarousel1" class="carousel vertical" data-ride="carousel">
                    <div class="carousel-inner">
                    {% for entry1 in recent_deadlines|slice:":2" %}
                        {% if forloop.first %}
                          <div class="active item">
                        {% else %}
                          <div class="item">
                        {% endif %}
                            <ul class="unstyled">
                                <li>
                                    <b><small>{{ entry1.deadline_date|date:"d-m-Y" }}</small></b>
                                    <br> 
                                    <a href="{{ entry1.get_absolute_url }}">
                                        {% with entry1|get_object_translation as translated_page %}
                                          {{ translated_page.title|safe}}
                                        {% endwith %}
                                    </a>
                                </li>
                            </ul>
                        </div> {# end .item #}                    
                        {% endfor %}                    
                    </div> {# end .item .active #}
                </div> {# end .carousel-inner #}
            </div> {# end .panel #}
            <div class="panel homepage-resourcestools-box">
                <h4>{% trans "Resources &amp; Tools" %}</h4>
                <ul class="unstyled">
                    <li>   <a href="http://www.Phytosanitary.info/">{% trans "Phyto Resources website" %}</a></li>    
                    <li>   <a href="https://www.ippc.int/pce/">{% trans "Phytosanitary Capacity Evaluation (PCE)" %}</a></li>    
                    <li>  <a href="/{{ LANGUAGE_CODE }}/online-comment-system/">{% trans "Online Comment System (OCS)" %}</a></li>    
                </ul>
            </div>
            <script type="text/javascript" charset="utf-8">
                $(function() {
                    $('#selectrppos').change(function() {
                        window.location.href = $(this).val() + '';
                    });
                    $('#selecttec').change(function() {
                        window.location.href = $(this).val() + '';
                    });
                    $('#trade').change(function() {
                        window.location.href = $(this).val() + '';
                    });
                    $('#environment').change(function() {
                        window.location.href = $(this).val() + '';
                    });
                    $('#stakeholders').change(function() {
                        window.location.href = $(this).val() + '';
                    });
                });
            </script> 
           
            <div class="panel">
                <h4>{% trans "Links" %}</h4>
              
                   <select data-placeholder="RPPOs" tabindex="3" class="chosen-select" id="selectrppos">
                        <option value="">{% trans "RPPOs" %}</option>
                        <option value="http://www.apppc.org">{% trans "Asia and Pacific Plant Protection Commission (APPPC)" %}</option>
                        <option value="http://www.comunidadandina.org">{% trans "Comunidad Andina (CAN)" %}</option>
                        <option value="http://www.cosave.org">{% trans "Comite de Sanidad Vegetal del Cono Sur (COSAVE)" %}</option>
                        <option value="http://www.eppo.int">{% trans "European and Mediterranean Plant Protection Organization (EPPO)" %}</option>
                        <option value="http://www.au-iapsc.org/">{% trans "Inter-African Phytosanitary Council (IAPSC)" %}</option>>
                        <option value="http://www.neppo.org/">{% trans "Near East Plant Protection Organization (NEPPO)" %}</option>
                        <option value="http://www.nappo.org/">{% trans "North American Plant Protection Organization (NAPPO)" %}</option>
                        <option value="http://www.oirsa.org/portal/index.html">{% trans "Organismo Internacional Regional de Sanidad Agropecuaria (OIRSA)" %}</option>
                        <option value="http://www.spc.int/lrd/plantprotectionorganisation-/pppo">{% trans "Pacific Plant Protection Organization (PPPO)" %}</option>
                    </select>                 
                <h6></h6>   
               
                    <select data-placeholder="Technical" tabindex="3" class="chosen-select" id="selecttec">
                        <option value="">{% trans "Technical" %}</option>
                        <option value="http://www.fao.org">{% trans "FAO" %}</option>    
                        <option value="https://www.iaea.org/">{% trans "IAEA" %}</option>    

                    </select>                 
                 
<h6></h6>  


               
                    <select data-placeholder="Trade" tabindex="3" class="chosen-select" id="trade">
                        <option value="">{% trans "Trade" %}</option>
                        <option value="https://www.wto.org/">{% trans "WTO" %}</option>
                        <option value="http://www.oie.int/">{% trans "OIE" %}</option>
                        <option value="http://www.codexalimentarius.org/">{% trans "Codex" %}</option>
                    </select>  
<h6></h6>  
                    <select data-placeholder="Environment" tabindex="3" class="chosen-select" id="environment">
                        <option value="">{% trans "Environment" %}</option>
                        <option value="http://www.planttreaty.org/">{% trans "The International Treaty on Plant Genetic Resources for Food and Agriculture" %}</option>
                        <option value="http://www.cbd.int/">{% trans "CBD" %}</option>
                    </select>
<h6></h6>  
                     <select data-placeholder="Stakeholders" tabindex="3" class="chosen-select" id="stakeholders">
                        <option value="">{% trans "Stakeholders" %}</option>
                        <option value="http://www.unog.ch/80256EE600585943/(httpPages)/04FBBDD6315AC720C1257180004B1B2F?OpenDocument">{% trans "BWC" %}</option>
                        <option value="http://www.iica.int/es">{% trans "IICA" %}</option>
                        <option value="https://www.ippc.int/en/liason/organizations/internationaladvisorygrouppestriskanalysis/">{% trans "International Advisory Group on Pest Risk Analysis" %}</option>
                        <option value="https://www.ippc.int/en/liason/organizations/internationalforestryquarantineresearchgroup/">{% trans "International Forestry Quarantine Research Group" %}</option>
                        <option value="http://www.worldseed.org/isf/home.html">{% trans "International Seed Federation" %}</option>
                        <option value="http://www.seedtest.org/en/home.html">{% trans "International Seed Testing Association" %}</option>
                        <option value="http://ozone.unep.org/">{% trans "Ozone Secretariat" %}</option>
                        <option value="https://www.ippc.int/en/liason/organizations/phytosanitarymeasuresresearchgroup/">{% trans "Phytosanitary Measures Research Group" %}</option>
                        <option value="http://www.standardsfacility.org">{% trans "Standard Trade and Development Facility" %}</option>

                    </select>                 
              
            </div>
      
        </div>
{% endblock %}
