{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{# {% block title %}{% trans "Welcome to IPPC" %}{% endblock %} #}

{% block breadcrumb_menu %}
<li class="active">{% trans "Sitemap" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>IPPC Sitemap</h2>
{% endblocktrans %}
    
    {% load i18n future pages_tags %}

    {% spaceless %}
    {% page_menu %}
    {% endspaceless %}
    
    
{% endblock %}
